<section class="hero-body">
    <div class="container reduced has-text-centered">
        <h2 class="title h1HP is-heavy boost-margin has-text-centered is-red">{{{__ "approach"}}}</h2>
        <div class="columns content">
            <div class="column is-7 boxcolor3 mobile is-5" data-aos=" fade-up-top">
                <div class="boxcolor">
                    <h2 class="title h2HP is-white"><img class="icon" alt="business perspective" src="/icons/marketing.svg" /> {{{__ "businessperspective"}}}</h2>
                </div><br>
                <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                    <p>{{{__ "businessperspectiveT"}}}</p>
                </div>
            </div>
            <div class="column is-5 boxcolor3 mobile is-5">
                <div class="boxcolor">
                    <h2 class=" title h2HP is-white"><img class="icon" alt="SEO Costs" src="/icons/geld.svg" /> {{{__ "costs"}}}</h2>
                </div><br>
                <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                    <p>{{{__ "costsT"}}}</p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-6 border boxcolor3 mobile is-5">
                <div class="boxcolor">
                    <h2 class="title h2HP is-white"> <img class="icon" alt="SEO timing" src="/icons/zeit.svg" /> {{{__ "timing"}}}</h2>
                </div><br>
                <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                    <p>{{{__ "timingT"}}}</p>
                </div>
            </div>
            <div class="column is-6 boxcolor3" style="overflow-x: hidden" data-aos="fade-up-top">
                <div class="boxcolor">
                    <h2 class="title h2HP is-white"> <img class="icon" alt="SEO Clients" src="/icons/geschaeft.svg" /> {{{__ "clientsberatung"}}}</h2>
                </div><br>
                <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                    <p>{{{__ "clientsberatungT"}}}</p>
                </div>
            </div>
        </div>
    </div>
</section>