<section class="is-centered">
    <br><br><br>
    <div class="contact-details">
        <h4 class="is-italic title is-5"> Alex Bieth, SEO Consultant
        </h4>


        <div class="profile-photo"></div>
        <div class="details">
            <h3 class="subtitle is-5 reduced-top-margin">E - <a href="mailto:alex@seo-agile.com">alex@seo-agile.com</a>
        </div>
    </div>

    <div class="is-11-mobile hero-body is-6-desktop has-text-left vertical-aligner">

        <a class="button is-large is-primed is-outlined is-medium" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">
            {{{__ "servicesL"}}}
        </a>
        <a class="button is-large is-primary is-outlined is-medium" href="/{{{__ "lang"}}}/contact">
            {{{__ "getintouch"}}}
        </a>
    </div>


</section>