<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="slide-left" data-aos-once="true">
    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/content">
        <figure class="image is-4by3">
            <img src="/seo-images/content2.jpg" alt="seo berlin" />
        </figure>
        <span class="title is-4 is-heavy">
            Content & Landing pages
        </span><span class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</span><span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 18 May 2020</span>
        <br><br>
        <p>{{{__ "landingMP1"}}} </p>
    </a>
</div><br><br>

<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="slide-right" data-aos-once="true">
    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/{{{__ "competitorURL"}}}">
        <figure class="image is-4by3">
            <img src="/seo-images/duplicate2.jpg" alt="competitor analysis" />
        </figure>
        <span class="title is-4 is-heavy">
            {{{__ "bestpractMPH1"}}}
        </span><span class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</span><span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 12 Mar 2020</span>
        <br><br>
        <p>{{{__ "bestpractMP1"}}}
        </p>
    </a>
</div><br><br>

<div class="column is-12-mobile is-6-tablet is-4-desktop post archive">
    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/images">
        <figure class="image is-4by3">
            <img src="/seo-images/images2.jpg" alt="seo berlin" />
        </figure>
        <span class="title is-4 is-heavy">
            {{{__ "onpageHP7"}}}
        </span><span class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</span><span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 25 Feb 2020</span>
        <br><br>
        <p>{{{__ "landingMP1"}}} </p>
    </a>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="fade-in" data-aos-once="true">
    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/metas">
        <figure class="image is-4by3">
            <img src="/seo-images/tag2.jpg" alt="seo berlin" />
        </figure>
        <span class="title is-4 is-heavy">
            Metas & Titles
        </span>
    </a><br><span class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</span><span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 25 Feb 2020</span>
    <br><br>
    <p>{{{__ "metasMP3"}}} </p>

</div><br><br>


<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="fade-in" data-aos-once="true">
    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/keyword-research">
        <figure class="image is-4by3">
            <img src="/seo-images/content2.jpg" alt="seo berlin" />
        </figure>
        <span class="title is-4 is-heavy">
            {{{__ "onpageHP1"}}}
        </span>
    </a><br><span class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</span><span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 18 Feb 2019</span>
    <br><br>
    <p>{{{__ "metasMP3"}}} </p>

</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="fade-in" data-aos-once="true">
    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/localSEO">
        <figure class="image is-4by3">
            <img src="/seo-images/local2.jpg" alt="seo berlin" />
        </figure>
        <span class="title is-4 is-heavy">
            Local SEO
        </span>
    </a> <br><span class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</span>
    <span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 25 Nov 2018</span>
    <br><br>
    <p>{{{__ "localMP1"}}}
    </p>

</div><br><br>
