<div class="column is-12-mobile is-6-tablet is-4-desktop post">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/{{{__ "competitorURL"}}}"><img src="/auditmainpic/duplicate.jpg" alt="competitor analysis" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/{{{__ "competitorURL"}}}">{{{__ "bestpractMPH1"}}} </a>
    </h3><a href="/{{{__ "lang"}}}/blog/onpage-seo" class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 March
        2019</span>
    <br><br>
    <p>{{{__ "bestpractMP1"}}}
    </p>
</div><br><br>

<div class="column is-12-mobile is-6-tablet is-4-desktop post">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/content"><img src="/auditmainpic/content.jpg" alt="blog article" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/content">Content & Landing pages</a>
    </h3><a href="/{{{__ "lang"}}}/blog/onpage-seo" class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 18 May
        2019</span>
    <br><br>
    <p>{{{__ "landingMP1"}}} </p>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/localSEO"><img src="/auditmainpic/local.jpg" alt="blog article" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/localSEO">Local SEO</a>
    </h3> <a href="/{{{__ "lang"}}}/blog/onpage-seo" class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</a>
    <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 Nov 2018</span>
    <br><br>
    <p>{{{__ "localMP1"}}}
    </p>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/images"><img src="/auditmainpic/images.jpg" alt="blog article" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/images">{{{__ "onpageHP7"}}}</a>
    </h3><a href="/{{{__ "lang"}}}/blog/onpage-seo" class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 Feb
        2019</span>
    <br><br>
    <p>{{{__ "landingMP1"}}} </p>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/metas"><img src="/auditmainpic/tag.jpg" alt="blog article" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/metas">Metas & Titles</a>
    </h3><a href="/{{{__ "lang"}}}/blog/onpage-seo" class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 Feb
        2019</span>
    <br><br>
    <p>{{{__ "metasMP3"}}} </p>
</div><br><br>