<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="slide-left" data-aos-once="true">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/content"><img src="/seo-images/content.jpg" alt="seo berlin" /></a>
    </figure>
    <span class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/content">Content & Landing pages</a>
    </span><span class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</span><span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 18 May 2020</span>
    <br><br>
    <p>{{{__ "landingMP1"}}} </p>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="slide-right" data-aos-once="true">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/{{{__ "competitorURL"}}}"><img src="/seo-images/duplicate.jpg" alt="competitor analysis" /></a>
    </figure>
    <span class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/{{{__ "competitorURL"}}}">{{{__ "bestpractMPH1"}}} </a>
    </span><span class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</span><span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 12 Mar 2020</span>
    <br><br>
    <p>{{{__ "bestpractMP1"}}}
    </p>
</div><br><br>

<div class="column is-12-mobile is-6-tablet is-4-desktop post archive">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/images"><img src="/seo-images/images.jpg" alt="seo berlin" /></a>
    </figure>
    <span class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/images">{{{__ "onpageHP7"}}}</a>
    </span><span class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</span><span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 25 Feb 2020</span>
    <br><br>
    <p>{{{__ "landingMP1"}}} </p>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="fade-in" data-aos-once="true">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/metas"><img src="/seo-images/tag.jpg" alt="seo berlin" /></a>
    </figure>
    <span class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/metas">Metas & Titles</a>
    </span><span class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</span><span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 25 Feb 2020</span>
    <br><br>
    <p>{{{__ "metasMP3"}}} </p>
</div><br><br>


<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="fade-in" data-aos-once="true">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/keyword-research"><img src="/seo-images/content.jpg" alt="seo berlin" /></a>
    </figure>
    <span class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/keyword-research">{{{__ "onpageHP1"}}}</a>
    </span><a href="/{{{__ "lang"}}}/blog/keyword-research" class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</a><span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 18 Feb 2019</span>
    <br><br>
    <p>{{{__ "metasMP3"}}} </p>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="fade-in" data-aos-once="true">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/localSEO"><img src="/seo-images/local.jpg" alt="seo berlin" /></a>
    </figure>
    <span class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/localSEO">Local SEO</a>
    </span> <span class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</span>
    <span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 25 Nov 2018</span>
    <br><br>
    <p>{{{__ "localMP1"}}}
    </p>
</div><br><br>