<div class="column is-12-mobile is-6-tablet is-4-desktop post">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/crawl"><img src="/auditmainpic/crawl.jpg" alt="blog article" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/crawl">Crawling & SEO</a>
    </h3><a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 Jan
        2019</span>
    <br><br>
    <p>{{{__ "crawlabilityMPintro"}}}
    </p>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/https"><img src="/auditmainpic/technical.jpg" alt="blog article" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/https">https</a>
    </h3><a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 Jan
        2019</span>
    <br><br>
    <p>{{{__ "securityMP1"}}}
    </p>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/international"><img src="/auditmainpic/international.jpg" alt="blog article" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/international">{{{__ "technicalHP3"}}}</a>
    </h3><a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 Jan
        2019</span>
    <br><br>
    <p>{{{__ "internationalMP1"}}}
    </p>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/mobile"><img src="/auditmainpic/mobilefriendly.jpg" alt="blog article" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/mobile">Mobile friendly</a>
    </h3><a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 Jan
        2019</span>
    <br><br>
    <p>{{{__ "mobileMP1"}}}
    </p>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/javascript"><img src="/auditmainpic/java.jpg" alt="blog article" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/javascript">Javascript & SEO</a>
    </h3><a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 Jan
        2019</span>
    <br><br>
    <p>{{{__ "dynamicrenderingMP1"}}}
    </p>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/pagespeed"><img src="/auditmainpic/crawl.jpg" alt="blog article" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/pagespeed">Page Speed</a>
    </h3><a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 Jan
        2019</span>
    <br><br>
    <p>{{{__ "speedMP2"}}}
    </p>
</div><br><br>

<div class="column is-12-mobile is-6-tablet is-4-desktop post">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/indexation"><img src="/auditmainpic/indexation.jpg" alt="blog article" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/indexation">{{{__ "technicalHP1"}}}</a>
    </h3><a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 Jan
        2019</span>
    <br><br>
    <p>{{{__ "indexationMP1"}}}
    </p>
</div><br><br>

<div class="column is-12-mobile is-6-tablet is-4-desktop post">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/seo-glossary"><img src="/blog2.jpg" alt="blog article" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/seo-glossary">SEO Glossary</a>
    </h3> <a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a>
    <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 10 Apr 2020</span>
    <br><br>
    <p>{{{__ "glossaryintro"}}}</p>
</div>