<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="slide-left" data-aos-once="true">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/seo-glossary"><img src="/seo-images/blog2.jpg" alt="seo berlin" /></a>
    </figure>
    <span class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/seo-glossary">{{{__ "glossaryh1"}}}</a>
    </span> <span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span>
    <span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 10 Apr 2020</span>
    <br><br>
    <p>{{{__ "glossaryintro"}}}</p>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="slide-right" data-aos-once="true">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/crawl"><img src="/seo-images/crawl.jpg" alt="seo berlin" /></a>
    </figure>
    <span class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/crawl">Crawling & SEO</a>
    </span><span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span><span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 12 Jan 2020</span>
    <br><br>
    <p>{{{__ "crawlabilityMPintro"}}}
    </p>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/https"><img src="/seo-images/technical.jpg" alt="seo berlin" /></a>
    </figure>
    <span class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/https">https</a>
    </span><span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span><span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 12 Jan 2020</span>
    <br><br>
    <p>{{{__ "securityMP1"}}}
    </p>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="fade-in" data-aos-once="true">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/international"><img src="/seo-images/international.jpg" alt="seo berlin" /></a>
    </figure>
    <span class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/international">{{{__ "technicalHP3"}}}</a>
    </span><span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span><span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 12 Jan 2020</span>
    <br><br>
    <p>{{{__ "internationalMP1"}}}
    </p>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="fade-in" data-aos-once="true">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/mobile"><img src="/seo-images/mobilefriendly.jpg" alt="seo berlin" /></a>
    </figure>
    <span class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/mobile">Mobile friendly</a>
    </span><span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span><span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 12 Jan 2020</span>
    <br><br>
    <p>{{{__ "mobileMP1"}}}
    </p>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="fade-in" data-aos-once="true">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/javascript"><img src="/seo-images/java.jpg" alt="seo berlin" /></a>
    </figure>
    <span class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/javascript">Javascript & SEO</a>
    </span><span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span><span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 12 Jan 2020</span>
    <br><br>
    <p>{{{__ "dynamicrenderingMP1"}}}
    </p>
</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/pagespeed"><img src="/seo-images/crawl.jpg" alt="seo berlin" /></a>
    </figure>
    <span class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/pagespeed">Page Speed</a>
    </span><span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span><span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 12 Jan 2020</span>
    <br><br>
    <p>{{{__ "speedMP2"}}}
    </p>
</div><br><br>

<div class="column is-12-mobile is-6-tablet is-4-desktop post archive">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/indexation"><img src="/seo-images/indexation.jpg" alt="seo berlin" /></a>
    </figure>
    <span class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/indexation">{{{__ "technicalHP1"}}}</a>
    </span><span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span><span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 12 Jan 2020</span>
    <br><br>
    <p>{{{__ "indexationMP1"}}}
    </p>
</div><br><br>