<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="slide-left" data-aos-once="true">
    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/seo-glossary">
        <figure class="image is-4by3">
            <img src="/seo-images/blog22.jpg" alt="seo berlin" />
        </figure>
        <span class="title is-4 is-heavy">
            {{{__ "glossaryh1"}}}
        </span>
    </a><br><span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span>
     10 Apr 2020</span>
    <br><br>
    <p>{{{__ "glossaryintro"}}}</p>

</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="slide-right" data-aos-once="true">
    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/crawl">
        <figure class="image is-4by3">
            <img src="/seo-images/crawl2.jpg" alt="seo berlin" />

        </figure>
        <span class="title is-4 is-heavy">
            Crawling & SEO
        </span>
    </a><br><span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span> 12 Jan 2020</span>
    <br><br>
    <p>{{{__ "crawlabilityMPintro"}}}
    </p>

</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive">
    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/https">
        <figure class="image is-4by3">
            <img src="/seo-images/technical2.jpg" alt="seo berlin" />

        </figure>
        <span class="title is-4 is-heavy">
            https
        </span>
    </a><br>
    <span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span> 12 Jan 2020</span>
    <br><br>
    <p>{{{__ "securityMP1"}}}
    </p>

</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="fade-in" data-aos-once="true">
    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/international">
        <figure class="image is-4by3">
            <img src="/seo-images/international2.jpg" alt="seo berlin" />

        </figure>
        <span class="title is-4 is-heavy">
            {{{__ "technicalHP3"}}}
        </span>
    </a><br><span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span> 12 Jan 2020</span>
    <br><br>
    <p>{{{__ "internationalMP1"}}}
    </p>

</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="fade-in" data-aos-once="true">
    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/mobile">
        <figure class="image is-4by3">
            <img src="/seo-images/mobilefriendly2.jpg" alt="seo berlin" />

        </figure>
        <span class="title is-4 is-heavy">
            Mobile friendly
        </span>
    </a><br>
    <span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span>
     12 Jan 2020</span>
    <br><br>
    <p>{{{__ "mobileMP1"}}}
    </p>

</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="fade-in" data-aos-once="true">
    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/javascript">
        <figure class="image is-4by3">
            <img src="/seo-images/java2.jpg" alt="seo berlin" />

        </figure>
        <span class="title is-4 is-heavy">
            Javascript & SEO
        </span>
    </a><br><span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span> 12 Jan 2020</span>
    <br><br>
    <p>{{{__ "dynamicrenderingMP1"}}}
    </p>

</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive">
    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/pagespeed">
        <figure class="image is-4by3">
            <img src="/seo-images/crawl2.jpg" alt="seo berlin" />

        </figure>
        <span class="title is-4 is-heavy">
            PageSpeed Insights
        </span>
    </a><br><span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span> 12 Jan 2020</span>
    <br><br>
    <p>{{{__ "speedMP2"}}}
    </p>

</div><br><br>

<div class="column is-12-mobile is-6-tablet is-4-desktop post archive">
    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/indexation">
        <figure class="image is-4by3">
            <img src="/seo-images/indexation2.jpg" alt="seo berlin" />
        </figure>
        <span class="title is-4 is-heavy">
            {{{__ "technicalHP1"}}}
        </span>
    </a><br><span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span> 12 Jan 2020</span>
    <br><br>
    <p>{{{__ "indexationMP1"}}}
    </p>

</div><br><br>
