<div class="column is-12-mobile is-5-tablet is-4-desktop post" data-aos="slide-left" data-aos-once="true">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/case-study-n26"><img src="/images/clients/n26_dark.svg" alt="seo berlin" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/case-study-n26">Case Study: N26</a>
    </h3><span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 29 Mar
        2019</span>
    <br><br>
    <p>N26 is a fee-free “deposit account” online bank, Europe’s first completely mobile bank, with 2.5m customers.</p>
</div>


<div class="column is-12-mobile is-5-tablet is-4-desktop post" data-aos="slide-right" data-aos-once="true">
    <figure class="image is-4by3">
        <a href="/en/blog/seo-in-asia-korea-china-japan-2020"><img src="/asia.jpg" alt="seo berlin" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/en/blog/seo-in-asia-korea-china-japan-2020">SEO in Asia</a>
    </h3><span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" />27 May
        2019</span>
    <br><br>
    <p>For all countries: it is preferable to have a localised domain, hosted in target country, localised content adapted to target. Need to register and control traffic using respective Webmaster tools & local web services
        from dominating Search engines.
    </p>
</div>

<div class="column is-12-mobile is-5-tablet is-4-desktop post">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/case-study-wooga"><img src="/images/clients/wooga_dark.svg" alt="seo berlin" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/case-study-wooga">Case Study: Wooga</a>
    </h3><span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span>
    <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 26 Mar
        2019</span>
    <br> <br>
    <p>Wooga is a mobile-first game developer in Berlin, Germany. The company develops free-to-play mobile and social games for mobile devices, such as smartphones and tablets and social networks like Facebook.</p>
</div>


<div class="column is-12-mobile is-5-tablet is-4-desktop post" data-aos="fade-in" data-aos-once="true">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/case-study-zalando"><img src="/images/clients/zalando_dark.svg" alt="seo berlin" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/case-study-zalando">Case Study: Zalando</a>
    </h3><span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span>
    <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 Mar
        2019</span>
    <br><br>
    <p>The company follows a platform approach, offering Fashion and Lifestyle products to customers in 17 European markets. </p>
</div>


<div class="column is-12-mobile is-5-tablet is-4-desktop post" data-aos="fade-in" data-aos-once="true">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/case-study-modomoto"><img src="/images/clients/modomoto_dark.svg" alt="seo berlin" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/case-study-modomoto">Case Study: Modomoto</a>
    </h3> <span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span>
    <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 Mar
        2019</span>
    <br><br>
    <p>Modomoto is Germany's first and largest Curated Shopping Service for men. <br><br></p>

</div>

<div class="column is-12-mobile is-5-tablet is-4-desktop post" data-aos="fade-in" data-aos-once="true">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/case-study-juniqe"><img src="/images/clients/junique_dark.svg" alt="seo berlin" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/case-study-juniqe">Case Study: Juniqe</a>
    </h3><span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" />22 Mar 2019</span>
    <br><br>
    <p>Juniqe is the lifestyle brand for curated and affordable wall art, home accessories, stationery, and gifts.</p>
</div>

<div class="column is-12-mobile is-5-tablet is-4-desktop post">
    <figure class=" image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/case-study-fromatob"><img src="/auditmainpic/duplicate.jpg" alt="seo berlin" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/case-study-fromatob">FromAtoB Case Study</a>
    </h3><span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 17 Mar 2019</span>
    <br> <br>
    <p>fromAtoB.com is a journey planner and online booking platform. Users can search for a connection between two destinations within Europe (train, airplane, bus, and ride share).
    </p>
</div>
<div class="column is-12-mobile is-5-tablet is-4-desktop post">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/case-study-hellofresh"><img src="/images/clients/hellofresh_dark.svg" alt="seo berlin" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/case-study-hellofresh">Case Study: HelloFresh</a>
    </h3> <span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 14 Mar 2019</span>
    <br><br>
    <p>HelloFresh is the largest meal-kit provider in the United States and also has operations in Canada, Western Europe (including Germany and the UK), New Zealand and Australia.</p>
</div>
<div class="column is-12-mobile is-5-tablet is-4-desktop post">
    <figure class="image is-4by3">
        <a href="/{{{__ "lang"}}}/blog/case-study-hometogo"><img src="/images/clients/hometogo_dark.svg" alt="seo berlin" /></a>
    </figure>
    <h3 class="title is-4 is-heavy">
        <a href="/{{{__ "lang"}}}/blog/case-study-hometogo">Case Study: HomeToGo</a>
    </h3><span class="tag yellow" data-aos="fade-in" data-aos-once="true">case study</span><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 11 Mar 2019</span>
    <br><br>
    <p>HomeToGo is according to its website "the world's largest search engine for vacation rentals.</p>
</div>