<div class="column is-12-mobile is-6-tablet is-4-desktop post archive">
    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/https">
        <figure class="image is-4by3">
            <img src="/images/seo-images/technical2.jpg" alt="seo berlin" />

        </figure>
        <span class="title is-4 is-heavy">
            {{{__ "httpsh1"}}}
        </span>
    </a><br>
    <span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span>
    <br><br>
    <p>{{{__ "securityMP1"}}}
    </p>

</div><br><br>

<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="fade-in" data-aos-once="true">
    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/mobile">
        <figure class="image is-4by3">
            <img src="/images/seo-images/mobilefriendly2.jpg" alt="seo berlin" />

        </figure>
        <span class="title is-4 is-heavy">
            Mobile friendly
        </span>
    </a><br>
    <span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span>
    <br><br>
    <p>{{{__ "mobileMP1"}}}
    </p>

</div><br><br>
<div class="column is-12-mobile is-6-tablet is-4-desktop post archive" data-aos="fade-in" data-aos-once="true">
    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/javascript">
        <figure class="image is-4by3">
            <img src="/images/seo-images/java2.jpg" alt="seo berlin" />

        </figure>
        <span class="title is-4 is-heavy">
            Javascript & SEO
        </span>
    </a><br><span class="tag red" data-aos="fade-in" data-aos-once="true"> technical</span>
    <br><br>
    <p>{{{__ "dynamicrenderingMP1"}}}
    </p>

</div><br>