<div class="columns is-multiline logo-container dark-blue is-centered">
    <div class="column is-4-mobile is-3-tablet is-1-desktop client-logo">
        <a href="/{{{__ "lang"}}}/blog/case-study-fromatob">
            <img alt="fromatob logo" class="client-logo" src="/images/clients/fromatobe.svg" />
        </a>
    </div>

    <div class="column is-4-mobile is-3-tablet is-1-desktop client-logo">
        <a href="/{{{__ "lang"}}}/blog/case-study-hometogo">
            <img alt="hometogo logo" class="client-logo" src="/images/clients/hometogo.svg" />
        </a>
    </div>

    <div class="column is-4-mobile is-3-tablet is-1-desktop client-logo">
        <a href="/{{{__ "lang"}}}/blog/case-study-modomoto">
            <img alt="modomoto logo" class="client-logo" src="/images/clients/modomoto.svg" />
        </a>
    </div>


    <div class="column is-4-mobile is-3-tablet is-1-desktop client-logo">
        <a href="/{{{__ "lang"}}}/blog/case-study-n26">
            <img alt="N26 logo" class="client-logo" src="/images/clients/n26.svg" />
        </a>
    </div>

    <div class="column is-4-mobile is-3-tablet is-1-desktop client-logo">
        <a href="/{{{__ "lang"}}}/blog/case-study-zalando">
            <img alt="zalando logo" class="client-logo" src="/images/clients/zalando.svg" />
        </a>
    </div>

    <div class="column is-4-mobile is-3-tablet is-1-desktop client-logo">
        <a href="/{{{__ "lang"}}}/blog/case-study-juniqe">
            <img alt="Juniqe logo" class="client-logo" src="/images/clients/junique.svg" />
        </a>
    </div>


    <div class="column is-4-mobile is-3-tablet is-1-desktop client-logo">
        <a href="/{{{__ "lang"}}}/blog/case-study-hellofresh">
            <img alt="HelloFresh logo" class="client-logo" src="/images/clients/hellofresh.svg" />
        </a>
    </div>

    <div class="column is-4-mobile is-3-tablet is-1-desktop client-logo">
        <a href="/{{{__ "lang"}}}/blog/case-study-wooga">
            <img alt="wooga logo" class="client-logo" src="/images/clients/wooga.svg" />
        </a>
    </div>
</div>