<div class="footer">
  <div class="footerLinks footerHalf">
      <h3 class="block footerlink big grey"> <a href="{{{__ "lang"}}}/{{{__ "offpage"}}}">OFFPAGE {{{__ "services"}}}</a></h3>

    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "backlinkURL"}}}"
    >
      {{{__ "offpageHP1"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "brandbuildingURL"}}}"
    >
      {{{__ "offpageHP3"}}}, {{{__ "offpageHP4"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "linksURL"}}}"
    >
      {{{__ "offpageHP5"}}}
    </a>


      <h3 class="block footerlink big grey"> <a href="{{{__ "lang"}}}/{{{__ "research"}}}">RESEARCH ANALYTICS</a> </h3>

    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "localURL"}}}"
    >
      {{{__ "analyticsHP1"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "analyticsURL"}}}"
    >
      {{{__ "analyticsHP2"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "competitorURL"}}}"
    >
      {{{__ "analyticsHP3"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "seaURL"}}}"
    >
      {{{__ "analyticsHP6"}}}
    </a>
  </div>

  <div class="footerLinks footerHalf">


      <h3 class="block footerlink big grey"> <a href="{{{__ "lang"}}}/{{{__ "technicalURL"}}}">TECHNICAL {{{__ "services"}}}</a></h3>

    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "indexationURL"}}}"
    >
      {{{__ "technicalHP1"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "crawlabilityURL"}}}"
    >
      {{{__ "technicalHP2"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "internationalisationURL"}}}"
    >
      {{{__ "technicalHP3"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "pagespeedURL"}}}"
    >
      {{{__ "technicalHP4"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "mobilefriendlyURL"}}}"
    >
      {{{__ "technicalHP5"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "dynamicrenderingURL"}}}"
    >
      {{{__ "technicalHP6"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "securityURL"}}}"
    >
      {{{__ "technicalHP7"}}}
    </a>
  </div>

  <div class="footerLinks footerHalf">


      <h3 class="block footerlink big grey"><a href="{{{__ "lang"}}}/{{{__ "onpage"}}}"> ONPAGE {{{__ "services"}}}</a></h3>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "kwrechercheURL"}}}"
    >
      {{{__ "onpageHP1"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "landingpagesURL"}}}"
    >
      {{{__ "onpageHP2"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "internallinkingURL"}}}"
    >
      {{{__ "onpageHP3"}}} {{{__ "onpageHP5"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "metasURL"}}}"
    >
      {{{__ "onpageHP4"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "contentURL"}}}"
    >
      {{{__ "onpageHP6"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "imagesURL"}}}"
    >
      {{{__ "onpageHP7"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "structuredURL"}}}"
    >
      {{{__ "onpageHP8"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "duplicatecontentURL"}}}"
    >
      {{{__ "onpageHP9"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "voicesearchURL"}}}"
    >
      {{{__ "onpageHP10"}}}
    </a>
  </div>


  </div>
