<div class="footer">
  <div class="footerLinks footerHalf">
      <h3 class="block footerlink big grey"> <a href="{{{__ "lang"}}}/{{{__ "offpage"}}}">OFFPAGE {{{__ "services"}}}</a></h3>

    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/backlinkanalysis"}
    >
      {{{__ "offpageHP1"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/brandbuilding"}
    >
      {{{__ "offpageHP3"}}}, {{{__ "offpageHP4"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/toxic"
    >
      {{{__ "offpageHP5"}}}
    </a>


      <h3 class="block footerlink big grey"> <a href="{{{__ "lang"}}}/{{{__ "research"}}}">RESEARCH ANALYTICS</a> </h3>

    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "research"}}}/localseo"
    >
      {{{__ "analyticsHP1"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "research"}}}/analytics"
    >
      {{{__ "analyticsHP2"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "research"}}}/competitor-analysis"
    >
      {{{__ "analyticsHP3"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "research"}}}/sea"
    >
      {{{__ "analyticsHP6"}}}
    </a>
  </div>

  <div class="footerLinks footerHalf">


      <h3 class="block footerlink big grey"> <a href="{{{__ "lang"}}}/{{{__ "technicalURL"}}}">TECHNICAL {{{__ "services"}}}</a></h3>

    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/indexation"
    >
      {{{__ "technicalHP1"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/crawlability"
    >
      {{{__ "technicalHP2"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/internationalisation"
    >
      {{{__ "technicalHP3"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/pagespeed"
    >
      {{{__ "technicalHP4"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/mobilefriendly"
    >
      {{{__ "technicalHP5"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/dynamicrendering"
    >
      {{{__ "technicalHP6"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/security"
    >
      {{{__ "technicalHP7"}}}
    </a>
  </div>

  <div class="footerLinks footerHalf">


      <h3 class="block footerlink big grey"><a href="{{{__ "lang"}}}/{{{__ "onpage"}}}"> ONPAGE {{{__ "services"}}}</a></h3>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/keywordresearch"
    >
      {{{__ "onpageHP1"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/landingpages"
    >
      {{{__ "onpageHP2"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/internallinking"
    >
      {{{__ "onpageHP3"}}} {{{__ "onpageHP5"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/metas"
    >
      {{{__ "onpageHP4"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/content"
    >
      {{{__ "onpageHP6"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/images"
    >
      {{{__ "onpageHP7"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/structureddata"
    >
      {{{__ "onpageHP8"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/duplicatecontent"
    >
      {{{__ "onpageHP9"}}}
    </a>
    <a
      class="block footerlink"
      href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/voicesearch"
    >
      {{{__ "onpageHP10"}}}
    </a>
  </div>


  </div>
