<div class="footer2">
    <div class="footerLinks footerHalf">
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/alt-attribute">
            &bull; Alt Attibutes
        </a>
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/amp-pages">
            &bull; AMP
        </a>
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/canonical">
            &bull; Canonicals
        </a>
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/google-keyword-tool">
            &bull; Keyword Planner
        </a>
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/hreflang">
            &bull; hreflang </a>
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/long-tail">
            &bull; Long-tail
        </a>
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/robots">
            &bull; Robots.txt
        </a>
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/search-console">
            &bull; Search Console
        </a>
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/google-pagespeed">
            &bull; PageSpeed
        </a>
    </div>
    <div class="footerLinks footerHalf">
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/search-volume">
            &bull; Search Volume
        </a>
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/sitemaps">
            &bull; Sitemaps
        </a>
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/nofollow">
            &bull; nofollow
        </a>
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/noindex">
            &bull; noindex
        </a>
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/redirects">
            &bull; redirects
        </a>
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/lighthouse">
            &bull; Lighthouse
        </a>
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/remove-url-tool">
            &bull; Remove URL Tool
        </a>
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/disavow-tool">
            &bull; Disavow Tool
        </a>
        <a class="block marginleft4" href="/{{{__ "lang"}}}/lexical/rankbrain">
            &bull; Rankbrain
        </a>
    </div>
</div>