<div class="footer2">
  <div class="footerLinks footerHalf">

    <a
      class="block black"
      href="/{{{__ "lang"}}}/lexical/alt-attribute"
    >
      Alt Attibutes
    </a>
    <a
      class="block black"
      href="/{{{__ "lang"}}}/lexical/amp-pages"
    >
     AMP Pages
    </a>
    <a
      class="block black"
      href="/{{{__ "lang"}}}/lexical/canonical"
    >
     Canonicals
    </a>



    <a
      class="block black"
      href="/{{{__ "lang"}}}/lexical/google-keyword-tool"
    >
    Google Keyword Tool
    </a>
    <a
      class="block black"
      href="/{{{__ "lang"}}}/lexical/hreflang"
    >
hreflang    </a>
    <a
      class="block black"
      href="/{{{__ "lang"}}}/lexical/long-tail"
    >
    Long-tail
    </a>
    <a
      class="block black"
      href="/{{{__ "lang"}}}/lexical/robots"
    >
      Robots.txt
    </a>




    <a
      class="block black"
      href="/{{{__ "lang"}}}/lexical/search-console"
    >
      Google's Search Console
    </a>

</div>

<div class="footerLinks footerHalf">
    <a
      class="block black"
      href="/{{{__ "lang"}}}/lexical/search-volume"
    >
    Search Volume
    </a>
    <a
      class="block black"
      href="/{{{__ "lang"}}}/lexical/sitemaps"
    >
     Sitemaps
    </a>

    <a
      class="block black"
      href="/{{{__ "lang"}}}/lexical/nofollow"
    >
      nofollow
    </a>
    <a
      class="block black"
      href="/{{{__ "lang"}}}/lexical/noindex"
    >
    noindex
    </a>
    <a
      class="block black"
      href="/{{{__ "lang"}}}/lexical/redirects"
    >
    redirects
    </a>
    <a
      class="block black"
      href="/{{{__ "lang"}}}/lexical/lighthouse"
    >
     Lighthouse
    </a>

    <a
      class="block black"
      href="/{{{__ "lang"}}}/lexical/remove-url-tool"
    >
     Remove URL Tool
    </a>


    <a
      class="block black"
      href="/{{{__ "lang"}}}/lexical/disavow-tool"
    >
     Disavow Tool
    </a>
  </div>




  </div>
