<!-- Colophon Block-->
<section class="colophon-hero dark-blue hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container">
            <div class="columns has-text-left">
                <div class="columns">
                    <div class="column is-4-tablet is-3-desktop footer-details">
                        <a class="footer-logo" href="/{{{__ "lang"}}}">
                            <img alt="{{{__ "logoNav"}}}" src="/images/logo-white.png" width="240" height="28" />
                        </a>
                        <p>
                            © Alex Bieth 2017-2020<br>
                            <a href="/{{{__ "lang"}}}/seo-freelancer">SEO Freelancer</a> & <a href="/{{{__ "lang"}}}/agile-coach-berlin">Agile Consultant</a><br>
                            USt-IdNr / VAT ID number: DE312544983<br>
                            <br>
                            <strong>T - <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a></strong><br>
                            <strong>E - <a href="mailto:alex@seoberlino.com">alex@seoberlino.com</a></strong><br>
                            <br>
                            Kiehlufer 12059<br>
                            Berlin Deutschland<br>
                            Mon-Fri 8:00-18:00<br>

                            <br>
                            <a href="https://www.facebook.com/SEO-Berlino-111107016925557"><img alt="facebook logo" src="/facebook.png" </a> </p> </div> <div class="column is-2-tablet is-2-desktop footer-menu">
                                <h2 class="title is-5 is-heavy">{{{__ "also"}}}</h2>
                                <ul>
                                    <li><a href="/{{{__ "lang"}}}/impressum">Impressum</a></li>
                                    <li><a href="/de/datenschutz">Datenschutz</a></li>

                                </ul>
                    </div>
                    <div class="column is-2-tablet is-2-desktop footer-language">
                        <h2 class="title is-5 is-heavy">{{{__ "languagefooter"}}}</h2>
                        <ul>
                            <li><a href="/{{{__ "langvsL"}}}">{{{__ "langvsLang"}}}</a></li>
                        </ul>
                        <ul>
                            <li><a href="/{{{__ "lang"}}}">{{{__ "langvsLang2"}}}</a></li>
                        </ul>
                    </div>
                    <div class="column is-4-tablet is-5-desktop footer-contact-form">
                        {{>formcontact}}
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-centered has-text-centered">
            <div class="column is-3">


            </div>
            <div class="column is-3">
                <a href="https://clutch.co/profile/seoberlino">
                    <img class="clutch" alt="clutch" src="/images/clutch-new.png" />

            </div>
            <div class="column is-3">

                <div class="pe-richsnippets"></div>
                <div class="pe-richsnippets"></div>
                <script type="text/javascript" src="https://www.provenexpert.com/widget/richsnippet.js?u=14zojAap1VmAjLGZ2NaZjEQB48TA1LQB&v=2" async></script>

            </div>
        </div>
    </div>

</section>