<section class="colophon-hero dark-blue hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container">
            <div class="columns has-text-left">
                <div class="columns">
                    <div class="column is-4-tablet is-3-desktop footer-details">
                        <a class="footer-logo" href="/{{{__ "lang"}}}">
                            <img alt="{{{__ "logoNav"}}}" src="/images/logo-white.png" width="240" height="28" />
                        </a>
                        <p>
                            © Alex Bieth 2017-2020<br>
                            USt-IdNr / VAT ID number: DE312544983<br>
                            IHK (Chamber of Commerce and Industry of Berlin):107#1914164<br>
                            <br>
                            <strong>T - <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a></strong><br>
                            <strong>E - alex@seoberlino.com</strong><br>
                            <br>
                            Kiehlufer 12059<br>
                            <a href="/en/seo-services/berlin">Berlin Deutschland</a><br>
                            Mon-Fri 8:00-18:00<br>

                            <br>
                    </div>

                    <div class="column is-2-tablet is-3-desktop footer-menu">
                        <span class="title is-3 is-white">Shortcuts</span>
                        <ul>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">SEO Freelancer</a></li>
                            <li><a href="/{{{__ "lang"}}}/agile-coach-berlin">Agile Coach Berlin</a></li>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}">{{{__ "blogfooter"}}}</a></li>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "googlerankingurl"}}}">{{{__ "googlerankingh1"}}}</a></li>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo">Onpage SEO</a></li>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/backlinks">Offpage SEO</a></li>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/technical-seo">Technical</a></li>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/seo-case-studies">SEO Case Studies</a></li>
                            <li><a href="/{{{__ "lang"}}}/references">{{{__ "testimonialsTitle"}}}</a></li>
                            <li><a href="/{{{__ "lang"}}}/contact">{{{__ "getintouch"}}}</a></li>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "seoberatungurl"}}}">{{{__ "beratung"}}}</a></li>
                            <li><a href="/{{{__ "lang"}}}/seo-tools">Top 30 SEO Tools</a></li>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "seoexperturl"}}}">{{{__ "seoexpert2"}}}</a></li>

                        </ul>
                        <br>




                    </div>
                    <div class="column is-2-tablet is-2-desktop footer-menu">
                        <span class="title is-3 is-white">{{{__ "languagefooter"}}}</span>
                        <ul>
                            <li><a href="/{{{__ "langvsL"}}}">{{{__ "langvsLang"}}}</a></li>
                        </ul>
                        <ul>
                            <li><a href="/{{{__ "lang"}}}">{{{__ "langvsLang2"}}}</a></li>
                        </ul>

                        <br><br><br>


                        <span class="title is-3 is-white">{{{__ "also"}}}</span>
                        <ul>
                            <li><a href="/{{{__ "lang"}}}/impressum">Impressum</a></li>
                            <li><a href="/de/datenschutz">Datenschutz</a></li>
                            <li><a href="/{{{__ "lang"}}}/jobs">Jobs</a></li>

                        </ul>






                    </div>
                    <div class="column is-2-tablet is-2-desktop is-7-mobile footer-menu">
                        <span class="title is-3 is-white ">Reviews</span>

                        <br><br><br>

                        <img src="/images/clutchfooter.png" alt="clutch reviews" />

                        <br><br>
                        <script type="text/javascript" src="https://www.provenexpert.com/widget/richsnippet.js?u=14zojAap1VmAjLGZ2NaZjEQB48TA1LQB&v=2" async></script>
                        <div class="pe-richsnippets"></div>

                        <br><br>

                    </div>
                </div>

            </div>

        </div>


    </div>
</section>