<section class="colophon-hero dark-blue hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container">
            <div class="columns has-text-left">
                <div class="columns">
                    <div class="column is-4-tablet is-3-desktop footer-details">
                        <a class="footer-logo" href="/{{{__ "lang"}}}">
                            <img alt="{{{__ "logoNav"}}}" src="/images/logo-white.png" width="240" height="28" />
                        </a>
                        <p>
                            © Alex Bieth 2017-2020<br>
                            USt-IdNr / VAT ID number: DE312544983<br>
                            IHK (Chamber of Commerce and Industry of Berlin):107#1914164<br>
                            <br>
                            <strong>T - <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a></strong><br>
                            <strong>E - <a href="mailto:alex@seoberlino.com">alex@seoberlino.com</a></strong><br>
                            <br>
                            Kiehlufer 12059<br>
                            <a href="/en/blog/berlin">Berlin Deutschland</a><br>
                            Mon-Fri 8:00-18:00<br>

                            <br>
                    </div>

                    <div class="column is-2-tablet is-3-desktop footer-menu">
                        <h4 class="title is-3 is-heavy">Shortcuts</h4>
                        <ul>
                            <li><a href="/{{{__ "lang"}}}/seo-freelancer">SEO Freelancer</a></li>
                            <li><a href="/{{{__ "lang"}}}/agile-coach-berlin">Agile Coach Berlin</a></li>
                            <li><a href="/{{{__ "lang"}}}/blog">SEO</a></li>


                            <li><a href="/{{{__ "lang"}}}/blog/onpage-seo">Onpage SEO</a></li>
                            <li><a href="/{{{__ "lang"}}}/blog/backlinks">Offpage SEO</a></li>
                            <li><a href="/{{{__ "lang"}}}/blog/technical-seo">Technical SEO</a></li>
                            <li><a href="/{{{__ "lang"}}}/blog/seo-case-studies">SEO Case Studies</a></li>
                            <li><a href="/{{{__ "lang"}}}/references">{{{__ "testimonialsTitle"}}}</a></li>
                            <li><a href="/{{{__ "lang"}}}/contact">{{{__ "getintouch"}}}</a></li>


                        </ul>
                        <br>




                    </div>
                    <div class="column is-2-tablet is-2-desktop footer-menu">
                        <h4 class="title is-3 is-heavy">{{{__ "languagefooter"}}}</h4>
                        <ul>
                            <li><a href="/{{{__ "langvsL"}}}">{{{__ "langvsLang"}}}</a></li>
                        </ul>
                        <ul>
                            <li><a href="/{{{__ "lang"}}}">{{{__ "langvsLang2"}}}</a></li>
                        </ul>

                        <br><br><br>


                        <h4 class="title is-3 is-heavy">{{{__ "also"}}}</h4>
                        <ul>
                            <li><a href="/{{{__ "lang"}}}/impressum">Impressum</a></li>
                            <li><a href="/de/datenschutz">Datenschutz</a></li>
                            <li><a href="/{{{__ "lang"}}}/jobs">Jobs</a></li>

                        </ul>






                    </div>
                    <div class="column is-2-tablet is-3-desktop footer-menu">
                        <h4 class="title is-3 is-heavy ">Reviews</h4>

                        <br>

                        <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>
                        <div class="clutch-widget" data-url="https://widget.clutch.co" data-widget-type="2" data-height="50" data-darkbg="1" data-clutchcompany-id="745890"></div>

                        <script type="text/javascript" src="https://www.provenexpert.com/widget/richsnippet.js?u=14zojAap1VmAjLGZ2NaZjEQB48TA1LQB&v=2" async></script>
                        <div class="pe-richsnippets"></div>

                        <br><br>
                        <div><img style="height:60px" alt="BVDW Code of Conduct" src="/images/clients/codeofconduct.png" />
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>
</section>