<section class="colophon-hero dark-blue hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container">
            <div class="columns has-text-left">
                <div class="columns">
                    <p class="column is-4-tablet is-3-desktop footer-details">
                        <a class="footer-logo" href="/{{{__ " lang"}}}">
                            <img alt="{{{__ " logoNav"}}}" src="/images/logo-white.png" width="240" height="28" />
                        </a><br>
                        © SEO Berlino/Alex Bieth<br>
                        2017-2023<br>
                        USt-IdNr: DE312544983<br>
                        IHK:107#1914164<br>
                       
                       
                    </p>


                    <div class="column is-2-tablet is-3-desktop footer-menu">
                        <span class="title is-3 is-white">{{{__ "servicesh1"}}}</span><br><br>
                        <ul>
                            <li> <a href="/{{{__ "lang"}}}/{{{__ "seoberatungurl"}}}#seoaudit">SEO Audit</a>
                            </li>

                            <li> <a href="/{{{__ "lang"}}}/{{{__ "seoberatungurl"}}}#kwresearch">{{{__ "keywordresearch"}}}</a>
                            </li>
                            <li> <a href="/{{{__ "lang"}}}/{{{__ "seoberatungurl"}}}#onpageseo">SEO On-Page</a>
                            </li>
                            <li> <a href="/{{{__ "lang"}}}/{{{__ "seoberatungurl"}}}#indexation">SEO Indexation</a>

                            </li>
                            <li> <a href="/{{{__ "lang"}}}/{{{__ "seoberatungurl"}}}#pagespeed">PageSpeed {{{__ " "}}}{{{__
                                    "improvements"}}}</a>


                            <li> <a href="/{{{__ "lang"}}}/{{{__ "seoberatungurl"}}}#backlinks">Backlinks Strategie</a>
                            </li>
                            <li> <a href="/{{{__ "lang"}}}/{{{__ "seoberatungurl"}}}#seorelaunch">Relaunch & International SEO</a>
                            </li>
                            <li> <a href="/{{{__ "lang"}}}/{{{__ "blogurl" }}}/technical-seo">Technical SEO</a> </li>


                        </ul><br>
                    </div>


                    <div class="column is-2-tablet is-2-desktop footer-menu">
                        <span class="title is-3 is-white">{{{__ "languagefooter"}}}</span>
                        <ul>
                            <li><a href="/{{{__ "langvsL"}}}">{{{__ "langvsLang"}}}</a></li>
                        </ul>
                        <ul>
                            <li><a href="/{{{__ "lang"}}}">{{{__ "langvsLang2"}}}</a></li>
                        </ul><br>
                        <span class="title is-3 is-white">{{{__ "also"}}}</span>
                        <ul>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl" }}}/seo-case-studies">SEO Case Studies</a>
                            </li>

                            <li><a href="/{{{__ "lang"}}}/{{{__ "googlerankingurl" }}}">{{{__ "googlerankingh1"}}}</a>
                            </li>


                            <li><a href="/{{{__ "lang"}}}/{{{__ "seoexperturl" }}}">{{{__ "seoexpert2"}}}</a></li>
                            <li><a href="/{{{__ "lang"}}}/impressum">Impressum</a></li>
                            <li><a href="/de/datenschutz">Datenschutz</a></li>
                        </ul>
                    </div>

                    <div class="column is-2-tablet is-2-desktop footer-details">
                        <a href="/{{{__ "lang"}}}/contact">

                        <ul>

                            <br><br>
                            Contact Owner:<br>
                            <strong>E - alex@seoberlino.com</strong><br>
                          
                        </ul><br>
                        <br>
                        
                        <ul>
                            Kiehlufer 12059<br>
                            Berlin Deutschland<br>
                            Mon-Fri 8:00-18:00<br><br>
                           
                        </ul></div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>