<div class="footer">
    <div class="footerLinks footerHalf">
        <a
        class="block footerlink grey2"
        href="/{{{__ "lang"}}}/offpage"
        >
        OFFPAGE
    </a>
    <a
    class="block footerlink"
    href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "backlinkURL"}}}"
    >
    {{{__ "offpageHP1"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "brandbuildingURL"}}}"
>
{{{__ "offpageHP3"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "linksURL"}}}"
>
{{{__ "offpageHP5"}}}
</a>
<a
class="block footerlink grey2"
href="/{{{__ "lang"}}}/research"
>
RESEARCH
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "localURL"}}}"
>
{{{__ "analyticsHP1"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "analyticsURL"}}}"
>
{{{__ "analyticsHP2"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "competitorURL"}}}"
>
{{{__ "analyticsHP3"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "seaURL"}}}"
>
{{{__ "analyticsHP6"}}}
</a>
</div>
<div class="footerLinks footerHalf">
    <a
    class="block footerlink grey2"
    href="/{{{__ "lang"}}}/technical"
    >
    {{{__ "technical"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "indexationURL"}}}"
>
{{{__ "technicalHP1"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "crawlabilityURL"}}}"
>
{{{__ "technicalHP2"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "internationalisationURL"}}}"
>
{{{__ "technicalHP3"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "pagespeedURL"}}}"
>
{{{__ "technicalHP4"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "mobilefriendlyURL"}}}"
>
{{{__ "technicalHP5"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "dynamicrenderingURL"}}}"
>
{{{__ "technicalHP6"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "securityURL"}}}"
>
{{{__ "technicalHP7"}}}
</a>
</div>
</div>
<div class="footer">
    <div class="footerLinks footerHalf">
        <a
        class="block footerlink grey2"
        href="/{{{__ "lang"}}}/onpage"
        >
        ONPAGE
    </a>
    <a
    class="block footerlink"
    href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "kwrechercheURL"}}}"
    >
    {{{__ "onpageHP1"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "landingpagesURL"}}}"
>
{{{__ "onpageHP2"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "internallinkingURL"}}}"
>
{{{__ "onpageHP3"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "metasURL"}}}"
>
{{{__ "onpageHP4"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "contentURL"}}}"
>
{{{__ "onpageHP6"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "imagesURL"}}}"
>
{{{__ "onpageHP7"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "structuredURL"}}}"
>
{{{__ "onpageHP8"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "duplicatecontentURL"}}}"
>
{{{__ "onpageHP9"}}}
</a>
<a
class="block footerlink"
href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "voicesearchURL"}}}"
>
{{{__ "onpageHP10"}}}
</a>
</div>
<div class="footerLinks footerHalf">
    <a class="footerlink" href="/{{{__ "lang"}}}/impressum">
        impressum
    </a>
    <a class="footerlink" href="/{{{__ "lang"}}}/datenschutz">
        datenschutz
    </a>
    <a class="footerlink" href="/sitemap.xml">
        sitemap
    </a>
    <a class="footerlink" href="/{{{__ "langvsL"}}}">{{{__ "langvsLang"}}}</a>
    <a class="footerlink" href="/fr">En français</a>
    <br>  <div class="clutch-widget marginleft0" data-url="https://widget.clutch.co" data-widget-type="2" data-height="40" data-clutchcompany-id="745890"></div>
    <br>
    <script type="text/javascript" src="https://www.provenexpert.com/widget/richsnippet.js?u=14zojAap1VmAjLGZ2NaZjEQB48TA1LQB&v=2" async></script>
</div>
</div>
<footer><div class="footer">
    <div itemscope="" itemtype="http://schema.org/LocalBusiness" class="footerlink footerHalf">
        <span itemprop="name">SEO Berlino</span> <br>
        <link itemprop="url" href="https://www.seoberlino.com/de">
        <span class="footerlink" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
            <span>  &copy; Alex Bieth 2019 </span><br>
            <span>SEO Consultant Freelancer </span><br>
            <span itemprop="streetAddress">Kiehlufer</span>
            <span itemprop="postalCode">12059</span><br>
            <span itemprop="addressLocality">Berlin</span>
            <span itemprop="addressRegion">Deutschland</span>
        </span>
        <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a><br>
        <span itemprop="email">alex@seoberlino.com</span>
        <link itemprop="logo" href="/logo.jpg">
        <link itemprop="image" href="/logo.jpg">
        <link itemprop="sameAs" href="https://linkedin.com/in/alex-bieth-berlin/">
        <link itemprop="sameAs" href="https://twitter.com/seoberlino">
        <span itemprop="geo" itemtype="http://schema.org/GeoCoordinates">
            <meta itemprop="latitude" content="">
            <meta itemprop="longitude" content="">
        </span><br>
        <time itemprop="openingHours" datetime="Mo, Di, Mi, Do, Fr 08.00 - 18.00" />
    </div>
    <div class="footerLinks footerHalf">
        <!-- ProvenExpert Bewertungssiegel -->
        <a rel="noreferrer" href="https://www.provenexpert.com/alex-bieth/?utm_source=Widget&amp;utm_medium=Widget&amp;utm_campaign=Widget" title="{{{__ "provenexpertFooteralt"}}}" target="_blank" style="text-decoration:none;"><img src="https://images.provenexpert.com/01/0b/cf4fa98fc81dea40bdb838baaa80/widget_portrait_90_de_0.png" alt="{{{__ "provenexpertFooteralt"}}}" width="110" height="110" style="border:0" /></a>
        <!-- ProvenExpert Bewertungssiegel -->
        <div class="pe-richsnippets"></div>
    </div>
</div>
</footer>
