<!-- Colophon Block-->
<section class="colophon-hero dark-blue hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container">
            <div class="columns has-text-left">
                <div class="columns">
                    <div class="column is-4-tablet is-3-desktop footer-details">
                        <a class="footer-logo" href="/{{{__ "lang"}}}">
                            <img alt="{{{__ "logoNav"}}}" src="/images/logo-white.png" width="240" height="28" />
                        </a>
                        <p>
                            © Alex Bieth 2019<br>
                            SEO & Analytics Agile Consultant <br>
                            <br>
                            <strong>T - <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a></strong><br>
                            <strong>E - <a href="mailto:alex@seoberlino.com">alex@seoberlino.com</a></strong><br>
                            <br>
                            Kiehlufer 12059<br>
                            Berlin Deutschland<br>
                            Mon-Fri 8:00-18:00<br>
                        </p>
                    </div>
                    <div class="column is-2-tablet is-2-desktop footer-menu">
                        <h2 class="title is-5 is-heavy">Menu</h2>
                        <ul>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">{{{__ "servicesU"}}}</a></li>
                            <li><a href="/{{{__ "lang"}}}/seo">Resources</a></li>
                            <li><a href="/en/casestudy">Case Studies</a></li>
                            <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>
                            <li><a href="/{{{__ "lang"}}}/contact">{{{__ "getintouch"}}}</a></li>
                            <li><a href="/{{{__ "lang"}}}/impressum">Impressum</a></li>
                            <li><a href="/{{{__ "lang"}}}/datenschutz">Datenschutz</a></li>
                            <li><a href="/{{{__ "lang"}}}/lexical">Lexicon</a></li>

                        </ul>
                    </div>
                    <div class="column is-2-tablet is-2-desktop footer-language">
                        <h2 class="title is-5 is-heavy">{{{__ "languagefooter"}}}</h2>
                        <ul>
                            <li><a href="/{{{__ "langvsL"}}}">{{{__ "langvsLang"}}}</a></li>
                            <li><a href="/fr">En français</a></li>
                        </ul>
                    </div>
                    <div class="column is-4-tablet is-5-desktop footer-contact-form">
                        {{>formcontact}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="xtrapad2 page-end">
    <div class="columns is-centered has-text-centered">
        <div class="column is-2">
            <div class="pe-richsnippets"></div>
            <script src="https://www.provenexpert.com/widget/richsnippet.js?u=14zojAap1VmAjLGZ2NaZjEQB48TA1LQB&v=2" async></script>
        </div>
        <div class="column is-2">
            <a href="https://clutch.co/profile/seoberlino">
                <img class="clutch" alt="clutch" src="/images/clutch-new.png" />
            </a>
        </div>
    </div>
</footer>