    <form class="colophone-form" role="form" action="/{{{__ "lang"}}}/email" method="post">
        <input type="hidden" id="grecaptcharesponse" name="grecaptcharesponse">
        <input type="hidden" name="action" value="validate_captcha">
        <h2 class="title is-5 is-heavy no-margins form-title">{{{__ "getintouch"}}}</h2><br>
        <div class="inline">

            <div class="field fullname">
                <div class="control">
                    <input class="input" type="text" name="name" placeholder="{{{__ "fullname"}}}" required>
                </div>
            </div>
            <div class="field email">
                <div class="control">
                    <input class="input" type="email" name="email" placeholder="Email" required>
                </div>
            </div>
        </div>
        <div class="field message">
            <div class="control">
                <textarea class="textarea" name="message" placeholder="{{{__ "message"}}}" rows="6"></textarea>
            </div>
        </div>

        <div class="field send">
            <div class="control">
                <button class="button is-link is-medium" type="submit" id="submit" name="submit">{{{__ "sendMessage"}}}</button>
            </div>
        </div>
    </form>


    <script src="https://www.google.com/recaptcha/api.js?render=6LdjJdoUAAAAAKmIRjqhXiK1btMx7I7oTJAqK5P5"></script>

    <script>
        grecaptcha.ready(function() {
            // do request for recaptcha token
            // response is promise with passed token
            grecaptcha.execute('6LdjJdoUAAAAAKmIRjqhXiK1btMx7I7oTJAqK5P5', {
                    action: 'validate_captcha'
                })
                .then(function(token) {
                    // add token value to form
                    document.getElementById("grecaptcharesponse").value = token;
                });
        });
    </script>