<script src="https://www.google.com/recaptcha/api.js?render=6LdjJdoUAAAAAKmIRjqhXiK1btMx7I7oTJAqK5P5"></script>
<script>
    function showResult(text) {
        document.querySelector('#result').innerHTML = text;
    }

    function handleClick(token) {
        return function() {
            var hello = document.querySelector('#hello').value;
            var data = {
                hello: hello,
                token: token
            };

            fetch('/send', {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    method: 'post',
                    body: JSON.stringify(data)
                })
                .then(response => response.text())
                .then(text => showResult(text))
                .catch(error => showResult(error));
        }
    }

    grecaptcha.ready(function() {
        grecaptcha.execute('6LdjJdoUAAAAAKmIRjqhXiK1btMx7I7oTJAqK5P5', {
                action: 'demo'
            })
            .then(function(token) {
                document.querySelector('#submit').addEventListener('click', handleClick(token));
            });
    });
</script>

<form class="colophone-form" role="form" action="/{{{__ "lang"}}}/email" method="post" class="">
    <h2 class="title is-5 is-heavy no-margins form-title">{{{__ "getintouch"}}}</h2><br>
    <div class="inline">

        <div class="field fullname">
            <div class="control">
                <input class="input" type="text" name="name" placeholder="{{{__ "fullname"}}}" required>
            </div>
        </div>
        <div class="field email">
            <div class="control">
                <input class="input" type="email" name="email" placeholder="Email" required>
            </div>
        </div>
    </div>
    <div class="field message">
        <div class="control">
            <textarea class="textarea" name="message" id="hello" placeholder="{{{__ "message"}}}" rows="6"></textarea>
        </div>
    </div>

    <div class="field send">
        <div class="control">
            <button class="button is-link is-medium" type="submit" id="submit" name="submit">{{{__ "sendMessage"}}}</button>
        </div>
    </div>
    <div id="result"></div>
</form>