<div class="column is-3-desktop sidebar">


    <ul style="background:#F5F5F5; padding:20px">
        <li class="subtitle is-4">SEO Lexicon
        </li>

        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/searchvolume">
                {{{__ "searchvolume"}}} </a>
        </li>

        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/removeurl">
                Remove URL Tool
            </a>
        </li>

        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/disavowtool">
                Disavow Tool </a>
        </li>

        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/rankbrain">
                RankBrain </a>
        </li>

        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/canonical">
                Canonicals
            </a>
        </li>

        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/404">
                404
            </a>
        </li>


        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/longtail">
                Long Tail </a>
        </li>

        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/redirects">
                {{{__ "redirects"}}} </a>
        </li>


        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/noindex">
                noindex</a> & <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/nofollow">nofollow </a>
        </li>

        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/robots">
                Robots.txt</a> &

            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/sitemaps">
                Sitemaps</a>
        </li>
        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/amp">
                AMP </a>
        </li>
        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/serp">
                SERP </a>
        </li>
        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/googleupdate">
                Google Update </a>
        </li>

    </ul>
</div><br><br>