<div class="column is-3-desktop sidebar">
    <ul>

        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/searchvolume">
                Search Volume </a>
        </li>

        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/removeurl">
                Remove URL Tool
            </a>
        </li>

        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/disavowtool">
                Disavow Tool </a>
        </li>

        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/rankbrain">
                RankBrain </a>
        </li>

        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/canonical">
                Canonicals
            </a>
        </li>

        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/longtail">
                Long Tail </a>
        </li>

        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/redirects">
                Redirects </a>
        </li>


        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/noindex">
                noindex</a> & <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/nofollow">nofollow </a>
        </li>

        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/robots">
                Robots.txt</a> &

            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/sitemaps">
                Sitemaps</a>
        </li>
        <li>
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/amp">
                AMP </a>
        </li>

    </ul>
</div><br><br>
