<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">

        <div class="navbar-brand">
            <a class="navbar-item" href="/{{{__ "lang"}}}">
                <img alt="{{{__ "logoNav"}}}" src="/logo5.png" width="240" height="28" />
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar-mainmenu" class="navbar-menu">
            <div class="navbar-end">

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> SEO</a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/{{{__ "lang"}}}/audit">SEO Audit</a>
                        <a class="navbar-item" href="/{{{__ "lang"}}}/content">Content Growth Hacking</a>
                        <a class="navbar-item" href="/{{{__ "lang"}}}/analytics">{{{__ "analyticsHP2"}}}</a>
                        <a class="navbar-item" href="/{{{__ "lang"}}}/seo">{{{__ "SEOResources"}}}</a>
                        {{!-- <a class="navbar-item" href="/{{{__ "lang"}}}/seo-berlin">SEO Berlin</a> --}}
                        <a class="navbar-item" href="/{{{__ "lang"}}}/research/{{{__ "localURL"}}}">Local SEO</a>
                        <a class="navbar-item" href="/{{{__ "lang"}}}/technical">Technical SEO</a>
                        <a class="navbar-item" href="/{{{__ "lang"}}}/onpage">Onpage SEO</a>
                        <a class="navbar-item" href="/{{{__ "lang"}}}/offpage">Offpage SEO</a>
                        {{!-- <a class="navbar-item" href="/{{{__ "lang"}}}/seo-specialist">SEO Specialist</a> --}}
                        {{!-- <a class="navbar-item" href="/{{{__ "lang"}}}/seo-tools">SEO Tools</a> --}}


                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">Consultancy</a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/{{{__ "lang"}}}/content">Content Growth Hacking</a>
                        <a class="navbar-item" href="/{{{__ "lang"}}}/analytics">{{{__ "analyticsHP2"}}}</a>
                        <a class="navbar-item" href="/{{{__ "lang"}}}/scrum">Agile Coach</a>
                        <a class="navbar-item" href="/{{{__ "lang"}}}/sea">SEA Consultant</a>
                        <a class="navbar-item level-2" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">SEO Consultant</a>


                    </div>
                </div>




                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">Freelancer</a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">SEO Freelancer</a>
                        <a class="navbar-item" href="/{{{__ "lang"}}}/scrum">Agile Freelancer</a>


                    </div>
                </div>


                <div class="navbar-item">
                    <a class="navbar-link" href="/{{{__ "lang"}}}/blog">Blog</a>
                </div>
                {{!-- <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/{{{__ "lang"}}}/references">References</a>

                </div> --}}

                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-normal is-primary is-outlined" href="/{{{__ "lang"}}}/contact">
                            {{{__ "getintouch"}}}
                        </a>
                    </div>
                </div>

                <div class="navbar-item">
                    <div class="buttons languageBtn2">
                        <a class="button is-secondary language-button languageBtnEN" href="{{alt}}">
                            {{{__ "newlang"}}}
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>

<nav class="mobile-nav" id="navMenu">
    <div class="mobile-menu has-text-right">

        <div class="navbar-item has-dropdown is-hoverable level-1">
            <span data-target="navMenu" class="dropdown-arrow"></span>
            <a class="navbar-link" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> SEO</a>
            {{!--
            <div class="navbar-dropdown seo">
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/audit">SEO Audit</a>
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/content">Content Growth Hacking</a>
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/analytics">{{{__ "analyticsHP2"}}}</a>
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/seo">{{{__ "SEOResources"}}}</a>
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/seo">SEO Berlin</a>
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/seo">Local SEO</a>
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/seo">Technical SEO</a>
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/seo">Onpage SEO</a>
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/seo">Offpage SEO</a>
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/seo">SEO Specialist</a>
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/seo">SEO Tools</a>
            </div> --}}
        </div>


        <div class="navbar-item has-dropdown is-hoverable level-1">
            <span data-target="navMenu" class="dropdown-arrow"></span>
            <a class="navbar-link" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">Consultancy</a>

            {{!-- <div class="navbar-dropdown seo">
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/content">Content Growth Hacking</a>
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/analytics">{{{__ "analyticsHP2"}}}</a>
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/scrum">Agile Coach</a>
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/sea">SEA Consultant</a>
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/sea">SEO Consultant</a>

            </div> --}}
        </div>



        <div class="navbar-item has-dropdown is-hoverable level-1">
            <span data-target="navMenu" class="dropdown-arrow"></span>
            <a class="navbar-link" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">Freelancer</a>

            <div class="navbar-dropdown seo">
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/audit">SEO Freelancer</a>
                <a class="navbar-item level-2" href="/{{{__ "lang"}}}/scrum">Agile Freelancer</a>

            </div>
        </div>










        <div class="navbar-item has-dropdown is-hoverable level-1">
            <a class="navbar-link" href="/{{{__ "lang"}}}/blog">Blog</a>
        </div>

        {{!-- <div class="navbar-item level-1">
            <a class="navbar-link" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">References</a>

        </div> --}}

        <div class="navbar-item level-1">
            <a class="navbar-link" href="/{{{__ "lang"}}}/contact"> {{{__ "getintouch"}}}
            </a>
        </div>

        <div class="navbar-item level-1">
            <div class="buttons languageBtn2">
                <a class="button is-secondary language-button languageBtnEN" href="{{alt}}">
                    {{{__ "newlang"}}}
                </a>
            </div>
        </div>
    </div>
</nav>