<header class="toolbar">
  <nav class="toolbar_navigation">
    <a href="#main-menu">
    <img src="/hamburger.svg"
       id="main-menu-toggle"
       class="menu-toggle"
       alt="hamburger"
       aria-label="Open main menu">
      <span class="sr-only black">Open main menu</span>
      <span class="fa fa-bars" aria-hidden="true"></span>
    </a>
    <a name="back to Homepage" href="/{{{__ "lang"}}}">
      <img alt="{{{__ "logoNav"}}}" class="toolbar_logo" src="/logo.jpg" />
    </a>
      <nav id="main-menu" class="main-menu" aria-label="Main menu">
        <a href="#main-menu-toggle"
           id="main-menu-close"
           class="menu-close"
           aria-label="Close main menu">
          <span class="sr-only black">Close main menu</span>
          <span class="fa fa-close" aria-hidden="true"></span>
        </a>
        <ul>
          <li>
            <a class="black" href="/{{{__ "lang"}}}">{{{__ "home"}}}</a>
          </li>
          <li>
            <a class="black" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">
               {{{__ "servicesU"}}}
           </a>
          </li>
          <li>
                <div class="dropdown">
                  <button class="dropbtn">  <a href="/{{{__ "lang"}}}/seo">SEO</a></button>
                  <div class="dropdown-content">
                    <a href="/{{{__ "lang"}}}/offpage">Offpage</a>
                    <a href="/{{{__ "lang"}}}/onpage">Onpage</a>
                    <a href="/{{{__ "lang"}}}/technical">{{{__ "hey5"}}}</a>
                    <a href="/{{{__ "lang"}}}/research">Research</a>
                    <a href="/{{{__ "lang"}}}/lexical">SEO Lexicon</a>
                  </div>
                </div>
          </li>
          <li>
                <div class="dropdown">
                  <button class="dropbtn">  <a href="/en/casestudy">CASE STUDIES</a></button>
                  <div class="dropdown-content">
                    <a href="/en/casestudy/hometogo">Home to go</a>
                    <a href="/en/casestudy/fromatob">From A to B</a>
                    <a href="/en/casestudy/hellofresh">Hello Fresh</a>
                    <a href="/en/casestudy/n26">N26</a>
                    <a href="/en/casestudy/juniqe">Juniqe</a>
                    <a href="/en/casestudy/wooga">Wooga</a>

                  </div>
                </div>
          </li>
          <li>
            <a class="black" href="/{{{__ "lang"}}}/blog">BLOG</a>
          </li>
          <li>
            <a class="black" href="/{{{__ "lang"}}}/contact">
                {{{__ "contact"}}}
            </a>
          </li>
        </ul>
      <a href="#main-menu-toggle"
         class="backdrop"
         tabindex="-1"
         aria-hidden="true" hidden></a>
         <div class="languageBtn2">
       </nav>
  </nav>
</header>
