<header class="toolbar">
  <nav class="toolbar_navigation">


    <a href="#main-menu">


    <img src="/hamburger.svg"
       id="main-menu-toggle"
       class="menu-toggle"
       alt="hamburger"
       aria-label="Open main menu">
      <span class="sr-only black">Open main menu</span>
      <span class="fa fa-bars" aria-hidden="true"></span>
    </a>
    <a
      name="back to Homepage"
      href="/{{{__ "lang"}}}"
    >
      <img alt="{{{__ "logoNav"}}}" class="toolbar_logo" src="/logo.jpg" />
    </a>




      <nav id="main-menu" class="main-menu" aria-label="Main menu">
        <a href="#main-menu-toggle"
           id="main-menu-close"
           class="menu-close"
           aria-label="Close main menu">
          <span class="sr-only black">Close main menu</span>
          <span class="fa fa-close" aria-hidden="true"></span>
        </a>
        <ul>
          <li>
            <a class="black" href="/{{{__ "lang"}}}">
                {{{__ "home"}}}
            </a>
          </li>

          <li>
            <a  class="black" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">
               {{{__ "servicesU"}}}
           </a>
          </li>

          <li>

                <div class="dropdown">
                  <button class="dropbtn"> SEO</button>
                  <div class="dropdown-content">
                     <a href="/{{{__ "lang"}}}/seo">SEO Berlin</a>
                    <a href="/{{{__ "lang"}}}/offpage">Offpage</a>
                    <a href="/{{{__ "lang"}}}/onpage">Onpage</a>
                    <a href="/{{{__ "lang"}}}/technical">{{{__ "hey5"}}}</a>
                    <a href="/{{{__ "lang"}}}/research">Research</a>
                    <a href="/{{{__ "lang"}}}/lexical">SEO Lexicon</a>
                    <a href="/en/casestudy">Case Studies</a>

                  </div>
                </div>
          </li>

          <li>
            <a class="black" href="/{{{__ "lang"}}}/blog">
                BLOG
            </a>
          </li>

          <li>
            <a class="black" href="/{{{__ "lang"}}}/contact">

                {{{__ "contact"}}}
            </a>
          </li>
        </ul>

      <a href="#main-menu-toggle"
         class="backdrop"
         tabindex="-1"
         aria-hidden="true" hidden></a>
         <div class="languageBtn2">

         <!-- <a
           class="languageBtnEN"
           href="{{requrl}}"

         >{{{__ "langvs"}}}</a></div> -->
       </nav>



  </nav>

    <!-- <div class="cookienotice">
      <div class="block">{{{__ "cookie1"}}} </div>
      <div class="block">{{{__ "cookie2"}}} </div>
      <div class="block"> {{{__ "cookie3"}}} </div>
      <div class="block">

          {{{__ "cookie4"}}}
        </button>
        <a href="/{{{__ "lang"}}}/cookies"} class="black">
          <button class="buttonHP2">{{{__ "cookie5"}}} </button>
        </a>
      </div>
    </div> -->

</header>
