<div class="hero-body">
    <h2 class="title h1HP is-heavy has-text-centered is-red">{{{__ "onlinemarketingservices"}}}</h2>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-11-mobile is-11-desktop">
                <span class="subtitle is-5">{{{__ "SEOServicesHP"}}}</span>
            </div>
        </div><br>
        <div class="container has-text-centered">
            <div class="columns content">
                <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top"> <a class="is-black" href="/{{{__ "lang"}}}/reporting-analytics">
                        <div class="boxcolor"> <span class="title h2HP is-white">Analytics & Reporting</span> </div><br>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                            <div class="justify">{{{__ "HPReporting"}}}</div><br>
                        </div>
                    </a>
                </div>
                <div class="column is-4 boxcolor2 is-black" style="overflow-x: hidden" data-aos="fade-up-top"><a class="is-black" href="/{{{__ "lang"}}}/competitor-analysis">
                        <div class="boxcolor1"> <span class=" title h2HP"> {{{__ "competitoranalysis"}}}</span> </div><br>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                            <div>{{{__ "HPKW2"}}}</div><br>
                        </div>
                    </a>
                </div>
                <div class="column is-4 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
                    <a class="is-black" href="/{{{__ "lang"}}}/seo-copywriting">
                        <div class="boxcolor"> <span class="title h2HP is-white">Content Marketing & Copywriting </span> </div><br>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                            <div>{{{__ "CopyBox"}}}</div><br>
                        </div>
                    </a>
                </div>
            </div><br><br>
            <div class="columns">
                <div class="column is-4 boxcolor2 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
                    <a class="is-black" href="/{{{__ "lang"}}}/sea">
                        <div class="boxcolor1"> <span class="title h2HP">Google Ads </span> </div><br>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                            <div>{{{__ "GoogleAdsBox"}}}</div><br>
                        </div>
                    </a>
                </div>
                <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
                    <a class="is-black" href="/{{{__ "lang"}}}/smm">
                        <div class="boxcolor"> <span class="title h2HP is-white">Social Media Marketing</span> </div><br>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                            <div>{{{__ "smmBox"}}} </div><br>
                        </div>
                </div></a>
                <div class="column is-4 boxcolor2 is-black" style="overflow-x: hidden" data-aos="fade-up-top"> <a class="is-black" href="/{{{__ "lang"}}}/agile-coach-berlin">

                        <div class="boxcolor1"> <span class="title h2HP">Agile Audit</span> </div><br>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                            <div class="justify">{{{__ "AgileBox"}}}</div><br><br><br><br>
                        </div>
                    </a>
                </div>
            </div><br><br>
        </div>
    </div>
</div>