<div class="hero-body">
    <h2 class="title h1HP is-heavy has-text-centered is-red">{{{__ "onlinemarketingservices"}}}</h2>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-11-mobile is-11-desktop">
                <span class="subtitle is-5">{{{__ "SEOServicesHP"}}}</span>
            </div>
        </div><br>
        <div class="container has-text-centered">
            <div class="columns content">
                <div class="column is-4 boxcolor3" style="overflow-x: hidden" data-aos="fade-up-top">
                    <div class="boxcolor"> <span class="title h2HP is-white">Analytics & Reporting</span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                        <p>
                        <div class="justify">{{{__ "HPReporting"}}}</div><br>></p>
                    </div>
                </div>
                <div class="column is-4 boxcolor2" style="overflow-x: hidden" data-aos="fade-up-top">
                    <div class="boxcolor1"> <span class=" title h2HP"> {{{__ "competitoranalysis"}}}</span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                        <p>
                        <div>{{{__ "HPKW2"}}}</div><br>
                    </div>
                </div>
                <div class="column is-4" style="overflow-x: hidden" data-aos="fade-up-top">
                    <div class="boxcolor"> <span class="title h2HP is-white">Content Marketing & Copywriting </span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                        <p>
                        <div>This package includes: Keyword Reseach and Clustering, Content Plan, Copywriting and Reporting</div><br></p>
                    </div>
                </div>
            </div><br><br>
            <div class="columns">

                <div class="column is-4 boxcolor2" style="overflow-x: hidden" data-aos="fade-up-top">
                    <div class="boxcolor1"> <span class="title h2HP">Google Ads </span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                        <p>
                        <div>This package includes: Keyword Research, Google Ads Campaigns Set-up, Campaign Optimization and Reporting </div><br></p>
                    </div>
                </div>
                <div class="column is-4 boxcolor3" style="overflow-x: hidden" data-aos="fade-up-top">
                    <div class="boxcolor"> <span class="title h2HP is-white">Social Media Marketing</span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                        <div>This package includes: Keyword Research, Facebook and Instagram Campaigns Set-up, Campaign Optimization and Reporting </div><br>
                    </div>
                </div>
                <div class="column is-4 boxcolor2" style="overflow-x: hidden" data-aos="fade-up-top">
                    <div class="boxcolor1"> <span class="title h2HP">Agile Audit</span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                        <div class="justify">Agile Coaching for Agile Implementation and Audits.</div><br><br><br><br>
                    </div>
                </div>
            </div><br><br>
            <div class="columns">


            </div>

        </div>
    </div>
</div><br>