<section class="hero-body off-white remove-padding">
    <div class="container reduced">

        <hr>
        <div class="columns is-centered has-text-centered">
            <div class="column is-10">
                <p class="subtitle is-5 is-red">{{{__ "auditintro-new"}}}</p>
            </div>
        </div>
    </div>
</section>


<section class="audit-hero hero off-white is-medium">
    <div class="hero-body remove-padding">
        <div class="columns is-centered" style="overflow-x: hidden">
            <div class="column is-4">
                <figure class="image is-outlined" style="overflow-x: hidden"  > <img alt="SEO Check Audit" src="/images/PDFAudit.png"> </figure>
            </div>
            <div class="column is-4 vertical-aligner">
                <p>{{{__ "auditfocus"}}}(in English or in German)</p>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-4 vertical-aligner">
                <p>{{{__ "auditfocusList"}}}</p>
            </div>
            <div class="column is-4">
                <figure class="image is-fullwidth is-outlined" style="overflow-x: hidden"   > <img alt="backlog" src="/images/diagrams/new-backlog.png"> </figure>
            </div>
        </div>
</section>
<section class="audit-hero off-white hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced margin-boost">
            <h3 class="title is-3 is-heavy boost-margin has-text-centered">SEO Audits Content</h3>
            <div class="columns is-centered has-text-centered is-multiline pill-list">
                <div class="column is-4">
                    <div class="pill"> <span class="subtitle is-6 is-heavy">{{{__ "execsumm"}}} & Backlog</span> </div>
                </div>
                <div class="column is-4">
                    <div class="pill"> <span class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/keyword-research">{{{__ "keywordresearch"}}}</a> </div>
                </div>
                <div class="column is-4">
                    <div class="pill"> <span class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/seo-onpage">On-page SEO</a></span>

                    </div>
                </div>
                <div class="column is-4">
                    <div class="pill"> <span class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/backlinks">{{{__ "offpageseo"}}}</a></span> </div>
                </div>
                <div class="column is-4">
                    <div class="pill">
                        <span class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/technical-seo">{{{__ "technicalseo"}}}</a>
                        </span>

                    </div>
                </div>
                <div class=" column is-4">
                    <div class="pill">
                        <span class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/{{{__ "competitorURL"}}}">{{{__ "analyticsHP3U"}}}</a></span>
                    </div>
                </div>
            </div>
        </div><br><br>
</section>