<div class="container justify"><br>

    <div class="container has-text-centered justify">
        <div class="columns content justify">
            <div class="column is-6 boxcolor3 is-black has-text-centered" style="overflow-x: hidden" data-aos="fade-up-top">
                <a class="is-black" href="/{{{__ "lang"}}}/seo-audit">
                    <div class="boxcolor1"> <span class="title h2HP">SEO Audit {{{__ " "}}}&{{{__ " "}}} {{{__ "strategie"}}}</span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                        {{{__ "HPAudit"}}}
                    </div>
                </a>
            </div>
            <div class="column is-6 is-black boxcolor3 has-text-centered" style=" overflow-x: hidden" data-aos="fade-up-top">
                <a class="is-black" href="/{{{__ "lang"}}}/seo-check">
                    <div class="boxcolor1 has-text-centered"> <span class="title h2HP">{{{__ "CheckAnalyse"}}}</span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify is-black">
                        {{{__ "seocheck"}}}
                    </div>
                </a>
            </div>
        </div>
    </div><br><br>
    <div class="columns content has-text-centered ">
        <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
            <a class="is-black" href="/{{{__ "lang"}}}/keyword-research">
                <div class="boxcolor"> <span class="title h2HP is-white">{{{__ "keywordresearch"}}}</span> </div><br>
                <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                    <div class="justify">{{{__ "KWResearchBox"}}} </div>
                </div>
            </a>
        </div>
        <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
            <a class="is-black" href="/{{{__ "lang"}}}/seo-onpage">
                <div class="boxcolor1"> <span class="title h2HP">On-Page SEO</span> </div><br>
                <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                    <div class="justify">{{{__ "HPOnpageTech"}}}</div>
                </div>
        </div></a>
        <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
            <a href="/{{{__ "lang"}}}/seo-indexation">

                <div class="boxcolor"> <span class="title h2HP is-white">{{{__ "technicalHP1"}}}</span> </div><br>
                <div class="columns column is-12-mobile is-11-tablet is-12-desktop">

                    <div class="justify">{{{__ "indexationBox"}}}</div>
                </div>
            </a>
        </div>
    </div><br><br>
    <div class="columns content has-text-centered justify">
        <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top"> <a href="/{{{__ "lang"}}}/seo-page-speed">

                <div class="boxcolor1"> <span class="title h2HP">Page Speed{{{__ " "}}} {{{__ "improvements"}}} </span> </div><br>
                <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                    <div class="justify">{{{__ "SpeedBox"}}}</div>
                </div>
            </a>
        </div>
        <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top"> <a href="/{{{__ "lang"}}}/local-seo">

                <div class="boxcolor"> <span class="title h2HP is-white">Local SEO</span> </div><br>
                <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                    <div class="justify">{{{__ "LocalSEOBox"}}}
                    </div>
            </a>
        </div>
    </div>
    <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
        <a href="/{{{__ "lang"}}}/seo-wordpress">
            <div class="boxcolor1"> <span class="title h2HP">SEO {{{__ " "}}}{{{__ "for"}}} {{{__ " "}}}WordPress,{{{__ " "}}} Shopify & Co </span> </div><br>
            <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                <div>{{{__ "WordpressBox"}}}</div>
            </div>
        </a>
    </div>
</div><br><br>
<div class="columns content has-text-centered justifys">
    <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
        <a href="/{{{__ "lang"}}}/backlinks">
            <div class="boxcolor"> <span class="title h2HP is-white">Linkbuilding Strategie</span> </div><br>
            <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                <div>{{{__ "HPLinkBuilding2"}}}</div>
            </div>
        </a>
    </div>
    <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
        <a href="/{{{__ "lang"}}}/seo-relaunch">
            <div class="boxcolor1"> <span class="title h2HP">Relaunch & {{{__ " "}}} {{{__ "technicalHP3"}}}</span> </div><br>
            <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                <div>{{{__ "HPRelaunch"}}}{{{__ "HPRelaunch2"}}}</div>
            </div>
        </a>
    </div>

    <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
        <a href="/{{{__ "lang"}}}/seo-freelancer">
            <div class="boxcolor"> <span class="title h2HP is-white">SEO Freelance</span> </div><br>
            <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                <div class="justify">{{{__ "FreelanceBox"}}}</div>
            </div>
        </a>
    </div>
</div>