<div class="container">
    <div class="columns is-centered">
        <div class="column is-11-mobile is-11-desktop">
            <span class="subtitle is-5">{{{__ "SEOServicesHP"}}}</span>
        </div>
    </div><br>
    <div class="container has-text-centered justify">
        <div class="columns content justify">
            <div class="column is-6 boxcolor3 is-black has-text-centered" style="overflow-x: hidden" data-aos="fade-up-top">
                <a class="is-black" href="/{{{__ "lang"}}}/seo-audit">
                    <div class="boxcolor1"> <span class="title h2HP">SEO Audit & {{{__ "strategie"}}}</span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                        {{{__ "HPAudit"}}}<br>{{{__ "HPAudit2"}}}
                    </div>

                </a>
            </div>


            <div class="column is-6 is-blackboxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
                <a class="is-black" href="/{{{__ "lang"}}}/seo-check">
                    <div class="boxcolor1 has-text-centered"> <span class="title h2HP">SEO Checks</span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                        <div class="justify">If you are looking for quick wins and low hanging fruit SEO improvements, and if the full audit is too much of a budget, the SEO Check is for you. This includes Main terms keywords research, onpage
                            mapping, Page speed and Backlink Audit. </div>
                    </div>
                </a>
            </div>




        </div>

    </div><br><br>
    <div class="columns content has-text-centered ">

        <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
            <a class="is-black" href="/{{{__ "lang"}}}/keyword-research">
                <div class="boxcolor"> <span class="title h2HP is-white">Keyword Research</span> </div><br>
                <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">

                    <div>A keyword research is key to establish which terms your potential clients are using to look for your goods or services. The keywords are clustered for better keyword mapping. </div>
                </div>
            </a>

        </div>

        <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
            <a class="is-black" href="/{{{__ "lang"}}}/seo-onpage">
                <div class="boxcolor1"> <span class="title h2HP">On-Page SEO</span> </div><br>
                <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
                    <div>{{{__ "HPOnpageTech"}}}</div>
                </div>

        </div></a>

        <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
            <a href="/{{{__ "lang"}}}/seo-indexation">

                <div class="boxcolor"> <span class="title h2HP is-white">Indexation</span> </div><br>
                <div class="columns column is-12-mobile is-11-tablet is-12-desktop">

                    <div class="justify">Indexation is key in SEO and we support you to optiomize it as well as the crawlibility of your site. This includes Robots.txt and Sitemaps, as well as internal linking.</div>
                </div>
            </a>
        </div>


    </div><br><br>

    <div class="columns content has-text-centered justify">
        <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top"> <a href="/{{{__ "lang"}}}/seo-page-speed">

                <div class="boxcolor1"> <span class="title h2HP">Page Speed Improvements</span> </div><br>
                <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                    <div class="justify">To make sure you ready for the May Experience Google Update we offer support with PageSpeed improvements.</div>
                </div>
            </a>
        </div>
        <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top"> <a href="/{{{__ "lang"}}}/local-seo">

                <div class="boxcolor"> <span class="title h2HP is-white">Local SEO</span> </div><br>
                <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                    <div class="justify">If you are local business looking to boost your visibility close to you, Local SEO is a good first objective and should be your first prority. We can support you to make sure you increase your local traffic.
                    </div>
            </a>
        </div>
    </div>
    <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
        <div class="boxcolor1"> <span class="title h2HP">SEO for WordPress, Shopify and others</span> </div><br>
        <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
            <div>If you have WordPress or Wix site, we offer you support to boost your SEO. We can also support you with Shopify, Squarespace, Weebly or Jimdo.</div>
        </div>
    </div>


</div><br><br>
<div class="columns content has-text-centered justifys">
    <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
        <div class="boxcolor"> <span class="title h2HP is-white">Linkbuilding Strategie</span> </div><br>
        <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
            <div>{{{__ "HPLinkBuilding"}}}<br>{{{__ "HPLinkBuilding2"}}}</div>
        </div>
    </div>
    <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
        <div class="boxcolor1"> <span class="title h2HP">Relaunch & Internationalisation</span> </div><br>
        <div class="columns column is-12-mobile is-11-tablet is-12-desktop justify">
            <div>{{{__ "HPRelaunch"}}}{{{__ "HPRelaunch2"}}}</div>
        </div>
    </div>

    <div class="column is-4 boxcolor3 is-black" style="overflow-x: hidden" data-aos="fade-up-top">
        <div class="boxcolor"> <span class="title h2HP is-white">SEO Freelance</span> </div><br>
        <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
            <div class="justify">We offer freelance SEO Support with affordable monthly packages. These can be tailored to your neeeds. Alternatively we also offer one-time services to support your requirements..</div>
        </div>
    </div>
</div>

</div><br>