<div class="hero-body">
    <h2 id="services" class="title h1HP is-heavy has-text-centered is-red">{{{__ "servicesHP"}}}</h2>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-11-mobile is-11-desktop">
                <span class="subtitle is-5">{{{__ "SEOServicesHP"}}}</span>
            </div>
        </div><br>
        <div class="container has-text-centered">
            <div class="columns content">
                <div class="column is-6 boxcolor3 mobile is-5" data-aos=" fade-up-top">
                    <div class="boxcolor"> <span class="title h2HP is-white">SEO Audit & {{{__ "strategie"}}}</span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                        <p>
                        <div class="minimize">{{{__ "HPAudit"}}}<br>{{{__ "HPAudit2"}}}</div><br><br><br><br></p>
                    </div>
                </div>
                <div class="column is-6 boxcolor3 mobile is-5">
                    <div class="boxcolor1"> <span class=" title h2HP">{{{__ "keywordresearch"}}} & {{{__ "competitoranalysis"}}}</span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                        <p>
                        <div class="minimize">{{{__ "HPKW"}}}<br>{{{__ "HPKW2"}}}</div><br><br><br><br></p>
                    </div>
                </div>
            </div><br><br>
            <div class="columns">
                <div class="column is-6 border boxcolor3" style=" overflow-x: hidden" data-aos="fade-up-top">
                    <div class="boxcolor1"> <span class="title h2HP">On Page & Technical SEO </span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                        <p>
                        <div class="minimize">{{{__ "HPOnpageTech"}}}<br>{{{__ "HPOnpageTech2"}}}</div><br><br><br><br></p>
                    </div>
                </div>
                <div class="column is-6 boxcolor3" style="overflow-x: hidden" data-aos="fade-up-top">
                    <div class="boxcolor"> <span class="title h2HP is-white">Link Building </span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                        <p>
                        <div class="minimize">{{{__ "HPLinkBuilding"}}}<br>{{{__ "HPLinkBuilding2"}}}</div><br><br><br><br></p>
                    </div>
                </div>
            </div><br><br>
            <div class="columns">
                <div class="column is-6 boxcolor3" style="overflow-x: hidden" data-aos="fade-up-top">
                    <div class="boxcolor"> <span class="title h2HP is-white">Relaunch</span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                        <div class="minimize">{{{__ "HPRelaunch"}}}<br>{{{__ "HPRelaunch2"}}}</div><br><br><br><br>
                    </div>
                </div>
                <div class="column is-6 boxcolor3" style="overflow-x: hidden" data-aos="fade-up-top">
                    <div class="boxcolor1"> <span class="title h2HP">{{{__ "technicalHP3"}}}</span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                        <div class="minimize">{{{__ "HPInternational"}}}<br>{{{__ "HPInternational2"}}}</div><br><br><br><br>
                    </div>
                </div>
            </div><br><br>
            <div class="columns">
                <div class="column is-6 boxcolor3" style="overflow-x: hidden" data-aos="fade-up-top">
                    <div class="boxcolor1"> <span class="title h2HP">Reporting</span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                        <div>{{{__ "HPReporting"}}}</div><br><br><br><br>
                    </div>
                </div>
                <div class="column is-6 boxcolor3" style="overflow-x: hidden" data-aos="fade-up-top">
                    <div class="boxcolor"> <span class="title h2HP is-white">{{{__ "costs"}}}</span> </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                        <div>{{{__ "costsT"}}}</div><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br><br>