<ul class="has-text-centered">
    <li class="subtitle is-4">Latest related articles


    </li>
    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/blog/site-migration-seo-checklist"><img src="/computer.jpg" alt="blog article" />
                <figcaption>Site Migration SEO Checklist</figcaption>
            </a>
        </figure>

    </li><br>
    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/blog/seo-glossary"><img src="/blog2.jpg" alt="blog article" />
                <figcaption>SEO Glossary</figcaption>
            </a>
        </figure>

    </li><br>


    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/blog/why-you-need-implement-structured-data"><img src="/blog6.jpg" alt="blog article" />
                <figcaption>Structured Data</figcaption>
            </a>
        </figure>

    </li><br>

    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/blog/seo-in-asia-korea-china-japan-2020"><img src="/asia.jpg" alt="blog article" />
                <figcaption>SEO in Asia</figcaption>
            </a>
        </figure>

    </li><br>

    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/blog/beyond-mobile-first"><img src="/blog1.png" alt="blog article" />
                <figcaption>Beyond "mobile-first"</figcaption>
            </a>
        </figure>

    </li>
</ul>