<ul class="has-text-centered" style=" overflow-x: hidden; background-color:#ECECEC; padding:20px">
    <li class="subtitle is-4">{{{__ "relatedarticles"}}}
    </li>

    <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/canonical">
            <figure class="image is-2-by1">
                <img src="/images/seo-images/blog2.jpg" alt="seo berlin" />
                <br>
                <figcaption class="subtitle is-5">Canonical</figcaption>

            </figure>
        </a>

    </li><br>
    <li>
        <figure class="image is-2-by1">
            <a href="/en/seo-services/how-to-get-those-first-links"><img src="/images/seo-images/offpage2.jpg" alt="seo berlin" />
                <br>
                <figcaption class="subtitle is-5">How to get those first links</figcaption>
            </a>
        </figure>

    </li><br>



    <li>
        <figure class="image is-2-by1">
            <a href="/en/seo-services/link-building-to-brandbuilding"><img src="/images/seo-images/web2.jpg" alt="seo berlin" />
                <br>
                <figcaption class="subtitle is-5">Link Building to Brand Building</figcaption>
            </a>
        </figure>

    </li><br>

    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/backlink-analysis"><img src="/images/seo-images/analysis2.jpg" alt="seo berlin" />
                <br>
                <figcaption class="subtitle is-5">Backlink Analysis</figcaption>
            </a>
        </figure>

    </li><br>

    <li>
        <figure class="image is-2-by1">
            <a href="/en/seo-services/linkbuilding-in-2020"><img src="/images/seo-images/linkmain2.jpg" alt="seo berlin" />
                <br>
                <figcaption class="subtitle is-5">Linkbuilding Getting it right</figcaption>
            </a>
        </figure>

    </li>
</ul>