<ul class="has-text-centered" style=" overflow-x: hidden; background-color:#ECECEC; padding:20px">
    <li class="subtitle is-4">{{{__ "relatedarticles"}}}
    </li>
    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/keyword-research"><img src="/images/seo-images/content2.jpg" alt="seo berlin" />
                <figcaption>Keyword Research</figcaption>
            </a>
        </figure>

    </li><br>
    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/localSEO"><img src="/images/seo-images/local2.jpg" alt="seo berlin" />
                <figcaption>Local SEO</figcaption>
            </a>
        </figure>

    </li><br>
    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/canonical"><img src="/images/seo-images/blog22.jpg" alt="seo berlin" />
                <figcaption>Canonical</figcaption>
            </a>
        </figure>

    </li><br>


    <li>
        <figure class="image is-2-by1">
            <a href="/en/seo-services/why-you-need-implement-structured-data"><img src="/images/seo-images/blog62.jpg" alt="seo berlin" />
                <figcaption>Structured Data</figcaption>
            </a>
        </figure>

    </li><br>

    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/{{{__ "voicesearchURL"}}}"><img src="/images/seo-images/voice1.jpg" alt="seo berlin" />
                <figcaption>Voice Search</figcaption>
            </a>
        </figure>

    </li>

    <li>
        <figure class="image is-2-by1">
            <a href="/en/seo-services/beyond-mobile-first"><img src="/images/seo-images/blog11.png" alt="seo berlin" />
                <figcaption>Beyond "mobile-first"</figcaption>
            </a>
        </figure>

    </li>




    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/{{{__ "internallinkingURL"}}}"><img src="/images/seo-images/technical2.jpg" alt="seo berlin" />
                <figcaption>Internal Linking</figcaption>
            </a>
        </figure>

    </li>

    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/{{{__ "structured-data"}}}"><img src="/images/seo-images/structured.jpg" alt="seo berlin" />
                <figcaption>Structured Data</figcaption>
            </a>
        </figure>

    </li>




</ul>