<ul class="has-text-centered">
    <li class="subtitle is-4">Latest related articles


    </li>
    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/blog/keyword-research"><img src="/auditmainpic/content.jpg" alt="blog article" />
                <figcaption>Keyword Research</figcaption>
            </a>
        </figure>

    </li><br>
    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/blog/localSEO"><img src="/auditmainpic/local.jpg" alt="blog article" />
                <figcaption>Local SEO</figcaption>
            </a>
        </figure>

    </li><br>
    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/blog/seo-glossary"><img src="/blog2.jpg" alt="blog article" />
                <figcaption>SEO Glossary</figcaption>
            </a>
        </figure>

    </li><br>


    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/blogwhy-you-need-implement-structured-data"><img src="/blog6.jpg" alt="blog article" />
                <figcaption>Structured Data</figcaption>
            </a>
        </figure>

    </li><br>

    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/blogvoicesearch"><img src="/auditmainpic/voice.jpg" alt="blog article" />
                <figcaption>Voice Search</figcaption>
            </a>
        </figure>

    </li>






    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/blogbeyond-mobile-first"><img src="/blog1.png" alt="blog article" />
                <figcaption>Beyond "mobile-first"</figcaption>
            </a>
        </figure>

    </li>
</ul>