<ul class="has-text-centered" style=" overflow-x: hidden; background-color:#ECECEC; padding:20px">
    <li class="subtitle is-4">{{{__ "relatedarticles"}}}
    </li>

    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/canonical"><img src="/images/seo-images/blog22.jpg" alt="seo berlin" />
                <figcaption>{{{__ "glossaryh1"}}}</figcaption>
            </a>
        </figure>

    </li><br>



    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/crawl"><img src="/images/seo-images/crawl2.jpg" alt="seo berlin" />
                <figcaption>Crawling & SEO</figcaption>
            </a>
        </figure>

    </li><br>
    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/https"> <img src="/images/seo-images/technical2.jpg" alt="seo berlin" />
                <figcaption>{{{__ "securityMPT1"}}}</figcaption>
            </a>
        </figure>

    </li><br>
    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/international"><img src="/images/seo-images/international2.jpg" alt="seo berlin" />
                <figcaption>{{{__ "technicalHP3"}}}</figcaption>
            </a>
        </figure>

    </li><br>

    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/indexation"><img src="/images/seo-images/indexation2.jpg" alt="seo berlin" />
                <figcaption>{{{__ "technicalHP1"}}}</figcaption>
            </a>
        </figure>

    </li><br>
    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/mobile"><img src="/images/seo-images/mobilefriendly2.jpg" alt="seo berlin" />
                <figcaption>{{{__ "technicalHP5"}}}</figcaption>
            </a>
        </figure>

    </li><br>

    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/pagespeed"><img src="/images/seo-images/crawl2.jpg" alt="seo berlin" />
                <figcaption>{{{__ "technicalHP4"}}}</figcaption>
            </a>
        </figure>

    </li><br>



</ul>