<ul class="has-text-centered" style=" overflow-x: hidden; background-color:#ECECEC; padding:20px">
    <li class="subtitle is-4">{{{__ "relatedarticles"}}}
    </li>
    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/keyword-research"><img src="/seo-images/content.jpg" alt="seo berlin" />
                <figcaption>Keyword Research</figcaption>
            </a>
        </figure>

    </li><br>
    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/localSEO"><img src="/seo-images/local.jpg" alt="seo berlin" />
                <figcaption>Local SEO</figcaption>
            </a>
        </figure>

    </li><br>
    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/canonical"><img src="/seo-images/blog2.jpg" alt="seo berlin" />
                <figcaption>SEO Glossary</figcaption>
            </a>
        </figure>

    </li><br>


    <li>
        <figure class="image is-2-by1">
            <a href="/en/seo-services/why-you-need-implement-structured-data"><img src="/seo-images/blog6.jpg" alt="seo berlin" />
                <figcaption>Structured Data</figcaption>
            </a>
        </figure>

    </li><br>

    <li>
        <figure class="image is-2-by1">
            <a href="/en/seo-services/voicesearch"><img src="/seo-images/voice.jpg" alt="seo berlin" />
                <figcaption>Voice Search</figcaption>
            </a>
        </figure>

    </li>






    <li>
        <figure class="image is-2-by1">
            <a href="/en/seo-services/beyond-mobile-first"><img src="/seo-images/blog1.png" alt="seo berlin" />
                <figcaption>Beyond "mobile-first"</figcaption>
            </a>
        </figure>

    </li>
</ul>