<ul class="has-text-centered" style=" overflow-x: hidden; background-color:#ECECEC; padding:20px">
    <li class="subtitle is-4">{{{__ "relatedarticles"}}}
    </li>

    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/canonical"><img src="/seo-images/blog2.jpg" alt="seo berlin" />
                <figcaption>SEO Glossary</figcaption>
            </a>
        </figure>

    </li><br>
    <li>
        <figure class="image is-2-by1">
            <a href="/en/seo-services/how-to-get-those-first-links"><img src="/seo-images/offpage.jpg" alt="seo berlin" />
                <figcaption>How to get those first links</figcaption>
            </a>
        </figure>

    </li><br>



    <li>
        <figure class="image is-2-by1">
            <a href="/en/seo-services/link-building-to-brandbuilding"><img src="/seo-images/web.jpg" alt="seo berlin" />
                <figcaption>Link Building to Brand Building</figcaption>
            </a>
        </figure>

    </li><br>

    <li>
        <figure class="image is-2-by1">
            <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/backlink-analysis"><img src="/seo-images/analysis.jpg" alt="seo berlin" />
                <figcaption>Backlink Analysis</figcaption>
            </a>
        </figure>

    </li><br>

    <li>
        <figure class="image is-2-by1">
            <a href="/en/seo-services/linkbuilding-in-2020"><img src="/seo-images/linkmain.jpg" alt="seo berlin" />
                <figcaption>Linkbuilding Getting it right</figcaption>
            </a>
        </figure>

    </li>
</ul>