<div class="txt3 testimonial">
    "{{{__ "client2"}}}" <br />
    <div class="bold">
        <span class="inline2">
            <img height="30" width="65" src="/spiced.jpeg" alt="Spiced logo" />
        </span>
        <span class="inline2">
            Paul Fowler - Online Marketing Manager @ Spiced Academy
        </span>
    </div>
</div>
<br />
<div class="txt3 testimonial">
    "{{{__ "client1"}}}"
    <br />
    <div class=" bold ">
        <span class="inline2">
            <img height="30" width="60" src="/independent.png" alt="independent logo" />
        </span>
        <span class="inline2">
            Richard Sfez – CEO @ The Independent Photographer
        </span>
    </div>
</div>
<div class="txt3 testimonial">
    "{{{__ "client3"}}}" <br />
    <div class=" bold ">
        <span class="inline2">
            <img height="20" width="60" src="/holberton.png" alt="Holberton School logo" />
        </span>
        <span class="inline2">
            Amandine Aman – Marketing Director @ Holberton School, San Francisco
        </span>
    </div>
</div><br />
<div class="txt3 testimonial">
    "{{{__ "client5"}}}" <br />

    <br />
    <div class="bold">
        <span class="inline2">
            <img height="40" width="35" alt="spreadshirt logo" src="/spreadshirt.png" />
        </span>
        <span class="inline2">
            Hugo Smoter - CCO @ Spreadshirt
        </span>
    </div>
</div>
<br>
<div class="txt3 testimonial">
    "{{{__ "client4"}}}" <br />

    <br />
    <div class="bold">
        <span class="inline2">
            <img height="40" width="60" alt="must-be logo" src="/mustbe.png" />
        </span>
        <span class="inline2">
            Hendrik Feige - owner @ must-be
        </span>
    </div>
</div>