<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/icons/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <span class="title is-4 is-heavy">Tim Pohlmann<span>
                            <span class="subtitle is-6 is-heavy">Director Marketing Business Intelligence @ HelloFresh (Berlin)</span>
                </div>
            </div>
            <hr>
            <div class="content"> {{{__ "testimonialHelloFresh"}}} </div>
        </div>
    </div>
</div>
<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/icons/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <span class="title is-4 is-heavy">Hendrik Feige<span>
                            <span class="subtitle is-6 is-heavy">owner @ must-be (Leipzig)</span>
                </div>
            </div>
            <hr>
            <div class="content">
                {{{__ "client4"}}}
            </div>
        </div>
    </div>
</div>
<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/icons/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <span class="title is-4 is-heavy">Paul Fowler<span>
                            <span class="subtitle is-6 is-heavy">Online Marketing Manager @ Spiced Academy (Berlin)</span>
                </div>
            </div>
            <hr>
            <div class="content">
                {{{__ "client2"}}}
            </div>
        </div>
    </div>
</div>

<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/icons/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <span class="title is-4 is-heavy">Richard Sfez<span>
                            <span class="subtitle is-6 is-heavy">CEO @ The Independent Photographer (Berlin)</span>
                </div>
            </div>
            <hr>
            <div class="content">
                {{{__ "client1"}}}
            </div>
        </div>
    </div>
</div>

<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/icons/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <span class="title is-4 is-heavy">Amandine Aman<span>
                            <span class="subtitle is-6 is-heavy">Marketing Director @ Holberton School, San Francisco</span>
                </div>
            </div>
            <hr>
            <div class="content">
                {{{__ "client3"}}}
            </div>
        </div>
    </div>
</div>



<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/icons/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <span class="title is-4 is-heavy">Christina Gaither<span>
                            <span class="subtitle is-6 is-heavy">Marketing Manager @ dBs (Berlin)</span>
                </div>
            </div>
            <hr>
            <div class="content">
                {{{__ "client6"}}}
            </div>
        </div>
    </div>
</div>

<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/icons/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <span class="title is-4 is-heavy">Elsa Jimenez<span>
                            <span class="subtitle is-6 is-heavy">CMO @ Absortech (Sweden)</span>
                </div>
            </div>
            <hr>
            <div class="content"> {{{__ "client7"}}}
            </div>
        </div>
    </div>
</div>

<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/icons/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <span class="title is-4 is-heavy">Thomas Rosa Da Silva<span>
                            <span class="subtitle is-6 is-heavy">Founder @ ImmobilienFoto (Berlin)</span>
                </div>
            </div>
            <hr>
            <div class="content"> {{{__ "client8"}}}
            </div>
        </div>
    </div>
</div>
<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/icons/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <span class="title is-4 is-heavy">Sebastian Lindig<span>
                            <span class="subtitle is-6 is-heavy">Founder @ Made for Rain (Berlin)</span>
                </div>
            </div>
            <hr>
            <div class="content"> {{{__ "testimonialMadeForRain"}}}
            </div>
        </div>
    </div>
</div>

<div class="column is-6">
    <div class="card testimonial-card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 no-margins">
                        <img class="is-rounded" src="/icons/redlight.png" alt="Profile image">
                    </figure>
                </div>
                <div class="media-content">
                    <span class="title is-4 is-heavy">Mina Marmolejo<span>
                            <span class="subtitle is-6 is-heavy">Founder @ Emporium (UK)</span>
                </div>
            </div>
            <hr>
            <div class="content"> {{{__ "testimonialEmporium"}}}
            </div>
        </div>
    </div>
</div>