<!DOCTYPE html>
<html lang="en">

<head>


    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-53H275L');
    </script>
    <!-- End Google Tag Manager -->
    <meta charSet="utf-8" />
    <title>{{title}}</title>
    <meta name="google-site-verification" content="maGJsiSkIRdRtKgB-EaxprXlSypURuYAYTa2OzxvXXo" />
    <meta name="description" content="{{description}}" />
    <link rel="canonical" href="{{canonical}}" />
    <link rel="alternate" hreflang="en" href="{{canonical}}" />
    <link rel="alternate" hreflang="de" href="{{alt}}" />
    <link rel="alternate" hreflang="x-default" href="{{requrl}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:url" content="{{canonical}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="seoberlino Berlin" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/homepage-illustration.jpg" />
    <meta name="ahrefs-site-verification" content="0644478093bed010dd15da78f531b84f32ccf979f8dcc1c5cda04854131e011b">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@seoberlino" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:image" content="/images/homepage-illustration.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/bulma.css" />
    <link rel="stylesheet" href="https://use.typekit.net/wal3lcu.css">
    <link rel="stylesheet" href="bower_components/aos/dist/aos.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="google-site-verification" content="oF1-hfVAGySaz7pJ1kWDPQa2u_ZwhTFk54__ovCcI5A" />
    <script data-cookie-notice='{ "learnMoreLinkEnabled": true, "learnMoreLinkHref": "/de/datenschutz" }' src="https://unpkg.com/cookie-notice@^1/dist/cookie.notice.min.js"></script>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=268214501070430&autoLogAppEvents=1" nonce="ENrofrXS"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53H275L" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="ruler-1-left"></div>
    <div class="ruler-1-right"></div>
    {{>nav}}{{{body}}}
    {{>footer}}
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 200,
            duration: 1500,
            easing: 'ease-in-sine',
            delay: 100
        });
    </script>
</body>
<script src="/js/scrollreveal.min.js"></script>
<script src="/js/general-min.js"></script>

</html>