<!DOCTYPE html>
<html lang="de">
  <head>
      <meta charSet="utf-8" />

      <title>{{title}}</title>
      <meta name="description" content="{{description}}"</>
      <link
        rel="canonical"
        href="{{canonical}}"
      />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" type="text/css" href="/stylesmob.css" />
    <link rel="stylesheet" type="text/css" href="/fonts.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-103006854-1"
    ></script>

    <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-53H275L");
    </script>
    <!-- End Google Tag Manager -->

    <meta
      name="google-site-verification"
      content="v54iEJfnZxc4xBVbC9LAvbxZA8sM48TjcD18LBAojKo"
    />

    <script type="application/ld+json"> {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "additionalType": "http://www.productontology.org/id/Search_engine_optimization",
    "name": "SEO Berlino",
    "url": "https://www.seoberlino.com/en",
    "description": "SEO Consultant & SEO Freelancer in Berlin",
    "email": "alex@seoberlino.com",

    "telephone": "+49 15787011932",
    "hasMap": "https://www.google.com/maps/place/SEO+%26+Analytics+Consultant+and+Freelancer/@52.4860441,13.4413452,16z/data=!4m5!3m4!1s0x0:0xc0549535ce468e56!8m2!3d52.4884039!4d13.4405561",

    "logo": {
     "@type": "ImageObject",
     "url": "https://www.seoberlino.com/logo.jpg",
     "width": 600,
     "height": 600
    },
    "address": [{
     "@type": "PostalAddress",
     "streetAddress": "Kiehlufer 11",
     "addressLocality": "Berlin",
     "addressRegion": "Berlin",
     "postalCode": "12059",
     "addressCountry": "DE"
    }],


    "openingHoursSpecification": [{
     "@type": "OpeningHoursSpecification",
     "dayOfWeek": [
     "Monday",
     "Tuesday",
     "Wednesday",
     "Thursday",
     "Friday"
     ],
     "opens": "08:00",
     "closes": "18:00"
    }]
    }
    </script>
  </head>



  <body>
      <div class="languageBtn2">

      <a
        class="languageBtnEN"
        href="{{requrl}}"

      >EN</a>
    </div>

  <!-- Google Tag Manager (noscript) -->
  <noscript
    ><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-53H275L"
      height="0"
      width="0"
      style="display:none;visibility:hidden"
    ></iframe
  ></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{>nav}}


  {{{body}}}
  <div class="languageBtn">

  <a
    class="languageBtnEN"
    href="{{requrl}}"

  >EN</a></div>

{{>footer}}

</body>

</html>
