<!DOCTYPE html>
<html lang="de">
  <head>
      <meta charSet="utf-8" />
      <meta name="google-site-verification" content="0Kl38gjoAwe4tBAs3zXTeeWJCQbxQ4-JBMoNi_h1j2A" />

      <title>{{title}}</title>
      <meta name="description" content="{{description}}"</>
      <link
        rel="canonical"
        href="{{canonical}}"
      />
      <meta property="og:title" content="{{title}}" />
      <meta property="og:url" content="{{canonical}}" />
      <meta property="og:locale" content="de_DE" />
      <meta property="og:description" content="{{description}}" />
  <meta property="og:locale:alternate" content="en_GB" />
  <meta property="og:site_name" content="SEO Berlino" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@seoberlino" />
  <meta name="twitter:title" content="{{title}}" />
  <meta name="twitter:description" content="{{description}}" />
  <meta name="twitter:image" content="/logo.jpg" />


    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" type="text/css" href="/stylesmob.css" />
    <link rel="stylesheet" type="text/css" href="/fonts.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-103006854-1"
    ></script>

    <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-53H275L");
    </script>
    <!-- End Google Tag Manager -->

    <meta
      name="google-site-verification"
      content="v54iEJfnZxc4xBVbC9LAvbxZA8sM48TjcD18LBAojKo"
    />


  </head>



  <body>
      <div class="languageBtn2">

      <a
        class="languageBtnEN"
        href="/en"

      >EN</a>
    </div>


  <!-- Google Tag Manager (noscript) -->
  <noscript
    ><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-53H275L"
      height="0"
      width="0"
      style="display:none;visibility:hidden"
    ></iframe
  ></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{>nav}}


  {{{body}}}


{{>footer}}


</body>

</html>
