<!DOCTYPE html>
<html lang="de">

<head>
    <meta charSet="utf-8" />
    <meta name="google-site-verification" content="0Kl38gjoAwe4tBAs3zXTeeWJCQbxQ4-JBMoNi_h1j2A" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <link rel="canonical" href="{{canonical}}" />
    <link rel="alternate" hreflang="de" href="{{canonical}}" />
    <link rel="alternate" hreflang="en" href="{{alt}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:url" content="{{canonical}}" />
    <meta property="og:locale" content="de_DE" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:site_name" content="SEO Berlin" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@seoberlino" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:image" content="/logo.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/bulma.css" />
    <link rel="stylesheet" href="https://use.typekit.net/wal3lcu.css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103006854-1"></script>
    <script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
            document.body.classList.toggle("frozen");
          });
        });
      }
      var dropdownArrow = document.getElementsByClassName("dropdown-arrow");
      var dropdownMenu = document.getElementsByClassName("navbar-dropdown");

      var mobileDropdownActivate = function() {
        var attribute = this.classList.toggle('is-active');
      };

      for (var i = 0; i < dropdownArrow.length; i++) {
          dropdownArrow[i].addEventListener('click', mobileDropdownActivate, false);
      }
    });
    </script>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                "gtm.start": new Date().getTime(),
                event: "gtm.js"
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-53H275L");
    </script>
    <meta name="google-site-verification" content="v54iEJfnZxc4xBVbC9LAvbxZA8sM48TjcD18LBAojKo" />
</head>

<body>
    <div class="ruler-1-left"></div>
    <div class="ruler-1-right"></div>
    <div class="languageBtn2"> <a class="languageBtnEN" href="{{alt}}">EN</a> </div>
    <noscript><iframe title="map" src="https://www.googletagmanager.com/ns.html?id=GTM-53H275L" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {{>nav}}{{{body}}}{{>footer}}
</body>

</html>
