<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-12-desktop">
                    <div class="boxcolor" data-aos="fade-in"><br>
                        <h1 class="h1HP is-heavy is-white has-text-centered" data-aos="fade-up-top">Google Ads {{{__ "consultancy"}}}</h1><br>
                    </div><br>

                    <br><br><br>
                    <div class="column is-centered">
                        {{{__ "seaMP1"}}}{{{__ "seaMP11"}}}
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>


<!-- Audit Block-->
<section class="audit-hero off-white hero is-medium">
    <div class="hero-body remove-padding">

        <div class="container reduced has-text-centered boost-margin">
            <div class="columns is-centered has-text-centered is-multiline pill-list">
                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Keyword Research</h4>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Set-up</h4>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Campaign optimization</p>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Ads Testing</h4>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Follow up with reports and analysis</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="about-hero boxcolor hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered">
                <div class="column is-12-mobile is-10-tablet is-12-desktop is-centered">
                    <h2 class="title is-3 is-heavy boost-margin has-text-centered is-white">SEA Projects</h2>
                    <div class="is-multiline logo-container">

                        <div class="is-3-mobile is-3-tablet is-4-desktop">
                            <img class="client-logo BSH" alt="BSH logo" src="/images/clients/BSHLogo.png" /><br><br>
                        </div>
                    </div>

                    <p class="subtitle is-4 is-white">With BSH: Successfully localised and implemented Paid Search Campaigns for various campaigns (Crisp Club and Spice Up): Social Media Advertising (Facebook and Instagram) and Google Ads.</p>
                    <br>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">

                <div class="column is-12-mobile is-7-tablet is-7-desktop post">

                    <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "seaMPT1"}}} </h2>
                    <p>{{{__ "seaMP1"}}}</p><br><br>

                    <h2 class="title is-4 is-heavy">{{{__ "seaMPT2"}}}</h2>
                    <p>{{{__ "seaMP2"}}}</p><br><br>
                    <h2 class="title is-4 is-heavy">{{{__ "seaMPT3"}}}</h2>
                    <p>{{{__ "seaMP3"}}}</p><br><br>
                    <h2 class="title is-4 is-heavy">{{{__ "seaMPT4"}}}</h2>
                    <p>{{{__ "seaMP4"}}}</p><br><br>
                    <h2 class="title is-4 is-heavy">{{{__ "seaMPT5"}}}</h2>
                    <p>{{{__ "seaMP5"}}}</p>

                </div>

            </div>
        </div>
    </div>
</section>

<a class="white" href="/{{{__ "lang"}}}/references">
    <section class="clients-hero boxcolor hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h2 class="title is-3 is-white is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>
                {{>clientssmall-min}}
            </div>
        </div>
    </section>
</a>

</div>

{{>formcontact-min}}
<div class="fb-like columns is-centered" data-href="https://www.seoberlino.com/en" data-width=64 data-layout="standard" data-action="like" data-size="small" data-share="true"></div><br><br>