<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-12-desktop">
                    <div class="boxcolor" data-aos="fade-in"><br>
                        <h1 class="h1HP is-heavy is-white has-text-centered" data-aos="fade-up-top">Content Marketing - Copywriting</h1><br>
                    </div><br>


                </div>
                <div class="columns is-centered has-text-centered">
                    <div class="column is-10">
                        <p class="subtitle is-5 is-red">{{{__ "contentMP1"}}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="hero-body off-white remove-padding">
    <div class="container reduced has-text-centered boost-margin">
        <div class="columns is-centered has-text-centered is-multiline pill-list">
            <div class="column is-3">
                <div class="pill"> <span class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/keyword-research">{{{__ "keywordresearch"}}}</a></span> </div>
            </div>
            <div class="column is-3">
                <div class="pill"> <span class="subtitle is-6 is-heavy">Analysis current traffic</span> </div>
            </div>
            <div class="column is-3">
                <div class="pill"> <span class="subtitle is-6 is-heavy">Analysis existing content</span>
                </div>
            </div>
            <div class="column is-3">
                <div class="pill"> <span class="subtitle is-6 is-heavy">Prioritization list content creation</span> </div>
            </div>
            <div class="column is-3">
                <div class="pill">
                    <span class="subtitle is-6 is-heavy"> <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/{{{__ "competitorURL"}}}">{{{__ "analyticsHP3U"}}}</a></span>
                </div>
            </div>
            <div class="column is-3">
                <div class="pill"> <span class="subtitle is-6 is-heavy">Content Copywriting</span> </div>
            </div>
            <div class="column is-3">
                <div class="pill"> <span class="subtitle is-6 is-heavy">Follow up with reports and analysis</a></span> </div>
            </div>
        </div>
    </div><br><br>

    <div class="hero-body content white remove-padding">
        <div class="container reduced boost-margin">
            <h2 id="duplicatecontent" class="title is-2 is-heavy reduced-top-margin">{{{__ "contentMPT1"}}}</h2>
            <h2 class="title is-4 is-heavy">{{{__ "contentMPT1"}}}</h2>
            <p>{{{__ "contentMP1"}}}</p>

            <h2 class="title is-4 is-heavy">{{{__ "contentMPT2"}}}</h2>
            <p>{{{__ "contentMP2"}}}</p>

            <h2 class="title is-4 is-heavy">{{{__ "contentMPT3"}}}</h2>
            <p>{{{__ "contentMP3"}}}</p>

            <br><br> <br><br>
            <h2 id="duplicatecontent" class="title is-2 is-heavy reduced-top-margin">{{{__ "onpageHP9"}}}</h2>


            <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "duplicateMPT1"}}}</h2>
            <p>{{{__ "duplicateMP1"}}}</p>

            <h2 class="title is-4 is-heavy">{{{__ "duplicateMPT2"}}}</h2>
            <p>{{{__ "duplicateMP2"}}}</p>

            <h2 class="title is-4 is-heavy">{{{__ "duplicateMPT3"}}}</h2>
            <p>{{{__ "duplicateMP3"}}}</p>

            <h2 class="title is-4 is-heavy">{{{__ "duplicateMPT4"}}}</h2>
            <p>{{{__ "duplicateMP4"}}}</p>
            <br><br><br>


            <h2 id="landingpages" class="title is-2 is-heavy reduced-top-margin">{{{__ "onpageHP2"}}}</h2>


            <p>{{{__ "landingMP1"}}}</p>
            <h2 class="title is-4 is-heavy">{{{__ "landingMPT2"}}}</h2>
            <p>{{{__ "landingMP2"}}}</p>
            <h2 class="title is-4 is-heavy">{{{__ "landingMPT3"}}}</h2>
            <p>{{{__ "landingMP3"}}} </p>
            <h2 class="title is-4 is-heavy">{{{__ "landingMPT4"}}}</h2>
            <p>{{{__ "landingMP4"}}} </p>
            <h2 class="title is-4 is-heavy"><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/technical-seo">{{{__ "technicalseo"}}}</a></h2>
            <p>{{{__ "landingMP5"}}} </p>
            <br><br><br>

        </div>
    </div>
</div>

</section>

{{>results-min}}
<section class="clients-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">
            <h2 id="clients" class="title h1HP is-red is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>


            <hr>{{>clients-min}}
        </div>
    </div>
</section>
<section class="testimonials-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">
            <div class="columns is-multiline has-text-left">{{>testimonials-min}}</div>
        </div>
    </div>
</section>

{{>formcontact-min}}

</div>