<div class="main">


    <div class="services2">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/lexical"> Lexicon </a>



        </div>
        <h1 class="h1services"> Alt Attributes, alt tags</h1>
        <h2>{{{__ "definition"}}}</h2>
        <div class="serviceText">
            {{{__ "altattributeMP"}}}
        </div>

        <h2>{{{__ "example"}}}</h2>
        <div class="serviceText">
            <xmp>
                <img src="/image.jpg" alt="your-alt-attribute-here"/a> </xmp> </div> <h2> </h2>
                <div class="serviceText"></div>
                <h2> </h2>
                <div class="serviceText"></div>


        </div>


    </div>


    {{>extendedlexical}}