<div class="content single-post lexicon lexicon-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/auditmainpic/competitor.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-12-mobile is-10-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">AMP & SEO</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Lexicon Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}">{{{__ "services"}}}</a></li>
                                <li><a href="/{{{__ "lang"}}}/seo">SEO</a></li>
                                <li><a href="/{{{__ "lang"}}}/lexical">Lexicon</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-10-desktop post">
                        <h2 class="title is-4 is-heavy">{{{__ "definition"}}}</h2>
                        <p>{{{__ "amppagesMP"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "example"}}}</h2>
                        <xmp>
                            <!doctype html>
                            <html amp lang="en">

                            <head>
                                <meta charset="utf-8">
                                <script async src="https://cdn.ampproject.org/v0.js"></script>
                                <title>Hello, AMPs</title>
                                <link rel="canonical" href="http://example.ampproject.org/article-metadata.html">
                                <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
                                <script type="application/ld+json">
                                    {
                                        "@context": "http://schema.org",
                                        "@type": "NewsArticle",
                                        "headline": "Open-source framework for publishing content",
                                        "datePublished": "2015-10-07T12:02:41Z",
                                        "image": [
                                            "logo.jpg"
                                        ]
                                    }
                                </script>
                                <style amp-boilerplate>
                                    body {
                                        -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
                                        -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
                                        -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
                                        animation: -amp-start 8s steps(1, end) 0s 1 normal both
                                    }

                                    @-webkit-keyframes -amp-start {
                                        from {
                                            visibility: hidden
                                        }

                                        to {
                                            visibility: visible
                                        }
                                    }

                                    @-moz-keyframes -amp-start {
                                        from {
                                            visibility: hidden
                                        }

                                        to {
                                            visibility: visible
                                        }
                                    }

                                    @-ms-keyframes -amp-start {
                                        from {
                                            visibility: hidden
                                        }

                                        to {
                                            visibility: visible
                                        }
                                    }

                                    @-o-keyframes -amp-start {
                                        from {
                                            visibility: hidden
                                        }

                                        to {
                                            visibility: visible
                                        }
                                    }

                                    @keyframes -amp-start {
                                        from {
                                            visibility: hidden
                                        }

                                        to {
                                            visibility: visible
                                        }
                                    }
                                </style><noscript>
                                    <style amp-boilerplate>
                                        body {
                                            -webkit-animation: none;
                                            -moz-animation: none;
                                            -ms-animation: none;
                                            animation: none
                                        }
                                    </style>
                                </noscript>
                            </head>

                            <body>
                                <h1>Welcome to the mobile web</h1>
                            </body>

                            </html>
                        </xmp>

                        <h2 class="title is-4 is-heavy">Images </h2>


                        <xmp>
                            <amp-img src="welcome.jpg" alt="Welcome" height="400" width="800"></amp-img>
                        </xmp>

                        <h2 class="title is-4 is-heavy">Linking</h2>


                        <xmp>Add the following to the non-AMP page:

                            <link rel="amphtml" href="https://www.example.com/url/to/amp/document.html">

                            And this to the AMP page:
                            <link rel="canonical" href="https://www.example.com/url/to/full/document.html">
                        </xmp>



                    </div>
                </div><br><br>{{>articlesCTA}}

            </div>
        </div>
    </section>