<div class="main">

  <img
    src="/auditmainpic/analytics.jpg"
    title="analytics, a photo by Carlos Muza"
    alt="analytics SEO"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/resources"}> SEO </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/research"}> RESEARCH </a>
    </div>

    <h1 class="h1services"> SEO Analytics</h1>
    <h2> {{{__ "analyticsMPT1"}}} </h2>
    <div class="serviceText">{{{__ "analyticsMP1"}}} </div>
    <h2> Google Analytics</h2>
    <div class="serviceText">{{{__ "analyticsMP2"}}}</div>

    <h2>{{{__ "analyticsMPT3"}}}</h2>
    <div class="serviceText">{{{__ "analyticsMP3"}}}</div>

    <h2>{{{__ "analyticsMPT4"}}}</h2>
    <div class="serviceText">{{{__ "analyticsMP4"}}}</div>

    <h2> {{{__ "relevanttools"}}}</h2>
    <div class="serviceText">
      <footer>Google Analytics </footer>
      <footer>Google Search Console</footer>

      <footer>Site Catalyst / Omniture</footer>
      <footer>GA Guide</footer>
    </div>
    <div class="black slide-in-left sideLinks">
      <a
        class="block"
        href="/{{{__ "lang"}}}/research/localseo"}
      >
        {{{__ "analyticsHP1U"}}}
      </a>
      <a class="block bold">{{{__ "analyticsHP2U"}}}</a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/research/competitor-analysis"}
      >
        {{{__ "analyticsHP3U"}}}
      </a>
      <a class="block" href="/{{{__ "lang"}}}/research/sea"}>
        {{{__ "analyticsHP6U"}}}
      </a>
    </div>
  </div>
</div>
