<div class="main">

  <img
    src="/auditmainpic/linkmain.jpg"
    title="Links, bild von JJ Ying"
    alt="links für SEO"
    class="imageAudit"
  />

  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="fleche" />

      <a href="/de"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" alt="fleche" />


      <a href="/de/seo"> SEO </a>
      <img class="iconsmore2" src="/arrow.png" alt="fleche" />


      <a href="/de/offpage"> OFFPAGE </a>
    </div>

    <div class="infoTitle">
      <h1 class="h1services"> Backlink Untersuchung</h1>
    </div>

    <div>
      <div class="serviceText">
        <p>
          {{{__ "BLanalysis1"}}}
          <a href="/de/offpage/{{{__ "brandbuildingURL"}}}">
            brand building
          </a>
        </p>
      </div>
      <img
        src="/offpage.svg"
        class="bigicon"
        heigth="200px"
        width="200px"
        alt="Backlink Analyse"
      />
      <h2>{{{__ "BLanalysisT1"}}}</h2>
      <div class="serviceText">{{{__ "BLanalysis2"}}}</div>
      <img
        src="/qualityoverquantity.jpeg"
        class="bigicon"
        heigth="200px"
        width="200px"
        alt="Backlink Analyse"

      />
      <h2>{{{__ "BLanalysisT2"}}}</h2>

      <div class="serviceText">{{{__ "BLanalysis3"}}}</div>
      <h2>{{{__ "BLanalysisT3"}}}</h2>
      <div class="serviceText">{{{__ "BLanalysis4"}}}</div>
      <h2>{{{__ "BLanalysisT4"}}}</h2>
      <div class="serviceText">{{{__ "BLanalysis5"}}}</div>
      <h2>{{{__ "BLanalysisT5"}}}</h2>
      <div class="serviceText">{{{__ "BLanalysis6"}}}</div>
      <h2>{{{__ "BLanalysisT6"}}}</h2>
      <div class="serviceText">{{{__ "BLanalysis7"}}}</div>
      <h2> {{{__ "relevanttools"}}}</h2>
      <div class="serviceText">
        <a
          target="blank"
          class="block"
          href="https://moz.com/link-explorer"
        >
          Moz Link Explorer
        </a>
        <a
          target="blank"
          class="block"
          href="https://de.majestic.com/"
        >
          Majestic SEO
        </a>
        <a target="blank" class="block" href="https://ahrefs.com/de/">
          ahrefs
        </a>
      </div>
    </div>
    <div class="sideLinks black ">
      <span class="block bold">
        {{{__ "offpageHP1U"}}}
      </span>
      <a
        class="block"
        href="/de/offpage/{{{__ "brandbuildingURL"}}}"
      >
        {{{__ "offpageHP3U"}}}, {{{__ "offpageHP4U"}}}
      </a>
      <a class="block" href="/de/offpage/{{{__ "linksURL"}}}">
        {{{__ "offpageHP5U"}}}
      </a>
    </div>


  </div>
</div>
