<div class="main">
    <img src="/auditmainpic/linkmain.jpg" title="Links, a photo by JJ Ying" alt="backlinking" class="imageAudit" />

    <div class="services">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />

            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}/{{{__ "offpage"}}}"> OFFPAGE </a>
        </div>

        <div class="infoTitle">
            <h1 class="h1services"> Backlink Analysis & Audit in 2019</h1>
        </div>

        <div>
            <div class="serviceText">
                <p>
                    {{{__ "BLanalysis1"}}}
                    <a href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "brandbuildingURL"}}}">
                        brand building
                    </a>
                </p>
            </div>

            <h2>Backlink Analysis with Link Explorer</h2>

            <img class="searchconsole" src="/linkexplorer1.png" alt="Link Explorer" /><br><br>


            <h2>Backlink Analysis with Ahrefs</2>
                <div class="serviceText">

                    <h4> UR: URL Rating, DR: Domain Rating, Number of backlinks</h4>
                    <img class="searchconsole" src="/ahref1.png" alt="Ahrefs Backlinks" /><br><br>

                    <h4> The most important: Organic Traffic </h4>
                    <img class="searchconsole" src="/ahrefs2.png" alt="Ahrefs Organische Traffic" /><br><br>

                    <h4>Quality of the Backlinks</h4>
                     <img class="searchconsole" src="/ahrefs3.png" alt="Ahrefs Qualität der Backlinks" /><br><br>

                    <h4> Where the backlinks come from</h4>
                     <img class="searchconsole" src="/ahrefs5.png" alt="Ahref Woher die Backlinks kommen" /><br><br>

                </div>


                <h2>{{{__ "BLanalysisT1"}}}</h2>
                <div class="serviceText">{{{__ "BLanalysis2"}}}</div>

                <h2>{{{__ "BLanalysisT2"}}}</h2>

                <div class="serviceText">{{{__ "BLanalysis3"}}}</div>
                <h2>{{{__ "BLanalysisT3"}}}</h2>
                <img class="searchconsole" src="/ahrefs7.png" alt="Ahrefs" /><br><br>

                <div class="serviceText">{{{__ "BLanalysis4"}}}</div>
                <h2>{{{__ "BLanalysisT4"}}}</h2>
                <div class="serviceText">{{{__ "BLanalysis5"}}}</div>
                <h2>{{{__ "BLanalysisT5"}}}</h2>
                <img class="searchconsole" src="/ahrefs6.png" alt="Ahrefs" /><br><br>
                <div class="serviceText">{{{__ "BLanalysis6"}}}</div>
                <h2>{{{__ "BLanalysisT6"}}}</h2>
                <div class="serviceText">{{{__ "BLanalysis7"}}}</div>
                <h2> {{{__ "relevanttools"}}}</h2>
                <div class="serviceText">
                    <a target="blank" class="block" href="https://moz.com/link-explorer">
                        Moz Link Explorer
                    </a>
                    <a target="blank" class="block" href="https://de.majestic.com/">
                        Majestic SEO
                    </a>
                    <a target="blank" class="block" href="https://ahrefs.com/de/">
                        ahrefs
                    </a>
                </div>
        </div>
        <div class="sideLinks black ">
            <span class="block bold">
                {{{__ "offpageHP1U"}}}
            </span>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "brandbuildingURL"}}}">
                {{{__ "offpageHP3U"}}}, {{{__ "offpageHP4U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "linksURL"}}}">
                {{{__ "offpageHP5U"}}}
            </a>
        </div>




    </div>
</div>