<div class="main">
    <div class="services2"> <br><br><br><br>
        <div class="infoTitle">
            <h1 class="h1services2">{{{__ "servicesh1"}}}</h1>
        </div> <br><br><br><br>
        <div class="marginright">
        </div><br>
    </div>
    <div class="intro2">
        <div class="serviceQuarter border22">
            <img class="icon" src="/audit.svg" /><br>
            <h2 class="black2"><a href="/{{{__ "lang"}}}/audit">seo audit</a></h2><br><br>
            <p class="txt2">{{{__ "intro9"}}}</p>
            <p class="txt2"><a href="/{{{__ "lang"}}}/onpage/{{{__ "kwrechercheURL"}}}">{{{__ "hey4"}}}</a></p>
            <p class="txt2">{{{__ "hey3"}}}</p>
            <p class="txt2">{{{__ "hey5"}}}</p>
            <p class="txt2">{{{__ "hey8"}}}</p>
            <p class="txt2">{{{__ "hey7"}}}</p>
        </div>
        <div class="serviceQuarter border22">
            <img class="icon" src="/content.jpeg" /><br>
            <h2 class="black2"><a href="/{{{__ "lang"}}}/content">content growth hacking</a></h2><br><br>
            <p class="txt2">{{{__ "growthhacking"}}}</p>
            <p class="txt2"><a href="/{{{__ "lang"}}}/onpage/{{{__ "kwrechercheURL"}}}">{{{__ "hey4"}}}</a></p>
            <p class="txt2">Objective based on current performance and priority</p>
            <p class="txt2">Content Analysis best practices</p>
            <p class="txt2">Localised content creation</p>
        </div>
        <div class="serviceQuarter border22">
            <img class="icon" src="/backlinks.png" /><br>
            <h2 class="black2"><a href="/{{{__ "lang"}}}/backlinks">link building</a></h2><br><br>
            <p class="txt2">{{{__ "hey7"}}}</p>
            <p class="txt2">Backlink quality analysis</p>
            <p class="txt2">Campaign Planning</p>
            <p class="txt2">Brand awareness & featured publication </p>
        </div>
    </div><br><br><br>
    <div class="intro2">
        <div class="serviceQuarter border22">
            <img class="icon" src="/analytics.png" /><br>
            <h2 class="black2"><a href="/{{{__ "lang"}}}/analytics">analytics</a></h2><br><br>
            <p class="txt2">{{{__ "analytics1"}}}</p>
            <p class="txt2">{{{__ "analytics2"}}}</p>
            <p class="txt2">{{{__ "analytics3"}}}</p>
            <p class="txt2">{{{__ "analytics4"}}}</p>
            <p class="txt2">{{{__ "analytics5"}}}</p>
        </div>
        <div class="serviceQuarter border22">
            <img class="icon" src="/sea.png" /><br>
            <h2 class="black2"><a href="/{{{__ "lang"}}}/sea">Google Ads & Facebook & Instagram</a></h2><br><br>
            <p class="txt2">Google Ads Setup & {{{__ "optimization"}}}</p>
            <p class="txt2">Facebook Ads Setup & {{{__ "optimization"}}}</p>
            <p class="txt2">Instagram Ads Setup & {{{__ "optimization"}}}</p>
        </div>
        <div class="serviceQuarter border22">
            <img class="icon" src="/brand.png" /><br>
            <h2 class="black2"><a href="/{{{__ "lang"}}}/backlinks">brandbuilding</a></h2><br><br>
            <p class="txt2">{{{__ "brandbuilding1"}}}</p>
            <p class="txt2">{{{__ "brandbuilding2"}}}</p>
            <p class="txt2">{{{__ "brandbuilding3"}}}</p>
        </div>
    </div>
</div><br><br><br><br><br><br>{{>clients}}