<div class="content link-building audit-en">

    <!-- Intro Audit Block-->
    <section class="audit-hero hero is-large-intro">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <h1 class="title is-2 is-heavy boost-margin has-text-centered">Agile SEO {{{__ "with"}}} Scrum</h1>

                <div class="columns is-centered has-text-centered">
                    <div class="column is-10">
                        <p class="subtitle is-4"> {{{__ "agileHP"}}}

                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section>



    <!-- Audit Block-->
    <section class="audit-hero off-white hero is-medium">
        <div class="hero-body remove-padding">

            <div class="container reduced has-text-centered boost-margin">

                <div class="columns is-centered has-text-centered is-multiline pill-list">
                    <div class="column is-3">
                        <div class="pill">
                            <h4 class="subtitle is-6 is-heavy">Organisation Audit</h4>
                        </div>
                    </div>

                    <div class="column is-3">
                        <div class="pill">
                            <h4 class="subtitle is-6 is-heavy">Backlog creation & correction</h4>
                        </div>
                    </div>

                    <div class="column is-3">
                        <div class="pill">
                            <h4 class="subtitle is-6 is-heavy">Agile training</p>
                        </div>
                    </div>

                    <div class="column is-3">
                        <div class="pill"><span>
                                <h4 class="subtitle is-6 is-heavy">Sprint implementation </h4>
                                <p>{{{__ "with"}}} Konban, Daily Standups, Grooming, Sprint planning and Retrospective</p>
                            </span></div>
                    </div>

                    <div class="column is-3">
                        <div class="pill">
                            <h4 class="subtitle is-6 is-heavy">Follow-up: Reports, Sprint Velocity</h4>
                        </div>
                    </div>



                </div>

                <a class="button is-large is-primed is-medium boost-margin-top" href="/{{{__ "lang"}}}/contact">
                    {{{__ "about"}}}
                </a>


            </div>
        </div>
    </section>
</div>