<div class="content consultancy-en">
    <!-- Intro Services Block-->
    <section class="services-hero hero is-large-intro">


        <div class="hero-body remove-padding">

            <div class="container reduced has-text-centered">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li class="is-active"><a class="bold">{{{__ "consultant"}}}</a></li>
                        <li class="is-active"><a class="bold">Agile Coach</a></li>
                    </ul>
                </nav><br><br>
                <h1 class="title is-2 is-heavy boost-margin">Agile Coach & Scrum {{{__ "consultant"}}} in Berlin </h1>
                <br><br><br>

                <div class="columns is-centered">
                    <div class="column is-6">
                        <div class="contact-details">
                            <div class="profile-photo"></div>
                            <div class="details">
                                <h3 class="subtitle is-5 reduced-margin">Alex Bieth, MBA</h3> <br>

                                <h3 class="subtitle is-5 reduced-margin">T - <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a><br>
                                    <h3 class="subtitle is-5 reduced-top-margin">E - <a href="mailto:alex@seoberlino.com">alex@seoberlino.com</a>
                            </div>




                        </div>
                        <br><br><br>

                    </div>
                    <div class="column is-6">



                        {{{__ "agileHP"}}}<br><br><br>

                        <div class="details">


                            <a class="button is-primed is-outlined is-black is-medium" href="/{{{__ "lang"}}}/contact">
                                {{{__ "profile"}}} </a>
                        </div>

                    </div>
                </div>


                <br><br><br>




            </div>

            <div class="hero-body remove-padding">
                <div class="container reduced">

                    <h2 class="has-text-centered title is-2 ">{{{__ "services"}}}</h2> <br><br><br>


                    <div class="columns is-centered has-text-centered is-multiline pill-list">

                        <div class="column is-3">
                            <div class="pill">
                                <h4 class="subtitle is-6 is-heavy">Audit</h4>
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="pill">
                                <h4 class="subtitle is-6 is-heavy">Backlog creation & correction</h4>
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="pill">
                                <h4 class="subtitle is-6 is-heavy">Agile training</p>
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="pill"><span>
                                    <h4 class="subtitle is-6 is-heavy">Sprint implementation </h4>
                                    <p>{{{__ "with"}}} Kanban, Daily Stand-ups, Grooming, Sprint planning and Retrospective</p>
                                </span></div>
                        </div>

                        <div class="column is-3">
                            <div class="pill">
                                <h4 class="subtitle is-6 is-heavy">Follow-up: Reports, Sprint Velocity</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </section>


    <section class="services-hero hero is-large-intro">


        <section class="about-hero off-white hero is-medium">

            <div class="container reduced"><br><br>
                <h2 class="has-text-centered title is-2 ">{{{__ "Experience"}}}</h2>

                <div class="columns is-centered">

                    <div class="column is-12-mobile is-10-tablet is-12-desktop is-centered">
                        <br><br>
                        <div class="is-multiline logo-container">

                            <div class="is-3-mobile is-3-tablet is-4-desktop">
                                <img width=200px height=200px alt="HelloFresh logo" src="/images/clients/hellofresh_dark.svg" />
                            </div>
                        </div><br>

                        <p class="subtitle is-4">With HelloFresh: Successfully implemented Scrum in the Marketing Business Analytics Team.</p> <br>

                        <p class="is-4 is-aligned-left" color="white">
                            • Backlog Refinement (from over 1k items to less than 300)<br>
                            • Coaching and Implementation of Scrum Events <br>
                            • Coach Team for Story Points /Story writing Implementation<br>
                            • Sprint Velocity progress controlling<br>
                            • JIRA Optimization: projects overall & Scrum board / Kanban board (using labels)<br>
                            • Automation from Service portal tickets (components, assignment, versions, etc)<br>
                            • OKRs as epic "themes" and quarterly controlling
                        </p><br>
                        <div class="column is-6 is-centered">
                            <div class="card testimonial-card">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-center">
                                            <figure class="image is-48x48 no-margins">
                                                <img class="is-rounded" src="/icons/redlight.png" alt="Profile image">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <h3 class="title is-4 is-heavy is-black">Sabine Veidemane</h3>
                                            <h4 class="subtitle is-6 is-heavy is-black">Team Lead CRM Analytics - Marketing Content Marketing @ HelloFresh</h4>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="content columns is-centered">Alex joined our HelloFresh Marketing BI team in October 2019 as an Agile expert to completely revamp our messy processes around using Jira for workload planning and
                                        monitoring. Over the
                                        next few months he
                                        set our team up for future success as he switched us to new workflows, Jira boards and working in 2-week Sprints. He introduced Agile ceremonies, such as Sprint planning and Retrospectives, and concepts around
                                        Story Points
                                        for ticket estimation which brought it all to life and made us much more focused and structured! As a Team Lead within Marketing BI, I can say that it also allowed me to bring my stakeholder expectation
                                        management to a
                                        whole new higher level. It was a real pleasure to work with Alex and his down-to-earth and approachable can-do attitude!</div>
                                </div>
                            </div>
                        </div><br><br>

                    </div>

                </div>
            </div>


        </section>





</div>