<div class="content consultancy-en">
    <!-- Intro Services Block-->
    <section class="services-hero hero is-large-intro">


        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h1 class="title is-2 is-heavy boost-margin">{{{__ "servicesh1"}}}</h1>


                <div class="columns is-centered">
                    <div class="column is-6">
                        <div class="contact-details">
                            <div class="profile-photo"></div>
                            <div class="details">
                                <h3 class="subtitle is-5 reduced-margin">Alex Bieth, MBA</h3> <br>

                                <h3 class="subtitle is-5 reduced-margin">T - <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a><br>
                                    <h3 class="subtitle is-5 reduced-top-margin">E - <a href="mailto:alex@seoberlino.com">alex@seoberlino.com</a>
                            </div>




                        </div>
                        <br><br><br>
                        <a class="button is-primed is-outlined is-black is-medium" href="/{{{__ "lang"}}}/contact">
                            {{{__ "Experience"}}} </a>
                    </div>

                    <div class="column is-5-desktop is-offset-1">
                        <div class="skill-card-1">
                            <h3 class="title is-3 is-heavy reduced-margin">{{{__ "contactskills"}}}</h2>
                                <p> SEO, Analytics, {{{__ "intro5"}}}, Scrum Certified, Search Engine Advertising (Google Ads).<br> Languages: Deutsch, English, Français, Castellano</p>
                        </div>

                        <div class="skill-card-2">
                            <h3 class="title is-3 is-heavy reduced-margin">Programming</h2>
                                <p>
                                    React, Vue, Handlebars,
                                    Javascript, JQuery, Node, Express, HTML, CSS, SQL, Postgres

                                </p>
                        </div>

                    </div>
                </div>

                <br><br><br>
                <div class="columns is-centered">
                    <div class="list-block column is-8-mobile is-3-tablet is-4-desktop">
                        <img alt="SEO Audit" class="glyph" src="/images/glyphs/seo-audit-glyph.svg">
                        <h2 class="title is-4 is-black is-heavy"><a href="/{{{__ "lang"}}}/seo-consultant">SEO Audit</a></h2>
                        <p>{{{__ "intro9"}}}</p>
                        <p><a href="/{{{__ "lang"}}}/onpage#keywords">{{{__ "hey4"}}}</a></p>
                        <p><a href="/{{{__ "lang"}}}/onpage">{{{__ "hey3"}}}</a></p>
                        <p><a href="/{{{__ "lang"}}}/technical">{{{__ "hey5"}}}</a></p>
                        <p><a href="/{{{__ "lang"}}}/offpage">{{{__ "hey8"}}}</a></p>
                        <p><a href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "competitorURL"}}}">{{{__ "hey7"}}}</a></p>
                    </div>

                    <div class="list-block column is-8-mobile is-3-tablet is-4-desktop">
                        <img alt="content SEO" class="glyph" src="/images/glyphs/hacking-glyph.svg">
                        <h2 class="title is-4 is-black is-heavy"><a href="/{{{__ "lang"}}}/content">Content Growth Hacking</a></h2>
                        <p>{{{__ "growthhacking"}}}</p>
                        <p><a href="/{{{__ "lang"}}}/onpage#keywords">{{{__ "hey4"}}}</a></p>
                        <p>Objective based on current performance and priority</p>
                        <p>Content Analysis best practices</p>
                        <p>Localised content creation</p>
                    </div>

                    <div class="list-block column is-8-mobile is-3-tablet is-4-desktop">
                        <img alt="SEO Analytics" class="glyph" src="/images/glyphs/analytics-glyph.svg">
                        <h2 class="title is-4 is-black is-heavy"><a href="/{{{__ "lang"}}}/analytics">Analytics</a></h2>
                        <p>{{{__ "analytics1"}}}</p>
                        <p>{{{__ "analytics2"}}}</p>
                        <p>{{{__ "analytics3"}}}</p>
                        <p>{{{__ "analytics4"}}}</p>
                        <p>{{{__ "analytics5"}}}</p>
                    </div>

                </div>
            </div>
    </section>
    <!-- Recent Clients Block-->
    <section class="clients-hero red-gradient hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h2 class="title is-3 is-white is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>
                {{>clients}}
            </div>
        </div>
    </section>

    <!-- Testimonials Block-->
    <section class="testimonials-hero off-white hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h2 class="title is-3 is-heavy boost-margin">{{{__ "testimonialsTitle"}}}</h2>
                <div class="columns is-multiline has-text-left">
                    {{>testimonials}}
                </div>
            </div>




        </div>
    </section>

    <!-- About Block-->
    <section class="about-hero red-gradient hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">
                        <h2 class="title is-3 is-heavy boost-margin has-text-centered">About</h2>

                        <h3 class="subtitle is-5 is-heavy">{{{__ "descriptionHP"}}}</h3>
                        <p class="subtitle is-5">{{{__ "auditintro"}}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Reports Block-->
    <section class="reports-hero off-white hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <h2 class="title is-3 is-heavy boost-margin has-text-centered">Reports with Prioritized Action Plans</h2>

                <div class="columns is-centered">
                    <div class="column is-4-tablet is-5-desktop">
                        <p>{{{__ "auditfocus"}}}</p>
                        <span class="blue-dot-list">{{{__ "auditfocusList"}}}</span>
                    </div>
                    <div class="column is-6-tablet is-7-desktop">
                        <figure class="image is-fullwidth is-outlined">
                            <img alt="backlog" src="/images/diagrams/new-backlog.png">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Success Block-->
    <section class="success-hero off-white hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10-tablet is-12-desktop">
                        {{>results}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="success-hero hero is-medium">
        <div class="columns is-centered">
            <div class="column is-6"><br><br>
                <h2 class="title is-3 is-black is-heavy is-centered">Get in touch</h2>

                <div class="contact-details">
                    <div class="profile-photo"></div>
                    <div class="details">
                        <h3 class="subtitle is-5 reduced-margin">T - <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a><br>
                            <h3 class="subtitle is-5 reduced-top-margin">E - <a href="mailto:alex@seoberlino.com">alex@seoberlino.com</a>
                    </div>
                </div>

                <div class="contact-page-form">
                    {{>formcontact}}
                </div>
            </div>
        </div><br><br><br><br>

    </section>
</div>