<div class="content consultancy-en">
    <!-- Intro Services Block-->
    <section class="services-hero hero is-large-intro">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h1 class="title is-2 is-heavy boost-margin">{{{__ "servicesh1"}}}</h1>
                <div class="columns is-centered">
                    <div class="list-block column is-8-mobile is-3-tablet is-3-desktop">
                        <img class="glyph" src="/images/glyphs/seo-audit-glyph.svg">
                        <h2 class="title is-4 is-black is-heavy"><a href="/{{{__ "lang"}}}/audit">Seo Audit</a></h2>
                        <p>{{{__ "intro9"}}}</p>
                        <p>{{{__ "hey4"}}}</p>
                        <p>{{{__ "hey3"}}}</p>
                        <p>{{{__ "hey5"}}}</p>
                        <p>{{{__ "hey8"}}}</p>
                        <p>{{{__ "hey7"}}}</p>
                    </div>

                    <div class="list-block column is-8-mobile is-3-tablet is-3-desktop">
                        <img class="glyph" src="/images/glyphs/hacking-glyph.svg">
                        <h2 class="title is-4 is-black is-heavy"><a href="/{{{__ "lang"}}}/content">Content Growth Hacking</a></h2>
                        <p>{{{__ "growthhacking"}}}</p>
                        <p>{{{__ "hey4"}}}</p>
                        <p>Objective based on current performance and priority</p>
                        <p>Content Analysis best practices</p>
                        <p>Localised content creation</p>
                    </div>

                    <div class="list-block column is-8-mobile is-3-tablet is-3-desktop">
                        <img class="glyph" src="/images/glyphs/analytics-glyph.svg">
                        <h2 class="title is-4 is-black is-heavy"><a href="/{{{__ "lang"}}}/analytics">Analytics</a></h2>
                        <p>{{{__ "analytics1"}}}</p>
                        <p>{{{__ "analytics2"}}}</p>
                        <p>{{{__ "analytics3"}}}</p>
                        <p>{{{__ "analytics4"}}}</p>
                        <p>{{{__ "analytics5"}}}</p>
                    </div>
                </div>
            </div>
    </section>

    <!-- About Block-->
    <section class="about-hero red-gradient hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">
                        <h2 class="title is-3 is-heavy boost-margin has-text-centered">About</h2>

                        <h3 class="subtitle is-5 is-heavy">{{{__ "descriptionHP"}}}</h3>
                        <p>{{{__ "auditintro"}}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Reports Block-->
    <section class="reports-hero off-white hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <h2 class="title is-3 is-heavy boost-margin has-text-centered">Reports with Prioritized Action Plans</h2>

                <div class="columns is-centered">
                    <div class="column is-4-tablet is-5-desktop">
                        <p>{{{__ "auditfocus"}}}</p>
                        <span class="blue-dot-list">{{{__ "auditfocusList"}}}</span>
                    </div>
                    <div class="column is-6-tablet is-7-desktop">
                        <figure class="image is-fullwidth is-outlined">
                            <img src="/images/diagrams/new-backlog.png">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Success Block-->
    <section class="success-hero off-white hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10-tablet is-12-desktop">
                        {{>results}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
