<div class="main">
    <div class="services2">
        <div class="infoTitle"><br /><br />
            <h1 class="h1services2">SEA Services</h1>
        </div> <br><br><br><br>
        <div class="serviceText">{{{__ "seaMP1"}}}</div><br><br>
        <div class="auditdiv">
            <p class="border"><a href="/{{{__ "lang"}}}/onpage/{{{__ "kwrechercheURL"}}}">Keyword Research</a></p>
            <p class="border"> Set-up</p>
            <p class="border"> Campaign optimization </p>
            <p class="border"> Ads Testing</p>
            <p class="border"> Follow up with reports and analysis</p>
        </div><br><br>

        <a href="/{{{__ "lang"}}}/contact">
            <div class="servicesHP center">{{{__ "about"}}}</div>
        </a>
    </div>
</div><br><br><br><br><br><br>