<div class="content analytics audit-en">

    <!-- Intro Audit Block-->
    <section class="audit-hero hero is-large-intro">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <h1 class="title is-2 is-heavy boost-margin has-text-centered">SEO Analytics</h1>

                <div class="columns is-centered has-text-centered">
                    <div class="column is-10">
                        <h3 class="subtitle is-4">
                            {{{__ "researchHP2"}}}
                        </h3>
                    </div>

                </div>

            </div>
        </div>
    </section>



    <!-- Audit Block-->
    <section class="audit-hero off-white hero is-medium">

        <div class="hero-body remove-padding">


            <div class="container reduced has-text-centered boost-margin">
                <h2 class="title is-3 is-heavy is-centered">{{{__ "servicesHP"}}}</h2>

                <div class="columns is-centered has-text-centered is-multiline pill-list">
                    <div class="column is-4">
                        <div class="pill">
                            <h4 class="subtitle is-6 is-heavy">Set-up & Views Creations (Master, All Data)</h4>
                        </div>
                    </div>

                    <div class="column is-4">
                        <div class="pill">
                            <h4 class="subtitle is-6 is-heavy">Filters & UTM, Custom Channels</h4>
                        </div>
                    </div>

                    <div class="column is-4">
                        <div class="pill">
                            <h4 class="subtitle is-6 is-heavy">Reports & Dashboards</p>
                        </div>
                    </div>

                </div>

                <a class="button is-large is-primed is-medium boost-margin-top" href="/{{{__ "lang"}}}/contact">
                    {{{__ "about"}}}
                </a>

            </div>
        </div>
    </section>

    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">

                    <div class="column is-12-mobile is-7-tablet is-7-desktop post">

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "analyticsMPT1"}}} </h2>
                        <p>{{{__ "analyticsMP1"}}}</p>
                        <h2 class="title is-4 is-heavy">Google Analytics</h2>
                        <p>{{{__ "analyticsMP2"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "analyticsMPT3"}}}</h2>
                        <p>{{{__ "analyticsMP3"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "analyticsMPT4"}}}</h2>
                        <p>{{{__ "analyticsMP4"}}}</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments after-post">

                        <h2 class="title is-4 is-heavy">{{{__ "relevanttools"}}}</h2>

                        <span class="blue-dot-list">
                            <ul>
                                <li>Google Analytics </li>
                                <li>Google Search Console</li>
                                <li>Site Catalyst / Omniture</li>
                                <li>GA Guide</li>
                                <li><a href="/AccessAnalyticsandSearchConsole.pdf">PDF how to give access to Analytics & Search Console</a></li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>