<div class="content link-building audit-en">

    <!-- Intro Audit Block-->
    <section class="audit-hero hero is-large-intro">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <h1 class="title is-2 is-heavy boost-margin has-text-centered">Agile Coach & Scrum {{{__ "consultant"}}} in Berlin </h1>

                <div class="columns is-centered has-text-centered">
                    <div class="column is-10">
                        <p class="subtitle is-4"> {{{__ "agileHP"}}}

                        </p>
                    </div>
                </div>
                <div class="hero-body remove-padding">

                    <div class="container reduced has-text-centered boost-margin">

                        <div class="columns is-centered has-text-centered is-multiline pill-list">
                            <div class="column is-3">
                                <div class="pill">
                                    <h4 class="subtitle is-6 is-heavy">Organisation Audit</h4>
                                </div>
                            </div>

                            <div class="column is-3">
                                <div class="pill">
                                    <h4 class="subtitle is-6 is-heavy">Backlog creation & correction</h4>
                                </div>
                            </div>

                            <div class="column is-3">
                                <div class="pill">
                                    <h4 class="subtitle is-6 is-heavy">Agile training</p>
                                </div>
                            </div>

                            <div class="column is-3">
                                <div class="pill"><span>
                                        <h4 class="subtitle is-6 is-heavy">Sprint implementation </h4>
                                        <p>{{{__ "with"}}} Kanban, Daily Stand-ups, Grooming, Sprint planning and Retrospective</p>
                                    </span></div>
                            </div>

                            <div class="column is-3">
                                <div class="pill">
                                    <h4 class="subtitle is-6 is-heavy">Follow-up: Reports, Sprint Velocity</h4>
                                </div>
                            </div>



                        </div>

                        <a class="button is-large is-primed is-medium boost-margin-top" href="/{{{__ "lang"}}}/contact">
                            {{{__ "about"}}}
                        </a>


                    </div>
                </div>



                <br><br><br>

                <div class="columns is-centered">


                    <div class="column is-6 is-offset-1 intro-image">
                        <img alt="SEO Consultant Illustration" class="illustration" src="/images/landingpage_intro_rocket.jpg" />


                    </div>

                    <div class="column is-5-desktop is-offset-1">
                        <h3> {{{__ "aboutprep"}}} Scrum</h3>

                        <p><a href="/en/scrum/pillars">Scrum’s Three Pillars of Empiricism</a></p>
                        <p><a href="/en/scrum/team">The Scrum Team</a></p>
                        <p><a href="/en/scrum/events">Scrum Events</a></p>
                        <p><a href="/en/scrum/artifacts">Scrum Artifacts & Transparency</a></p>


                    </div>
                </div>

            </div>
    </section>



    <!-- Audit Block-->



</div>