<div class="content consultancy-en">
    <!-- Intro Services Block-->
    <section class="services-hero hero is-large-intro">


        <div class="hero-body">

            <div class="container reduced has-text-centered">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li class="is-active"><a class="bold">{{{__ "consultant"}}}</a></li>
                        <li class="is-active"><a class="bold">SEO</a></li>
                    </ul>
                </nav><br><br>
                <div class="columns">
                    <div>
                        <div class="contact-details">
                            <br>
                            <div class="profile-photo"></div>
                            <h1 class="title is-1 is-heavy boost-margin">{{{__ "servicesh1"}}}</h1>
                            <div class="columns is-centered column is-12-mobile is-11-tablet is-12-desktop post">
                                <p class="subtitle is-4">{{{__ "introseoberatung"}}}</p>

                            </div>
                        </div>
                    </div>
                </div>


                <br><br><br>

                <div class="columns">
                    <div class="column is-5 boxcolor2" data-aos="fade-up-top">
                        <h2 class="title is-3 is-heavy">{{{__ "businessperspective"}}}</h2>
                        <hr>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                            <p>{{{__ "businessperspectiveT"}}}</p>

                        </div>
                    </div>

                    <div class="column is-7 boxcolor3 mobile is-5" data-aos="fade-up-right">
                        <h2 class=" title is-3 is-heavy">{{{__ "costs"}}}</h2>
                        <hr>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                            <p>{{{__ "costsT"}}}</p>

                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-7 border boxcolor3 mobile is-5" data-aos="fade-up-top">
                        <h2 class=" title is-3 is-heavy">{{{__ "timing"}}}</h2>
                        <hr>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                            <p>{{{__ "timingT"}}}</p>

                        </div>
                    </div>


                    <div class="column is-5 boxcolor2">
                        <h2 class="title is-3 is-heavy">{{{__ "clientsberatung"}}}</h2>
                        <hr>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                            <p>{{{__ "clientsberatungT"}}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="off-white">
            <div class="container reduced has-text-centered">
                <br><br>
                <h2 id="services" class="title is-3 is-heavy boost-margin">{{{__ "servicesHP"}}}</h2>

                <div class="columns is-centered off-white">
                    <br>
                    <div class="list-block column is-8-mobile is-3-tablet is-3-desktop">
                        <img alt="SEO Audit" class="glyph" src="/images/glyphs/seo-audit-glyph.svg">
                        <h3 class="title is-4 is-black is-heavy"><a href="#audit">SEO Audit</a></h3>
                        <p>{{{__ "intro9"}}}</p>
                        <p><a href="/{{{__ "lang"}}}/onpage#keywords">{{{__ "keywordresearch"}}}</a></p>
                        <p><a href="/{{{__ "lang"}}}/onpage">{{{__ "onpageaudit"}}}</a></p>
                        <p><a href="/{{{__ "lang"}}}/technical">{{{__ "technicalseo"}}}</a></p>
                        <p><a href="/{{{__ "lang"}}}/offpage#backlinksanalysis">{{{__ "offpageseo"}}}</a></p>
                        <p><a href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "competitorURL"}}}">{{{__ "competitoranalysis"}}}</a></p>
                    </div>

                    <div class="list-block column is-8-mobile is-3-tablet is-3-desktop">
                        <img alt="content SEO" class="glyph" src="/images/glyphs/hacking-glyph.svg">
                        <h3 class="title is-4 is-black is-heavy"><a href="#contentmarketing">Content Marketing</a></h3>
                        <p>{{{__ "growthhacking"}}}</p>
                        <p><a href="/{{{__ "lang"}}}/onpage#keywords">{{{__ "keywordresearch"}}}</a></p>
                        <p>Objective based on current performance and priority</p>
                        <p>Content Analysis best practices</p>
                        <p>Localised content creation</p>
                    </div>

                    <div class="list-block column is-8-mobile is-3-tablet is-3-desktop">
                        <img alt="SEO Analytics" class="glyph" src="/images/glyphs/analytics-glyph.svg">
                        <h3 class="title is-4 is-black is-heavy"><a href="#analytics">Analytics</a></h3>
                        <p>{{{__ "analytics1"}}}</p>
                        <p>{{{__ "analytics2"}}}</p>
                        <p>{{{__ "analytics3"}}}</p>
                        <p>{{{__ "analytics4"}}}</p>
                        <p>{{{__ "analytics5"}}}</p>
                    </div>
                </div><br><br>
            </div>
        </div>

</div>
</section>
<!-- Recent Clients Block-->
<section class="clients-hero boxcolor hero is-medium" data-aos="fade-in">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">
            <h2 id="clients" class="title is-3 is-white is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>
            <hr>{{>clients}}
        </div>
    </div>
</section>

<!-- Testimonials Block-->
<section class="testimonials-hero off-white hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">
            <div class="columns is-multiline has-text-left">
                {{>testimonials}}
            </div>
        </div>




    </div>
</section>


<!-- Reports Block-->

<section class="hero-body remove-padding boxcolor">
    <div class="container reduced">
        <h2 id="contentmarketing" class="title is-3 is-heavy boost-margin has-text-centered is-white">SEO Audits</h2>
        <hr>
        <div class="columns is-centered has-text-centered">
            <div class="column is-10">
                <p class="subtitle is-5 is-white">
                    {{{__ "auditintro-new"}}}
                </p>
            </div>

        </div>

    </div>

</section>
<section class="audit-hero off-white hero is-medium">
    <div class="hero-body remove-padding">

        <div class="columns is-centered">
            <div class="column is-4">
                <figure class="image is-outlined" data-aos="slide-left">
                    <img alt="SEO Audit" src="/images/PDFAudit.png">
                </figure>
            </div>
            <div class="column is-4 vertical-aligner">
                <p>{{{__ "auditfocus"}}} (in English or in German)</p>
            </div>



        </div>

        <div class="columns is-centered">


            <div class="column is-4 vertical-aligner">
                <p>{{{__ "auditfocusList"}}}</p>
            </div>
            <div class="column is-4">
                <figure class="image is-fullwidth is-outlined" data-aos="slide-right">
                    <img alt="backlog" src="/images/diagrams/new-backlog.png">
                </figure>
            </div>
        </div>

</section>
<!-- Full Audit Block -->
<section class="audit-hero off-white hero is-medium">
    <div class="hero-body remove-padding">


        <div class="container reduced margin-boost">
            <h3 class="title is-4 is-heavy boost-margin has-text-centered">Full Audit (3/4 {{{__ "days"}}})</h3>

            <div class="columns is-centered has-text-centered is-multiline pill-list">
                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">{{{__ "execsumm"}}} & Backlog</h4>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/onpage#keywords">{{{__ "keywordresearch"}}}</a></h4>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="pill">
                        <span>
                            <h4 class="subtitle is-6 is-heavy">Onpage:</h4>
                            <p>Content, {{{__ "onpageHP3"}}}, {{{__ "onpageHP7"}}}, Metas, {{{__ "onpageHP10"}}}, etc</p>
                        </span></div>
                </div>

                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/offpage#backlinksanalysis">{{{__ "offpageseo"}}}</a></h4>
                    </div>

                </div>

                <div class="column is-4">
                    <div class="pill">
                        <span>
                            <h4 class="subtitle is-6 is-heavy">{{{__ "technicalseo"}}}:</h4>
                            <p>{{{__ "technicalHP1"}}} & {{{__ "technicalHP4"}}} &
                                {{{__ "technicalHP5"}}} & {{{__ "technicalHP2"}}}</p>
                        </span>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/blog/{{{__ "competitorURL"}}}">{{{__ "analyticsHP3U"}}}</a></h4>
                    </div>
                </div>

            </div>

        </div><br><br>

        <div class="container reduced">
            <h3 class="title is-4 is-heavy boost-margin has-text-centered">{{{__ "also"}}}</h3>

            <div class="columns is-centered has-text-centered is-multiline pill-list">
                <div class="column is-auto">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/blog/localSEO">Local SEO</a></h4>
                    </div>
                </div>

                <div class="column is-auto">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/sea">SEA</a></h4>
                    </div>
                </div>


                <div class="column is-auto">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/offpage#brandbuilding">Brand building</a></h4>
                    </div>
                </div>



            </div>

        </div>
    </div>
</section>


<section class="hero-body  boxcolor"><br><br>
    <div class="container reduced">
        <h2 id="contentmarketing" class="title is-3 is-heavy boost-margin has-text-centered is-white">{{{__ "success-stories"}}}</h2>
        <br><br>
    </div>

</section>

<!-- Success Block-->
<section class="success-hero off-white hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered">
                <div class="column is-10-tablet is-12-desktop">
                    {{>results}}
                </div>
            </div>
        </div>
    </div>

    <div class="hero-body remove-padding boxcolor">
        <div class="container reduced">
            <h2 id="analytics" class="is-white title is-3 is-heavy boost-margin has-text-centered">SEO Analytics</h2>
            <hr>
            <div class="columns is-centered has-text-centered">
                <div class="column is-10">
                    <h3 class="subtitle is-5 is-white">
                        {{{__ "researchHP2"}}}
                    </h3>

                </div>

            </div>

        </div>
    </div>


    <div class="hero-body remove-padding">


        <div class="container reduced has-text-centered boost-margin">

            <div class="columns is-centered has-text-centered is-multiline pill-list">
                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Set-up & Views Creations (Master, All Data)</h4>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Filters & UTM, Custom Channels</h4>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Reports & Dashboards</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">

                <div class="column is-12-mobile is-7-tablet is-10-desktop post">

                    <h3 class="title is-4 is-heavy reduced-top-margin">{{{__ "analyticsMPT1"}}} </h3>
                    <p>{{{__ "analyticsMP1"}}}</p>
                    <h3 class="title is-4 is-heavy">Google Analytics</h3>
                    <p>{{{__ "analyticsMP2"}}}</p>

                    <h3 class="title is-4 is-heavy">{{{__ "analyticsMPT3"}}}</h3>
                    <p>{{{__ "analyticsMP3"}}}</p>

                    <h3 class="title is-4 is-heavy">{{{__ "analyticsMPT4"}}}</h3>
                    <p>{{{__ "analyticsMP4"}}}</p>

                </div>
            </div>
        </div>
    </div>

    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered">
                <div class="column is-10 comments after-post">

                    <h3 class="title is-4 is-heavy">{{{__ "relevanttools"}}}</h3>

                    <span class="blue-dot-list">
                        <ul>
                            <li>Google Analytics </li>
                            <li>Google Search Console</li>
                            <li>Site Catalyst / Omniture</li>
                            <li>GA Guide</li>
                            <li><a href="/AccessAnalyticsandSearchConsole.pdf">PDF how to give access to Analytics & Search Console</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-body remove-padding boxcolor">
        <div class="container reduced">
            <h2 id="contentmarketing" class="title is-3 is-heavy boost-margin has-text-centered is-white">Content Marketing</h2>
            <hr>
            <div class="columns is-centered has-text-centered">
                <div class="column is-10">
                    <p class="subtitle is-5 is-white">
                        {{{__ "contentMP1"}}}
                    </p>
                </div>

            </div>

        </div>

    </div>
</section>




<!-- Audit Block-->
<section class="audit-hero off-white hero is-medium">
    <div class="hero-body remove-padding">

        <div class="container reduced has-text-centered boost-margin">


            <div class="columns is-centered has-text-centered is-multiline pill-list">
                <div class="column is-3">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/onpage#keywords">{{{__ "keywordresearch"}}}</a></h4>
                    </div>
                </div>

                <div class="column is-3">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Analysis current traffic</h4>
                    </div>
                </div>

                <div class="column is-3">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Analysis existing content</p>
                    </div>
                </div>

                <div class="column is-3">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Prioritization list content creation</h4>
                    </div>
                </div>

                <div class="column is-3">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy"> <a href="/{{{__ "lang"}}}/blog/{{{__ "competitorURL"}}}">{{{__ "analyticsHP3U"}}}</a></h4>
                    </div>
                </div>

                <div class="column is-3">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Content Copywriting</h4>
                    </div>
                </div>

                <div class="column is-3">
                    <div class="pill">
                        <h4 class="subtitle is-6 is-heavy">Follow up with reports and analysis</a></h4>
                    </div>
                </div>


            </div>

            <a class="button is-large is-primed is-medium boost-margin-top" href="/{{{__ "lang"}}}/contact">
                {{{__ "about"}}}
            </a>

        </div>

    </div>


</section>
<section class="success-hero hero is-medium">
    <div class="columns is-centered">
        <div class="column is-6"><br><br>
            <h3 class="title is-3 is-black is-heavy is-centered">Get in touch</h3>

            <div class="contact-details">
                <div class="profile-photo"></div>
                <div class="details">
                    {{!-- <h3 class="subtitle is-5 reduced-margin">T - <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a><br> --}}
                    <h3 class="subtitle is-5 reduced-top-margin">E - <a href="mailto:alex@seoberlino.com">alex@seoberlino.com</a>
                </div>
            </div>

            <div class="contact-page-form">
                {{>formcontact}}
            </div>
        </div><br>

    </div><br><br>
    <br>
    <br><br>

</section>
</div>