    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>
                                <li><a href="/{{{__ "lang"}}}/blog/onpage-seo">Onpage SEO</a></li>
                            </ul>
                        </nav>

                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="title is-1 is-heavy is-white has-text-centered" data-aos="fade-up-top"> {{{__ "onpageHP7"}}}</h1><br>
                        </div><br>
                        <span class=" subtitle is-6 is-black"><a href="/{{{__ "lang"}}}/contact">By Alex Bieth</a></span><br>
                        <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 February 2019</span>
                        <br><br><br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">
                        <div> Tags:

                            <a href="/{{{__ "lang"}}}/blog/seo-case-studies" class="tag green"> onpage seo</a>

                        </div><br>


                        <figure class="image is-fullwidth is-outlined">
                            <img alt="{{{__ "onpageHP7"}}}" src="/auditmainpic/images.jpg" />
                        </figure>


                        <p>{{{__ "imagesMP1"}}}</p>
                        <pre>&lt;img src="/image.jpg" alt="yourimagealthere" title="furtherinfohere" /></pre>

                        <p>{{{__ "imagesMP2"}}}</p>
                        <h2 class="title is-4 is-heavy">Alt attribute</h2>
                        <p><a class="blue" href="/{{{__ "lang"}}}/blog/seo-glossary#alt">Alt Attribute</a> {{{__ "imagesMP3"}}}</p>
                        <h2 class="title is-4 is-heavy">Image title</h2>
                        <p>{{{__ "imagesMP4"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "imagesMPT5"}}}</h2>
                        <p>{{{__ "imagesMP5"}}}</p>
                        <figure class="image is-fullwidth is-outlined">
                            <img src="/imagestoobig.png" alt="Lighthouse Image Audit">
                        </figure>
                        <p><a href="https://imageoptim.com/howto.html">Image Compression Tool</a></p>


                    </div>


                    <div class="column is-centered is-10-mobile is-7-tablet is-3-desktop sidebar sidebarblog">

                        {{>sideonpage}}



                        <br><br>

                    </div><br>

                </div>
                {{>articlesCTA}}
            </div>
    </section>
    </div>


    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments">
                        <div id="disqus_thread"></div>
                        <script>
                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*

                            */

                            var disqus_config = function() {
                                this.page.url = `https://www.seoberlino.com/{{{__ "lang"}}}/blog/metas`; // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = "Metas"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };


                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document,
                                    s = d.createElement('script');
                                s.src = 'https://www-seoberlino-com.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>