    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">


                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="title is-1 is-heavy is-white has-text-centered">{{{__ "technicalHP5"}}}</h1><br>
                        </div>
                        <br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>
                                <li><a href="/{{{__ "lang"}}}/blog/technical-seo">Technical</a></li>
                            </ul>
                        </nav>

                        <div> Tags:
                            <a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red"> technical</a>
                        </div><br>
                        <span class="subtitle is-6 is-black"><a href="/{{{__ "lang"}}}/contact">By Alex Bieth</a></span><br>
                        <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019 </span>

                        <br><br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">
                        <p class="subtitle is-5 is-heavy">{{{__ "mobileMPT1"}}}. {{{__ "mobileMP1"}}}</p>


                        <a href="https://commons.wikimedia.org/wiki/File:Mobile_v_s_desktop_Internet.xlsx-1.jpg">
                            <figure class="image is-fullwidth is-outlined">
                                <img src="/mobilevsdesktop.jpg" alt="Dynamic Rendering Google">
                                <figcaption>Wikimedia Commons</figcaption>
                            </figure>
                        </a><br><br>
                        <p>
                            <a class="blue" target="_blank" href="https://search.google.com/test/mobile-friendly">
                                Google's Mobile Friendly Test
                            </a>
                        </p>

                        <h2 class="title is-3 is-heavy">{{{__ "mobileMPT2"}}}</h2>
                        <p>{{{__ "mobileMP2"}}}</p>

                        <h2 class="title is-3 is-heavy">{{{__ "mobileMPT3"}}}</h2>
                        <p>{{{__ "mobileMP3"}}}</p>
                        <p>{{{__ "mobileMP4"}}}</p>

                        <h2 class="title is-3 is-heavy">{{{__ "mobileMPT5"}}}</h2>
                        <p>{{{__ "mobileMP5"}}}</p>
                        <br><br>
                        <br><br>
                        <div class="fb-like sidebar columns is-centered" data-href="https://www.seoberlino.com/en" data-width=250 data-layout="standard" data-action="like" data-size="large" data-share="true"></div><br><br>
                        <br><br>
                    </div>
                    <div class="column is-centered is-10-mobile is-7-tablet is-3-desktop sidebar sidebarblog">

                        {{>sidebartech}}



                        <br><br>

                    </div><br>

                </div>
                {{>articlesCTA}}
            </div>
    </section>
    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments">
                        <div id="disqus_thread"></div>
                        <script>
                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*

                            */

                            var disqus_config = function() {
                                this.page.url = `https://www.seoberlino.com/{{{__ "lang"}}}/blog/mobile`; // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = "mobile"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };

                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document,
                                    s = d.createElement('script');
                                s.src = 'https://www-seoberlino-com.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </div>