<div class="content blog-post single-post blog-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>
                            </ul>
                        </nav>
                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="title is-1 is-heavy is-white has-text-centered">Linkbuilding: Getting it right</h1><br>
                        </div>
                        <br>


                        <span class="subtitle is-6 is-black"><a href="/{{{__ "lang"}}}/contact">By Alex Bieth</a></span><br>
                        <span class="subtitle is-6 is-black"><img src="/clock.png" /> 5 January 2019</span>
                        <br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-8-desktop post">


                        <span class="is-heavy subtitle is-3">3Ts: Trust Traffic and onTopic Or EAT (Expertise, Authority and Trust): Trusted sites with great content get traffic.</span><br>



                        <br>

                        <h2 class="title is-3 is-heavy">Personalised
                            Strategies</h2>

                        <span class="blue-dot-list">
                            <ul>
                                <li>Site & brand Maturity (basic links vs content marketing)</li>
                                <li>Industry</li>
                                <li>Company Business priorities</li>
                                <li>SEO priority (type of page, site section, etc)</li>
                            </ul>
                        </span>

                        <p>Relationship with clients and prospects needs to stay personalised. Reasons more not to automate link building or scale it up to uncontrollable level.</p>

                        <h2 class="title is-3 is-heavy">Sending Positive Signals</h2>

                        <p>One of the goals of back linking & link acquisition through content marketing is to send positive signals and interactions with the brand.</p>

                        <p>Brand mentions should often keep away from directly promoting the product /service whilst <a href="/en/blog/seo-glossary#brandbuilding">building brand</a> awareness & trust by sharing content or data which are of interest
                            for your
                            target, with topics they care
                            about, or
                            trending news
                            topics</p>

                        <h2 class="title is-3 is-heavy">Research to find prospects</h2>

                        <span class="blue-dot-list">
                            <ul>
                                <li>Less is more: Limit targeting: find best matches for high CVR instead of aiming for more accepting low CVR</li>
                                <li>Focus on Content relevance & Site Quality</li>
                                <li>Target in priority influencers & Media outlets</li>
                            </ul>
                        </span>

                        <h2 class="title is-3 is-heavy">Influencers to amplify reach</h2>

                        <span class="blue-dot-list">
                            <ul>
                                <li>Influencers: bloggers, journalists, authors, podcasters, conferences organiser, researchers or editors.</li>
                                <li>They often use Twitter so it is important to get to understand Twitter and use this channel if you want to get in touch and better know them.</li>
                                <li>Influencer targeted: high DA (Domain Authority) sites, specific keywords terms, other sites in sector or niche</li>
                            </ul>
                        </span>

                        <h2 class="title is-3 is-heavy">PR and SEO are one</h2>


                        <span class="blue-dot-list">
                            <ul>
                                <li>Effective link building requires outreach, and that requires you to truly understand what motivates people</li>
                                <li>You have to introduce yourself, frame your pitch and demonstrate how you’ll make their job easier all in a couple of hundred words.</li>
                                <li>PR & Brand team from company are also important for SEO with press releases, company reputation, values etc</li>
                            </ul>
                        </span> <br><br>
                        <div class="fb-like sidebar columns is-centered" data-href="https://www.seoberlino.com/en" data-width=250 data-layout="standard" data-action="like" data-size="large" data-share="true"></div><br><br>
                    </div>
                    <div class="column is-centered is-8-mobile is-3-tablet is-3-desktop sidebar sidebarblog">{{>sidebacklinks}}<br><br></div><br>
                </div>
                {{>articlesCTA}}
            </div>
    </section>
    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments">
                        <div id="disqus_thread"></div>
                        <script>
                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*

                            */

                            var disqus_config = function() {
                                this.page.url = `https://www.seoberlino.com/en/blog/linkbuilding-in-2020`; // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = "linkbuilding2020"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };


                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document,
                                    s = d.createElement('script');
                                s.src = 'https://www-seoberlino-com.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>