    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">
                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="h1HP is-heavy is-white has-text-centered">SEO Checklist Site migration</h1><br>
                        </div><br>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/technical-seo" class="tag blue2" data-aos="fade-in" data-aos-once="true"> technical</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo" class="tag grey" data-aos="fade-in" data-aos-once="true">onpage</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/seo-case-studies" class="tag grey" data-aos="fade-in" data-aos-once="true"> study</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/backlinks" class="tag grey" data-aos="fade-in" data-aos-once="true"> backlinks</a><br> <br>

                        <br>
                        <br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}">SEO</a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/technical-seo">Technical</a></li>
                            </ul>
                        </nav>
                        <br>
                        <span class="subtitle is-6 is-black"><a href="/{{{__ "lang"}}}/contact">By Alex Bieth</a></span><br>
                        <span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 8 July 2020</span>

                        <br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">

                        <figure class="image is-4by3">


                            <img src="/seo-images/computer.jpg" />
                        </figure>

                        <span class="is-heavy subtitle is-4">Whether for a site relaunch with a change of domain or switch to https, if the site structure is changed, some important steps need to be followed. </span>

                        <h2>Redirects Preparations</h2>

                        <h3>Pages to redirect</h3>

                        All pages with value should be redirected: those with existing traffic and/or those with backlinks pointing to them.
                        <br>
                        The selected pages should redirect to the closest equivalent page: either exact page or the most related category page if this page doesn’t exist anymore.
                        <br>
                        Only pages with little value (no links and no traffic) should be “Killed” ideally with a 410.
                        <br>
                        <h3> Clean up errors</h3>
                        Current internal 301s should be fixed as well as links to 404

                        <br>
                        Old urls already redirecting<br>
                        Old pages already redirecting especially those with backlinks should redirect to the new page therefore modifying the old redirect to avoid redirect chains.

                        <br> <br>


                        <h2>New site</h2>

                        <h3>Settings</h3>
                        <ul>

                            <li>It should be Mobile friendly with Optimal Site structure and main navigation (main pages close to homepage in number of clicks). Simple urls structure (short) & web structure
                            </li>
                            <li>It should use only https, http version redirects to https
                            </li>
                            <li>It should use only www or non-www, redirect non use version to the selected one.
                            </li>
                            <li>Use canonicals on the new site, pointing to the new site urls. Self referencing except for very similar /duplicate content.
                            </li>
                            <li>Identify Duplicate content / very similar content (use canonicals or redirects)
                            </li>
                        </ul>

                        <h3>To Set-up</h3>

                        Set up a custom 404 page

                        Create sitemaps for all new urls that have SEO value only. Link it from Search Console when sure that the site is clean and urls submitted in Sitemaps are the right ones.


                        Set up Search console and Google Analytics. Use Robots.txt if needed

                        <h3>Testing</h3>
                        Before the live redirects, test them on test server (non indexable nor crawlable pages or protected by password or blocked by Robots)
                        <br><br>

                        <h2>After the Redirects are live</h2>

                        <ul>
                            <li>Update all online profiles, social media included, email signatures, etc

                            </li>
                            <li>Compare Analytics data (before and after) check for traffic differences and which pages los traffic if any

                            </li>
                            <li>Check Rankings before / after

                            </li>
                            <li>Monitor indexed page count

                            </li>
                            <li>Contact main sites linking to the old site to ask them to change the links.


                            </li>
                            <li>Crawl old site to check for redirects

                            </li>
                            <li>Crawl new site for errors


                            </li>
                            <li>If the site structure of the new site is too different from the old one(s), there is a risk that Google will decide that the new site is a different one and some rankings may drop.
                                Either way, there will be temporary loss of traffic (so around 4 to 6 weeks are necessary to have clear idea how the migration went on)
                            </li>
                        </ul><br>
                        <br><br>
                        <div class="fb-like sidebar columns is-centered" data-href="https://www.seoberlino.com/en" data-width=250 data-layout="standard" data-action="like" data-size="large" data-share="true"></div><br><br>
                        <br><br>
                    </div>
                    <div class="column is-centered is-10-mobile is-4-tablet is-3-desktop sidebar sidebarblog">

                        {{>sidebartech}}



                        <br><br>

                    </div><br>

                </div>
                {{>articlesCTA}}
            </div>
    </section>
    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments">
                        <div id="disqus_thread"></div>
                        <script>
                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*

                            */

                            var disqus_config = function() {
                                this.page.url = `https://www.seoberlino.com/en/website-ranking/site-migration-seo-checklist`; // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = "sitemigration"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };


                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document,
                                    s = d.createElement('script');
                                s.src = 'https://www-seoberlino-com.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </div>