<section class="content case-study-post casestudy-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-7-desktop">
                    <div>
                        <div class="boxcolor"><br>
                            <h1 class="title is-1 is-heavy is-white has-text-centered">SEO Blog - Case Studies</h1><br>
                        </div>
                        <br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>
                                <li><i><a href="">SEO Case Studies</a></i></li>
                            </ul>
                        </nav><br>
                    </div><br>
                    <div class="content archive blog-en columns is-centered is-multiline is-large-intro boost-margin has-text-centered" style=" overflow-x: hidden">


                        <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogcase-study-n26"><img src="/images/clients/n26_dark.svg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogcase-study-n26">Case Study: N26</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 29 March 2019</span>
                            <br><br>
                            <p>N26 is a fee-free “deposit account” online bank, Europe’s first completely mobile bank, with 2.5m customers.</p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-6-desktop post post1" data-aos="fade-in">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogseo-in-asia-korea-china-japan-2020"><img src="/asia.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogseo-in-asia-korea-china-japan-2020">SEO in Asia</a>
                            </h3> <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 27 May 2019</span>
                            <br><br>
                            <p>For all countries: it is preferable to have a localised domain, hosted in target country, localised content adapted to target. Need to register and control traffic using respective Webmaster tools & local web services
                                from
                                dominating Search engines.
                            </p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogcase-study-wooga"><img src="/images/clients/wooga_dark.svg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogcase-study-wooga">Case Study: Wooga</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 26 March 2019</span>
                            <br> <br>
                            <p>Wooga is a mobile-first game developer in Berlin, Germany. The company develops free-to-play mobile and social games for mobile devices, such as smartphones and tablets and social networks like Facebook.</p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-6-desktop post post1" data-aos="slide-right" data-aos-once="true">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogcase-study-zalando"><img src="/images/clients/zalando_dark.svg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogcase-study-zalando">Case Study: Zalando</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 March 2019</span>
                            <br><br>
                            <p>The company follows a platform approach, offering Fashion and Lifestyle products to customers in 17 European markets. </p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogcase-study-modomoto"><img src="/images/clients/modomoto_dark.svg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogcase-study-modomoto">Case Study: Modomoto</a>
                            </h3> <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 March 2019</span>
                            <br><br>
                            <p>Modomoto is Germany's first and largest Curated Shopping Service for men. <br><br></p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogcase-study-juniqe"><img src="/images/clients/junique_dark.svg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogcase-study-juniqe">Case Study: Juniqe</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" />22 March 2019</span>
                            <br><br>
                            <p>Juniqe is the lifestyle brand for curated and affordable wall art, home accessories, stationery, and gifts.</p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                            <figure class=" image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogcase-study-fromatob"><img src="/auditmainpic/duplicate.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogcase-study-fromatob">FromAtoB Case Study</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 17 March 2019</span>
                            <br> <br>
                            <p>fromAtoB.com is a journey planner and online booking platform. Users can search for a connection between two destinations within Europe (train, airplane, bus, and ride share).
                            </p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogcase-study-hellofresh"><img src="/images/clients/hellofresh_dark.svg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogcase-study-hellofresh">Case Study: HelloFresh</a>
                            </h3> <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 14 March 2019</span>
                            <br><br>
                            <p>HelloFresh is the largest meal-kit provider in the United States and also has operations in Canada, Western Europe (including Germany and the UK), New Zealand and Australia.</p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogcase-study-hometogo"><img src="/images/clients/hometogo_dark.svg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogcase-study-hometogo">Case Study: HomeToGo</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 11 March 2019</span>
                            <br><br>
                            <p>HomeToGo is according to its website "the world's largest search engine for vacation rentals.</p>
                        </div>

                    </div>
                </div>
                <div class="column is-2-desktop sidebar sidebartags">
                    <ul style="overflow-x: hidden">
                        <li><i>
                                Tags</i>
                        </li>
                        <li>
                            <a href="/{{{__ "lang"}}}/blog/onpage-seo">
                                Onpage SEO
                            </a>
                        </li>

                        <li>
                            <a href="/{{{__ "lang"}}}/blog/backlinks">
                                Backlinks
                            </a>
                        </li>

                        <li>
                            <a href="/{{{__ "lang"}}}/blog/technical-seo">
                                Technical SEO
                            </a>
                        </li>
                        <li data-aos="slide-right" data-aos-once="true" style="color:#d93a5f">
                            <b>
                                Case Studies </b>
                        </li>
                    </ul>
                </div>
            </div>
    </section>
</section>