    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">


                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="h1HP is-heavy is-white has-text-centered">SEO in China, Japan and S. Korea</h1><br>
                        </div><br>
                        <a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag grey" data-aos="fade-in" data-aos-once="true"> technical</a>
                        <a href="/{{{__ "lang"}}}/blog/onpage-seo" class="tag grey" data-aos="fade-in" data-aos-once="true">onpage</a>
                        <a href="/{{{__ "lang"}}}/blog/seo-case-studies" class="tag blue2" data-aos="fade-in" data-aos-once="true"> study</a>
                        <a href="/{{{__ "lang"}}}/blog/backlinks" class="tag grey" data-aos="fade-in" data-aos-once="true"> backlinks</a><br> <br>

                        <br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>
                                <li><a href="/{{{__ "lang"}}}/blog/seo-case-studies">Case Studies</a></li>
                            </ul>
                        </nav>
                        <span class="subtitle is-6 is-black"><a href="/{{{__ "lang"}}}/contact">By Alex Bieth</a></span><br>
                        <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 27 May 2019</span>
                        <br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">
                        <img width=80% src="/asia.jpg" />

                        <br><br>
                        <span class="is-heavy subtitle is-4">In Japan, China and South Korea, Google is not the king of Search Engines so other rules apply. It is important to understand which are the key players for those countries. </span>
                        <br><br>

                        <p class="italic">
                            China: Google has a tiny Market share (except in Hong Kong) : rather Baidu and Sogou. Importance of Baidu’s own products: (Baike, Zhidao, Tieba, etc.). Sogou emergence backed by Tencent’s WeChat (1 billion users) and
                            taking advantage
                            of Baidu’s loss of dominance since a scandal.
                        </p>

                        <p class="italic">
                            Japan: Although Google now dominates the market, Yahoo! which is more than a Search engine is still key. They offer many other services: News, Shopping, Finance, Map, Bookstore, Mail, Car navigation, Train
                            navigation,
                            Dating, Credit
                            card, Mobile networks, Hotel booking, Auction, Advertising. Big contrast versus Google’s initial empty search page. Highly supported by main shareholder Softbank.
                        </p>

                        <p class="italic">
                            South Korea: Naver is similar to Yahoo! Japan in a market also dominated by Google. Naver shows bias towards its own assets: Naver Encyclopaedia, Knowledge IN, Naver Blog, Naver Café) and paid advertisements.
                        </p>

                        <p class="italic">
                            For all countries: it is preferable to have a localised domain, hosted in target country, localised content adapted to target. It is paramount to register and control traffic using respective Webmaster tools & local
                            web services to be visible on local Search engines. </p>


                        <h2 class="title is-2 is-heavy">China</h2>
                        <p class="italic">Queries: Chinese people prefer to use longer queries made up of several keywords.</p>

                        <table class="asiablog">
                            <tr>
                                <th>Market Share</th>
                                <th>Baidu</th>
                                <th>SoGou</th>
                                <th>Haosou</th>
                            </tr>

                            <tr>
                                <th>Total</th>
                                <th>67%</th>
                                <th>18%</th>
                                <th>3%</th>
                                ^
                            </tr>
                            <tr>
                                <th>Desktop</th>
                                <th>42%</th>
                                <th>38%</th>
                                <th>7%</th>

                            </tr>
                            <tr>
                                <th>Mobile</th>
                                <th>81%</th>
                                <th>5%</th>
                                <th>1%</th>
                            </tr>


                        </table>

                        <h3 class="title is-3">About Baidu</h3>

                        <img width=70% src="/baidu.png" alt="baidu" />
                        <br><br>

                        <p>Webmaster Tools for Baidu in Chinese, important to set up to register account and verify the website. Also Needed: an Internet Content Publishing (ICP) license. Very few non-Chinese website show: importance of
                            Chinese
                            tld, hosting provider (HK or Mainland China) and physical address Black hat much more successful than on Google (although still should be avoided) Baidu Doesn’t Support Schema.org
                            Many ads on first page Direct competition with Baidu’s own products (Baike, Zhidao, Tieba, etc.). Importance of creating company profile on Baike, engaging Q&A platform on Zhidao (Chinese Quora), and leverage file
                            sharing platform Wenku Baidu suffered a big scandal (Wei Zexi scandal) and since then its reputation and market domination is more fragile.</p>

                        <h3 class="title is-3">About Sogou</h3>
                        <img width=65% src="/sogou.png" alt="sogou" />
                        <br><br>

                        <p>It has its own unique algorithm meaning that strategies designed for Baidu won’t be as effective on Sogou. Acquired by Tencent (WeChat*), one of the largest tech companies in China. No other search engine in China
                            is
                            capable of searching on WeChat. With over 1 billion users on WeChat this gives Sogou a serious leg up over its competitors.</p>

                        <h2 class="title is-2 is-heavy">Japan</h2>

                        <p>The Japanese have an affinity for local brands, and it is important to be as local as possible. In the Japanese languages, there are many different ways to write the same thing. It is important to know what’s most
                            preferred by the target audience. Each term will result in different site rankings. Like for China and Korea: hosting locally within Japan, with a local IP address, can yield better organic search rankings.
                            Japanese
                            users consider clean web design to be desolate.</p>

                        <table class="asiablog">
                            <tr>
                                <th>Market Share</th>
                                <th>Google</th>
                                <th>Yahoo!</th>
                            </tr>

                            <tr>
                                <th>Total</th>
                                <th>76%</th>
                                <th>21%</th>
                            </tr>
                            <tr>
                                <th>Desktop</th>
                                <th>77%</th>
                                <th>16%</th>
                            </tr>
                            <tr>
                                <th>Mobile</th>
                                <th>74%</th>
                                <th>24%</th>
                            </tr>
                        </table>

                        <h3 class="title is-3">About Yahoo!</h3>
                        <img width=60% src="/yahoojapan.png" alt="yahoo" />
                        <br><br>
                        <p>Majority shareholder (48%): Softbank Yahoo! Japan decided to implement Google’s algorithms in 2010 (Bing’s for most other countries)
                            Yahoo replaced Quora as Quora not available in Japanese. But also the following services: News, Shopping, Finance, Map, Bookstore, Mail, Car navigation, Train navigation, Dating, Credit card, Mobile networks, Hotel
                            booking, Auction, Advertising Yahoo! Japan places more weight on directory listings than any other search engine. Focus on building backlinks originating from Japanese IP addresses, local domains, local hosting as
                            well
                            as from websites that contain Japanese content.</p>

                        <h2 class="title is-2 is-heavy">South Korea</h2>

                        <table class="asiablog">
                            <tr>
                                <th>Market Share</th>
                                <th>Google</th>
                                <th>Naver</th>
                            </tr>

                            <tr>
                                <th>Total</th>
                                <th>78%</th>
                                <th>16%</th>
                            </tr>
                            <tr>
                                <th>Desktop</th>
                                <th>78%</th>
                                <th>14%</th>
                            </tr>
                            <tr>
                                <th>Mobile</th>
                                <th>78%</th>
                                <th>19%</th>
                            </tr>
                        </table>

                        <h3 class="title is-3">About Naver</h3>
                        <img width=65% src="/naver.png" alt="naver" />
                        <br><br>
                        <p>More of a platform/directory service than a search engine: content creation on Naver’s various content areas Need to register on Naver webmaster tools Naver doesn’t crawl the entire internet. Businesses who want to
                            rank
                            within the SERP need to register with Naver, and create accounts. Naver’s SERP is focused mainly on user generated content, news, books, blogs, Q&A, shopping, popular social media interactions, and paid listings.
                            Organic results discreet. Naver does show bias towards its own assets: Naver Encyclopaedia, Knowledge IN, Naver Blog, Naver Café) and paid advertisements. Two main drivers to determine search results C-Rank
                            (creator
                            rank): to determine the authority, popularity and reliability of the content and P-rank. The P-Rank algorithm to align quality of results with the likes of Google. Naver prefers title tags to be 40 characters or
                            less,
                            and the meta description to be 80 characters or less. Naver owns one of the leading browsers: Whale</p>
                        <br>
                        <br><br>
                        <br>
                        <div class="fb-like sidebar columns is-centered" data-href="https://www.seoberlino.com/en" data-width=250 data-layout="standard" data-action="like" data-size="large" data-share="true"></div><br>
                        <br>

                    </div>

                    <div class="column is-centered is-10-mobile is-7-tablet is-3-desktop sidebar sidebarblog">
                        {{>sidebartech}}<br><br></div><br>
                </div>

                {{>articlesCTA}}
            </div>

        </div>
    </section>
    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments">
                        <div id="disqus_thread"></div>
                        <script>
                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*

                            */

                            var disqus_config = function() {
                                this.page.url = `https://www.seoberlino.com/en/blog/seo-in-asia-korea-china-japan-2020`; // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = "asia2020"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };


                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document,
                                    s = d.createElement('script');
                                s.src = 'https://www-seoberlino-com.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>