<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-10-desktop">
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                            <li><a href="/{{{__ "lang"}}}/blog">{{{__ "exblog"}}}</a></li>
                        </ul>
                    </nav>

                    <h1 class="h1HP is-heavy"> Google Keyword Planner</h1>

                    <span class="subtitle is-6 is-black"><a href="/{{{__ "lang"}}}/contact">By Alex Bieth</a></span><br>
                    <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 10 July 2020</span>
                    <br>
                </div>


                <div class="column is-12-mobile is-10-tablet is-10-desktop post content">
                    <figure class="image">
                        <a href="/{{{__ "lang"}}}/blog/seo-glossary"><img src="/keywordplanner.png" alt="seo berlin" /></a>
                    </figure>
                    <span class="is-heavy subtitle is-4">If you want more traffic from Google, better understanding which keywords are best for you is paramount; therefore a keyword research is needed. The Google Keyword Planner (formerly the
                        Google Keyword Tool) is a good
                        way to start it.
                    </span><br>



                    <h2>Access to the Keyword Planner</h2>

                    <p>{{{__ "googleKWToolMP"}}} <a class="underline" href="/{{{__ "lang"}}}/blog/seo-glossary#searchvolume">Search Volume</a></p>


                    <h3>blah</h3>

                    blah

                    <h3>blah</h3>

                    blah
                    <br><br><br><br>
                </div> {{>articlesCTA}}

            </div>
</section>
<section class="audit-hero hero is-large-intro">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <h2 class="title is-2 is-heavy boost-margin has-text-centered">Other SEO Blog articles</h2>

            <div class="columns is-centered is-multiline">

                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/{{{__ "lang"}}}/blog/seo-glossary"><img src="/blog2.jpg" alt="seo berlin" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/{{{__ "lang"}}}/blog/seo-glossary">SEO Glossary</a>
                    </h3>
                    <p>SEO Jargon explained: Search Volume, canonical, nofollow, Google Keyword Tool, etc</p>

                </div>



                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/how-to-get-those-first-links"><img src="/auditmainpic/offpage.jpg" alt="seo berlin" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/how-to-get-those-first-links">How to get those first links</a>
                    </h3>
                    <p>Links you proactively acquire should always drive genuine high quality traffic. If this is not the case your link is very unlikely to be useful for anything. Links you acquire as mentioned by the late Eric Ward should be
                        where they are for reason with a PR mind.
                    </p>
                </div>

                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/link-building-to-brandbuilding"><img src="/web.jpg" alt="seo berlin" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/link-building-to-brandbuilding">Link Building to Brand Building</a>
                    </h3>
                    <p>Links are still used by Google to calculate the popularity and relevancy of the pages it discovers and crawls. But to which extend compared to a few years back? And does that mean link building outreach should be done
                        pro-actively the same way no matter what?
                    </p>
                </div>

                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/beyond-mobile-first"><img src="/blog1.png" alt="seo berlin" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/beyond-mobile-first">Beyond "mobile-first"</a>
                    </h3>
                    <p>As mobile traffic increases, data creation on the web explodes. Google is trying to find ways to adapt to the new content. Mobile first is more than optimising your mobile version but it is the first step, especially if you
                        currently offer a native app.
                    </p>
                </div>
                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/linkbuilding-in-2020"><img src="/auditmainpic/linkmain.jpg" alt="seo berlin" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/linkbuilding-in-2020">Linkbuilding: Getting it right in 2020</a>
                    </h3>
                    <p>3Ts: Trust Traffic and onTopic Or EAT (Expertise, Authority and Trust): Trusted sites with great content get traffic

                        "Link building should help the content find the audience it was intended for and the audience find the content". (Eric Ward)
                    </p>
                </div>

                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/why-you-need-implement-structured-data"><img src="/blog6.jpg" alt="seo berlin" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/why-you-need-implement-structured-data">Structured Data</a>
                    </h3>
                    <p>Google, Bing, Yandex and Yahoo agreed on a standardised format: schema.org for providing information about a page and to classify its content. using Structured Data will enable you to improve the way your pages are
                        displayed.
                </div>

                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/{{{__ "lang"}}}/blog/localSEO"><img src="/auditmainpic/local.jpg" alt="seo berlin" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/{{{__ "lang"}}}/blog/localSEO">Local SEO</a>
                    </h3>
                    <p>
                        Especially for local business, it is paramount to align your SEO overall strategy to local SEO, keeping in mind that the most important factor in personalised search results is location.
                    </p>
                </div>



                <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                    <figure class="image is-4by3">
                        <a href="/en/blog/voicesearch"><img src="/auditmainpic/voice.jpg" alt="seo berlin" /></a>
                    </figure>
                    <h3 class="title is-4 is-heavy">
                        <a href="/en/blog/voicesearch">Voice Search and how it challenges SEO</a>
                    </h3>
                    <p> Once you are ready for mobile first, the next step is to prepare your website for Voice Search.

                </div>


            </div>
        </div>
    </div>
</section>


</div>