<section class="case-study-post casestudy-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-8-desktop">
                    <div>
                        <div class="boxcolor"><br>
                            <h1 class="h1HP has-text-centered is-white">SEO Berlin Blog • Technical SEO</h1><br>
                        </div><br>
                        <a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag blue2"> technical</a>
                        <a href="/{{{__ "lang"}}}/blog/onpage-seo" class="tag grey" data-aos="fade-in" data-aos-once="true">onpage</a>
                        <a href="/{{{__ "lang"}}}/blog/seo-case-studies" class="tag grey" data-aos="fade-in" data-aos-once="true"> study</a>
                        <a href="/{{{__ "lang"}}}/blog/backlinks" class="tag grey" data-aos="fade-in" data-aos-once="true"> backlinks</a><br> <br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">SEO Berlin Blog</a></li>
                                <li><a href="">Technical SEO</a></li>
                            </ul>
                        </nav><br>

                    </div><br>
                    <div class="content archive blog-en columns is-multiline is-large-intro boost-margin has-text-centered" style=" overflow-x: hidden">

                        {{>blogtech}}


                    </div><br><br>
                    <h2 class="subtitle is-3 has-text-centered">{{{__ "englisharticles"}}}</h2><br>

                    <div class="content archive blog-en columns is-multiline is-large-intro boost-margin has-text-centered" style=" overflow-x: hidden">


                        <div class="column is-12-mobile is-6-tablet is-4-desktop post">
                            <figure class="image is-4by3">
                                <a href="/en/blog/site-migration-seo-checklist"><img src="/computer.jpg" alt="seo berlin" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/en/blog/site-migration-seo-checklist">Site Migration SEO Checklist</a>
                            </h3> <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 8 July 2020</span>
                            <br><br>
                            <p>Whether for a site relaunch with a change of domain or switch to https, if the site structure is changed, some important steps need to be followed. </p>

                        </div>

                        <div class="column is-12-mobile is-6-tablet is-4-desktop post">
                            <figure class="image is-4by3">
                                <a href="/en/blog/why-you-need-implement-structured-data"><img src="/blog6.jpg" alt="seo berlin" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/en/blog/why-you-need-implement-structured-data">Structured Data</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 August 2019</span>
                            <br><br>
                            <p>Google, Bing, Yandex and Yahoo agreed on a standardised format: schema.org for providing information about a page and to classify its content. using Structured Data will enable you to improve the way your pages are
                                displayed.
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-4-desktop post" data-aos="fade-in">
                            <figure class="image is-4by3">
                                <a href="/en/blog/seo-in-asia-korea-china-japan-2020"><img src="/asia.jpg" alt="seo berlin" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/en/blog/seo-in-asia-korea-china-japan-2020">SEO in Asia</a>
                            </h3> <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 27 May 2019</span>
                            <br><br>
                            <p>For all countries: it is preferable to have a localised domain, hosted in target country, localised content adapted to target. Need to register and control traffic using respective Webmaster tools & local web services
                                from
                                dominating Search engines.
                            </p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-4-desktop post">
                            <figure class="image is-4by3">
                                <a href="/en/blog/beyond-mobile-first"><img src="/blog1.png" alt="seo berlin" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/en/blog/beyond-mobile-first">Beyond "mobile-first"</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019</span>
                            <br><br>
                            <p>As mobile traffic increases, data creation on the web explodes. Google is trying to find ways to adapt to the new content. Mobile first is more than optimising your mobile version but it is the first step, especially if
                                you
                                currently offer a native app.
                            </p>
                        </div>

                    </div>

                    <br><br> <br><br>
                    <div class="content archive blog-en columns is-multiline is-large-intro boost-margin" style=" overflow-x: hidden">


                        <div class="column is-12-mobile is-8-tablet is-12-desktop">
                            <h2>{{{__ "moreabout"}}} Technical SEO</h2>

                            <p class=" italic">{{{__ "technicalintro"}}}</p>
                            <p>{{{__ "technicalintro2"}}}</p>
                            <p>{{{__ "technicalintro3"}}}</p>
                            <p>{{{__ "technicalintro4"}}}</p>
                            <p>{{{__ "technicalintro5"}}}</p>
                            <p>{{{__ "technicalintro6"}}}</p>
                            <p>{{{__ "technicalintro7"}}}</p>
                            <p>{{{__ "technicalintro8"}}}</p>
                            <p>{{{__ "technicalintro9"}}}</p>
                            <br><br>
                        </div><br><br><br><br>


                    </div>
                    {{>socsharblog}}<br>
                    {{>articlesCTA}}

                </div>
            </div>
        </div>



    </section>
</section>