<div class="content case-study-post casestudy-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">

            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-centered is-10-tablet is-7-desktop">

                    <div>
                        <div class="boxcolor"><br>
                            <h1 class="title is-1 is-heavy is-white has-text-centered">SEO Blog</h1><br>
                        </div><br>
                        <a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag blue2" data-aos="fade-in" data-aos-once="true"> technical</a>
                        <a href="/{{{__ "lang"}}}/blog/onpage-seo" class="tag blue2" data-aos="fade-in" data-aos-once="true">onpage</a>
                        <a href="/{{{__ "lang"}}}/blog/seo-case-studies" class="tag blue2" data-aos="fade-in" data-aos-once="true"> case study</a>
                        <a href="/{{{__ "lang"}}}/blog/backlinks" class="tag blue2" data-aos="fade-in" data-aos-once="true"> backlinks</a><br> <br>

                        <br>
                        <br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>
                            </ul>
                        </nav><br>
                    </div><br>

                    <div class="archive columns is-multiline is-centered has-text-centered" style=" overflow-x: hidden">

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/en/blog/site-migration-seo-checklist"><img src="/computer.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/en/blog/site-migration-seo-checklist">Migration Checklist</a>
                            </h3> <a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a>
                            <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 8 July 2020</span>
                            <br><br>
                            <p>Whether for a site relaunch with a change of domain or switch to https, if the site structure is changed, some important steps need to be followed. </p>

                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/seo-glossary"><img src="/blog2.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/seo-glossary">SEO Glossary</a>
                            </h3> <a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a>
                            <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 10 April 2020</span>
                            <br><br>
                            <p>SEO Jargon explained: Search Volume, canonical, nofollow, Google Keyword Tool, etc</p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/competitor-analysis"><img src="/auditmainpic/duplicate.jpg" alt="competitor analysis" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/competitor-analysis">SEO Competitor Analysis</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/onpage-seo" class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 March
                                2019</span>
                            <br><br>
                            <p>It is important to keep in mind in terms of SEO Competitor Analysis, that you need to identify your SEO competitors ...
                            </p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/en/blog/clutch"><img src="/images/Companies2019-2.png" alt="clutch" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/en/blog/clutch">Top SEO Services Company</a>
                            </h3><a href="#" class="tag grey" data-aos="fade-in" data-aos-once="true"> guest</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 24 September
                                2019</span>
                            <br><br>
                            <p>As experts on the power of clicks, we at seoberlino know how important it can be to be featured by other industry leaders.
                            </p>
                        </div>


                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/en/blog/why-you-need-implement-structured-data"><img src="/blog6.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/en/blog/why-you-need-implement-structured-data">Structured Data</a>
                            </h3> <a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a>
                            <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 August 2019</span>
                            <br><br>
                            <p>Google, Bing, Yandex and Yahoo agreed on a standardised format: schema.org for providing information about a page and to classify its content. using Structured Data will enable you to improve the way your pages are
                                displayed.
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/case-study-n26"><img src="/images/clients/n26_dark.svg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/case-study-n26">Case Study: N26</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/seo-case-studies" class="tag yellow" data-aos="fade-in" data-aos-once="true"> case study</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 29 March
                                2019</span>
                            <br><br>
                            <p>N26 is a fee-free “deposit account” online bank, Europe’s first completely mobile bank, with 2.5m customers.</p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/en/blog/seo-in-asia-korea-china-japan-2020"><img src="/asia.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/en/blog/seo-in-asia-korea-china-japan-2020">SEO in Asia</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/seo-case-studies" class="tag yellow" data-aos="fade-in" data-aos-once="true"> case study</a> <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 27 May
                                2019</span>
                            <br><br>
                            <p>For all countries: it is preferable to have a localised domain, hosted in target country, localised content adapted to target. Need to register and control traffic using respective Webmaster tools & local web services
                                from
                                dominating Search engines.
                            </p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/case-study-wooga"><img src="/images/clients/wooga_dark.svg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/case-study-wooga">Case Study: Wooga</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/seo-case-studies" class="tag yellow" data-aos="fade-in" data-aos-once="true"> case study</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 26 March
                                2019</span>
                            <br> <br>
                            <p>Wooga is a mobile-first game developer in Berlin, Germany. The company develops free-to-play mobile and social games for mobile devices, such as smartphones and tablets and social networks like Facebook.</p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/metas"><img src="/auditmainpic/tag.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/metas">Metas & Titles</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/onpage-seo" class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 February
                                2019</span>
                            <br><br>
                            <p>{{{__ "metasMP3"}}} </p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/content"><img src="/auditmainpic/content.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/content">Content & Landing pages</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/onpage-seo" class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 18 May
                                2019</span>
                            <br><br>
                            <p>{{{__ "landingMP1"}}} </p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/case-study-zalando"><img src="/images/clients/zalando_dark.svg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/case-study-zalando">Case Study: Zalando</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/seo-case-studies" class="tag yellow" data-aos="fade-in" data-aos-once="true"> case study</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 March
                                2019</span>
                            <br><br>
                            <p>The company follows a platform approach, offering Fashion and Lifestyle products to customers in 17 European markets. </p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/backlink-analysis"><img src="/auditmainpic/analysis.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/backlink-analysis">Backlink Analysis</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/backlinks" class="tag blue2" data-aos="fade-in" data-aos-once="true"> backlinks</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 10 February 2019</span>
                            <br><br>
                            <p>{{{__ "linkstoavoid1"}}}</p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/images"><img src="/auditmainpic/images.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/images">Image Optimization</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/onpage-seo" class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 February
                                2019</span>
                            <br><br>
                            <p>{{{__ "landingMP1"}}} </p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/case-study-modomoto"><img src="/images/clients/modomoto_dark.svg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/case-study-modomoto">Case Study: Modomoto</a>
                            </h3> <a href="/{{{__ "lang"}}}/blog/seo-case-studies" class="tag yellow" data-aos="fade-in" data-aos-once="true"> case study</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 March
                                2019</span>
                            <br><br>
                            <p>Modomoto is Germany's first and largest Curated Shopping Service for men. <br><br></p>

                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/case-study-juniqe"><img src="/images/clients/junique_dark.svg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/case-study-juniqe">Case Study: Juniqe</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/seo-case-studies" class="tag yellow"> case study</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" />22 March 2019</span>
                            <br><br>
                            <p>Juniqe is the lifestyle brand for curated and affordable wall art, home accessories, stationery, and gifts.</p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class=" image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/case-study-fromatob"><img src="/auditmainpic/duplicate.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/case-study-fromatob">FromAtoB Case Study</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/seo-case-studies" class="tag yellow"> case study</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 17 March 2019</span>
                            <br> <br>
                            <p>fromAtoB.com is a journey planner and online booking platform. Users can search for a connection between two destinations within Europe (train, airplane, bus, and ride share).
                            </p>
                        </div>


                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/en/blog/how-to-get-those-first-links"><img src="/auditmainpic/offpage.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/en/blog/how-to-get-those-first-links">How to get those first links</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/backlinks" class="tag blue2"> backlinks</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 17 March 2019</span>
                            <br><br>
                            <p>Links you proactively acquire should always drive genuine high quality traffic. If this is not the case your link is very unlikely to be useful for anything. Links you acquire as mentioned by the late Eric Ward should
                                be
                                where they are for reason with a PR mind.
                            </p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/case-study-hellofresh"><img src="/images/clients/hellofresh_dark.svg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/case-study-hellofresh">Case Study: HelloFresh</a>
                            </h3> <a href="/{{{__ "lang"}}}/blog/seo-case-studies" class="tag yellow"> case study</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 14 March 2019</span>
                            <br><br>
                            <p>HelloFresh is the largest meal-kit provider in the United States and also has operations in Canada, Western Europe (including Germany and the UK), New Zealand and Australia.</p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/case-study-hometogo"><img src="/images/clients/hometogo_dark.svg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/case-study-hometogo">Case Study: HomeToGo</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/seo-case-studies" class="tag yellow"> case study</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 11 March 2019</span>
                            <br><br>
                            <p>HomeToGo is according to its website "the world's largest search engine for vacation rentals.</p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/en/blog/link-building-to-brandbuilding"><img src="/web.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/en/blog/link-building-to-brandbuilding">Link Building to Brand Building</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/backlinks" class="tag blue2"> backlinks</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 February 2019</span>
                            <br><br>
                            <p>Links are still used by Google to calculate the popularity and relevancy of the pages it discovers and crawls. But to which extend compared to a few years back? And does that mean link building outreach should be done
                                pro-actively the same way no matter what?
                            </p>
                        </div>


                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/en/blog/beyond-mobile-first"><img src="/blog1.png" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/en/blog/beyond-mobile-first">Beyond "mobile-first"</a>
                            </h3> <a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a>
                            <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019</span>
                            <br><br>
                            <p>As mobile traffic increases, data creation on the web explodes. Google is trying to find ways to adapt to the new content. Mobile first is more than optimising your mobile version but it is the first step, especially if
                                you currently offer a native app.
                            </p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/en/blog/linkbuilding-in-2020"><img src="/auditmainpic/linkmain.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/en/blog/linkbuilding-in-2020">Linkbuilding Getting it right</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/backlinks" class="tag blue2" data-aos="fade-in" data-aos-once="true"> backlinks</a> <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 5 January 2019</span>
                            <br><br>
                            <p>3Ts: Trust Traffic and onTopic Or EAT (Expertise, Authority and Trust): Trusted sites with great content get traffic

                                "Link building should help the content find the audience it was intended for and the audience find the content". (Eric Ward)
                            </p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/en/blog/voicesearch"><img src="/auditmainpic/voice.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/en/blog/voicesearch">Voice Search and its challenges</a>
                            </h3> <a href="/{{{__ "lang"}}}/blog/onpage-seo" class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</a>
                            <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 December 2018</span>
                            <br><br>
                            <p> Once you are ready for mobile first, the next step is to prepare your website for Voice Search.
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/localSEO"><img src="/auditmainpic/local.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/localSEO">Local SEO</a>
                            </h3> <a href="/{{{__ "lang"}}}/blog/onpage-seo" class="tag green" data-aos="fade-in" data-aos-once="true"> onpage</a>
                            <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 November 2018</span>
                            <br><br>
                            <p>Especially for local business, it is paramount to align your SEO overall strategy to local SEO, keeping in mind that the most important factor in personalised search results is location.
                            </p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/crawl"><img src="/auditmainpic/crawl.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/crawl">Crawling & SEO</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019</span>
                            <br><br>
                            <p>{{{__ "crawlabilityMPintro"}}}
                            </p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/https"><img src="/auditmainpic/technical.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/https">https</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019</span>
                            <br><br>
                            <p>{{{__ "securityMP1"}}}
                            </p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/international"><img src="/auditmainpic/international.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/international">International</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019</span>
                            <br><br>
                            <p>{{{__ "internationalMP1"}}}
                            </p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/mobile"><img src="/auditmainpic/mobilefriendly.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/mobile">Mobile</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019</span>
                            <br><br>
                            <p>{{{__ "mobileMP1"}}}
                            </p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/javascript"><img src="/auditmainpic/java.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/javascript">Javascript & SEO</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019</span>
                            <br><br>
                            <p>{{{__ "dynamicrenderingMP1"}}}
                            </p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/pagespeed"><img src="/auditmainpic/crawl.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/pagespeed">Page Speed</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019</span>
                            <br><br>
                            <p>{{{__ "speedMP2"}}}
                            </p>
                        </div>


                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/indexation"><img src="/auditmainpic/indexation.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/indexation">{{{__ "technicalHP1"}}}</a>
                            </h3><a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag red" data-aos="fade-in" data-aos-once="true"> technical</a><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019</span>
                            <br><br>
                            <p>{{{__ "indexationMP1"}}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>