<div class="main">

  <img
    src="/auditmainpic/competitor.jpg"
    title="analysis, a photo by Stephen Dawson"
    alt="competitor analysis SEO"
    class="imageAudit"
  />
  <div class="services">
      <div class="breadcrumb">
        <img class="iconsmore2" src="/arrow.png" alt="arrow" />


        <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
        <img class="iconsmore2" src="/arrow.png" alt="arrow" />


        <a href="/{{{__ "lang"}}}/blog"> BLOG </a>


      </div>
    <h1 class="h1services"> Beyond "mobile-first", where Google is heading </h1>
    <div class="serviceText">
        As mobile traffic increases, data creation on the web explodes. Google is trying to find ways to adapt to the new content. Mobile first is more than optimising your mobile version but it is the first step, especially if you currently offer a native app. Beyond mobile first, Google wants to move towards a less URL based indexation more dependent on APIs, XML feeds, JSON-LD feeds to index apps for example, whilst improving page speed by hosting more of the content.
    <br>

    <h2>Basics: Responsiveness is Key and makes things more simple</h2>

    t's 2018 and Google is little by little implementing the mobile first indexation process, crawling the mobile version first making it the primary version of the website, caching it instead of the PC one.<br><br>

    Optimised mobile-friendly will be ranking better for both mobile and desktop than a website with a poor mobile version. Having a responsive websites simplifies the problem. Nowadays, it’s essential to have a site that responds to all device sizes. <br><br>

    It still means checking and optimising load time and page speed, images and navigation. (40% of mobile online shoppers abandon the site after 3 seconds).<br><br>

    Obviously, content (14 point font is the size you should be using) should not be displayed the same way on PC and mobile for user experience sake, with content collapsed or hidden in tabs on mobile, which will be treated the same as visible. The content should have crawlable JavaScript and CSS. Also prefer buttons to text links to encourage user interaction.<br><br>

    On the SEO classic side, checks should be done for meta titles and description, canonical and href lang tags, links to XML sitemaps, robots instructions and schema markup.<br><br><br>


    <h2>Some examples of the Google backed technology for more Google-hosting and app indexation: AMP, PWA and MyBusiness</h2>

    <b>AMP (Accelerated Mobile Pages) Mobile-First Really Means Cloud First</b> <br><br>



    AMP helps to load your web pages much faster than regular HTML so this can help you if your mobile version is not performing well.<br><br>



    Although open-source, it is “lead” by Google and Google caches the content on their own cache to speed up load time.<br><br>



    AMP improve server performance and UX, however, it has some drawbacks to consider such as less programming capabilities, time and resources necessary to make the change, and some analytics data you could not access due to the pages being cached at Google.<br><br><br>







    <b>PWAs (Progressive Web Apps) : HTML5, JavaScript-heavy web apps, mostly targeted for Android market</b><br><br><



    If you offer a native app you might consider using this web applications that can appear to the user as traditional applications. <br><br>



    They offer quick loading and can be used offline but most importantly as search engine friendly. with its JSON-LD formatted API.<br><br>



    The current cons are that not all browsers are supported especially Safari which covers nearly half of the mobile browser market. Same with the device software with no support functionality on iOS devices.<br><br>



    PWAs can be combined with AMP (PWAMP) which create super fast web apps with offline access and search engine friendliness. <br><br><br>

    <b>More and more Local and Google-cached, the importance of Google MyBusiness. Mobile-First Really Means Cloud First</b><br><br>



    Key for customising your local presence on Google Maps which shows in SERPs and collecting star ratings and reviews. Since the content that you submit to Google My Business is already hosted in a database in Google’s cloud, they don’t need an API. google is pushing this. <br><br>







    As Sundar Pichai, Google's CEO declared “We will move from mobile first to an AI first world."<br><br>



    Part 2 of this series will go deeper in looking at other Google's technology which is leading in this direction such as Firebase, Action schema and Dynamic Linking.<br><br>

    </div>
  </div>
  <script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "BreadcrumbList",
"itemListElement": [{
"@type": "ListItem",
"position": 1,
"name": "{{{__ "services"}}}",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}"
},{
"@type": "ListItem",
"position": 2,
"name": "BLOG",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}/blog"
}]
}
</script>
<script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "BreadcrumbList",
"itemListElement": [{
"@type": "ListItem",
"position": 1,
"name": "{{{__ "services"}}}",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}"
},{
"@type": "ListItem",
"position": 2,
"name": "BLOG",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}/blog"
}]
}
</script>
  

</div>
