<div class="content blog-post single-post blog-en">



    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>
                            </ul>
                        </nav>
                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="title is-1 is-heavy is-white has-text-centered">How to get those first links</h1><br>
                        </div>
                        <br>
                        <span class="subtitle is-6 is-black"><a href="/{{{__ "lang"}}}/contact">By Alex Bieth</a></span><br>
                        <span class="subtitle is-6 is-black"><img src="/clock.png" /> 17 March 2019</span>
                        <br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-10-desktop post">
                        <figure class="image is-fullwidth is-outlined">
                            <img alt="brandbuilding" src="/web.jpg" />
                        </figure>
                        <span class="is-heavy subtitle is-4">Links you proactively acquire should always drive genuine high quality traffic. If this is not the case your link is very unlikely to be useful for anything. Links you acquire as mentioned
                            by the late Eric Ward should be where they are for reason with a PR mind.</span><br><br>

                        <br>
                        <cite>"Link building should help the content find the audience it was intended for and the audience find the content" . (Eric Ward)</cite>


                        <h2 class="title is-3">Some tips for those first links to get started:</h2>

                        <p>First and for all, make sure your website is ready and optimized before you start getting the attention.<br /> Associate the website with the owner or key figures of the company</p>

                        <p>Search for mentions of competitors whether lists, directories and comparison and get your name there</p>

                        <p>Search for list or directories of local organisations in your area of operation or with the same attributes. Also local chamber of commerce, newspaper, sport club offering a discount...)</p>

                        <p>Guest post on popular and relevant blogs, build relationships with influencers. Check for dead links</p>

                        <p>Get reviews from online influencers, or independent review sites such as G2Crowd</p>

                        <p>Monitor non linked mentions of the website and get them made as links. This however should not be too much of a priority as there are more signals which are pointing to the fact these mentions are already considered b
                            Google as trust ones</p>

                        <p>Useful tools for this research: Majestic SEO and Open Site Explorer (Moz). SEMRush to identify the top ranking pages on a site</p>

                        <h2 class="title is-3">Competitive link mining</h2>

                        <p>It should be partially used to figure out a few choice bits to add to your own strategy, not a massive pattern to copy. For instance:</p>

                        <span class="blue-dot-list">
                            <ul>
                                <li>a quality directories where you don’t yet have a listing.</li>
                                <li>authoritative sites that you can possibly start writing for.</li>
                                <li>finding resource pages where you could add a link to your site.</li>
                                <li>these should not be link methods to use extensively. Better to find new links.</li>
                            </ul>
                        </span>

                        <h2 class="title is-3">Quality User-generated Forum Link Building</h2>

                        <p>Mostly to drive traffic and for <a href="/en/blog/seo-glossary#brandbuilding">brand awareness</a> as links are normally <a href="/en/blog/seo-glossary#nofollow">nofollow</a>. Do create content for forum and point it, participating in
                            relevant
                            other conversations to avoid focusing only self-promotion.</p>

                        <h2 class="title is-3">Measuring, Controlling and Learning</h2>

                        <p>Track visitors, conversions and traffic. Compare Keywords rankings</p>
                        <p>Evaluate how any improvements in ranking improves or not your goals for conversion, maybe the ones you are targeting are not the best ones.</p>
                        <br><br>
                        <div class="fb-like sidebar columns is-centered" data-href="https://www.seoberlino.com/en" data-width=250 data-layout="standard" data-action="like" data-size="large" data-share="true"></div><br><br>

                    </div>

                </div>{{>articlesCTA}}
            </div>
    </section>

    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments">
                        <div id="disqus_thread"></div>
                        <script>
                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*

                            */

                            var disqus_config = function() {
                                this.page.url = `https://www.seoberlino.com/en/blog/how-to-get-those-first-links`; // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = "firstlinks"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };


                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document,
                                    s = d.createElement('script');
                                s.src = 'https://www-seoberlino-com.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="audit-hero hero is-large-intro">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <h2 class="title is-2 is-heavy boost-margin has-text-centered">Other SEO Blog articles</h2>

                <div class="columns is-centered is-multiline">

                    <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                        <figure class="image is-4by3">
                            <a href="/en/blog/seo-glossary"><img src="/blog2.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/blog/seo-glossary">SEO Glossary</a>
                        </h3>
                        <p>SEO Jargon explained: Search Volume, canonical, nofollow, Google Keyword Tool, etc</p>

                    </div>



                    <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                        <figure class="image is-4by3">
                            <a href="/en/blog/how-to-get-those-first-links"><img src="/auditmainpic/offpage.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/blog/how-to-get-those-first-links">How to get those first links</a>
                        </h3>
                        <p>Links you proactively acquire should always drive genuine high quality traffic. If this is not the case your link is very unlikely to be useful for anything. Links you acquire as mentioned by the late Eric Ward should be
                            where they are for reason with a PR mind.
                        </p>
                    </div>

                    <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                        <figure class="image is-4by3">
                            <a href="/en/blog/link-building-to-brandbuilding"><img src="/web.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/blog/link-building-to-brandbuilding">Link Building to Brand Building</a>
                        </h3>
                        <p>Links are still used by Google to calculate the popularity and relevancy of the pages it discovers and crawls. But to which extend compared to a few years back? And does that mean link building outreach should be done
                            pro-actively the same way no matter what?
                        </p>
                    </div>

                    <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                        <figure class="image is-4by3">
                            <a href="/en/blog/beyond-mobile-first"><img src="/blog1.png" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/blog/beyond-mobile-first">Beyond "mobile-first"</a>
                        </h3>
                        <p>As mobile traffic increases, data creation on the web explodes. Google is trying to find ways to adapt to the new content. Mobile first is more than optimising your mobile version but it is the first step, especially if you
                            currently offer a native app.
                        </p>
                    </div>
                    <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                        <figure class="image is-4by3">
                            <a href="/en/blog/linkbuilding-in-2020"><img src="/auditmainpic/linkmain.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/blog/linkbuilding-in-2020">Linkbuilding: Getting it right in 2020</a>
                        </h3>
                        <p>3Ts: Trust Traffic and onTopic Or EAT (Expertise, Authority and Trust): Trusted sites with great content get traffic

                            "Link building should help the content find the audience it was intended for and the audience find the content". (Eric Ward)
                        </p>
                    </div>

                    <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                        <figure class="image is-4by3">
                            <a href="/en/blog/why-you-need-implement-structured-data"><img src="/blog6.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/blog/why-you-need-implement-structured-data">Structured Data</a>
                        </h3>
                        <p>Google, Bing, Yandex and Yahoo agreed on a standardised format: schema.org for providing information about a page and to classify its content. using Structured Data will enable you to improve the way your pages are
                            displayed.
                    </div>

                    <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                        <figure class="image is-4by3">
                            <a href="/en/blog/localSEO"><img src="/auditmainpic/local.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/blog/localSEO">Local SEO</a>
                        </h3>
                        <p>
                            Especially for local business, it is paramount to align your SEO overall strategy to local SEO, keeping in mind that the most important factor in personalised search results is location.
                        </p>
                    </div>



                    <div class="column is-12-mobile is-6-tablet is-6-desktop post post1">
                        <figure class="image is-4by3">
                            <a href="/en/blog/voicesearch"><img src="/auditmainpic/voice.jpg" alt="blog article" /></a>
                        </figure>
                        <h3 class="title is-4 is-heavy">
                            <a href="/en/blog/voicesearch">Voice Search and how it challenges SEO</a>
                        </h3>
                        <p> Once you are ready for mobile first, the next step is to prepare your website for Voice Search.

                    </div>


                </div>
            </div>
        </div>
    </section>


</div>