<section class="content case-study-post casestudy-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-7-desktop">
                    <div>
                        <div class="boxcolor"><br>
                            <h1 class="title is-1 is-heavy is-white has-text-centered">SEO Blog - Onpage SEO</h1><br>
                        </div><br>
                        <b>
                            <a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag grey" data-aos="fade-in" data-aos-once="true"> technical</a>
                            <a href="/{{{__ "lang"}}}/blog/onpage-seo" class="tag red"> onpage seo</a>
                            <a href="/{{{__ "lang"}}}/blog/seo-case-studies" class="tag grey" data-aos="fade-in" data-aos-once="true"> case study</a>
                            <a href="/{{{__ "lang"}}}/blog/backlinks" class="tag grey" data-aos="fade-in" data-aos-once="true"> backlinks</a><br> <br>
                        </b><br>
                        <br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>
                                <li><a href="">Onpage SEO</a></li>
                            </ul>
                        </nav><br>
                    </div><br>
                    <div class="content archive blog-en columns is-multiline is-large-intro boost-margin has-text-centered" style=" overflow-x: hidden">

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/site-migration-seo-checklist"><img src="/computer.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="//blog/site-migration-seo-checklist">Site Migration SEO Checklist</a>
                            </h3> <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 8 July 2020</span>
                            <br><br>
                            <p>Whether for a site relaunch with a change of domain or switch to https, if the site structure is changed, some important steps need to be followed. </p>

                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post" data-aos="fade-out">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/seo-glossary"><img src="/blog2.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/seo-glossary">SEO Glossary</a>
                            </h3> <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 10 April 2020</span>
                            <br><br>
                            <p>SEO Jargon explained: Search Volume, canonical, nofollow, Google Keyword Tool, etc</p>
                        </div>


                        <div class="column is-12-mobile is-6-tablet is-5-desktop post" data-aos="fade-out">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/keyword-research"><img src="/auditmainpic/content.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/seo-glossary">{{{__ "keywordresearch"}}}</a>
                            </h3> <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 November 2019</span>
                            <br><br>
                            <p>{{{__ "keywordMP1"}}}</p>
                        </div>





                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/why-you-need-implement-structured-data"><img src="/blog6.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/why-you-need-implement-structured-data">Structured Data</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 August 2019</span>
                            <br><br>
                            <p>Google, Bing, Yandex and Yahoo agreed on a standardised format: schema.org for providing information about a page and to classify its content. using Structured Data will enable you to improve the way your pages are
                                displayed.
                        </div>



                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/beyond-mobile-first"><img src="/blog1.png" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/beyond-mobile-first">Beyond "mobile-first"</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019</span>
                            <br><br>
                            <p>As mobile traffic increases, data creation on the web explodes. Google is trying to find ways to adapt to the new content. Mobile first is more than optimising your mobile version but it is the first step, especially if
                                you
                                currently offer a native app.
                            </p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post" data-aos="fade-in">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/voicesearch"><img src="/auditmainpic/voice.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/voicesearch">Voice Search and its challenges</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 December 2018</span>
                            <br><br>
                            <p> Once you are ready for mobile first, the next step is to prepare your website for Voice Search.
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/localSEO"><img src="/auditmainpic/local.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/localSEO">Local SEO</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 November 2018</span>
                            <br><br>
                            <p>
                                Especially for local business, it is paramount to align your SEO overall strategy to local SEO, keeping in mind that the most important factor in personalised search results is location.
                            </p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/metas"><img src="/auditmainpic/tag.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/metas">Metas & Titles</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 February 2019</span>
                            <br><br>
                            <p>{{{__ "metasMP3"}}} </p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/content"><img src="/auditmainpic/content.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/content">Content & Landing pages</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 18 May 2019</span>
                            <br><br>
                            <p>{{{__ "landingMP1"}}} </p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blog/images"><img src="/auditmainpic/images.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blog/images">Image Optimization</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 February 2019</span>
                            <br><br>
                            <p>{{{__ "landingMP1"}}} </p>
                        </div>
                    </div>

                    <br><br><br>

                    <div class="column is-12-mobile is-7-tablet is-9-desktop post content">
                        <h2> {{{__ "moreabout"}}} On-page SEO</h2>
                        <p class=" reduced-top-margin">{{{__ "onpageintro"}}}</p>
                        <br>

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "onpageintroT3"}}}</h2>

                        <p>{{{__ "onpageintro3"}}}</p>


                        <p>{{{__ "onpageintro4"}}}</p>

                        <br>

                        <br><br><br>


                        <h2 id="internallinking" class="title is-2 is-heavy reduced-top-margin">{{{__ "onpageHP3"}}}</h2>


                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "internalMPT1"}}}</h2>
                        <p>{{{__ "internalMP1"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "internalMPT2"}}}</h2>
                        <p>{{{__ "internalMP2"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "internalMPT4"}}}</h2>
                        <p>{{{__ "internalMP4"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "internalMPT5"}}}</h2>
                        <p>{{{__ "internalMP5"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "internalMPT3"}}}</h2>
                        <p>{{{__ "internalMP3"}}}</p><br><br><br>




                        <h2 id="structureddata" class="title is-2 is-heavy reduced-top-margin">{{{__ "onpageHP8"}}}</h2>


                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "structuredMPT1"}}}</h2>
                        <p>{{{__ "structuredMP1"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "structuredMPT2"}}}</h2>
                        <p>{{{__ "structuredMP2"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "structuredMPT3"}}}</h2>
                        <p>{{{__ "structuredMP3"}}}</p>

                        <pre>&lt;script type="application/ld+json">
                            {
                            "@context": "http://schema.org",
                            "@type": "Organization",
                            "url": "yoursite.com",
                            "contactPoint": [{
                            "@type": "ContactPoint",
                            "telephone": "youphonenumber",
                            "contactType": "customer support"
                            }]
                            }
                            &lt;/script>

                            &lt;script type="application/ld+json">
                            {
                            "@context": "https://schema.org",
                            "@type": "BreadcrumbList",
                            "itemListElement": [{
                            "@type": "ListItem",
                            "position": 1,
                            "name": "Books",
                            "item": "https://example.com"
                            }, {
                            "@type": "ListItem",
                            "position": 2,
                            "name": "Authors",
                            "item": "https://example.com/2"
                            }, {
                            "@type": "ListItem",
                            "position": 3,
                            "name": "Ann Leckie",
                            "item": "https://example.com/3"
                            }, {
                            "@type": "ListItem",
                            "position": 4,
                            "name": "Ancillary Justice",
                            "item": "https://example.com/4"
                            }]
                            }
                            &lt;/script></pre>

                        <p><a target="_blank" href="https://schema.org/">Schema.org all references</a></p>
                        <p><a target="_blank" href="https://www.google.com/webmasters/markup-helper/u/0/?hl=en">Markup Helper</a></p>
                        <p><a target="_blank" href="https://search.google.com/structured-data/testing-tool/u/0/?hl=en">Tester</a></p>



                        <br><br><br><br>



                        <h2 id="voicesearch" class="title is-2 is-heavy reduced-top-margin">{{{__ "onpageHP10"}}}</h2>
                        <figure class="image is-fullwidth is-outlined">
                            <img alt="{{{__ "onpageHP10"}}}" src="/auditmainpic/voice.jpg" />
                        </figure>
                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "voiceMPT1"}}}</h2>
                        <p>{{{__ "voiceMP1"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "voiceMPT2"}}}</h2>
                        <p>{{{__ "voiceMP2"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "voiceMPT3"}}}</h2>
                        <p>{{{__ "voiceMP3"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "voiceMPT4"}}}</h2>
                        <p><a class="blue" href="/{{{__ "lang"}}}/blog/seo-glossary#searchvolume">Search Volume</a>{{{__ "voiceMP4"}}}</p>
                        <h2 class="title is-4 is-heavy">Featured Snippets</h2>
                        <p>{{{__ "voiceMP5"}}}</p>

                    </div>




                </div><br>
    </section>