    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">


                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="title is-1 is-heavy is-white has-text-centered" data-aos="fade-up-top">{{{__ "onpageHP1"}}}</h1><br>
                        </div><br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>
                                <li><a href="/{{{__ "lang"}}}/blog/onpage-seo">Onpage SEO</a></li>
                            </ul>
                        </nav><br>
                        <div> Tags:

                            <a href="/{{{__ "lang"}}}/blog/seo-case-studies" class="tag green"> onpage seo</a>

                        </div><br><br>
                        <span class=" subtitle is-6 is-black"><a href="/{{{__ "lang"}}}/contact">By Alex Bieth</a></span><br>
                        <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 18 Feb 2019</span>
                        <br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">

                        <figure class="image is-fullwidth is-outlined">
                            <img alt="{{{__ "keywordresearch"}}}" src="/auditmainpic/content.jpg" />
                        </figure>

                        <span class=" subtitle is-5 is-black">
                            <p>{{{__ "keywordMP1"}}}</p>
                            <p>{{{__ "keywordMP2"}}}</p>
                            <p>{{{__ "keywordMP3"}}}</p>
                        </span><br>
                        <h2 class="title is-3 is-heavy">{{{__ "keywordMPT4"}}}</h2>

                        <p>
                            <a class="blue" href="/{{{__ "lang"}}}/blog/seo-glossary#searchvolume">Search Volume </a>{{{__ "keywordMP4"}}}</p>
                        {{{__ "keywordMP5"}}}
                        {{{__ "keywordMP6"}}}
                        </p>

                        <h2 class="title is-3 is-heavy">{{{__ "keywordMPT7"}}}</h2>
                        <p>
                            <a class="blue" href="/{{{__ "lang"}}}/blog/onpage-seo#voicesearch">
                                {{{__ "onpageHP10"}}}
                            </a>
                            {{{__ "keywordMP7"}}}
                        </p>


                        <h2 class="title is-3 is-heavy">Keyword Tools</h2>
                        <span class="blue-dot-list">
                            <ul>
                                <li><a target="_blank" href="https://ads.google.com/intl/en_DE/home/">Adwords Keyword Planner
                                    </a></li>
                                <li><a target="_blank" href="https://search.google.com/search-console">Google's Search Console
                                    </a></li>
                                <li><a target="_blank" href="https://trends.google.de/trends/?geo=DE">Google Trends
                                    </a></li>
                                <li><a target="_blank" href="https://ahrefs.com/keywords-explorer">ahrefs Keywords Explorer
                                    </a></li>
                                <li><a target="_blank" href="https://soovle.com/">Soovle
                                    </a></li>
                                <li><a target="_blank" href="https://keywordtool.io/">keywordtool.io
                                    </a></li>
                                <li><a target="_blank" href="https://kwfinder.com/">KW Finder
                                    </a></li>
                                <li><a target="_blank" href="https://moz.com/explorer">Moz Keyword Explorer
                                    </a></li>
                                <li><a target="_blank" href="https://kwfinder.com/">KWFinder
                                    </a></li>
                            </ul>
                        </span><br> <br>

                    </div>


                    <div class="column is-centered is-10-mobile is-7-tablet is-3-desktop sidebar sidebarblog">

                        {{>sideonpage}}



                        <br><br>

                    </div><br>

                </div>
                {{>articlesCTA}}
            </div>
    </section>
    </div>


    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments">
                        <div id="disqus_thread"></div>
                        <script>
                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*

                            */

                            var disqus_config = function() {
                                this.page.url = `https://www.seoberlino.com/{{{__ "lang"}}}/blog/keyword-research`; // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = "KWResearch"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };


                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document,
                                    s = d.createElement('script');
                                s.src = 'https://www-seoberlino-com.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>