<div class="main">

  <img
    src="/auditmainpic/competitor.jpg"
    title="analysis, a photo by Stephen Dawson"
    alt="competitor analysis SEO"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/blog"> BLOG </a>


    </div>
    <h1 class="h1services"> How to get those first links
 </h1>
 <div class="serviceText">

        <h2>Back to Basics</h2>



        "Link building should help the content find the audience it was intended for and the audience find the content". (Eric Ward, a pioneer in link-building strategies for websites)<br><br>Links you proactively acquire should always drive genuine high quality traffic. If this is not the case your link is very unlikely to be useful for anything. Links you acquire as mentioned by the late Eric Ward should be where they are for reason
        with a PR mind.<br>





        <h2>Some tips for those first links to get started:</h2>


        First and for all, make sure your website is ready and optimized before you start getting the attention.<br /> Associate the website with the owner or key figures of the company<br> Search for mentions of competitors whether lists, directories and comparison and get your name there<br>

        search for list or directories of local organisations in your area of operation or with the same attributes. Also local chamber of commerce, newspaper, sport club offering a discount...)<br>

        guest post on popular and relevant blogs, build relationships with influencers.
        <br>
        check for dead links<br>

        get reviews from online influencers, or independent review sites such as G2Crowd<br>

        monitor non linked mentions of the website and get them made as links. This however should not be too much of a priority as there are more signals which are pointing to the fact these mentions are already considered b Google as trust ones<br><br><br>



        Useful tools for this research: Majestic SEO and Open Site Explorer (Moz). SEMRush to identify the top ranking pages on a site<br>



        <h2>Competitive link mining</h2>
It should be partially used to figure out a few choice bits to add to your own strategy, not a massive pattern to copy. For instance:<br>

        a quality directories where you don’t yet have a listing.<br>

        authoritative sites that you can possibly start writing for.<br>

        finding resource pages where you could add a link to your site.<br>

        But these should not be link methods to use extensively. Better to find new links.<br>







        <h2>Quality User-generated Forum Link Building</h2>



        Mostly to drive traffic and for brand awareness as links are normally nofollow. Do create content for forum and point it, participating in relevant other conversations to avoid focusing only self-promotion. <br><br>



        <h2>Measuring, Controlling and Learning</h2>


Track visitors, conversions  and traffic. Compare Keywords rankings<br>Evaluate how any improvements in ranking improves or not your goals for conversion, maybe the ones you are targeting are not the best ones.<br>




<br> <br>
    </div>
  </div>
  <script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "BreadcrumbList",
"itemListElement": [{
"@type": "ListItem",
"position": 1,
"name": "{{{__ "services"}}}",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}"
},{
"@type": "ListItem",
"position": 2,
"name": "BLOG",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}/blog"
}]
}
</script>
<script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "BreadcrumbList",
"itemListElement": [{
"@type": "ListItem",
"position": 1,
"name": "{{{__ "services"}}}",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}"
},{
"@type": "ListItem",
"position": 2,
"name": "BLOG",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}/blog"
}]
}
</script>
  

</div>
