<div class="content blog-post single-post blog-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/auditmainpic/competitor.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-centered">
                        <div class="column is-12-mobile is-11-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">Link Building to Brand Building</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Breadcrumb -->




    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>
                            </ul>
                        </nav>
                        <h6 class="title is-6 is-black">Published: February, 12 2019</h6>

                        <h6 class=" title is-6 is-black"><a href="/en/contact">Author: Alex Bieth</a></h6>
                        <br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-10-desktop post">

                        <p>Links are still used by Google to calculate the popularity and relevancy of the pages it discovers and crawls. But to which extend compared to a few years back? And does that mean link building outreach should be done
                            pro-actively the
                            same way no matter what?<p>


                                <h2 class="title is-4 is-heavy">Content marketing to share your expertise and build your brand</h2>

                                <p>In fact, classical link building outreach should reserved to small or new websites and brands who need to make a name for themselves. Think of Heineken's founder who when the beer was not yet the brand it is,
                                    allegedly went from bar to bar to ask for Heineken and would storm out when the bar didn't have it in offer "I will come to this bar only when you will serve Heineken". Same goes to small and new websites which
                                    still need to make a name for themselves. It is time-consuming, costly and not that enjoyable but necessary to get that minimum domain authority and visibility.</p>

                                <p>As the website grows in popularity for the recognised product or service you offer, links should come to you through brand building, it becomes more a PR work. Same for Heineken when the beer started winning prizes,
                                    no more need to go from bar to bar to get the brand that visibility.</p>


                                <p>Google constantly evolves with technology, integrating new factors for rankings and aiming for "offline" signals in part about brand trust. Meaning more established companies should mostly focus on brand building in
                                    different ways than buying or begging for links. Go for the 3Ts: Trust, Traffic and Topics. Trusted sites with great topic content get traffic.</p>

                                <h2 class="title is-4 is-heavy">Content Marketing for Brand Awareness</h2>
                                <h2 class="title is-5 is-heavy reduced-top-margin">Process example</h2>
                                <span class="blue-dot-list">
                                    <ul>
                                        <li>Pick a topic relevant to your business</li>
                                        <li>Offer clear advice on expertise, with passion</li>
                                        <li>include original research on the topic</li>
                                        <li>Curate the best up-to-date advice out there on the topic from other experts (citing my sources)</li>
                                        <li>Publish article on the website and newsletter</li>
                                        <li>Automatically syndicate the blog post to Twitter, Facebook and Linkedin to boost social activity</li>
                                        <li>Goal: generate natural backlinks but the content needs to be in line with the target audience.</li>
                                    </ul>
                                </span>

                                <h2 class="title is-5 is-heavy">Topic examples</h2>
                                <span class="blue-dot-list">
                                    <ul>
                                        <li>Comparison and Rankings with geographical angle. Useful content for target group rather than selling to them. Review buyers personas (interests), topics they care about (facebook audience insights),
                                            consider how trending news
                                            topics, test topic son social media.</li>
                                        <li>Beware of too much data, political topics, avoid videos, super niche topics, news information which would be outdated once launched.</li>
                                    </ul>
                                </span>

                                <h2 class="title is-5 is-heavy reduced-top-margin">Topic examples</h2>
                                <p>Whether established or not, you want positive signals and interactions for your brand with Brand mentions keeping away from directly promoting your product or service but building brand awareness and trust, by
                                    sharing content or data which are of interest for your target, with topics they care about, or trending news topics. But more established companies should definitely be focusing more on content marketing than
                                    backlink outreach.</p>

                                <h2 class="title is-5 is-heavy reduced-top-margin">Positive signals</h2>
                                <p>How? Why?</p>
                                <p>Emotional and Surprising content, universally appealing to get attention and trust.</p>
                                <p>According to Demand Metric's survey Content Marketing is working and way more effective than most other marketing campaign types.</p>


                                <h2 class="title is-5 is-heavy">Influencers to amplify reach</h2>
                                <p>Influencers can be for example: bloggers, journalists, authors, podcasters, conferences organiser, researchers or editors.</p>
                                <p>They often use Twitter so it is important to get to understand Twitter and use this channel if you want to get in touch and better know them.</p>
                                <p>Influencer targeted: high DA (Domain Authority) sites, specific keywords terms, other sites in sector or niche</p>


                                <h2 class="title is-4 is-heavy">How to get them to talk about you? Why and What would they share from you?</h2>
                                <span class="blue-dot-list">
                                    <ul>
                                        <li>Why influencers would share your info? Picky related to relevance to work value to personal brand</li>
                                        <li>Works makes them look good, servers, data collections, work creates credibility for their goals or believes.</li>
                                        <li>Deserving of their recognition</li>
                                        <li>Non financial incentive to link</li>
                                        <li>Content matters to their audience</li>
                                        <li>New or recently updated</li>
                                        <li>Stats / data but timing is key. counter point view challenger</li>
                                    </ul>
                                </span>
                                <p>Useful link: <a target="blank" href="https://buzzsumo.com">BuzzSumo</a></p>

                                <h2 class="title is-4 is-heavy">Media Links with PR</h2>
                                <span class="blue-dot-list">
                                    <ul>
                                        <li>There is now a clear overlapping PR/SEO.</li>
                                        <li>Effective link building requires outreach, and that requires you to truly understand what motivates people — contributors and/or editors in this case. You have to introduce yourself, frame your pitch and
                                            demonstrate how you’ll
                                            make their job easier all in a couple of hundred words.</li>
                                        <li>Measuring, Controlling and Learning</li>
                                        <li>Track visitors, conversions and traffic</li>
                                        <li>Compare Keywords rankings</li>
                                        <li>Evaluate how any improvements in ranking improves or not your goals for conversion, maybe the ones you are targeting are not the best ones.</li>
                                    </ul>
                                </span>

                    </div>
                </div> {{>articlesCTA}}

            </div>
    </section>



</div>
<section class="clients-hero red-gradient">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">
            <h2 class="title is-3 is-white is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>
            {{>clients}}
        </div>
    </div>
</section>