<div class="content blog-post single-post blog-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/asia.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-centered">
                        <div class="column is-12-mobile is-11-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">SEO in China, Japan and S. Korea - 2020</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>
                            </ul>
                        </nav>
                        <h6 class="title is-6 is-black">Published: May 27th 2019</h6>

                        <h6 class=" title is-6 is-black"><a href="/en/contact">Author: Alex Bieth</a></h6>
                        <br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-10-desktop post">
                        <div class="">


                            <p class="italic">
                                China: Google has a tiny Market share (except in Hong Kong) : rather Baidu and Sogou. Importance of Baidu’s own products: (Baike, Zhidao, Tieba, etc.). Sogou emergence backed by Tencent’s WeChat (1 billion users) and
                                taking advantage
                                of Baidu’s loss of dominance since a scandal.
                            </p>

                            <p class="italic">
                                Japan: Although Google now dominates the market, Yahoo! which is more than a Search engine is still key. They offer many other services: News, Shopping, Finance, Map, Bookstore, Mail, Car navigation, Train
                                navigation,
                                Dating, Credit
                                card, Mobile networks, Hotel booking, Auction, Advertising. Big contrast versus Google’s initial empty search page. Highly supported by main shareholder Softbank.
                            </p>

                            <p class="italic">
                                South Korea: Naver is similar to Yahoo! Japan in a market also dominated by Google. Naver shows bias towards its own assets: Naver Encyclopaedia, Knowledge IN, Naver Blog, Naver Café) and paid advertisements.
                            </p>

                            <p class="italic">
                                For all countries: it is preferable to have a localised domain, hosted in target country, localised content adapted to target. It is paramount to register and control traffic using respective Webmaster tools & local
                                web services to be visible on local Search engines. </p>


                            <h2 class="title is-2 is-heavy">China</h2>
                            <p class="italic">Queries: Chinese people prefer to use longer queries made up of several keywords.</p>

                            <table class="asiablog">
                                <tr>
                                    <th>Market Share</th>
                                    <th>Baidu</th>
                                    <th>SoGou</th>
                                    <th>Shenma</th>
                                    <th>Haosou</th>
                                </tr>

                                <tr>
                                    <th>Total</th>
                                    <th>67%</th>
                                    <th>18%</th>
                                    <th>7%</th>
                                    <th>3%</th>
                                </tr>
                                <tr>
                                    <th>Desktop</th>
                                    <th>42%</th>
                                    <th>38%</th>
                                    <th>/</th>
                                    <th>7%</th>

                                </tr>
                                <tr>
                                    <th>Mobile</th>
                                    <th>81%</th>
                                    <th>5%</th>
                                    <th>11%</th>
                                    <th>1%</th>
                                </tr>


                            </table>

                            <h3 class="title is-3">About Baidu</h3>

                            <figure class="image is-fullwidth is-outlined">
                                <img src="/baidu.png" alt="baidu" />
                            </figure>

                            <p>Webmaster Tools for Baidu in Chinese, important to set up to register account and verify the website. Also Needed: an Internet Content Publishing (ICP) license. Very few non-Chinese website show: importance of
                                Chinese
                                tld, hosting provider (HK or Mainland China) and physical address Black hat much more successful than on Google (although still should be avoided) Baidu Doesn’t Support Schema.org
                                Many ads on first page Direct competition with Baidu’s own products (Baike, Zhidao, Tieba, etc.). Importance of creating company profile on Baike, engaging Q&A platform on Zhidao (Chinese Quora), and leverage file
                                sharing platform Wenku Baidu suffered a big scandal (Wei Zexi scandal) and since then its reputation and market domination is more fragile.</p>

                            <h3 class="title is-3">About Sogou</h3>
                            <figure class="image is-fullwidth is-outlined">
                                <img src="/sogou.png" alt="sogou" />
                            </figure>

                            <p>It has its own unique algorithm meaning that strategies designed for Baidu won’t be as effective on Sogou. Acquired by Tencent (WeChat*), one of the largest tech companies in China. No other search engine in China
                                is
                                capable of searching on WeChat. With over 1 billion users on WeChat this gives Sogou a serious leg up over its competitors.</p>

                            <h2 class="title is-2 is-heavy">Japan</h2>

                            <p>The Japanese have an affinity for local brands, and it is important to be as local as possible. In the Japanese languages, there are many different ways to write the same thing. It is important to know what’s most
                                preferred by the target audience. Each term will result in different site rankings. Like for China and Korea: hosting locally within Japan, with a local IP address, can yield better organic search rankings.
                                Japanese
                                users consider clean web design to be desolate.</p>

                            <table class="asiablog">
                                <tr>
                                    <th>Market Share</th>
                                    <th>Google</th>
                                    <th>Yahoo!</th>
                                </tr>

                                <tr>
                                    <th>Total</th>
                                    <th>76%</th>
                                    <th>21%</th>
                                </tr>
                                <tr>
                                    <th>Desktop</th>
                                    <th>77%</th>
                                    <th>16%</th>
                                </tr>
                                <tr>
                                    <th>Mobile</th>
                                    <th>74%</th>
                                    <th>24%</th>
                                </tr>
                            </table>

                            <h3 class="title is-3">About Yahoo!</h3>
                            <figure class="image is-fullwidth is-outlined">
                                <img src="/yahoojapan.png" alt="yahoo" />
                            </figure>

                            <p>Majority shareholder (48%): Softbank Yahoo! Japan decided to implement Google’s algorithms in 2010 (Bing’s for most other countries)
                                Yahoo replaced Quora as Quora not available in Japanese. But also the following services: News, Shopping, Finance, Map, Bookstore, Mail, Car navigation, Train navigation, Dating, Credit card, Mobile networks, Hotel
                                booking, Auction, Advertising Yahoo! Japan places more weight on directory listings than any other search engine. Focus on building backlinks originating from Japanese IP addresses, local domains, local hosting as
                                well
                                as from websites that contain Japanese content.</p>

                            <h2 class="title is-2 is-heavy">South Korea</h2>

                            <table class="asiablog">
                                <tr>
                                    <th>Market Share</th>
                                    <th>Google</th>
                                    <th>Naver</th>
                                </tr>

                                <tr>
                                    <th>Total</th>
                                    <th>78%</th>
                                    <th>16%</th>
                                </tr>
                                <tr>
                                    <th>Desktop</th>
                                    <th>78%</th>
                                    <th>14%</th>
                                </tr>
                                <tr>
                                    <th>Mobile</th>
                                    <th>78%</th>
                                    <th>19%</th>
                                </tr>
                            </table>

                            <h3 class="title is-3">About Naver</h3>
                            <figure class="image is-fullwidth is-outlined">
                                <img src="/naver.png" alt="naver" />
                            </figure>

                            <p>More of a platform/directory service than a search engine: content creation on Naver’s various content areas Need to register on Naver webmaster tools Naver doesn’t crawl the entire internet. Businesses who want to
                                rank
                                within the SERP need to register with Naver, and create accounts. Naver’s SERP is focused mainly on user generated content, news, books, blogs, Q&A, shopping, popular social media interactions, and paid listings.
                                Organic results discreet. Naver does show bias towards its own assets: Naver Encyclopaedia, Knowledge IN, Naver Blog, Naver Café) and paid advertisements. Two main drivers to determine search results C-Rank
                                (creator
                                rank): to determine the authority, popularity and reliability of the content and P-rank. The P-Rank algorithm to align quality of results with the likes of Google. Naver prefers title tags to be 40 characters or
                                less,
                                and the meta description to be 80 characters or less. Naver owns one of the leading browsers: Whale</p>

                        </div>
                    </div>{{>articlesCTA}}
                </div>
            </div>
    </section>



</div>
<section class="clients-hero red-gradient">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">
            <h2 class="title is-3 is-white is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>
            {{>clients}}
        </div>
    </div>
</section>