<div class="main">

  <img
    src="/auditmainpic/competitor.jpg"
    title="analysis, a photo by Stephen Dawson"
    alt="competitor analysis SEO"
    class="imageAudit"
  />
  <div class="services">
      <div class="breadcrumb">
        <img class="iconsmore2" src="/arrow.png" alt="arrow" />


        <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
        <img class="iconsmore2" src="/arrow.png" alt="arrow" />


        <a href="/{{{__ "lang"}}}/blog"}> BLOG </a>


      </div>
    <h1 class="h1services"> Voice Search and how it challenges SEO
 </h1>
    <div>
        Once you are ready for mobile first, the next step is to prepare your website for Voice Search.<br><br>


Facts:<br>
<br>

People are more and more equipped with Voice Search devices and use them, in fact 40% of adults perform a voice search at least once a day.<br>

Voice searches are not formulated the same way as when one searches when typing.<br>

Google Voice Search accuracy is now 95% accurate versus below 80% 5 years ago.<br>

20% of mobile queries are voice searches and this figure is rising expected to reach 50% by 2020.<br><br>


<h3>Voice Search devices and technology:</h3><br><br>


Google Assistant<br>

Google Home<br>

Amazon Alexa<br>

Echo<br>

Microsoft Cortana<br>

 <br><br>

<h3>How are voice search queries different to text searches?</h3>
<br><br><br>


They are more conversational therefore they are  longer queries with question words (how, why, who, where, what).<br><br>



A useful tool to find questions asked for a specific them is Answerthepublic.<br><br>

Finally a lot of these queries are Local, another good reason to integrate Local SEO in your SEO strategy.<br><br>



<h3>Featured Snippets (or Answer Box) </h3><br><br>


Google mostly uses Featured Snippets to answer voice queries. These are in most cases Paragraphs. but they can also be Lists and Tables.<br><br>



15% of all queries come up Featured Snippets<br><br>



To get your site as a featured snippet does not require you to rank #1 in organic search but in most cases you need to be on the first page already..<br><br>



Also there is no schema Featured Snippet but a page in your website needs to the target search term in the correct format. There is an interesting article on Moz about how to optimize for Featured Snippets<br><br>


<h3>What else to do:</h3><br>

 <br>

On top of trying to feature in Featured Snippets for the searches which matter aim to optimize for long tail terms, using a conversational tone. <br><br>


Adding an FAQ section which includes the important questions will also help.<br><br>



Finally, if this is not yet done optimize your google MyBusiness profile for better visibility for Local SEO as many searches are local ("near me")
    </div>
  </div>
  <script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "BreadcrumbList",
"itemListElement": [{
"@type": "ListItem",
"position": 1,
"name": "{{{__ "services"}}}",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}"
},{
"@type": "ListItem",
"position": 2,
"name": "BLOG",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}/blog"
}]
}
</script>
  {{>extendedfooter}}

</div>
