<section class="content case-study-post casestudy-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-7-desktop">
                    <div>
                        <div class="boxcolor"><br>
                            <h1 class="title is-1 is-heavy is-white has-text-centered">SEO Blog - Technical SEO</h1><br>
                        </div>
                        <br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>
                                <li><i><a href="">Technical SEO</a></i></li>
                            </ul>
                        </nav><br>
                    </div><br>
                    <div class="content archive blog-en columns is-centered is-multiline is-large-intro boost-margin has-text-centered" style=" overflow-x: hidden">

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogsite-migration-seo-checklist"><img src="/computer.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogsite-migration-seo-checklist">Site Migration SEO Checklist</a>
                            </h3> <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 8 July 2020</span>
                            <br><br>
                            <p>Whether for a site relaunch with a change of domain or switch to https, if the site structure is changed, some important steps need to be followed. </p>

                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post" data-aos="fade-out">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogseo-glossary"><img src="/blog2.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogseo-glossary">SEO Glossary</a>
                            </h3> <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 10 April 2020</span>
                            <br><br>
                            <p>SEO Jargon explained: Search Volume, canonical, nofollow, Google Keyword Tool, etc</p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogwhy-you-need-implement-structured-data"><img src="/blog6.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogwhy-you-need-implement-structured-data">Structured Data</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 25 August 2019</span>
                            <br><br>
                            <p>Google, Bing, Yandex and Yahoo agreed on a standardised format: schema.org for providing information about a page and to classify its content. using Structured Data will enable you to improve the way your pages are
                                displayed.
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post" data-aos="fade-in">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogseo-in-asia-korea-china-japan-2020"><img src="/asia.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogseo-in-asia-korea-china-japan-2020">SEO in Asia</a>
                            </h3> <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 27 May 2019</span>
                            <br><br>
                            <p>For all countries: it is preferable to have a localised domain, hosted in target country, localised content adapted to target. Need to register and control traffic using respective Webmaster tools & local web services
                                from
                                dominating Search engines.
                            </p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogbeyond-mobile-first"><img src="/blog1.png" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogbeyond-mobile-first">Beyond "mobile-first"</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019</span>
                            <br><br>
                            <p>As mobile traffic increases, data creation on the web explodes. Google is trying to find ways to adapt to the new content. Mobile first is more than optimising your mobile version but it is the first step, especially if
                                you
                                currently offer a native app.
                            </p>
                        </div>


                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogcrawl"><img src="/auditmainpic/crawl.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogcrawl">Crawling & SEO</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019</span>
                            <br><br>
                            <p>{{{__ "crawlabilityMPintro"}}}
                            </p>
                        </div>

                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/bloghttps"><img src="/auditmainpic/technical.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/bloghttps">https</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019</span>
                            <br><br>
                            <p>{{{__ "securityMP1"}}}
                            </p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/bloginternational"><img src="/auditmainpic/international.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/bloginternational">International</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019</span>
                            <br><br>
                            <p>{{{__ "internationalMP1"}}}
                            </p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogmobile"><img src="/auditmainpic/mobilefriendly.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogmobile">Mobile</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019</span>
                            <br><br>
                            <p>{{{__ "mobileMP1"}}}
                            </p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogjava"><img src="/auditmainpic/java.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogjave">Javascript & SEO</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019</span>
                            <br><br>
                            <p>{{{__ "dynamicrenderingMP1"}}}
                            </p>
                        </div>
                        <div class="column is-12-mobile is-6-tablet is-5-desktop post">
                            <figure class="image is-4by3">
                                <a href="/{{{__ "lang"}}}/blogpagespeed"><img src="/auditmainpic/crawl.jpg" alt="blog article" /></a>
                            </figure>
                            <h3 class="title is-4 is-heavy">
                                <a href="/{{{__ "lang"}}}/blogpagespeed">Page Speed</a>
                            </h3><span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 12 January 2019</span>
                            <br><br>
                            <p>{{{__ "speedMP2"}}}
                            </p>
                        </div>








                    </div>
                </div>
                <div class="column is-3-desktop sidebar sidebartags">
                    <ul style=" overflow-x: hidden">
                        <li><i>
                                Tags</i>
                        </li>
                        <li>
                            <a href="/{{{__ "lang"}}}/blog/onpage-seo">
                                Onpage SEO
                            </a>
                        </li>

                        <li>
                            <a href="/{{{__ "lang"}}}/blog/backlinks">
                                Backlinks
                            </a>
                        </li>

                        <li data-aos="slide-right" data-aos-once="true" style="color:#d93a5f">
                            <b>
                                Technical SEO
                            </b>
                        </li>
                        <li>
                            <a href="/{{{__ "lang"}}}/blog/seo-case-studies">
                                Case Studies </a>
                        </li>
                    </ul>
                </div>
                <br><br>

                <div class="container reduced">
                    <br><br> <br><br>

                    <div class="column is-12-mobile is-7-tablet is-8-desktop post content">
                        <h2>{{{__ "moreabout"}}} Technical SEO</h2>

                        <p class=" italic">{{{__ "technicalintro"}}}</p>
                        <p>{{{__ "technicalintro2"}}}</p>
                        <p>{{{__ "technicalintro3"}}}</p>
                        <p>{{{__ "technicalintro4"}}}</p>
                        <p>{{{__ "technicalintro5"}}}</p>
                        <p>{{{__ "technicalintro6"}}}</p>
                        <p>{{{__ "technicalintro7"}}}</p>
                        <p>{{{__ "technicalintro8"}}}</p>
                        <p>{{{__ "technicalintro9"}}}</p>
                        <br><br>
                    </div><br>

                    <div class="fb-like sidebar columns is-centered" data-href="https://www.seoberlino.com/en" data-width=250 data-layout="standard" data-action="like" data-size="large" data-share="true"></div><br>
                    {{>articlesCTA}}
                </div>
            </div>
    </section>
</section>