<div class="main">


  <div class="services2">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/seo"> SEO </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/en/casestudy">
 Case Study </a>
    </div>

    <h1 class="h1services"> Modomoto (Berlin)</h1>
    <br>
    <span class="publisheddate">Published: March 20th 2019</span>



<div class="serviceText">
    <h2> Executive Summary</h2>
    With only 2k non-brand organic visits and ranking for very few relevant keywords; this could be due to the fact that there is still too little awareness to this service.
Modomoto currently relies a lot on brand terms and would to optimize keyword targeting and original content creation to get more SEO attention. <br><br>
    There is a also quite a lot of work to be done to improve domain authority on the web with more quality backlinks.<br><br>

    <div class="casetitle">
        6k SEO visits<br><br>
        <span class="red">15 pages out of 237 get 10+ visits</span><br><br>
        only 4 backlinks with PA above 25, including 2 from acquired company <br><br>
        <span class="red">55% traffic brand-related</span><br><br></div>

<br><br>

    <h2> Description</h2>

Modomoto is Germany's first and largest Curated Shopping Service for men. <br><br>
<span class="bold">Founded: 2011</span> <br>
<span class="bold">Number of Employees : 501-1000</span> <br>
<span class="bold">Acquisition(s) : Cloakroom (2016)</span> <br>





    <h2> Google Trends (in Germany)</h2>

<img src="/modomototrends.png"       class="searchconsole"
 />


    <h2>Backlink Profile Overview</h2>
    18k backlinks from 710 domains. <br>
    87% of backlinks are from pages with little Page Authority. <br>
    26% of the backlinks are from German websites.</br></br>

    <span class="bold">Backlinks with Page Authority of 25 and above (according to ahrefs)</span><br>
    <ul class="marginleft">

     <li><a rel="nofollow" class="blue" target="_ blank" href="https://www.thecloakroom.nl/">The Cloakroom (acquired)*</a><br>
     <li><a rel="nofollow" class="blue" target="_ blank" href="https://www.jak.de/">Akademie JAK (link not directly accessible)</a><br></li>
     <li><a rel="nofollow" class="blue" target="_ blank" href="https://www.thecloakroom.nl/en">The Cloakroom (UK)</a><br></li>
     <li><a rel="nofollow" class="blue" target="_ blank" href="https://develop-your-future.com/de/">Develop Your Future - Die IT Jobmesse für Entwickler</a><br></li>
     <li><a rel="nofollow" class="blue" target="_ blank" href="https://berlin.startups-list.com/">Berlin Startups List (No Follow Link)</a><br></li>


    </ul>

    * the link which points to "www.modomoto.de/en/jobs" is canonical to the homepage with the anchor text Jobs or "Banen" in Dutch.</li>




    <h2> Organic Traffic Analysis</h2>
    Modomoto ranks for over 2.8k Keywords for<br>
    6k monthly organic visits.


    <h2>Keyword targeting and Traffic</h2>

    Main Keywords generating traffic:<br>
    Brand / search terms with brand: around 4k (65%)<br><br>

    curated shopping (200)<br>
    männer lassen shoppen (30)<br>



    <h2>Pages with traffic compared to number of pages indexed</h2>
    From around 237 pages indexed, over 15 pages each get at least 10 visits per month.
<br><br><br>

<!-- <h2>Site Performance for Mobile</h2> -->



</div>{{>casestudies}}<br><br><br>


  </div>


  <script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "BreadcrumbList",
"itemListElement": [{
"@type": "ListItem",
"position": 1,
"name": "{{{__ "servicesL"}}}",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}"
},{
"@type": "ListItem",
"position": 2,
"name": "SEO",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}/seo"
},{
    "@type": "ListItem",
    "position": 3,
    "name": "Case Study",
    "item": "https://www.seoberlino.com/{{{__ "lang"}}}/casestudy"
    }]
    }
    </script>
    </div>
    {{>contactmain}}
