    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">


                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="h1HP is-heavy is-white has-text-centered">Mini case study: Zalando (Berlin)</h1><br>
                        </div>
                        <br><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/technical-seo" class="tag grey" data-aos="fade-in" data-aos-once="true"> technical</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo" class="tag grey" data-aos="fade-in" data-aos-once="true">onpage</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/seo-case-studies" class="tag blue2" data-aos="fade-in" data-aos-once="true"> study</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/backlinks" class="tag grey" data-aos="fade-in" data-aos-once="true"> backlinks</a><br> <br>

                        <br>

                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}">SEO</a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/seo-case-studies">Case Studies</a></li>
                            </ul>
                        </nav><br>



                        <span class="subtitle is-6 is-black"><a href="/{{{__ "lang"}}}/contact">By Alex Bieth</a></span><br>
                        <span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 25 March 2019</span>
                        <br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">

                        <span class="blue-dot-list big">
                            <ul>
                                <li><a href="#description">Company description</a></li>
                                <li><a href="#summary">Executive Summary</a></li>
                                <li><a href="#trends">Google Trends (in Germany)</a></li>
                                <li><a href="#backlink">Backlink Profile Overview</a></li>
                                <li><a href="#traffic">Organic Traffic Analysis</a></li>
                                <li><a href="#performance">Site Performance for Mobile</a></li>
                                <li><a href="#fun">Fun Facts</a></li>
                            </ul>
                        </span><br>
                        <h2 class="title is-3 is-heavy" id="description">Company Description</h2>
                        <p>The company follows a platform approach, offering Fashion and Lifestyle products to customers in 17 European markets. Zalando with its now 3 co-CEOs, was founded by Rocket internet, it now makes over 5.3 billion in
                            revenues. With over 15k employees, it is the giant of Berlin's start up success stories.</p>

                        <span>Founded: 2008</span><br><br <h2 class="title is-3 is-heavy" id="summary"> Executive Summary</h2>
                        <p>Zalando gets a lot of traffic thanks to brands, to its own mostly ("Zalando" has a search volume of 4m - as a comparison "nike" has a search volume of less than half a million), and all the most famous fashion brands it has
                            in its stock.
                            Zalando ranks regularly in the top 5 for clothing brands.</p>
                        <p>Surprisingly its mobile performance is quite average with issues with Javascript with big payloads, and not very efficient cache policy. Although Zalando has a huge amount of backlinks pointing to its site, for strong
                            backlinks, it relies
                            mostly on its own sites.</p>

                        <div style="background-color:#EAEAEA; padding:10px">
                            <ul>
                                <li>Around 7 million monthly SEO visits, mostly other fashion brands</li>
                                <li>Over 4 million backlinks for 10k+ Referring Domains</li>

                                <li>1.4m pages indexed including over 2000 top pages which get at least 500 monthly SEO entries</li>
                                <li>Huge brand recognition with over 1.2m brand visits.</li>
                            </ul>
                        </div>

                        <figure class="image is-fullwidth is-outlined">
                            <img alt="Zalando Google Trends" src="/seo-images/zalandotrends.png">
                            <span id="trends"> Google Trends (in Germany)</span>
                        </figure>
                        <br>
                        <h2 class="title is-3 is-heavy" id="backlink">Backlink Profile Overview</h2>
                        <span class="blue-dot-list">
                            <ul>
                                <li>4.1m backlinks from 11.6K domains.</li>
                                <li>84% of backlinks are from pages with little Page Authority.</li>
                                <li>33% of the backlinks are from German websites.</li>
                                <li>Most of the anchor text backlinks are brand (but also "brandandbutter.com" which now doesn't exist.)</li>
                                <li>7% of the links are nofollow and 5% are images.</li>
                            </ul>
                        </span>

                        <span>Follow Backlinks with Page Authority of 40 and above (according to ahrefs)</span><br>
                        <span class="blue-dot-list">
                            <ul>
                                <li>Open Route services (image)</li>
                                <li>Zalon, a Zalando company (image)</li>
                                <li>Digital Media Women (image)</li>
                                <li>Zalando's Job subdomain</li>
                                <li>Zalando's Corporate subdomain</li>
                                <li>Babez</li>
                                <li>Adidas Zx Flux</li>
                                <li>Toool.de</li>
                            </ul>
                        </span>

                        <br>
                        <h2 class="title is-3 is-heavy" id="#traffic"> Organic Traffic Analysis</h2>
                        Zalando ranks for over 1.1m Keywords for<br>
                        1.1m monthly organic visits.

                        <h3 class="title is-5 is-heavy" id="keyword">Keyword targeting and Traffic</h3>
                        <p>Most of the traffic actually comes from searches for other brands such as Bershka and Adidas. The share of clothing-related keywords is actually quite small compared to brands.</p>
                        <h3 class="title is-5 is-heavy">Main Keywords generating traffic in Germany (excluding Zalando brand terms):</h3>
                        <h4 class="title is-6 is-heavy">Other brands:</h4>
                        <span class="blue-dot-list">
                            <ul>
                                <li>Bershka (36k)</li>
                                <li>Adidas (34k)</li>
                                <li>Esprit (32k)</li>
                                <li>Brikenstock(25k)</li>
                                <li>Topshop(23k)</li>
                                <li>Cecil(20k)</li>
                                <li>Mango(19k)</li>
                            </ul>
                        </span>

                        <h4 class="title is-6 is-heavy">Other terms:</h4>
                        <span class="blue-dot-list">
                            <ul>
                                <li>kleider (15k)</li>
                                <li>Schuhe(14k)</li>
                                <li>Herrenausstatter(9k)</li>
                                <li>Brautschuhe(4.6k)</li>
                                <li>Sommerkleider(4.5k)</li>
                                <li>Taschen (3.8k)</li>
                            </ul>
                        </span>
                        <br>

                        <h2 class="title is-3 is-heavy" id="performance">Site Performance for Mobile: Javascript issues</h2>
                        <figure class="image is-fullwidth is-outlined">
                            <img alt="Zalando Lighthouse" src="/seo-images/zalandolight.png">
                        </figure>

                        <p>Performance is not perfect for such a big site. The main issues reported by Lighthouse a regarding Javascript.</p>
                        <br>
                        <h2 class="title is-3 is-heavy" id="fun">Fun Facts</h2>
                        <p>Zalando is so big in Germany many mispellings of "Zalando" still have considerable search volume.</p>
                        <p>For instance:</p>
                        <span class="blue-dot-list">
                            <ul>
                                <li>"zalandoo": 8400 SV</li>
                                <li>"zalandi": 3900 SV</li>
                                <li>"zalamdo": 3200 SV</li>
                                <li>"zalande": 1200 SV</li>
                            </ul>
                        </span><br>
                        <br><br><br>
                        <div class="fb-like sidebar columns is-centered" data-href="https://www.seoberlino.com/en" data-width=250 data-layout="standard" data-action="like" data-size="large" data-share="true"></div><br>
                        <br>
                    </div><br>
                    <br>
                    <div class="column is-centered is-10-mobile is-4-tablet is-3-desktop sidebar sidebarblog">

                        {{>sidecase}}



                        <br>

                    </div><br>

                </div>
                {{>articlesCTA}}
            </div>
    </section>

    </div>
    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments">
                        <div id="disqus_thread"></div>
                        <script>
                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*

                            */

                            var disqus_config = function() {
                                this.page.url = `https://www.seoberlino.com/{{{__ "lang"}}}/website-ranking/case-study-zalando`; // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = "zalando"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };


                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document,
                                    s = d.createElement('script');
                                s.src = 'https://www-seoberlino-com.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>