    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>
                                <li><a href="/{{{__ "lang"}}}/blog/seo-case-studies">Case Studies</a></li>
                            </ul>
                        </nav>
                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="title is-1 is-heavy is-white has-text-centered">Mini SEO case study: fromAtoB.de (Aachen/Berlin)</h1><br>
                        </div>
                        <br>


                        <span class="subtitle is-6 is-black"><a href="/{{{__ "lang"}}}/contact">By Alex Bieth</a></span><br>
                        <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 17 March 2019</span>
                        <br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post">
                        <div class="">

                            <span class="is-heavy subtitle is-4">fromAtoB.com (Founded: 2008) is a journey planner and online booking platform. Users can search for a connection between two destinations within Europe (train, airplane, bus, and ride
                                share).</span><br><br>


                            <h2 class="title is-4 is-heavy">Executive Summary</h2>

                            <p>Fromatob's backlinks profile does not look so solid for such a big website which generates so much traffic. <br><br>
                                More than half of the organic traffic comes from either brand searches (fromatob) or Deutsche Bahn related terms such as "DB Fahrplan" and "DB Auskunft".</p>

                            <p>Still, fromatob has managed to efficiently scale Content Marketing by creating landing pages for a huge amount of locations in Germany. Over 1000 pages get at least 20 organic visits per months.</p>

                            <div class="card-case">
                                <h2 class="title is-3 reduced-margin reduced-top-margin">286k SEO visits</h3>
                                    <h3 class="subtitle is-5 reduced-top-margin">1% of pages indexed get 10+ visits</h3>

                                    <h2 class="title is-3 reduced-margin">Star Keywords: "DB Fahrplan & Auskunft"</h3>
                                        <h3 class="subtitle is-5 reduced-top-margin">20% traffic brand</h3>
                            </div>


                            <h2 class="title is-4 is-heavy">Google Trends</h2>

                            <figure class="image is-fullwidth is-outlined">
                                <img alt="from A to B" src="/fromAtoBtrends.png" />
                            </figure>

                            <h2 class="title is-4 is-heavy">Backlink Profile Overview</h2>
                            <span class="blue-dot-list">
                                <ul>
                                    <li>423k backlinks from only 400 domains.</li>
                                    <li>92% of backlinks are from pages with little Page Authority.</li>
                                    <li>50% of the backlinks are from German websites.</li>
                                </ul>
                            </span>

                            <h2 class="title is-4 is-heavy">Top Backlinks with highest Page Authority (According to ahrefs)</h2>
                            <span class="blue-dot-list">
                                <ul>
                                    <li><a rel="nofollow" target="_ blank" href="https://www.verkehrsmittelvergleich.de/">Verkehrsmittel Vergleich</a>, which belongs to the same group.<br></li>
                                    <li><a rel="nofollow" target="_ blank" href="https://www.fromatob.com">US top level domain</a><br></li>
                                    <li><a rel="nofollow" target="_ blank" href="https://www.fromatob.fr">French top level domain</a><br></li>
                                    <li><a rel="nofollow" target="_ blank" href="https://www.fromatob.it">Italian top level domain</a><br></li>
                                    <li>Spiegel <a rel="nofollow" target="_ blank" href="https://www.spiegel.de/gesundheit/ernaehrung/radfahrer-und-abgase-feinstaub-verkuerzt-lebenszeit-a-824534.html">article</a>, which actually initially links to
                                        the
                                        Verkehrsmittelvergleich blog but is then redirected.<br></li>
                                    <li>Link from a <a rel="nofollow" target="_ blank" href="https://www.hotel-ulmer-spatz.com/de/">hotel</a><br></li>
                                </ul>
                            </span>


                            <h2 class="title is-4 is-heavy">Organic Traffic Analysis</h2>

                            fromAtoB ranks for over 60k Keywords for 286k monthly organic visits.

                            <h2 class="title is-4 is-heavy">Keyword targeting and Traffic</h2>

                            <h2 class="title is-5 is-heavy reduced-top-margin">Main Keywords generating traffic:</h2>
                            <span class="blue-dot-list">
                                <ul>
                                    <li>4Brand: around 60k (20%)</li>
                                    <li>Deutsche Bahn (DB) Fahrplan & Auskunft: around 90k (30%) with this <a class="blue" rel="nofollow" target="_ blan" href="https://www.fromatob.de/bahn/deutsche-bahn/fahrplanauskunft">landing page</a></li>
                                    <li>and <a class="blue" rel="nofollow" target="_ blan" href="https://www.fromatob.de/bahn/deutsche-bahn/fahrplan">this one</a> also getting considerable traffic.</li>
                                    <li>(Zug) verbindung (14k)</li>
                                    <li>bahn (10k)</li>
                                    <li>Other brands</li>
                                    <li>hkx (7k)</li>
                                    <li>ltur bahn (7k)</li>
                                    <li>Vueling (1k)</li>
                                    <li>Regiojet (1k)</li>
                                </ul>
                            </span>

                            <h2 class="title is-4 is-heavy">Content Marketing Landing Pages and Traffic</h2>

                            <p>From around 126k pages indexed, over 1000 pages each get at least 10 visits per month. This is achieved mainly by creating landing pages for as many cities as possible and optimizing the page for Bahnhof + City.</p>
                            <h2 class="title is-5 is-heavy reduced-top-margin">Long tail examples:</h2>
                            <span class="blue-dot-list">
                                <ul>
                                    <li>/bahnhof/bad-toelz</li>
                                    <li>/bahn/kassel/muenchen</li>
                                </ul>
                            </span>


                            <h2 class="title is-4 is-heavy">Site Performance for Mobile</h2>

                            <figure class="image is-fullwidth is-outlined">
                                <img alt="Lighthouse" src="/lighthouse2atob.png">
                            </figure>

                            <figure class="image is-fullwidth is-outlined">
                                <img alt="Lighthouse" src="/lighthouse1atob.png">
                            </figure>

                            <figure class="image is-fullwidth is-outlined">
                                <img alt="Lighthouse" src="/lighthouseatob3.png">
                            </figure>

                        </div><br><br>
                        <div class="fb-like sidebar columns is-centered" data-href="https://www.seoberlino.com/en" data-width=250 data-layout="standard" data-action="like" data-size="large" data-share="true"></div><br><br>
                        <br><br>
                    </div>
                    <div class="column is-centered is-10-mobile is-3-tablet is-3-desktop sidebar sidebarblog">
                        {{>sidecase}}



                        <br><br>

                    </div><br>

                </div>
                {{>articlesCTA}}
            </div>
    </section>
    </div>