<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-12-desktop">
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                            <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>
                            <li><a href="/{{{__ "lang"}}}/blog/seo-case-studies">Case Studies</a></li>
                        </ul>
                    </nav>

                    <div class="boxcolor" data-aos="fade-in"><br>
                        <h1 class="title is-1 is-heavy is-white has-text-centered">Mini case study: N26 (Berlin)</h1><br>
                    </div>
                    <br>


                    <span class="subtitle is-6 is-black"><a href="/{{{__ "lang"}}}/contact">By Alex Bieth</a></span><br>
                    <span class="subtitle is-6 is-black"><img src="/clock.png" alt="date icon" /> 29 March 2019</span>
                    <br>
                </div>
                <div class="column is-12-mobile is-10-tablet is-9-desktop post content">


                    <span class="is-heavy subtitle is-4">N26 (Founded: 2013) is a fee-free “deposit account” online bank, Europe’s first completely mobile bank, with 2.5m customers.</span><br><br>


                    <h2 class="title is-4 is-heavy">Executive Summary</h2>

                    <p>N26 chose to keep the same top level domain for all countries, instead of localising its top level domains.
                        The main direct consequence is that it concentrates all its backlinks to one stronger domain.</p>

                    <p>Despite this, N26 depends very heavily on brand for organic search. Thanks to its very good brand awareness (Google Trends shows continuous increase since its launch), its organic monthly visits reaches nearly a quarter of
                        a million
                        visitors.</p>
                    <p>Keyword targeting for banking related terms though is currently not so successful but shows huge potential for further organic growth.</p>

                    <div class="card-case">
                        <h2 class="title is-3 reduced-margin reduced-top-margin">230k SEO visits</h3>
                            <h3 class="subtitle is-5 reduced-top-margin">Only 150 pages out of 15k get 10+ visits</h3>

                            <h2 class="title is-3 reduced-margin">One top level domain for strong backlink profile</h3>
                                <h3 class="subtitle is-5 reduced-top-margin">90% traffic brand-related</h3>
                    </div>


                    <h2 class="title is-4 is-heavy">Google Trends (in Germany)</h2>

                    <figure class="image is-fullwidth is-outlined">
                        <img alt="Google Trends N26" src="/n26trends.png" />
                    </figure>


                    <h2 class="title is-4 is-heavy">Backlink Profile Overview</h2>
                    <span class="blue-dot-list">
                        <ul>
                            <li>306k backlinks from 5.5K domains.</li>
                            <li>87% of backlinks are from pages with little Page Authority.</li>
                            <li>11% of the backlinks are from German websites.</li>
                            <li>Same top level domain, subdirectory languages for optimal united backlink profile.</li>
                            <li>Many nofollow high PA pages: Bloomberg, filmow, espn: adverting campaigns.</li>
                        </ul>
                    </span>


                    <h2 class="title is-5 is-heavy">Backlinks with Page Authority of 40 and above (according to ahrefs)</h2>
                    <span class="blue-dot-list">
                        <ul>
                            <li><a rel="nofollow" target="_ blank" href="https://twofactorauth.org/">Two Factor Auth List</a></li>
                            <li><a rel="nofollow" target="_ blank" href="https://techcrunch.com/2019/01/09/n26-raises-300-million-at-2-7-billion-valuation/">Techcrunch article</a></li>
                            <li><a rel="nofollow" target="_ blank" href="https://sass-guidelin.es/">Employee website</a></li>
                            <li><a rel="nofollow" target="_ blank" href="http://play.google.com/store/apps/details?id=de.number26.android&hl=en_US">Google Play</a></li>
                            <li><a rel="nofollow" target="_ blank" href="https://www.deinhandy.de/">Link on Dein Handy difficult to spot</a></li>
                            <li><a rel="nofollow" target="_ blank" href="https://www.npmjs.com/package/webpack">301 redirect from opencollective.com</a></li>
                        </ul>
                    </span>


                    <h2 class="title is-4 is-heavy">Organic Traffic Analysis</h2>
                    <span class="blue-dot-list">
                        <ul>
                            <li>N26 ranks for over 59k Keywords for 230k monthly organic visits.</li>
                        </ul>
                    </span>


                    <h2 class="title is-4 is-heavy">Keyword targeting and Traffic</h2>
                    <h2 class="title is-5 is-heavy">Main Keywords generating traffic:</h2>
                    <span class="blue-dot-list">
                        <ul>
                            <li>Brand / search terms with brand: around 210k (90%)</li>
                            <li>Germany</li>
                            <li>apple pay (360)</li>
                            <li>bank (300)</li>
                            <li>online bank (200)</li>
                            <li>US</li>
                            <li>bank telefon (140)</li>
                            <li>maestro card (40)</li>
                            <li>France</li>
                            <li>tarifs (300)</li>
                            <li>moneybeam (170)</li>
                            <li>la banque mobile (90)</li>
                        </ul>
                    </span>


                    <h2 class="title is-5 is-heavy">Pages with traffic compared to number of pages indexed</h2>
                    <span class="blue-dot-list">
                        <ul>
                            <li>From around 15k pages indexed, over 150 pages each get at least 10 visits per month.</li>
                        </ul>
                    </span>

                    <h2 class="title is-5 is-heavy">Site Performance for Mobile: some images affecting speed</h2>

                    <figure class="image is-fullwidth is-outlined">
                        <img alt="lighthouse graph" src="/n26light.png" />
                    </figure>

                    <figure class="image is-fullwidth is-outlined">
                        <img alt="issue N26" src="/n26imageissue.png" />
                    </figure>
                    <br><br>
                    <div class="fb-like sidebar columns is-centered" data-href="https://www.seoberlino.com/en" data-width=250 data-layout="standard" data-action="like" data-size="large" data-share="true"></div><br><br>

                </div><br><br>
                <br><br>
                <div class="column is-centered is-10-mobile is-7-tablet is-3-desktop sidebar sidebarblog">

                    {{>sidecase}}



                    <br><br>

                </div><br>

            </div>
            {{>articlesCTA}}
        </div>
</section>

<section class="comments-hero hero is-medium off-white">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered">
                <div class="column is-10 comments">
                    <div id="disqus_thread"></div>
                    <script>
                        /**
                         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                        /*

                        */

                        var disqus_config = function() {
                            this.page.url = `https://www.seoberlino.com/en/blog/case-study-n26`; // Replace PAGE_URL with your page's canonical URL variable
                            this.page.identifier = "N26"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                        };


                        (function() { // DON'T EDIT BELOW THIS LINE
                            var d = document,
                                s = d.createElement('script');
                            s.src = 'https://www-seoberlino-com.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>