    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">



                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="h1HP is-heavy is-white has-text-centered">Mini case study: Juniqe (Berlin)</h1><br>
                        </div>
                        <br><a href="/{{{__ "lang"}}}/blog/technical-seo" class="tag grey" data-aos="fade-in" data-aos-once="true"> technical</a>
                        <a href="/{{{__ "lang"}}}/blog/onpage-seo" class="tag grey" data-aos="fade-in" data-aos-once="true">onpage</a>
                        <a href="/{{{__ "lang"}}}/blog/seo-case-studies" class="tag blue2" data-aos="fade-in" data-aos-once="true"> study</a>
                        <a href="/{{{__ "lang"}}}/blog/backlinks" class="tag grey" data-aos="fade-in" data-aos-once="true"> backlinks</a><br> <br>

                        <br><br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">SEO</a></li>
                                <li><a href="/{{{__ "lang"}}}/blog/seo-case-studies">Case Studies</a></li>
                            </ul>
                        </nav><br>
                        <span class="subtitle is-6 is-black"><a href="/{{{__ "lang"}}}/contact">By Alex Bieth</a></span><br>
                        <span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" />22 March 2019</span>
                        <br>
                    </div> <br>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">
                        <span class="is-heavy subtitle is-4">Juniqe (Founded: 2014) is the lifestyle brand for curated and affordable wall art, home accessories, stationery, and gifts.</span><br><br>




                        <h2 class="title is-4 is-heavy">Executive Summary</h2>
                        <p>Number of Backlinks when excluding company top level domains is quite low considering the size and notoriety of the company.</p>
                        <p>There is lot of room for improvements for indexation, a very high proportion of the pages currently indexed do not get any organic traffic.</p>

                        <div class="card-case">
                            <h2 class="title is-3 reduced-margin reduced-top-margin">120k SEO visits</h3>
                                <h3 class="subtitle is-5 reduced-top-margin">12% traffic brand-related</h3>

                                <h2 class="title is-3 reduced-margin reduced-top-margin">Most backlinks are from Juniqe's other top level domains</h3>
                                    <h3 class="subtitle is-5 reduced-top-margin">775 pages out of 190k get 10+ visits</h3>

                                    <h2 class="title is-3 reduced-margin">Juniqe 38k Search Volume & Brand confusion, many searching for "Junique" (28k Search Volume)</h3>
                                        <h3 class="subtitle is-5 reduced-top-margin">Star Keyword: Bilder</h3>
                        </div>

                        <h2 class="title is-4 is-heavy">Google Trends (in Germany)</h2>
                        <p>In blue brand search over the years. In red the brand name misspelt.</p>

                        <figure class="image is-fullwidth is-outlined">
                            <img alt="Google Trends" src="/seo-images/juniqetrends.png" />
                        </figure>


                        <h2 class="title is-4 is-heavy">Backlink Profile Overview</h2>
                        <span class="blue-dot-list">
                            <ul>
                                <li>1.37m backlinks from 871 domains but</li>
                                <li>6k only excluluding other tlds and</li>
                                <li>4k when also excluding links from kruthdesign.com (DA of 3)</li>
                                <li>18% of backlinks are from pages with little Page Authority.</li>
                            </ul>
                        </span>

                        <h2 class="title is-4 is-heavy">Non brand related Backlinks with Page Authority of 25 and above (according to ahrefs)</h2>
                        <span class="blue-dot-list">
                            <ul>
                                <li><a rel="nofollow" target="_ blank" href="https://www.lybstes.de/">Lybstes. Selber machen - Lybstes.</a></li>
                                <li><a rel="nofollow" target="_ blank" href="https:///www.coworkingtoddler.com/">Coworking Toddler</a></li>
                                <li><a rel="nofollow" target="_ blank" href="https://smallcaps-blog.blogspot.com/">Small Caps</a></li>
                                <li><a rel="nofollow" target="_ blank" href="https://www.manuelkilger.com/">Manuel Kilger Illustration</a></li>
                                <li><a rel="nofollow" target="_ blank" href="https://germanpressdays.de/">GermanPressDays</a></li>
                                <li><a rel="nofollow" target="_ blank" href="https://wunderdata.com/">Wunderdata - Content Marketing for eCommerce</a></li>
                            </ul>
                        </span>

                        <h2 class="title is-4 is-heavy">Organic Traffic Analysis</h2>
                        <span class="blue-dot-list">
                            <ul>
                                <li>Juniqe ranks for over 65k Keywords for 119k monthly organic visits.</li>
                            </ul>
                        </span>

                        <h2 class="title is-4 is-heavy">Keyword targeting and Traffic</h2>
                        <h2 class="title is-5 is-heavy">Main Keywords generating traffic:</h2>
                        <ul>
                            <li>Brand / search terms with brand: around 15k (12%)</li>
                            <li>bilder (3.5k)</li>
                            <li>black friday (3k)</li>
                            <li>poster (3k)</li>
                            <li>bilder auf leinwand (2k)</li>
                            <li>duschvorhang (1.8k)</li>
                            <li>kissen (1.3k)</li>
                            <li>geschenke (1.2k)</li>
                            <li>wandbilder (1.1k)</li>
                            <li>leinwandbilder (1.1k)</li>
                            <li>poster kaufen (1k)</li>
                        </ul>


                        <h2 class="title is-5 is-heavy">Pages with traffic compared to number of pages indexed</h2>
                        <p>From around 190k pages indexed, over 775 pages each get at least 10 visits per month.</p>
                        <br><br>
                        <br><br><br>
                        <div class="fb-like sidebar columns is-centered" data-href="https://www.seoberlino.com/en" data-width=250 data-layout="standard" data-action="like" data-size="large" data-share="true"></div><br><br>

                    </div><br><br>
                    <br><br>
                    <div class="column is-centered is-10-mobile is-4-tablet is-3-desktop sidebar sidebarblog">

                        {{>sidecase}}



                        <br><br>

                    </div><br>

                </div>
                {{>articlesCTA}}
            </div>
    </section>


    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments">
                        <div id="disqus_thread"></div>
                        <script>
                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*

                            */

                            var disqus_config = function() {
                                this.page.url = `https://www.seoberlino.com/{{{__ "lang"}}}/blog/case-study-juniqe`; // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = "juniqe"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };


                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document,
                                    s = d.createElement('script');
                                s.src = 'https://www-seoberlino-com.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>