<div class="main">

  <div class="imagesCases ">
      <img class="blacknwhite" src="/hometogologo.png">  <img class="blacknwhite" src="/fromatob.png"><img class="blacknwhite" src="/HelloFreshlogo.png">
  <img class="blacknwhite" src="/n26logo.jpg">
</div>


  <div class="services">

      <div class="breadcrumb">


        <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
        <img class="iconsmore2" src="/arrow.png" alt="arrow" />


        <a href="/{{{__ "lang"}}}/seo"> SEO </a>
        <img class="iconsmore2" src="/arrow.png" alt="arrow" />
        <a>SEO Case Studies </a>



      </div>
      <h1 class="h1services">SEO Case Studies</h1>

 <a href="/en/casestudy/hometogo">
    <h2>&bull; Home ToGo, Half a million monthly visits, on-par with airbnb.de </h2>
    <img src="/hometogologo.png"></a>





  <a href="/en/casestudy/fromatob"><h2>&bull; FromAtoB:
  Efficient Growth Hacking with a modest Backlink Profile</h2>
  <img src="/fromatob.png"></a>


  <br>



    <a href="/en/casestudy/hellofresh"><h2>&bull; Hello Fresh: affiliation follow links </h2>
    <img src="/HelloFreshlogo.png"></a>


    <br>

    <a href="/en/casestudy/N26"><h2>&bull; N26: 90% of traffic brand related</h2>
    <img src="/n26logo.jpg"></a>




    <script type="application/ld+json">
  {
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
  "@type": "ListItem",
  "position": 1,
  "name": "{{{__ "servicesL"}}}",
  "item": "https://www.seoberlino.com/{{{__ "lang"}}}"
  },{
  "@type": "ListItem",
  "position": 2,
  "name": "SEO",
  "item": "https://www.seoberlino.com/{{{__ "lang"}}}/seo"
  },]
  }
  </script>

  </div>
