<div class="main">

  <img
    src="/lexicon.jpg"
    title="by Dmitry Ratushny"
    alt="SEO Case Studies"
    class="imageAudit"
  />


  <div class="services">

      <div class="breadcrumb">


        <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
        <img class="iconsmore2" src="/arrow.png" alt="arrow" />


        <a href="/{{{__ "lang"}}}/seo"> SEO </a>
        <img class="iconsmore2" src="/arrow.png" alt="arrow" />
        <a>SEO Case Studies </a>



      </div>
      <h1 class="h1services">SEO Case Studies</h1>

 <a href="/en/casestudy/hometogo">
    <h2>&bull; Home ToGo, Half a million monthly visits, on-par with airbnb.de </h2>
    <img src="/hometogologo.png"></a>





  <a href="/en/casestudy/fromatob"><h2>&bull; FromAtoB:
  Efficient Growth Hacking with a modest Backlink Profile</h2>
  <img src="/fromatob.png"></a>


  <br>





    <script type="application/ld+json">
  {
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
  "@type": "ListItem",
  "position": 1,
  "name": "{{{__ "servicesL"}}}",
  "item": "https://www.seoberlino.com/{{{__ "lang"}}}"
  },{
  "@type": "ListItem",
  "position": 2,
  "name": "SEO",
  "item": "https://www.seoberlino.com/{{{__ "lang"}}}/seo"
  },]
  }
  </script>

  </div>
