<div class="main"><br><br><br><br>


    <div class="services2">


        <h1 class="h1hp marginleft2 email"> {{{__ "contacth1"}}} </h1><br />

        <div class="intro2">
            <div class="introQuarter">
                <img alt="monitoring" src="/seo-monitoring.jpg" class="icon" />
                <p class="txt2"> SEO</p>
                <p class="txt2">Analytics </p>
                <p class="txt2">{{{__ "intro5"}}}</p>
                <p class="txt2"> Search Engine Advertising (Google Ads)</p>
            </div>
            <div class="introQuarter">
                <img alt="programming" src="/programming.svg" class="icon" />
                <p class="txt2"> React, Vue, Handlebars</p>
                <p class="txt2">Javascript, JQuery </p>
                <p class="txt2">Node, Express</p>
                <p class="txt2"> HTML, CSS</p>
                <p class="txt2"> SQL, Postgres</p>
            </div>
            <div class="introQuarter">
                <img alt="programming" src="/me.svg" class="icon" />
                <p class="txt2">{{{__ "intro6"}}}</p>
                <p class="txt2">{{{__ "intro7"}}}</p>
                <p class="txt2">{{{__ "intro8"}}}</p>
                <p class="txt2">Deutsch, English, Français, Castellano </p>
            </div>
            <div class="introQuarter ">
                <div class="grey">
                    <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/alex-bieth-berlin/">
                        <img alt="LinkedIn Profile" src="/portrait.jpg" class="linkedin" /></a>
                </div>
                </a>
            </div>



        </div>
    </div>

</div>
{{>clients}}<br><br><br>

{{>formcontact}}<br><br>