<div  class="main">
 {{>contactmain}} <br />
 <form  class="block" action="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">
     <input  class="servicesHP" type="submit" value="{{{__ "servicesL"}}}" />
 </form>



  <div>    <br /><br />
    <h1 class="marginleft2 big"> SEO Specialist in Berlin </h1><br /><br />
    <div  class="intro2">
      <div  class="introQuarter">
        <img
          alt="monitoring"
          src="/seo-monitoring.jpg"
           class="icon"
        />
        <p  class="txt2"> SEO</p>
        <p  class="txt2">Analytics </p>
        <p  class="txt2">{{{__ "intro5"}}}</p>
        <p  class="txt2"> Search Engine Advertising (Google Ads)</p>
      </div>
      <div  class="introQuarter">
        <img alt="programming" src="/programming.svg"  class="icon" />
        <p  class="txt2"> React, Vue, Handlebars</p>
        <p  class="txt2">Javascript, JQuery </p>
        <p  class="txt2">Node, Express</p>
        <p  class="txt2"> HTML, CSS</p>
        <p  class="txt2"> SQL, Postgres</p>
      </div>
      <div  class="introQuarter">
        <img alt="programming" src="/me.svg"  class="icon" />
        <p  class="txt2">{{{__ "intro6"}}}</p>
        <p  class="txt2">{{{__ "intro7"}}}</p>
        <p  class="txt2">{{{__ "intro8"}}}</p>
        <p  class="txt2">Deutsch, English, Français, Castellano </p>
      </div>
      <div  class="introQuarter ">
          <div class="grey">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/alex-bieth-berlin/"
        >
          <img
            alt="LinkedIn Profile"
            src="/portrait.jpg"
            class="linkedin"
          />
      </div>
        </a>
      </div> <br /><br />
    </div><br><br><br><br /><br />  <br /><br />
  </div>
 {{>clients}}
  <script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://www.seoberlino.com",,
  "contactPoint": [{
  "@type": "ContactPoint",
  "telephone": "+49 15787011932",
  "contactType": "customer support"
  }]
  }
  </script>
</div>
