<div class="content contact-en">

    <!-- Contact Page Intro Block-->
    <section class="audit-hero hero is-large-intro">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered contact-header">
                    <div class="column is-12">
                        <h1 class="title is-2 is-heavy reduced-margin">{{{__ "contactU"}}}</h1>
                        <h3 class="subtitle is-4 is-heavy reduced-top-margin">{{{__ "contacth1"}}}</h3>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-6">
                        <div class="contact-details">
                            <div class="profile-photo"></div>
                            <div class="details">
                                <h3 class="subtitle is-5 reduced-margin">T - <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a><br>
                                    <h3 class="subtitle is-5 reduced-top-margin">E - <a href="mailto:alex@seoberlino.com">alex@seoberlino.com</a>
                            </div>
                        </div>

                        <div class="contact-page-form">
                            {{>formcontact}}
                        </div>
                    </div>

                    <div class="column is-5-desktop is-offset-1">
                        <div class="skill-card-1">
                            <h3 class="title is-3 is-heavy reduced-margin">{{{__ "contactskills"}}}</h2>
                                <p> SEO, Analytics, {{{__ "intro5"}}}, Scrum Certified, Search Engine Advertising (Google Ads).<br> Languages: Deutsch, English, Français, Castellano</p>
                        </div>

                        <div class="skill-card-2">
                            <h3 class="title is-3 is-heavy reduced-margin">Programming</h2>
                                <p>
                                    React, Vue, Handlebars,
                                    Javascript, JQuery, Node, Express, HTML, CSS, SQL, Postgres

                                </p>
                        </div>

                    </div>
                </div>

            </div>
            <br><br> <br><br>

            <div class="column is-5-desktop is-offset-2">
                <h3 class="title is-3 is-heavy reduced-margin">Availability</h3>
                <div class="skill-card-1 title is-6"> Fully Booked till April 2020
                </div>
            </div>


            <div class="column is-5-desktop is-offset-2">
                <h3 class="title is-3 is-heavy reduced-margin">Experience</h3>

                <br>
                <div class="container reduced skill-card-2">

                    <div class="skill-card-1">

                        <h3 class="title is-4 is-heavy reduced-margin">SEO Consultant (since 2017)</h3>
                        <ul>
                            <li class="title is-5 is-heavy reduced-margin">Montblanc SEO Consultant (since June 2019)</li>
                            <p>SEO Consultancy Global Projects</p>
                            <li class="title is-5 is-heavy reduced-margin">Holberton School (since November 2018)</li>

                            <p>SEO Consultancy including Audit, Relaunch, Content Growth Hacking Strategy</p>

                            <li class="title is-5 is-heavy reduced-margin">Dozens of other Clients</li>

                            <p>Ricoh, Spartoo, BSH, DBS, KeepTool, MSF, Red Cross, Independent Photographer, etc</p>
                        </ul>
                    </div>


                    <div class="skill-card-1">

                        <h3 class="title is-4 is-heavy reduced-margin">Agile Coach</h3>
                        <ul>
                            <li class="title is-5 is-heavy reduced-margin">HelloFresh (since October 2019)</li>
                            <p>Agile Coach for Marketing BI Team</p>

                            <li class="title is-5 is-heavy reduced-margin">Spreadshirt (2013-2017)</li>
                            <p>Product Owner (2014-2017)</p>
                            <p>ScrumMaster during Scrum Implementation (2013-2014)</p>

                        </ul>
                    </div>



                    <div class="skill-card-1">

                        <h3 class="title is-4 is-heavy reduced-margin">Web Developement Training (June-October 2018)</h3>

                        <p>Coding Bootcamp, personal website on React and then Handlebars.</p>
                    </div>
                    <div class="skill-card-1">

                        <h3 class="title is-4 is-heavy reduced-margin">Head of SEO @ Spreadshirt (2012-2017)</h3>

                        <p>{{{__ "intro7"}}}</p>
                        <p>Scrum implementation for SEO Team (10 members), Certified Scrum Master Certification, Scrum Alliance</p>

                    </div>
                    <h3 class="title is-4 is-heavy reduced-margin">SEO & SEA Country Manager @ Spreadshirt (2010-2011)</h3>

                    <p>SEM orders +60% with lower CPO (2011 vs 2010), 250% increase in SEO orders (2012 vs 2011).

                    </p>
                </div>
            </div>

        </div>
    </section>

    <!-- Recent Clients Block-->
    <section class="clients-hero red-gradient hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h2 class="title is-3 is-white is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>
                {{>clients}}
            </div>
        </div>
    </section>

</div>