<img alt="freelancer image" class="homepage" src="/homepage.jpg" />

<div class="main"><br><br><br><br><br><br><br>


    <div class="services2">
        <h1 class="h1hp marginleft2 email"> {{{__ "contacth1"}}} </h1><br /><br />

        <form action="/email" method="post" enctype="text/plain">
            <br style="clear:both">
            <input class="form-group" type="email" name="email" placeholder="Email">
            </input>
            <div>
                <input type="text" class="form-group" id="name" name="name" placeholder="Name" required>
            </div>
            <div>
                <textarea class="form-group" type="textarea" id="message" name="message" placeholder="Message" maxlength="140" rows="7" required></textarea>
            </div><br>
            <div class="center">
                <button type="submit" id="submit" name="submit" class="servicesHP
                ">Send</button>
            </div>
        </form><br><br><br><br><br><br>
        <br><br>
        <div class="intro2">
            <div class="introQuarter">
                <img alt="monitoring" src="/seo-monitoring.jpg" class="icon" />
                <p class="txt2"> SEO</p>
                <p class="txt2">Analytics </p>
                <p class="txt2">{{{__ "intro5"}}}</p>
                <p class="txt2"> Search Engine Advertising (Google Ads)</p>
            </div>
            <div class="introQuarter">
                <img alt="programming" src="/programming.svg" class="icon" />
                <p class="txt2"> React, Vue, Handlebars</p>
                <p class="txt2">Javascript, JQuery </p>
                <p class="txt2">Node, Express</p>
                <p class="txt2"> HTML, CSS</p>
                <p class="txt2"> SQL, Postgres</p>
            </div>
            <div class="introQuarter">
                <img alt="programming" src="/me.svg" class="icon" />
                <p class="txt2">{{{__ "intro6"}}}</p>
                <p class="txt2">{{{__ "intro7"}}}</p>
                <p class="txt2">{{{__ "intro8"}}}</p>
                <p class="txt2">Deutsch, English, Français, Castellano </p>
            </div>
            <div class="introQuarter ">
                <div class="grey">
                    <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/alex-bieth-berlin/">
                        <img alt="LinkedIn Profile" src="/portrait.jpg" class="linkedin" /></a>
                </div>
                </a>
            </div> <br /><br />



        </div><br><br>
        <a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">
            <div class="servicesHP center">{{{__ "servicesL"}}}</div>
        </a> <br><br><br> <br><br>
    </div>

</div>
{{>clients}}