<div class="main">

    <img src="/auditmainpic/crawl.jpg" title="crawl, a photo by Mathew Schwartz" alt={{{__ "technicalHP2"}}} class="imageAudit" />
    <div class="services">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}"> {{{__ "hey5"}}} </a>
        </div>
        <h1 class="h1services">{{{__ "technicalHP2"}}}</h1>
        <div class="serviceText">{{{__ "crawlabilityMPintro"}}}</div>
        <h2> Sitemap(s)</h2>
        <div class="serviceText">{{{__ "crawlabilityMP1"}}}</div>
        <br>

        Search Console<br>

        <img src="/sitemap.png" class="searchconsole" heigth="400px" width="600px" alt="Search Console Sitemap">
        <br>
        <h2> Robots</h2>
        <div class="serviceText">{{{__ "crawlabilityMP2"}}}</div>
        <h2> metas</h2>
        <div class="serviceText">{{{__ "crawlabilityMP3"}}}</div>
        <h2> Search Console</h2>
        <div class="serviceText">{{{__ "crawlabilityMP4"}}}</div>

        <br>
        <img src="/crawl1.png" class="searchconsole" heigth="400px" width="600px" alt="Search Console Crawling">
        <img src="/crawl2.png" class="searchconsole" heigth="400px" width="600px" alt="Search Console Crawlability">


        <h2> Indexation Google Crawl Credit {{{__ ""}}}</h2>
        <div class="serviceText"> {{{__ "crawlabilityMP5"}}}</div>


        <div class="black sideLinks">
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "indexationURL"}}}">
                {{{__ "technicalHP1U"}}}
            </a>
            <a class="block bold">{{{__ "technicalHP2U"}}}</a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "internationalisationURL"}}}">
                {{{__ "technicalHP3U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "pagespeedURL"}}}">
                {{{__ "technicalHP4U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "mobilefriendlyURL"}}}">
                {{{__ "technicalHP5U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "dynamicrenderingURL"}}}">
                {{{__ "technicalHP6U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "securityURL"}}}">
                {{{__ "technicalHP7U"}}}
            </a>
        </div>
    </div>
</div>