<div class="main">
 
  <img
    src="/auditmainpic/crawl.jpg"
    title="crawl, a photo by Mathew Schwartz"
    alt={{{__ "technicalHP2"}}}
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/resources"}> SEO </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/technical"}> {{{__ "technical"}}} </a>
    </div>
    <h1 class="h1services">{{{__ "technicalHP2"}}}</h1>
    <div class="serviceText">{{{__ "crawlabilityMPintro"}}}</div>
    <h2> Sitemap(s)</h2>
    <div class="serviceText">{{{__ "crawlabilityMP1"}}}</div>
    <h2> Robots</h2>
    <div class="serviceText">{{{__ "crawlabilityMP2"}}}</div>
    <h2> metas</h2>
    <div class="serviceText">{{{__ "crawlabilityMP3"}}}</div>
    <h2> Search Console</h2>
    <div class="serviceText">{{{__ "crawlabilityMP4"}}}</div>
    <h2> Indexation Google Crawl Credit {{{__ ""}}}</h2>
    <div class="serviceText"> {{{__ "crawlabilityMP5"}}}</div>
    <div class="black sideLinks">
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/indexation"}
      >
        {{{__ "technicalHP1U"}}}
      </a>
      <a class="block bold">{{{__ "technicalHP2U"}}}</a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/internationalisation"}
      >
        {{{__ "technicalHP3U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/pagespeed"}
      >
        {{{__ "technicalHP4U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/mobilefriendly"}
      >
        {{{__ "technicalHP5U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/dynamicrendering"}
      >
        {{{__ "technicalHP6U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/security"}
      >
        {{{__ "technicalHP7U"}}}
      </a>
    </div>
  </div>
</div>
