<div class="main">

    <img src="/auditmainpic/duplicate.jpg" title="duplication, a photo by rawpixel" alt="duplicate content SEO" class="imageAudit" />
    <div class="services">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}"> ONPAGE </a>
        </div>

        <h1 class="h1services"> {{{__ "onpageHP9"}}} </h1>
        <h2>{{{__ "duplicateMPT1"}}}</h2>
        <div class="serviceText">{{{__ "duplicateMP1"}}}</div>

        <h2> {{{__ "duplicateMPT2"}}}</h2>
        <div class="serviceText">{{{__ "duplicateMP2"}}}</div>
        <div class="serviceText">{{{__ "duplicateMP3"}}}</div>
        <h2> {{{__ "duplicateMPT3"}}}</h2>
        <div class="serviceText">{{{__ "duplicateMP3"}}}</div>

        <h2> {{{__ "duplicateMPT4"}}}</h2>
        <div class="serviceText">{{{__ "duplicateMP4"}}}</div>
        <div class="black sideLinks">
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "kwrechercheURL"}}}">
                {{{__ "onpageHP1U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "landingpagesURL"}}}">
                {{{__ "onpageHP2U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "internallinkingURL"}}}">
                {{{__ "onpageHP3U"}}} {{{__ "onpageHP5U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "metasURL"}}}">
                {{{__ "onpageHP4U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "contentURL"}}}">
                {{{__ "onpageHP6U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "imagesURL"}}}">
                {{{__ "onpageHP7U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "structuredURL"}}}">
                {{{__ "onpageHP8U"}}}
            </a>
            <span class="block bold">{{{__ "onpageHP9U"}}}</span>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "voicesearchURL"}}}">
                {{{__ "onpageHP10U"}}}
            </a>
        </div>
    </div>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "{{{__ "
                servicesL "}}}",
                "item": "https://www.seoberlino.com/{{{__ "
                lang "}}}"
            }, {
                "@type": "ListItem",
                "position": 2,
                "name": "SEO",
                "item": "https://www.seoberlino.com/{{{__ "
                lang "}}}/seo"
            }, {
                "@type": "ListItem",
                "position": 3,
                "name": "Onpage",
                "item": "https://www.seoberlino.com/{{{__ "
                lang "}}}/{{{__ "
                onpage "}}}"
            }]
        }
    </script>
</div>