<div class="content contact-en">

    <!-- Contact Page Intro Block-->
    <section class="audit-hero hero is-large-intro">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered contact-header">
                    <div class="column is-12">

                        <h1 class="h1HP is-heavy">{{{__ "contacth1"}}}</h1>

                    </div>
                </div><br><br><br>


                <div class="columns is-centered">

                    <div class="column is-6">
                        <div class="contact-details">
                            <div class="profile-photo"></div>
                            <div class="details">
                                <span class="subtitle is-5 reduced-top-margin">Alex Bieth, {{{__ "owner"}}}</span><br>
                                {{!-- <h3 class="subtitle is-5 reduced-margin">T - <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a><br></h3> --}}
                                <h3 class="subtitle is-5 reduced-top-margin">E - <a href="mailto:alex@seoberlino.com">alex@seoberlino.com</a>
                            </div>
                        </div>


                        <div class="contact-page-form">
                            <div class="profile-photo"></div><br><br>
                            <br><br>
                        </div>{{>socsharfreelancer}}
                    </div>

                    <div class="column is-5-desktop is-offset-1">

                        <div class="skill-card-1">
                            <h3 class="title is-3 is-heavy reduced-margin">{{{__ "contactskills"}}}
                                </h2>
                                <p> SEO, Analytics, {{{__ "intro5"}}}, <a target="_blank" href="https://www.scrumalliance.org/community/profile/abieth">Scrum Certified</a>, Search Engine Advertising (Google Ads).<br> Languages: Deutsch, English,
                                    Français, Castellano
                                </p>
                        </div>
                        <div class="skill-card-2">
                            <h3 class="title is-3 is-heavy reduced-margin">Programming
                                </h2>
                                <p>
                                    React, Vue, Handlebars,
                                    Javascript, JQuery, Node, Express, HTML, CSS, SQL, Postgres

                                </p>
                        </div>


                    </div>
                </div>
                <h2 id="experience" class="title is-1 is-heavy reduced-margin">{{{__ "Experience"}}}</h2><br>
                <div class="container reduced skill-card-2">

                    <div class="skill-card-1">

                        <h3 class="title is-3 is-heavy reduced-margin">SEO Consultant ({{{__ "since"}}} 2017)</h3>

                        <br><br>
                        <p>Ricoh (DE & EN), Spartoo (DE), BSH (FR & UK), DBS (EN), KeepTool (DE), MSF (DE), Red Cross (DE), Absortech (DE & EN), Spiced Academy (EN), Talknow (DE) ..... </p>
                        <br>
                        <p>{{{__ "also"}}}</p>
                        <ul>
                            <li class="title is-5 is-heavy reduced-margin">Montblanc SEO Consultant Jun/19 > Mar/20</li>
                            <p>SEO Consultancy Global Projects (over 20 languages)</p><br>
                            <li class="title is-5 is-heavy reduced-margin">Holberton School Nov/18 > Dec/19</li>

                            <p><a href="/{{{__ "lang"}}}/{{{__ "seoberatungurl"}}}">SEO Consultancy</a> incl. Audit, Relaunch, Content Marketing Strategy<br>
                                Excl. Brand:
                            <ul>
                                <li class=reduced-margin>Clicks <b>x10</b> YoY</span>
                                <li class=reduced-margin>Impressions <b>x14</b> YoY</li>
                            </ul>
                            </p><br>


                        </ul>
                    </div>


                    <div class="skill-card-1">

                        <h3 class="title is-3 is-heavy reduced-margin">Scrum & Agile Coach</h3>
                        <ul>
                            <li class="title is-5 is-heavy reduced-margin">HelloFresh (Oct 2019 to June 2020)</li>
                            <span><a href="/{{{__ "lang"}}}/agile-coach-berlin">Agile Coach</a> - Marketing BI Team - part-time</span><br>
                            <span>Agile Team Lead - Marketing Analytics - part-time</span>

                            <br><br>
                            <li class="title is-5 is-heavy reduced-margin">Spreadshirt (2013-2017)</li>
                            <span>Product Owner (2014-2017)</span><br>
                            <span>Scrum Master @ Scrum Implementation (2013-2014)</span>

                        </ul><br>
                    </div>



                    <div class="skill-card-1">

                        <h3 class="title is-3 is-heavy reduced-margin">Web Developement Training (Jun-Oct. 2018)</h3>

                        <p>Coding Bootcamp @ Spiced Academy (Berlin)</p>
                    </div>
                    <div class="skill-card-1">

                        <h3 class="title is-3 is-heavy reduced-margin">Head of SEO @ Spreadshirt (2012-2017)</h3>

                        <p>{{{__ "intro7"}}}</p>
                        <p>Scrum SEO Team (10 members)</p>

                    </div>
                    <h3 class="title is-3 is-heavy reduced-margin">SEO & SEA Country Manager @ Spreadshirt (2010-2011)</h3>

                    <p>SEM orders +60% (2011 vs 2010)<br> +250% SEO orders (2012 vs 2011).

                    </p>
                </div>
            </div>

        </div>
        <br><br><br><br>


</div><br><br>
</section>

<!-- Recent Clients Block-->
<a class="white" href="/{{{__ "lang"}}}/references">
    <section class="clients-hero boxcolor hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h2 class="title is-3 is-white is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>
                {{>clientssmall}}
            </div>
        </div>
    </section>
</a>

</div>
