<div class="main">
    <img
      src="/report.jpg"
      title="onpage SEO, a photo by Noémi Macavei-Katócz"
      alt="SEO Services"
      class="imageAudit"
    />


  <div class="services4">
    <div class="infoTitle">
      <br />
      <br />
      <h1 class="h1services2">{{{__ "servicesh1"}}}</h1>
    </div>
    <div class="intro20">

      <div class="introQuarter">
        <div class="transparent"> </div>

        <h2>Full Audit (25-35 {{{__ "hours"}}})</h2>
        <p class="txt2 bold"> {{{__ "execsumm"}}}</p>

        <p class="txt2 bold"> In-depth {{{__ "onpageHP1"}}}</p>

        <p class="txt2 bold">
          Onpage:
          Content, {{{__ "onpageHP3"}}}, {{{__ "onpageHP7"}}},  Metas, {{{__ "onpageHP10"}}}, etc
        </p>
        <p class="txt2 bold">
          In-depth Backlink Audit
        </p>

        <p class="txt2">
          <a class="bold" href="/{{{__ "lang"}}}/research/competitor-analysis"> {{{__ "hey5"}}}</a>: {{{__ "technicalHP1"}}} & {{{__ "technicalHP4"}}} &
          {{{__ "technicalHP5"}}} & {{{__ "technicalHP2"}}}
        </p>

        <p class="txt2"> <a class="bold" href="/{{{__ "lang"}}}/research/competitor-analysis">{{{__ "bestpractMPH1"}}} </a>(min. 2)</p>
      </div>
    </div>
    <h2 class="floatright">{{{__ "otherservices"}}}</h2>

    <div class="intro20">
      <div class="introQuarter">
        <div class="transparent"> </div>
        <h2>Website Crawl (min 4 {{{__ "hours"}}} )</h2>
        <p class="txt2"> {{{__ "execsumm"}}}</p>
        <p class="txt2">Website Crawl: {{{__ "listmain"}}}</p>
        <h2>      <a href="/{{{__ "lang"}}}/offpage/backlinkanalysis">

          Backlink Audit (min 4 {{{__ "hours"}}})</a>
        </h2>
        <p class="txt2"> {{{__ "execsumm"}}}</p>
        <p class="txt2"> {{{__ "offpageHP1"}}}</p>
        <p class="txt2">
          {{{__ "hey7"}}} & Backlink Audit
        </p>
        <h2><a href="/{{{__ "lang"}}}/onpage/keywordresearch">
          {{{__ "onpageHP1"}}}</a> (min 4 {{{__ "hours"}}})
        </h2>
        <p class="txt2"> In-depth {{{__ "onpageHP1"}}}</p>
        <p class="txt2">

          {{{__ "onpageHP10"}}} ( {{{__ "voiceMPT2"}}})
        </p>
      </div>

      <div class="introQuarter">
        <div class="transparent"> </div>

        <h2>Growth Hacking</h2>
        <p class="txt2">
         Content for Expansional growth
        </p>

        <a href="/{{{__ "lang"}}}/offpage/brandbuilding">

        <h2>Brand building</h2></a>
        <p class="txt2">
        </p>
  <a href="/{{{__ "lang"}}}/research/analytics">
        <h2>Analytics</h2></a>
        <p class="txt2">
        </p>



        <a href="/{{{__ "lang"}}}/research/localseo">

        <h2>Local SEO</h2></a>
        <p class="txt2">
        </p>

        <a href="/{{{__ "lang"}}}/research/sea">

        <h2>SEA</h2></a>
        <p class="txt2">
        </p>

      </div>
    </div>
    <a class="servicesHP" href="/{{{__ "lang"}}}/seo-for-small-businesses"}>
      <button class="servicesHP"> {{{__ "smallbusinesses"}}}</button>
    </a>
    <a class="servicesHP2" href="/{{{__ "lang"}}}/contact"}>
      <button class="servicesHP2">{{{__ "getintouch"}}}</button>
    </a>
    <br /> <br /> <br />

    <script type="application/ld+json">

    {

    "@context": "http://schema.org",

    "@type": "Organization",

    "url": "htts://www.seoberlino.com/en",

    "contactPoint": [{

    "@type": "ContactPoint",

    "telephone": "+49 15787011932",

    "contactType": "customer support"

    }]

    }
    </script>


    <script type="application/ld+json">

     {

    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "additionalType": "http://www.productontology.org/id/Search_engine_optimization",
    "name": "SEO Berlino",
    "url": "https://www.seoberlino.com/en",
    "description": "SEO Consultant & SEO Freelancer in Berlin",
    "image": "https://www.seoberlino.com/logo.jpg",
    "email": "alex@seoberlino.com",
    "telephone": "+49 15787011932",
    "hasMap": "https://www.google.com/maps/place/SEO+%26+Analytics+Consultant+and+Freelancer/@52.4860441,13.4413452,16z/data=!4m5!3m4!1s0x0:0xc0549535ce468e56!8m2!3d52.4884039!4d13.4405561",
    "logo": {
     "@type": "ImageObject",
     "url": "https://www.seoberlino.com/logo.jpg",
     "width": 600,
     "height": 600
    },
    "address": [{
     "@type": "PostalAddress",
     "streetAddress": "Kiehlufer 11",
     "addressLocality": "Berlin",
     "addressRegion": "Berlin",
     "postalCode": "12059",
     "addressCountry": "DE"
    }],


    "openingHoursSpecification": [{
     "@type": "OpeningHoursSpecification",
     "dayOfWeek": [
     "Monday",
     "Tuesday",
     "Wednesday",
     "Thursday",
     "Friday"
     ],
     "opens": "08:00",
     "closes": "18:00"
    }]
    }
    </script>
  </div>
  {{>extendedfooter}}

</div>
