<div class="main">



    <div class="services2">
        <div class="infoTitle">
            <br />
            <br />
            <h1 class="h1services2">{{{__ "servicesh1"}}}</h1>
        </div> <br />
        <br />
        <div class="marginleft">
            <p>{{{__ "descriptionHP"}}}</p>

            <p>{{{__ "auditintro"}}}</p>
        </div>
        <div class="auditdiv">



            <h2>Full Audit (25-35 {{{__ "hours"}}})</h2>
            <p class="border"> {{{__ "execsumm"}}}</p>

            <p class="border"> <a href="/{{{__ "lang"}}}/onpage/{{__ "kwrechercheURL"}}"> In-depth {{{__ "onpageHP1"}}}</a></p>

            <p class="border"> <a href="/{{{__ "lang"}}}/onpage">
                Onpage:
                Content, {{{__ "onpageHP3"}}}, {{{__ "onpageHP7"}}},  Metas, {{{__ "onpageHP10"}}}, etc
            </a></p>
            <p class="border"><a href="/{{{__ "lang"}}}/offpage/{{__ "backlinkURL"}}">
                In-depth Backlink Audit
            </a></p>

            <p class="border">
                <a class="bold black" href="/{{{__ "lang"}}}/technical"> {{{__ "hey5"}}}</a>: {{{__ "technicalHP1"}}} & {{{__ "technicalHP4"}}} &
                {{{__ "technicalHP5"}}} & {{{__ "technicalHP2"}}}
            </p>

            <p class="border"> <a class="bold black" href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "competitorURL"}}}">{{{__ "bestpractMPH1"}}} </a></p>

            <a class="servicesHP5" href="/{{{__ "lang"}}}/contact">
                <button class="servicesHP5">{{{__ "getintouch"}}}</button>
            </a>


        </div>


        <br><br>
        <div class="projectsdiv">
            <h2>Projects</h2>


            <p class="border"><a href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "localURL"}}}">Local SEO</a></p>

            <p class="border"><a href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "seaURL"}}}">

                SEA</a></p>


                <p class="border">Growth Hacking
                </p>

                <p class="border">
                    <a href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "brandbuildingURL"}}}">
                        Brand building
                </p>


                <p class="border">
                        <a href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "analyticsURL"}}}">
                        Analytics</a>
                </p>
                                <a class="servicesHP5" href="/{{{__ "lang"}}}/contact">
                                    <button class="servicesHP5">{{{__ "getintouch"}}}</button>
                                </a>


                            </div>
                            <br><br>


                            <br>
                            <br>



                            <script type="application/ld+json">

                            {

                                "@context": "http://schema.org",

                                "@type": "Organization",

                                "url": "htts://www.seoberlino.com",

                                "contactPoint": [{

                                    "@type": "ContactPoint",

                                    "telephone": "+49 15787011932",

                                    "contactType": "customer support"

                                }]

                            }
                            </script>


                            <script type="application/ld+json">

                            {

                                "@context": "http://schema.org",
                                "@type": "LocalBusiness",
                                "additionalType": "http://www.productontology.org/id/Search_engine_optimization",
                                "name": "SEO Berlino",
                                "url": "https://www.seoberlino.com",
                                "description": "SEO Consultant & SEO Freelancer in Berlin",
                                "image": "https://www.seoberlino.com/logo.jpg",
                                "email": "alex@seoberlino.com",
                                "telephone": "+49 15787011932",
                                "hasMap": "https://www.google.com/maps/place/SEO+%26+Analytics+Consultant+and+Freelancer/@52.4860441,13.4413452,16z/data=!4m5!3m4!1s0x0:0xc0549535ce468e56!8m2!3d52.4884039!4d13.4405561",
                                "logo": {
                                    "@type": "ImageObject",
                                    "url": "https://www.seoberlino.com/logo.jpg",
                                    "width": 600,
                                    "height": 600
                                },
                                "address": [{
                                    "@type": "PostalAddress",
                                    "streetAddress": "Kiehlufer 11",
                                    "addressLocality": "Berlin",
                                    "addressRegion": "Berlin",
                                    "postalCode": "12059",
                                    "addressCountry": "DE"
                                }],


                                "openingHoursSpecification": [{
                                    "@type": "OpeningHoursSpecification",
                                    "dayOfWeek": [
                                        "Monday",
                                        "Tuesday",
                                        "Wednesday",
                                        "Thursday",
                                        "Friday"
                                    ],
                                    "opens": "08:00",
                                    "closes": "18:00"
                                }]
                            }
                            </script>

                            <br>


                        </div>


                    </div>

                    {{>clients}}
