<div class="main">
    <div class="services2">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/lexical"> Lexicon </a>
        </div><!-- breadcrumb -->
        <h1 class="h1services">Google PageSpeed</h1><br>
        <a target="_blank" href="{{{__ "pagespeedlink"}}}">
            <img class="searchconsole" src="/Pagespeed.png" /></a><br>
        <div class="serviceText">
                <h2>{{{__ "definition"}}}</h2>
                {{{__ "googlePageSpeedMP"}}}
                <h2>Mobile / Desktop Score</h2>
                <img class="searchconsole" src="/pagespeedscore.png" />    <br>
                {{{__ "googlePageSpeedScore"}}}
                <h2>{{{__ "LabData"}}}</h2>
                <img class="searchconsole" src="/pageSpeedLab.png" />    <br>
                {{{__ "googlePageSpeedLab"}}}
                <h2>{{{__ "Opportunities"}}}</h2>
                <img class="searchconsole" src="/pagespeedOpp.png" />    <br>
                {{{__ "googlePageSpeedOpp"}}}
                <h2>{{{__ "Diagnostics"}}}</h2>
                <img class="searchconsole" src="/pagespeedDiag.png" />    <br>
                {{{__ "googlePageSpeedDiag"}}}<br><br><br>{{>extendedlexical}}
        </div><!-- servicestext -->
            <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement": [{
                    "@type": "ListItem",
                    "position": 1,
                    "name": "{{{__ "servicesL"}}}",
                    "item": "https://www.seoberlino.com/{{{__ "lang"}}}"
                },{
                    "@type": "ListItem",
                    "position": 2,
                    "name": "SEO",
                    "item": "https://www.seoberlino.com/{{{__ "lang"}}}/seo"
                },]
            }
        </script>
    </div><!-- services2 -->
</div>  <!-- main -->
