<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-12-desktop">
                    <div class="boxcolor"  ><br>
                        <h1 class="h1HP is-heavy is-white has-text-centered">{{{__ "googlerankingh1"}}}</h1><br>
                    </div><br>

                </div>
            </div>

            <div class="container reduced">


                <div class="column is-12-mobile is-10-tablet is-12-desktop post content">



                    <h2 class="title is-2 is-heavy"> {{{__ "googlerankingh1"}}} {{{__ "with"}}} Offpage & Backlinks</h2>


                    <p class="intro">{{{__ "offpageMP"}}}</p>


                    <p>{{{__ "linkstoavoid1"}}}</p>

                    <p>{{{__ "linkstoavoid2"}}}</p><br>
                    <h3 class="title is-3 is-heavy">{{{__ "auditMPT2"}}}</h3>

                    <p>{{{__ "offpageMP2"}}}</p><br>
                    <h3 class="title is-3 is-heavy">{{{__ "auditMPT3"}}}
                    </h3>

                    <p>{{{__ "offpageMP3"}}}</p><br>

                    <h3 class="title is-3 is-heavy reduced-top-margin">{{{__ "linkstoavoidtitle"}}} & Disavow Tool</h3>
                    <p>{{{__ "linkstoavoid3"}}}</p>

                    <p>{{{__ "linkstoavoid4"}}} <a class="blue" href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/disavowtool">Disavow Tool</a> {{{__ "linkstoavoid42"}}} </p>

                    <br>
                    <h3 class="title is-3 is-heavy">Social Media & Social Bookmarking </h3>

                    <p>{{{__ "offpageMP4"}}} <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/nofollow">nofollow</a>{{{__ "offpageMP42"}}}</p>
                    <p>{{{__ "offpageMP5"}}}</p><br>

                    <br>


                    <h2 class="title is-2 is-heavy reduced-top-margin"> {{{__ "googlerankingh1"}}} {{{__ "with"}}} On-page SEO</h2>

                    <h3 class="title is-4 is-heavy">{{{__ "contentMPT1"}}}</h3>
                    <p>{{{__ "contentMP1"}}}</p>

                    <h3 class="title is-4 is-heavy">{{{__ "contentMPT2"}}}</h3>
                    <p>{{{__ "contentMP2"}}}</p>

                    <h3 class="title is-4 is-heavy">{{{__ "contentMPT3"}}}</h3>
                    <p>{{{__ "contentMP3"}}}</p>

                    <h3 class=" title is-4 is-heavy reduced-top-margin">{{{__ "definition"}}}</h3>
                    <p>{{{__ "altattributeMP"}}}</p>




                    <p>{{{__ "imagesMP1"}}}</p>
                    <pre>&lt;img src="/image.jpg" alt="yourimagealthere" title="furtherinfohere" /></pre>

                    <p>{{{__ "imagesMP2"}}}</p>
                    <p>Alt Attribute {{{__ "imagesMP3"}}}</p>


                    <h3 class="title is-3 is-heavy">Image title</h3>
                    <p>{{{__ "imagesMP4"}}}</p>
                    <h3 class="title is-3 is-heavy">{{{__ "imagesMPT5"}}}</h3>
                    <p>{{{__ "imagesMP5"}}}</p>

                    <h3 class="title is-3 is-heavy">Keywords</h3>

                    <p>{{{__ "keywordMP1"}}}</p>
                    <p>{{{__ "keywordMP2"}}}</p>
                    <p>{{{__ "keywordMP3"}}}</p>
                    <br>


                    <h3 class="title is-3 is-heavy reduced-top-margin">Title</h3>

                    <pre>&lt;title&gt;My Unique Title&lt;/title>
            </pre>




                    <p>{{{__ "metasMP1"}}}</p>
                    <h2 class="title is-4 is-heavy">Description</h2>
                    <pre>&lt;meta name="description" content="my unique description" />
            </pre>

                    <p>{{{__ "metasMP2"}}}</p>

                    <h3 class="title is-3 is-heavy">Headings</h3>

                    <pre>
&lt;h1&gt;my unique h1: page main topic&lt;/h1&gt;
&lt;h2&gt;Title part 1&lt;/h2&gt;
&lt;h3&gt;Subtitle 1&lt;/h3&gt;
&lt;h3&gt;Subtitle 2&lt;/h3&gt;

&lt;h2&gt;Title part 2&lt;/h2&gt;


&lt;h2&gt;Title part 3&lt;/h2&gt;
&lt;h3&gt;Subtitle 1&lt;/h3&gt;
&lt;h3&gt;Subtitle 2&lt;/h3&gt;
&lt;h3&gt;Subtitle 3&lt;/h3&gt;
            </pre>

                    <p>{{{__ "metasMP3"}}}</p><br>

                    <h3 class="title is-3 is-heavy">Social Media: OpenGraph & Twitter Card</h3>
                    <pre>
&lt;meta property="og:title" content="mytitle" />
&lt;meta property="og:url" content="myurl" />
&lt;meta property="og:description" content="mydescription" />
&lt;meta property="og:locale" content="countrycode" />
&lt;meta property="og:site_name" content="name" />
&lt;meta name="twitter:card" content="summary" />
&lt;meta name="twitter:site" content="@name" />
&lt;meta name="twitter:title" content="mytitle" />
&lt;meta name="twitter:description" content="mydescription" />
&lt;meta name="twitter:image" content="/logo.jpg" />
                </pre>

                    <h3 class="title is-3 is-heavy">Viewport</h3>
                    <pre>&lt;meta name="viewport" content="width=device-width, initial-scale=1" />
                    </pre>
                    <br>
                    <h3 class="title is-3 is-heavy">{{{__ "metasMPT4"}}}</h3>
                    <p>{{{__ "metasMP4"}}}</p> <br><br> <br>
                    <br><br>



                    <h3 class="title is-4 is-heavy reduced-top-margin">{{{__ "voiceMPT1"}}}</h3>
                    <p>{{{__ "voiceMP1"}}}</p>
                    <h3 class="title is-4 is-heavy">{{{__ "voiceMPT2"}}}</h3>
                    <p>{{{__ "voiceMP2"}}}</p>
                    <h3 class="title is-4 is-heavy">{{{__ "voiceMPT3"}}}</h3>
                    <p>{{{__ "voiceMP3"}}}</p>
                    <h3 class="title is-4 is-heavy">{{{__ "voiceMPT4"}}}</h3>
                    <p><a class="blue" href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/searchvolume">Search Volume</a>{{{__ "voiceMP4"}}}</p>
                    <h3 class="title is-4 is-heavy">Featured Snippets</h3>
                    <p>{{{__ "voiceMP5"}}}</p>
                    <h3 class="title is-4 is-heavy reduced-top-margin">{{{__ "localMPT1"}}}</h3>
                    <p>{{{__ "localMP1"}}}</p>

                    <img width=50% src="/images/seo-images/mybusiness.jpg" alt="My Business, Local SEO" />
                    <br><br>
                    <h2 class="title is-4 is-heavy">{{{__ "localMPT2"}}}</h3>

                        <p>{{{__ "localMP2"}}}</p>

                        <h3 class="title is-4 is-heavy">{{{__ "localMPT3"}}}</h3>
                        <p>{{{__ "localMP3"}}}</p>

                        <h3 class="title is-4 is-heavy">{{{__ "localMPT4"}}}</h3>
                        <p>{{{__ "localMP4"}}}</p>

                        <h3 class="title is-4 is-heavy">{{{__ "relevanttools"}}} </h3>
                        <p><a href="https://www.google.com/business/" target="_blank">Google's MyBusiness</a></p>
                        <br><br>


                        <h2> {{{__ "googlerankingh1"}}} {{{__ "with"}}} Technical SEO</h2>

                        <p class=" italic">{{{__ "technicalintro"}}}</p>
                        <p>{{{__ "technicalintro2"}}}</p>
                        <p>{{{__ "technicalintro3"}}}</p>
                        <p>{{{__ "technicalintro4"}}}</p>
                        <p>{{{__ "technicalintro5"}}}</p>
                        <p>{{{__ "technicalintro6"}}}</p>
                        <p>{{{__ "technicalintro7"}}}</p>
                        <p>{{{__ "technicalintro8"}}}</p>
                        <p>{{{__ "technicalintro9"}}}</p>
                        <br><br>
                </div><br>
                <!-- Intro Services Block-->

            </div>
        </div>
    </div>
</section>

<section class="services-hero hero is-large-intro has-text-centered">


    <div class="container reduced has-text-centered">

        <h2 class="title h1HP">{{{__ "CTAverbessern"}}}</h2><br>
        {{>seoservices-min}}<br><br>{{>otherservices-min}}
        <!-- Testimonials Block-->


    </div>
</section>
{{>contactquote-min}}