
<div class="mainHP">

  <img
    src="/homepage.jpg"
    class="berlin"
    alt="SEO Freelancer SEO Berlino, SEO consultant in Berlin"
  />
  <div>
    <div class="othercontentHP">
      <div class="txthead introHP">
        <h1 class="h1hp">{{{__ "intro1"}}}</h1>
        <br /> <br />
        <div class="h2hp">
          {{{__ "boost1"}}} {{{__ "boost2"}}} <br />
          {{{__ "boost3"}}}
        </div>
      </div>
      <a class="servicesHP" href="/{{{__ "lang"}}}/services"}>
        <button class="servicesHP">{{{__ "servicesL"}}}</button>
      </a>
      <a class="servicesHP" href="/{{{__ "lang"}}}/seo-for-small-businesses"}>
        <button class="servicesHP"> {{{__ "smallbusinesses"}}}</button>
      </a>
      <a
        class="servicesHP2"
        href="/{{{__ "lang"}}}/freeaudit"}
      >
        <button class="servicesHP2">{{{__ "preaudit"}}}</button>
      </a>
      <a
        class="servicesHP2"
        href="/{{{__ "lang"}}}/partnership"}
      >
        <button class="servicesHP2">{{{__ "sponsorship"}}}</button>
      </a>

      <div>
        <div class="intro2">

          <div class="serviceQuarter">
            <h2 class="black2">
              <a
                class="center"
                href="/{{{__ "lang"}}}/resources"}
              >

                seo audit
              </a>
            </h2>
            <p class="txt2">{{{__ "intro9"}}}</p>
            <p class="txt2">{{{__ "hey4"}}}</p>
            <p class="txt2">{{{__ "hey3"}}}</p>
            <p class="txt2">{{{__ "hey5"}}} </p>
            <p class="txt2">{{{__ "hey8"}}} </p>

            <p class="txt2"> {{{__ "hey7"}}}</p>
          </div>
          <div class="serviceQuarter">
            <h2 class="black2">
              <a
                class="center"
                href="/{{{__ "lang"}}}/research/analytics"}
              >

                analytics
              </a>
            </h2>
            <p class="txt2">{{{__ "analytics1"}}}</p>

            <p class="txt2">{{{__ "analytics2"}}}</p>
            <p class="txt2">{{{__ "analytics3"}}}</p>
            <p class="txt2">{{{__ "analytics4"}}}</p>

            <p class="txt2">{{{__ "analytics5"}}}</p>
          </div>
          <div class="serviceQuarter">
            <h2 class="black2">

              <a
                class="center"
                href="/{{{__ "lang"}}}/offpage/brandbuilding"}
              >

                brand building
              </a>
            </h2>
            <p class="txt2">{{{__ "brandbuilding1"}}}</p>
            <p class="txt2">{{{__ "brandbuilding2"}}}</p>
            <p class="txt2">{{{__ "brandbuilding3"}}}</p>
          </div>
        </div>
        <div class="intro2:after">

          <div class=" block center">
            <h2 class="bold inline">content growth hacking</h2>

            <span class="txt2 inline">{{{__ "growthhacking"}}}</p>

          </div>

          <div class=" block center">
            <h2 class="bold inline">site crawl audit</h2>
            <span class="txt2 inline">{{{__ "sitecrawl"}}}</p>

          </div>


        </div>


      </div>
    </div>
    <div class="whatisseo">
      <div class="backgroundBlack xtrapad">
        <h2 class="transpbg-white orange ">{{{__ "whatis"}}} </h2>
        <br />
        <h2 class="white">{{{__ "seolong"}}} </h2>
        <p class="transpbg-white txt3"> {{{__ "whatisSEO"}}}</p>
      </div>
    </div>
    <div class="othercontentHP">
      <div class="intro4">
        <div class="marginright marginleft">

          <h2 class="transpbg-white orange ">{{{__ "boost4"}}}</h2>
          {{{__ "boost5"}}}
        </div>
      </div>
      <h2 class=" black2">

        <a>{{{__ "beratung"}}}</a>
      </h2>
      <p class="txt3">{{{__ "beratungText"}}}</p>
      <h2 class=" black2">
        <a href="/{{{__ "lang"}}}/resources"}>{{{__ "audit"}}}</a>
      </h2>
      <p class="txt3">
        {{{__ "auditText"}}}
        <a
          href="/{{{__ "lang"}}}/resources"}
          class="block black"
        >
          <img title="more" class="iconsmore" src="/more.svg" alt="more" />
        </a>
      </p>
      <h2 class=" black2">
        <a class="" href="/{{{__ "lang"}}}/onpage"}>
          {{{__ "OnPageOptimization"}}}
        </a>
      </h2>
      <p class="txt3">
        {{{__ "OnPageOptimizationText"}}}
        <a
          href="/{{{__ "lang"}}}/onpage"}
          class="block black"
        >
          <img title="more" class="iconsmore" src="/more.svg" alt="more" />
        </a>
      </p>
      <a class="servicesHP2" href="/{{{__ "lang"}}}/contact"}>
        <button class="servicesHP2">{{{__ "about"}}}</button>
      </a>
      <a class="servicesHP" href="/{{{__ "lang"}}}/services"}>
        <button class="servicesHP">{{{__ "servicesL"}}}</button>
      </a>
      <br />
      <br />
      <div class="backgroundBlack2 sharable">
        <div class="transpbg-white intro4 marginleft">

          {{{__ "boost6"}}} <br />
          <h2 class="transpbg-white orange ">{{{__ "boost7"}}}</h2>
          {{{__ "boost8"}}} <br /> <br />
        </div>
      </div>
      <div class="backgroundBlack">
        <h2 class="transpbg-white orange">
            offpage
        </h2>
            <h2 class="white"> {{{__ "optimization"}}}

        </h2>
        <p class="txt3 transpbg-white">
          {{{__ "OffpagePageOptimizationText"}}}
          <a
            href="/{{{__ "lang"}}}/offpage"}
            class="block black"
          />
        </p>
        <h2 class="transpbg-white white">
            backlink
        </h2>
            <h2 class="orange"> audit

        </h2>
        <p class="txt3 transpbg-white">{{{__ "offpage_main"}}} </p>
        <br /> <br />
      </div>
      <div class="othercontentHP">
        <div class="intro4 sharable2 ">
          <span class="marginleft">{{{__ "boost9"}}}</span> <br />
          <h2 class="transpbg-white orange ">{{{__ "boost10"}}} </h2>
          {{{__ "boost11"}}}
        </div>
        <div class="intro41">
          <h2 class="black2">
            <a
              class=" orange transpbg-white"
              href="/{{{__ "lang"}}}/onpage/keywordresearch"}
            >
              {{{__ "KWResearch"}}}
            </a>
          </h2>
          <p class="txt3">{{{__ "KWResearchText"}}}</p>
          <a
            class="servicesHP"
            href="/{{{__ "lang"}}}/services"}
          >
            <button class="servicesHP">{{{__ "servicesL"}}}</button>
          </a>
          <a
            class="servicesHP2"
            href="/{{{__ "lang"}}}/contact"}
          >
            <button class="servicesHP2">{{{__ "about"}}}</button>
          </a>
          <br />
          <br />
          <br />
          <div class="intro3 ">
            <div class="logoQuarter">
              <img
                class="brandlogo"
                alt="must-be logo"
                src="/mustbe.png"
              />
            </div>
            <div class=" logoQuarter">
              <img
                class="brandlogo2"
                alt="spreadshirt logo"
                src="/spreadshirt.png"
              />
            </div>
            <div class=" logoQuarter">
              <img
                class="brandlogo"

                src="/madeforrain.png"
                alt="made for rain logo"
              />
            </div>
            <div class=" logoQuarter">
              <img
                class="brandlogo"

                src="/holberton.png"
                alt="holberton school logo"
              />
            </div>


              <div class=" logoQuarter">
                <img
                  class="brandlogo2"

                  src="/teezily.png"
                  alt="teezily logo"
                />
              </div>

            <div class=" logoQuarter">
              <img
                class="brandlogo"

                src="/MSFLogo.jpg"
                alt="MSF logo"
              />
            </div>
            <div class=" logoQuarter">
              <img
                class="brandlogo"


                src="/DRKLogo.jpg"
                alt="DRK logo"
              />
            </div>
            <div class=" logoQuarter">
              <img
                class="brandlogo"
                src="/independent.png"
                alt="independent logo"
              />
            </div>
          </div>
          <br />
          <div>
            <div class="txt3 testimonial">
              "Alex is an SEO expert who proposes concrete action measures
              based on a well-founded analysis and independently
              implements them. This gives me the opportunity to focus on
              my day-to-day business while still keeping my finger on the
              pulse of the times with my website. Thank you for the
              transparent and professional cooperation!"
              <br />
              <div class="bold">
                <span class="inline2">
                  <img
                    height="40px"
                    width="60px"
                    alt="must-be logo"
                    src="/mustbe.png"
                  />
                </span>
                <span class="inline2">
                  Hendrik Feige - owner at must-be
                </span>
              </div>
            </div>
            <br />
            <div class="txt3 testimonial">
              "Thank you for report which was exactly what I was hoping
              for!"
              <br />
              <div class="bold">
                <span class="inline2">
                  <img
                    height="40px"
                    width="45px"
                    src="/teezily.png"
                    alt="teezily logo"
                  />
                </span>
                <span class="inline2">
                  Charles Dilasser - CEO at Teezily
                </span>
              </div>
            </div>
            <br />
            <div class="txt3 testimonial">
              "Fast, reliable & professional. Would definitely recommend."
              <br />
              <div class=" bold ">
                <span class="inline2">
                  <img
                    height="30px"
                    width="60px"
                    src="/independent.png"
                    alt="independent logo"
                  />
                </span>
                <span class="inline2">
                  Richard Sfez – CEO at The Independent Photographer
                </span>
              </div>
            </div>
            <br />
            <div class="txt3 testimonial">
              "Alex always had a superior command of his field of activity
              and very good knowledge of all processes and aspects of the
              company. He was always very successful in expanding his
              professional knowledge on his own initiative. Alex has led
              several major projects of cleaning up our SEO profiles so as
              to reflect the best practices preached by Google as well as
              pioners. He has been strict in following the cleanest and
              best practices to avoid penalties, but continue growth in
              Spreadshirt's SEO visibility."
              <br />
              <div class="bold">
                <span class="inline2">
                  <img
                    height="40px"
                    width="35px"
                    alt="spreadshirt logo"
                    src="/spreadshirt.png"
                  />
                </span>
                <span class="inline2">
                  Hugo Smoter - CCO at Spreadshirt
                </span>
              </div>
            </div>
          </div>
          {{>contactmain}}


          <img src="/hrefs.png" class="brandlogo" alt="ahrefs" />
          <img src="/majesticLogo.png" class="brandlogo" alt="majestic SEO" />
          <img src="/Screamingfroglogo.png" class="brandlogo" alt="Screaming Frog Logo" />
          <img src="/SistrixLogo.png" class="brandlogo" alt="Sistrix Logo" />
          <img src="/SEMRushLogo.jpeg" class="brandlogo" alt="SEM Rush" />
          <img src="/myBusinessLogo.jpeg" class="brandlogo" alt="MyBusinessLogo" />
          <img src="/SearchConsoleLogo.png" class="brandlogo" alt="Search Console Logo" />
          <img src="/GALogo.png" class="GAlogo brandlogo" alt="Analytics" />
          <img src="/GAdsLogo.png" class="GAdslogo brandlogo" alt="Google Ads" />


        </div>

      </div>
          {{>extendedfooter}}
    </div>


  </div>
  <script type="application/ld+json">

  {

  "@context": "http://schema.org",

  "@type": "Organization",

  "url": "htts://www.seoberlino.com/en",

  "contactPoint": [{

  "@type": "ContactPoint",

  "telephone": "+49 15787011932",

  "contactType": "customer support"

  }]

  }
  </script>


  <script type="application/ld+json">

   {

  "@context": "http://schema.org",
  "@type": "LocalBusiness",
  "additionalType": "http://www.productontology.org/id/Search_engine_optimization",
  "name": "SEO Berlino",
  "url": "https://www.seoberlino.com/en",
  "description": "SEO Consultant & SEO Freelancer in Berlin",
  "image": "https://www.seoberlino.com/logo.jpg",
  "email": "alex@seoberlino.com",
  "telephone": "+49 15787011932",
  "hasMap": "https://www.google.com/maps/place/SEO+%26+Analytics+Consultant+and+Freelancer/@52.4860441,13.4413452,16z/data=!4m5!3m4!1s0x0:0xc0549535ce468e56!8m2!3d52.4884039!4d13.4405561",
  "logo": {
   "@type": "ImageObject",
   "url": "https://www.seoberlino.com/logo.jpg",
   "width": 600,
   "height": 600
  },
  "address": [{
   "@type": "PostalAddress",
   "streetAddress": "Kiehlufer 11",
   "addressLocality": "Berlin",
   "addressRegion": "Berlin",
   "postalCode": "12059",
   "addressCountry": "DE"
  }],


  "openingHoursSpecification": [{
   "@type": "OpeningHoursSpecification",
   "dayOfWeek": [
   "Monday",
   "Tuesday",
   "Wednesday",
   "Thursday",
   "Friday"
   ],
   "opens": "08:00",
   "closes": "18:00"
  }]
  }
  </script>



</div>
