<!-- Intro Block-->
<div class="content landingpage-en">
    <section class="introduction-hero hero is-fullheight wave-bottom-offwhite">
        <div class="hero-body remove-padding">
            <div class="container">
                <div class="columns is-centered intro-columns">
                    <div class="column is-9-mobile is-5-desktop has-text-left vertical-aligner intro-summary">
                        <div class="aligner-container">
                            <h1 class="title is-3">{{{__ "intro1"}}}</h1>
                            <h2 class="subtitle is-5">
                                {{{__ "boost1"}}} <br>{{{__ "boost2"}}}
                                {{{__ "boost3"}}}{{{__ "boost31"}}}
                            </h2><br>
                            <a class="button is-large is-primed is-outlined is-medium title is-5" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">
                                SEO Freelancer
                            </a>
                            <a class="button is-large is-primary is-outlined is-medium title is-5" href="/{{{__ "lang"}}}/scrum">
                                Agile Coach
                            </a>
                        </div>
                    </div>
                    <div class="column is-5 is-offset-1 intro-image">
                        <img alt="SEO Consultant Illustration" class="illustration" src="/images/homepage-illustration.jpg" />
                    </div>
                </div>
            </div>
        </div>
        {{!-- 
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered intro-columns off-white">
                    <div class="column is-11-mobile is-4-desktop has-text-left">
                        <div class="aligner-container">
                            <h2 class="title is-3">why SEO</h2>
                            <span class="subtitle is-5">SEO is an optimal method to reach more potential users in the long term and sustainably.

                                Use my longtime experience and individual SEO solutions to generate more leads, optimize your site and increase your sales. </span>
                            <br> <br>

                            <a class=" button is-large is-primary is-outlined is-medium title is-5" href="/{{{__ "lang"}}}/scrum">
                                More about SEO </a>
                        </div>
                    </div>
                    <div class="column is-11-mobile is-4-desktop has-text-left">
                        <div class="aligner-container">
                            <h2 class="title is-3">why a freelancer</h2>
                            <span class="subtitle is-5">
                                Use my longtime experience and individual SEO solutions to generate more leads, optimize your site and increase your sales. </span>

                            </span><br><br><br> <br> <br>

                            <a class="button is-large is-primary is-outlined is-medium title is-5" href="/{{{__ "lang"}}}/scrum">
                                SEO Freelancer
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div> --}}
    </section>




    <!-- Services Block-->
    <section class="services-hero off-white hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h2 class="title is-3 is-heavy boost-margin">{{{__ "servicesHP"}}}</h2>
                <div class="columns is-centered">
                    <div class="list-block column is-8-mobile is-3-tablet is-2-desktop aaaaa">
                        <img alt="seo audit" class="glyph" src="/images/glyphs/seo-audit-glyph.svg">
                        <h2 class="title is-4 is-black is-heavy"><a href="/{{{__ "lang"}}}/audit">SEO Audit</a></h2>
                        <p>{{{__ "intro9"}}}</p>
                        <p><a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "kwrechercheURL"}}}">{{{__ "hey4"}}}</a></p>
                        <p><a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}">{{{__ "hey3"}}}</a></p>
                        <p><a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}">{{{__ "hey5"}}}</a></p>
                        <p><a href="/{{{__ "lang"}}}/{{{__ "offpage"}}}">{{{__ "hey8"}}}</a></p>
                        <p><a href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "competitorURL"}}}">{{{__ "hey7"}}}</a></p>
                    </div>

                    <div class="list-block column is-8-mobile is-3-tablet is-2-desktop">
                        <img alt="content SEO" class="glyph" src="/images/glyphs/hacking-glyph.svg">
                        <h2 class="title is-4 is-black is-heavy"><a href="/{{{__ "lang"}}}/content">Content</a></h2>
                        <p>{{{__ "growthhacking"}}}</p>
                        <p><a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "kwrechercheURL"}}}">{{{__ "hey4"}}}</a></p>
                        <p>Objective based on current performance and priority</p>
                        <p>Content Analysis best practices</p>
                        <p>Localised content creation</p>
                    </div>

                    <div class="list-block column is-8-mobile is-3-tablet is-2-desktop">
                        <img alt="analytics" class="glyph" src="/images/glyphs/analytics-glyph.svg">
                        <h2 class="title is-4 is-black is-heavy"><a href="/{{{__ "lang"}}}/analytics">Analytics</a></h2>
                        <p>{{{__ "analytics1"}}}</p>
                        <p>{{{__ "analytics2"}}}</p>
                        <p>{{{__ "analytics3"}}}</p>
                        <p>{{{__ "analytics4"}}}</p>
                        <p>{{{__ "analytics5"}}}</p>
                    </div>

                    <div class="list-block column is-8-mobile is-3-tablet is-2-desktop notunderlined">
                        <img alt="scrum" class="glyph" src="/images/glyphs/scrumthinA.png">
                        <h2 class="title is-4 is-black is-heavy"><a href="/{{{__ "lang"}}}/scrum">Scrum</a></h2>
                        <p>Audit</p>
                        <p><a href="/en/scrum/events">Implementation</a></p>
                        <p><a href="/en/scrum/team">Scrum Master</a></p>
                    </div>
                </div>
            </div>
    </section>

    {{!-- <section class="columns has-text-centered is-multiline">
        <div class=" hero-body">
            <div class="container">
                <div class="columns is-centered intro-columns">
                    <div class="column is-11-mobile is-4-desktop has-text-left">
                        <div class="aligner-container">
                            <h2 class="title is-3">why SEO</h2>
                            <span class="subtitle is-5">SEO is an optimal method to reach more potential users in the long term and sustainably.

                                Use my longtime experience and individual SEO solutions to generate more leads, optimize your site and increase your sales. </span>
                            <br> <br>

                            <a class=" button is-large is-primary is-outlined is-medium title is-5" href="/{{{__ "lang"}}}/scrum">
                                More about SEO </a>
                        </div>
                    </div>
                    <div class="column is-11-mobile is-4-desktop has-text-left">
                        <div class="aligner-container">
                            <h2 class="title is-3">why a freelancer</h2>
                            <span class="subtitle is-5">
                                Use my longtime experience and individual SEO solutions to generate more leads, optimize your site and increase your sales. </span>

                            </span><br><br><br> <br> <br>

                            <a class="button is-large is-primary is-outlined is-medium title is-5" href="/{{{__ "lang"}}}/scrum">
                                SEO Freelancer
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section> --}}

    <!-- Recent Clients Block-->
    <section class="clients-hero red-gradient hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h2 class="title is-3 is-white is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>
                {{>clients}}
            </div>
        </div>
    </section>

    <!-- Testimonials Block-->
    <section class="testimonials-hero off-white hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h2 class="title is-3 is-heavy boost-margin">{{{__ "testimonialsTitle"}}}</h2>
                <div class="columns is-multiline has-text-left">
                    {{>testimonials}}
                </div>
            </div>




        </div>
    </section>


    <section class="container has-text-centered reduced"> <br><br>

        <h2 class="title is-3 is-heavy has-text-centered is-black"><a href="/en/blog">Blog</a></h2>
        <br><br>
        <div class="columns has-text-centered is-multiline">


            <div class="column is-12-mobile has-text-centered is-4-tablet is-3-desktop post post1 post2">
                <figure class="image is-4by3">
                    <a href="/en/article/clutch"><img src="/images/Companies2019-2.png" alt="clutch" /></a>
                </figure>
                <h3 class="title is-5 is-heavy is-black">
                    <a href="/en/article/clutch">Clutch Award</a>
                </h3>
                <p>As experts on the power of clicks, we at seoberlino know how important it can be to be featured by other industry leaders.
                </p>

            </div><br><br>


            <div class="column is-12-mobile has-text-centered is-4-tablet is-3-desktop post post1 post2">
                <figure class="image is-4by3">
                    <a href="/en/article/seo-in-asia-korea-china-japan-2019"><img src="/asia.jpg" alt="blog article" /></a>
                </figure>
                <h3 class="title is-5 is-heavy is-black">
                    <a href="/en/article/seo-in-asia-korea-china-japan-2019">SEO in Asia</a>
                </h3>
                <p>For all countries: it is preferable to have a localised domain, hosted in target country, localised content adapted to target.
                </p>


            </div><br><br>


            <div class="column is-12-mobile has-text-centered is-4-tablet is-3-desktop post post1 post2">
                <figure class="image is-4by3">
                    <a href="/en/article/beyond-mobile-first"><img src="/blog1.png" alt="blog article" /></a>
                </figure>
                <h3 class="title is-5 is-heavy is-black">
                    <a href="/en/article/beyond-mobile-first">Beyond "mobile-first"</a>
                </h3>
                <p>As mobile traffic increases, data creation on the web explodes. Google is trying to find ways to adapt to the new content.
                </p>

            </div><br><br>

            <div class="column is-12-mobile has-text-centered is-4-tablet is-3-desktop post post1 post2">
                <figure class="image is-4by3">
                    <a href="/en/article/how-to-get-those-first-links"><img src="/auditmainpic/offpage.jpg" alt="blog article" /></a>
                </figure>
                <h3 class="title is-5 is-heavy is-black">
                    <a href="/en/article/how-to-get-those-first-links">First backlinks</a>
                </h3>
                <p>Links you proactively acquire should always drive genuine high quality traffic. If this is not the case your link is very unlikely to be useful for anything.
                </p>

                <br><br><br>

            </div>

    </section>



</div>

<section class="services-hero off-white hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">

            <h2 class="title is-3 is-heavy boost-margin">SEO Resources</h2>




            <div class="columns is-centered">
                <div class="list-block column is-4-mobile is-2-tablet is-1-desktop">
                    <a href="/en/casestudy"><img alt="icon case studies" class="glyph" src="/images/glyphs/casestudies.png" /> </a><br>
                </div>


                <div class="list-block column is-4-mobile is-2-tablet is-1-desktop">
                    <a href="/{{{__ "lang"}}}/onpage"><img alt="icon onpage SEO" class="glyph" src="/images/glyphs/onpage.png" /></a><br>
                </div>


                <div class="list-block column is-4-mobile is-2-tablet is-1-desktop">
                    <a href="/{{{__ "lang"}}}/technical"><img alt="icon technical SEO" class="glyph" src="/images/glyphs/technical.png" /></a><br>
                </div>


                <div class="list-block column is-4-mobile is-2-tablet is-1-desktop">
                    <a href="/{{{__ "lang"}}}/offpage"><img alt="icon offpage SEO" class="glyph" src="/images/glyphs/offpage.png" /></a><br>
                </div>

                <div class="list-block column is-4-mobile is-2-tablet is-1-desktop">

                    <a href="/{{{__ "lang"}}}/lexical"><img alt="icon SEO Lexicon" class="glyph" src="/images/glyphs/lexicon.png" /></a><br>
                </div>



            </div>
        </div>




    </div>
</section>