
<img
  src="/auditmainpic/structured.jpg"
  title="data, a photo by Markus Spiske"
  alt="structured data"
  class="homepage"


/>

<div class="mainHP">
    <div class="txthead introHP">
      <h1 class="h1hp">{{{__ "intro1"}}}</h1>
      <br /> <br />
      <div class="h2hp">
        {{{__ "boost1"}}} {{{__ "boost2"}}} <br />
        {{{__ "boost3"}}}
      </div>
      <a
        class="servicesHP"
        href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"
      >
        <button class="servicesHP">{{{__ "servicesL"}}}</button>
      </a>
      <a
        class="servicesHP2"
        href="/{{{__ "lang"}}}/contact"}
      >
        <button class="servicesHP2">{{{__ "about"}}}</button>
      </a>

    </div>


     <div>
    <div class="othercontentHP">




      <div>
        <div class="intro2">

          <div class="serviceQuarter">
            <h2 class="black2">
              <a
                class="center"
              >

                seo audit
              </a>
            </h2>
            <p class="txt2">{{{__ "intro9"}}}</p>
            <p class="txt2">{{{__ "hey4"}}}</p>
            <p class="txt2">{{{__ "hey3"}}}</p>
            <p class="txt2">{{{__ "hey5"}}} </p>
            <p class="txt2">{{{__ "hey8"}}} </p>

            <p class="txt2"> {{{__ "hey7"}}}</p>
          </div>
          <div class="serviceQuarter">
            <h2 class="black2">
              <a
                class="center"
              >

                analyse web
              </a>
            </h2>
            <p class="txt2">{{{__ "analytics1"}}}</p>

            <p class="txt2">{{{__ "analytics2"}}}</p>
            <p class="txt2">{{{__ "analytics3"}}}</p>
            <p class="txt2">{{{__ "analytics4"}}}</p>

            <p class="txt2">{{{__ "analytics5"}}}</p>
          </div>
          <div class="serviceQuarter">
            <h2 class="black2">

              <a
                class="center"

              >

                brand building

            </h2>
            <p class="txt2">{{{__ "brandbuilding1"}}}</p>
            <p class="txt2">{{{__ "brandbuilding2"}}}</p>
            <p class="txt2">{{{__ "brandbuilding3"}}}</p>
          </div>
        </div>
        <div class="intro2:after">

          <div class=" block center">
            <h2 class="bold inline">content growth hacking</h2>

            <span class="txt2 inline">{{{__ "growthhacking"}}}</p>

          </div>

          <div class=" block center">
            <h2 class="bold inline">site crawl audit</h2>
            <span class="txt2 inline">{{{__ "sitecrawl"}}}</p>

          </div>



        </div>


      </div>
    </div>

    <div class=" block"><br><br>
        <h2 class="transpbg-white orange">SEO Berlin Websites Mini-Case Studies</h2>
      <span class="txt2 inline"><a href="/en/casestudy/fromatob">FromAtoB</a></p>

    </div>
    {{>contactmain}}
    <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script> <div class="clutch-widget marginleft2" data-url="https://widget.clutch.co" data-widget-type="2" data-height="50" data-clutchcompany-id="745890"></div>


    <div class="whatisseo">
        <div class="backgroundBlack xtrapad">
          <h2 class="transpbg-white orange "><a href="/{{{__ "lang"}}}/seo">{{{__ "seolong"}}} </a></h2>
          <br />
          <h2 class="white"><a href="/{{{__ "lang"}}}/seo">{{{__ "seolong2"}}}</a></h2>


        <p class="transpbg-white txt3"> {{{__ "whatisSEO"}}}</p>
      </div>
    </div>
    <div class="othercontentHP">
      <div class="intro4">
        <div class="marginright marginleft">

          <h2 class="transpbg-white orange ">{{{__ "boost4"}}}</h2>
          {{{__ "boost5"}}}
        </div>
      </div>
      <h2 class=" black2">

        <a>{{{__ "beratung"}}}</a>
      </h2>
      <p class="txt3">{{{__ "beratungText"}}}</p>
      <h2 class=" black2">
        <a>{{{__ "audit"}}}</a>
      </h2>
      <p class="txt3">
        {{{__ "auditText"}}}
        <a

          class="block black"
        >
          <img title="more" class="iconsmore" src="/more.svg" alt="more" />
        </a>
      </p>
      <h2 class=" black2">
        <a class="">
          {{{__ "OnPageOptimization"}}}
        </a>
      </h2>
      <p class="txt3">
        {{{__ "OnPageOptimizationText"}}}
        <a
          class="block black"
        >
          <img title="more" class="iconsmore" src="/more.svg" alt="more" />
        </a>
      </p>


      <br />
      <br />
      <div class="backgroundBlack2 sharable">
        <div class="transpbg-white intro4 marginleft">

          {{{__ "boost6"}}} <br />
          <h2 class="transpbg-white orange ">{{{__ "boost7"}}}</h2>
          {{{__ "boost8"}}} <br /> <br />
        </div>
      </div>
      <div class="backgroundBlack">
        <h2 class="transpbg-white orange">
            offpage
        </h2>
            <h2 class="white"> {{{__ "optimization"}}}

        </h2>
        <p class="txt3 transpbg-white">
          {{{__ "OffpagePageOptimizationText"}}}
          <a
            class="block black"
          />
        </p>
        <h2 class="transpbg-white white">
            backlink
        </h2>
            <h2 class="orange"> audit

        </h2>
        <p class="txt3 transpbg-white">{{{__ "offpage_main"}}} </p>
        <br /> <br />
      </div>
      <div class="othercontentHP">
        <div class="intro4 sharable2 ">
          <span class="marginleft">{{{__ "boost9"}}}</span> <br />
          <h2 class="transpbg-white orange ">{{{__ "boost10"}}} </h2>
          {{{__ "boost11"}}}
        </div>
        <div class="intro41">
          <h2 class="black2">
            <a
              class=" orange transpbg-white"
            >
              {{{__ "KWResearch"}}}
            </a>
          </h2>
          <p class="txt3">{{{__ "KWResearchText"}}}</p>



          <br />
          <br />
          <br />
            {{>clients}}
          <br />
          <!-- ProvenExpert Bewertungssiegel -->
          <a  class="marginleft2" href="https://www.provenexpert.com/alexandre-bieth/?utm_source=Widget&amp;utm_medium=Widget&amp;utm_campaign=Widget" title="Erfahrungen &amp; Bewertungen zu Alexandre Bieth anzeigen" target="_blank" style="text-decoration:none;"><img src="https://images.provenexpert.com/01/0b/cf4fa98fc81dea40bdb838baaa80/widget_square_160_de_1.png" alt="Erfahrungen &amp; Bewertungen zu Alexandre Bieth" width="160" height="160" style="border:0" /></a>
          <!-- ProvenExpert Bewertungssiegel -->
              {{>testimonials}}
              {{>contactmain}}
          <div class="logocontainer">


          <img src="/hrefs.png" class="brandlogo" alt="ahrefs" />
          <img src="/majesticLogo.png" class="brandlogo" alt="majestic SEO" />
          <img src="/Linkexplorer.jpg" class="brandlogo" alt="majestic SEO" />

<img src="/Screamingfroglogo.png" class="brandlogo" alt="Screaming Frog Logo" />
          <img src="/SistrixLogo.png" class="brandlogo" alt="Sistrix Logo" />
          <img src="/SEMRushLogo.jpeg" class="brandlogo" alt="SEM Rush" />
          <img src="/myBusinessLogo.jpeg" class="brandlogo" alt="MyBusinessLogo" />
          <img src="/SearchConsoleLogo.png" class="brandlogo" alt="Search Console Logo" />
          <img src="/GALogo.png" class="GAlogo brandlogo" alt="Analytics" />
          <img src="/GAdsLogo.png" class="GAdslogo brandlogo" alt="Google Ads" />

    </div>
        </div>

      </div>

    </div>


  </div>
  <script type="application/ld+json">

  {

  "@context": "http://schema.org",

  "@type": "Organization",

  "url": "htts://www.seoberlino.com/en",

  "contactPoint": [{

  "@type": "ContactPoint",

  "telephone": "+49 15787011932",

  "contactType": "customer support"

  }]

  }
  </script>


  <script type="application/ld+json">

   {

  "@context": "http://schema.org",
  "@type": "LocalBusiness",
  "additionalType": "http://www.productontology.org/id/Search_engine_optimization",
  "name": "SEO Berlino",
  "url": "https://www.seoberlino.com/en",
  "description": "SEO Consultant & SEO Freelancer in Berlin",
  "image": "https://www.seoberlino.com/logo.jpg",
  "email": "alex@seoberlino.com",
  "telephone": "+49 15787011932",
  "hasMap": "https://www.google.com/maps/place/SEO+%26+Analytics+Consultant+and+Freelancer/@52.4860441,13.4413452,16z/data=!4m5!3m4!1s0x0:0xc0549535ce468e56!8m2!3d52.4884039!4d13.4405561",
  "logo": {
   "@type": "ImageObject",
   "url": "https://www.seoberlino.com/logo.jpg",
   "width": 600,
   "height": 600
  },
  "address": [{
   "@type": "PostalAddress",
   "streetAddress": "Kiehlufer 11",
   "addressLocality": "Berlin",
   "addressRegion": "Berlin",
   "postalCode": "12059",
   "addressCountry": "DE"
  }],


  "openingHoursSpecification": [{
   "@type": "OpeningHoursSpecification",
   "dayOfWeek": [
   "Monday",
   "Tuesday",
   "Wednesday",
   "Thursday",
   "Friday"
   ],
   "opens": "08:00",
   "closes": "18:00"
  }]
  }
  </script>



</div>
