<section class="content landingpage-en">
    <section class="introduction-hero hero is-fullheight wave-bottom-offwhite">
        <div class="hero-body remove-padding">
            <div class="container">
                <div class="columns is-centered intro-columns">
                    <div class="column is-12-mobile is-6-desktop has-text-left vertical-aligner intro-summary">
                        <div class="aligner-container"> <br><br>
                            <h1 class="h1HP">{{{__ "intro1"}}}</h1>
                            <h2 class="h2HP">{{{__ "boost1"}}}<br></h2><br><a class="button is-large is-link is-outlined" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">
                                <div class="column is-12-mobile">{{{__ "getin"}}}</div>
                            </a>
                        </div>
                    </div>
                    <div class="column is-5 is-offset-1 intro-image"><br><br><br><br><br><img alt="SEO Agentur Berlin" data-aos="fade-in" src="/images/homepage-illustration.jpg" /> </div>
                </div>
            </div>
        </div>
    </section>
    <div class="hero-body off-white">
        <div class="container">
            <div class="columns is-centered intro-columns">
                <div class="column is-11-mobile is-11-desktop">
                    <h2 class="title is-3 is-heavy boost-margin has-text-centered">{{{__ "agency2"}}}</h2> <span class="subtitle is-5">{{{__ "seoAgentur"}}}</span><br>
                </div>
            </div>
        </div>
    </div>
    <a class="white" href="/{{{__ "lang"}}}/references">
        <section class="clients-hero boxcolor hero is-medium">
            <div class="hero-body remove-padding">
                <div class="container reduced has-text-centered">
                    <h2 class="title is-3 is-white is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>{{>clientssmall}}
                </div>
            </div>
        </section>
    </a>



    <div class="hero-body">
        <h2 id="services" class="title h1HP is-heavy has-text-centered is-red">{{{__ "servicesHP"}}}</h2>
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-11-mobile is-11-desktop">
                    <span class="subtitle is-5">{{{__ "SEOServicesHP"}}}</span>
                </div>
            </div><br>
            <div class="container has-text-centered">
                <div class="columns content">
                    <div class="column is-6 boxcolor3 mobile is-5" data-aos=" fade-up-top">
                        <div class="boxcolor"> <span class="title h2HP is-white">SEO Audit & {{{__ "strategie"}}}</span> </div><br>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                            <p>
                            <div class="minimize">{{{__ "HPAudit"}}}<br>{{{__ "HPAudit2"}}}</div><br><br><br><br></p>
                        </div>
                    </div>
                    <div class="column is-6 boxcolor3 mobile is-5">
                        <div class="boxcolor1"> <span class=" title h2HP">{{{__ "keywordresearch"}}} & {{{__ "competitoranalysis"}}}</span> </div><br>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                            <p>
                            <div class="minimize">{{{__ "HPKW"}}}<br>{{{__ "HPKW2"}}}</div><br><br><br><br></p>
                        </div>
                    </div>
                </div><br><br>
                <div class="columns">
                    <div class="column is-6 border boxcolor3" style=" overflow-x: hidden" data-aos="fade-up-top">
                        <div class="boxcolor1"> <span class="title h2HP">On Page & Technical SEO </span> </div><br>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                            <p>
                            <div class="minimize">{{{__ "HPOnpageTech"}}}<br>{{{__ "HPOnpageTech2"}}}</div><br><br><br><br></p>
                        </div>
                    </div>
                    <div class="column is-6 boxcolor3" style="overflow-x: hidden" data-aos="fade-up-top">
                        <div class="boxcolor"> <span class="title h2HP is-white">Link Building </span> </div><br>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                            <p>
                            <div class="minimize">{{{__ "HPLinkBuilding"}}}<br>{{{__ "HPLinkBuilding2"}}}</div><br><br><br><br></p>
                        </div>
                    </div>
                </div><br><br>
                <div class="columns">
                    <div class="column is-6 boxcolor3" style="overflow-x: hidden" data-aos="fade-up-top">
                        <div class="boxcolor"> <span class="title h2HP is-white">Relaunch</span> </div><br>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                            <div class="minimize">{{{__ "HPRelaunch"}}}<br>{{{__ "HPRelaunch2"}}}</div><br><br><br><br>
                        </div>
                    </div>
                    <div class="column is-6 boxcolor3" style="overflow-x: hidden" data-aos="fade-up-top">
                        <div class="boxcolor1"> <span class="title h2HP">{{{__ "technicalHP3"}}}</span> </div><br>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                            <div class="minimize">{{{__ "HPInternational"}}}<br>{{{__ "HPInternational2"}}}</div><br><br><br><br>
                        </div>
                    </div>
                </div><br><br>
                <div class="columns">
                    <div class="column is-6 boxcolor3" style="overflow-x: hidden" data-aos="fade-up-top">
                        <div class="boxcolor1"> <span class="title h2HP">Reporting</span> </div><br>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                            <div>{{{__ "HPReporting"}}}</div><br><br><br><br>
                        </div>
                    </div>
                    <div class="column is-6 boxcolor3" style="overflow-x: hidden" data-aos="fade-up-top">
                        <div class="boxcolor"> <span class="title h2HP is-white">{{{__ "costs"}}}</span> </div><br>
                        <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                            <div>{{{__ "costsT"}}}</div><br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br><br>

    <section class="services-hero hero is-large-intro">
        <div class="container reduced has-text-centered">

            <div class="columns is-centered">
                <div class="list-block column is-8-mobile is-3-tablet is-3-desktop"> <img alt="SEO Check Audit" class="glyph" src="/images/glyphs/seo-audit-glyph.svg">
                    <h3 class="title is-4 is-black is-heavy"><a href="#audit">SEO Check Audit</a></h3>
                    <p>{{{__ "intro9"}}}</p>
                    <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/keyword-research">{{{__ "keywordresearch"}}}</a></p>
                    <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo">{{{__ "onpageaudit"}}}</a></p>
                    <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/technical-seo">{{{__ "technicalseo"}}}</a></p>
                    <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/backlink-analysis">{{{__ "offpageseo"}}}</a></p>
                    <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/{{{__ "competitorURL"}}}">{{{__ "competitoranalysis"}}}</a></p>
                </div>
                <div class="list-block column is-8-mobile is-3-tablet is-3-desktop"> <img alt="content SEO" class="glyph" src="/images/glyphs/hacking-glyph.svg">
                    <h3 class="title is-4 is-black is-heavy"><a href="#contentmarketing">Content Marketing</a></h3>
                    <p>{{{__ "growthhacking"}}}</p>
                    <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/keyword-research">{{{__ "keywordresearch"}}}</a></p>
                    <p>Objective based on current performance and priority</p>
                    <p>Content Analysis best practices</p>
                    <p>Localised content creation</p>
                </div>
                <div class="list-block column is-8-mobile is-3-tablet is-3-desktop"> <img alt="SEO Analytics" class="glyph" src="/images/glyphs/analytics-glyph.svg">
                    <h3 class="title is-4 is-black is-heavy"><a href="#analytics">Analytics</a></h3>
                    <p>{{{__ "analytics1"}}}</p>
                    <p>{{{__ "analytics2"}}}</p>
                    <p>{{{__ "analytics3"}}}</p>
                    <p>{{{__ "analytics4"}}}</p>
                    <p>{{{__ "analytics5"}}}</p>
                </div>
            </div><br><br>
        </div>
    </section>
    <section class="hero-body off-white remove-padding">
        <div class="container reduced">
            <h2 id="audit" class="title h1HP is-heavy boost-margin has-text-centered is-red">SEO Check Audits</h2>
            <hr>
            <div class="columns is-centered has-text-centered">
                <div class="column is-10">
                    <p class="subtitle is-5 is-red">{{{__ "auditintro-new"}}}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="audit-hero hero off-white is-medium">
        <div class="hero-body remove-padding">
            <div class="columns is-centered" style="overflow-x: hidden">
                <div class="column is-4">
                    <figure class="image is-outlined" style="overflow-x: hidden" data-aos="slide-left"> <img alt="SEO Check Audit" src="/images/PDFAudit.png"> </figure>
                </div>
                <div class="column is-4 vertical-aligner">
                    <p>{{{__ "auditfocus"}}}(in English or in German)</p>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-4 vertical-aligner">
                    <p>{{{__ "auditfocusList"}}}</p>
                </div>
                <div class="column is-4">
                    <figure class="image is-fullwidth is-outlined" style="overflow-x: hidden" data-aos="slide-right"> <img alt="backlog" src="/images/diagrams/new-backlog.png"> </figure>
                </div>
            </div>
    </section>
    <section class="audit-hero off-white hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced margin-boost">
                <h3 class="title is-3 is-heavy boost-margin has-text-centered">SEO Check</h3>
                <div class="columns is-centered has-text-centered is-multiline pill-list">
                    <div class="column is-4">
                        <div class="pill"> <span class="subtitle is-6 is-heavy">{{{__ "execsumm"}}} & Backlog</span> </div>
                    </div>
                    <div class="column is-4">
                        <div class="pill"> <span class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/keyword-research">{{{__ "keywordresearch"}}}</a> </div>
                    </div>
                    <div class="column is-4">
                        <div class="pill"> <span class="subtitle is-6 is-heavy">Onpage</span>
                            <p>
                                Content, {{{__ "onpageHP3"}}}, {{{__ "onpageHP7"}}}, Metas, {{{__ "onpageHP10"}}}, etc </p>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="pill"> <span class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/backlink-analysis">{{{__ "offpageseo"}}}</a></span> </div>
                    </div>
                    <div class="column is-4">
                        <div class="pill">
                            <span class="subtitle is-6 is-heavy">{{{__ "technicalseo"}}}</span>
                            <p>{{{__ "technicalHP1"}}} & {{{__ "technicalHP4"}}} & {{{__ "technicalHP5"}}} & {{{__ "technicalHP2"}}}</p>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="pill">
                            <span class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/{{{__ "competitorURL"}}}">{{{__ "analyticsHP3U"}}}</a></span>
                        </div>
                    </div>
                </div>
            </div><br><br>
    </section>
    <section class="hero-body">
        <div class="container reduced has-text-centered">
            <h2 class="title h1HP is-heavy boost-margin has-text-centered is-red">{{{__ "approach"}}}</h2>
            <div class="columns content">
                <div class="column is-7 boxcolor3 mobile is-5" data-aos=" fade-up-top">
                    <div class="boxcolor">
                        <h2 class="title h2HP is-white"><img class="icon" alt="business perspective" src="/icons/marketing.svg" /> {{{__ "businessperspective"}}}</h2>
                    </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                        <p>{{{__ "businessperspectiveT"}}}</p>
                    </div>
                </div>
                <div class="column is-5 boxcolor3 mobile is-5">
                    <div class="boxcolor">
                        <h2 class=" title h2HP is-white"><img class="icon" alt="SEO Costs" src="/icons/geld.svg" /> {{{__ "costs"}}}</h2>
                    </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                        <p>{{{__ "costsT"}}}</p>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-6 border boxcolor3 mobile is-5">
                    <div class="boxcolor">
                        <h2 class="title h2HP is-white"> <img class="icon" alt="SEO timing" src="/icons/zeit.svg" /> {{{__ "timing"}}}</h2>
                    </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                        <p>{{{__ "timingT"}}}</p>
                    </div>
                </div>
                <div class="column is-6 boxcolor3" style="overflow-x: hidden" data-aos="fade-up-top">
                    <div class="boxcolor">
                        <h2 class="title h2HP is-white"> <img class="icon" alt="SEO Clients" src="/icons/geschaeft.svg" /> {{{__ "clientsberatung"}}}</h2>
                    </div><br>
                    <div class="columns column is-12-mobile is-11-tablet is-12-desktop">
                        <p>{{{__ "clientsberatungT"}}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="success-hero off-white hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <h2 id="successstories" class="title h1HP is-heavy boost-margin has-text-centered is-red">{{{__ "success-stories"}}}</h2>
                <div class="columns is-centered">
                    <div class="column is-10-tablet is-12-desktop">{{>results}}</div>
                </div>
            </div>
        </div>
    </section>


    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-11-mobile is-11-desktop">
                    <h3 class="is-heavy boost-margin h2HP has-text-centered">{{{__ "whatisSEOTitle"}}}</h3><br><span class="subtitle is-5">{{{__ "whatisSEO"}}}</span> <br>
                </div>
            </div><br>
            <div class="column is-12-mobile is-centered has-text-centered"> <a class="button is-large is-link is-outlined" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">
                    <div class=""> SEO Freelance </div>
                </a> </div>
        </div>
    </div>
    <section class="container hero-body is-centered has-text-centered" style="overflow-x: hidden"> <br><br>
        <div class="columns is-multiline content archive">{{>blogback}}{{>blogonpage}}</div>
    </section>
    <div class="hero-body off-white">
        <div class="columns is-centered">
            <div class="column is-11-mobile is-11-desktop ">
                <h2 class="title is-3 is-heavy boost-margin has-text-centered">{{{__ "whyneedSEO"}}}</h2> <span class="subtitle is-5">{{{__ "needSEO"}}}</span> <br>
            </div>
        </div><br><br>
    </div>
</section>


<section class="success-hero hero is-medium">
    <div class="columns is-centered">
        <div class="column is-6"><br><br><span class="title is-3 is-black is-heavy is-centered">{{{__ "getintouch2"}}}</span><br><br>
            <div class="contact-details">
                <div class="profile-photo"></div>
                <div class="details"> <span class="subtitle is-5 reduced-top-margin">Alex Bieth,{{{__ "owner"}}}</span><br><span class="subtitle is-5 reduced-top-margin">SEO
                        Consultant</span><br>{{!-- <h3 class="subtitle is-5 reduced-margin">T - <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a><br>--}}<span class=" subtitle is-5 reduced-top-margin">E - <a
                            href="mailto:alex@seoberlino.com">alex@seoberlino.com</a></span> </div>
            </div>
            <div class="contact-page-form">{{>formcontact}}<br><br><br><br></div>{{>socsharfreelancer}}<br><br><br><br><br>
        </div>
    </div>
</section>