<section class="content landingpage-en">
    <section class="introduction-hero hero is-fullheight wave-bottom-offwhite">
        <div class="hero-body remove-padding">
            <div class="container">
                <div class="columns is-centered intro-columns">
                    <div class="column is-11-mobile is-6-desktop has-text-left vertical-aligner intro-summary">
                        <div class="aligner-container">
                            <br><br>
                            <h1 class="h1HP">{{{__ "intro1"}}}</h1>
                            <h2 class="h2HP">
                                {{{__ "boost1"}}} <br>
                            </h2><br>
                            <div class="is-11-mobile hero-body is-6-desktop has-text-left vertical-aligner">
                                <a class="button is-large is-link is-outlined is-medium" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">
                                    {{{__ "getin"}}} </a>
                            </div>
                        </div>
                    </div>
                    <div class="column is-5 is-offset-1 intro-image"><br><br><br><br><br>
                        <img alt="SEO Agentur Berlin" class="illustration" data-aos="fade-in" src="/images/homepage-illustration.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <a class="white" href="/{{{__ "lang"}}}/references">
        <section class="clients-hero boxcolor hero is-medium">
            <div class="hero-body remove-padding">
                <div class="container reduced has-text-centered">
                    <h2 class="title is-3 is-white is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>
                    {{>clientssmall}}
                </div>
            </div>
        </section>
    </a>




    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered intro-columns">
                <div class="column is-11-mobile is-11-desktop has-text-centered">
                    <h3 class="is-heavy boost-margin h2HP has-text-centered"> {{{__ "whatisSEOTitle"}}} • {{{__ "exblog"}}}</h3>
                    <span class="subtitle is-6">{{{__ "whatisSEO"}}} </span>
                    <br>
                </div>
            </div>

        </div>
    </div>
    <!-- Services Block-->
    <section class="container hero-body is-centered has-text-centered" style="overflow-x: hidden"> <br><br>

        <div class="columns is-multiline content archive">

            {{>blogback}}{{>blogonpage}}{{>blogtech}}

        </div>
        <div class="is-8-mobile hero-body is-6-desktop has-text-left vertical-aligner">
            <a class="button is-large is-link is-outlined is-medium" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">Freelance SEO</a>
        </div><br><br>
    </section>

</section>

<section class="success-hero hero is-medium">
    <div class="columns is-centered">
        <div class="column is-6"><br><br>
            <h4 class="title is-3 is-black is-heavy is-centered">{{{__ "getintouch2"}}}</h4>

            <div class="contact-details">
                <div class="profile-photo"></div>
                <div class="details">
                    <span class="subtitle is-5 reduced-top-margin">Alex Bieth, {{{__ "owner"}}}</span><br>
                    {{!-- <h3 class="subtitle is-5 reduced-margin">T - <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a><br> --}}
                    <span class="subtitle is-5 reduced-top-margin">E - <a href="mailto:alex@seoberlino.com">alex@seoberlino.com</a></span>

                </div>
            </div>



            <div class="contact-page-form">
                {{>formcontact}}<br><br><br><br>
            </div>{{>socsharfreelancer}}<br>
            <br><br><br><br>

        </div>




</section>