<section class="content landingpage-en">
    <section class="introduction-hero hero is-fullheight wave-bottom-offwhite">
        <div class="hero-body remove-padding">
            <div class="container">
                <div class="columns is-centered intro-columns">
                    <div class="column is-11-mobile is-5-desktop has-text-left vertical-aligner intro-summary">
                        <div class="aligner-container">
                            <br><br>
                            <h1 class="h1HP">{{{__ "intro1"}}}</h1>
                            <h2 class="h2HP">
                                {{{__ "boost1"}}} <br>
                            </h2><br>
                            <div class="is-11-mobile hero-body is-6-desktop has-text-left vertical-aligner">
                                <a class="button is-large is-link is-outlined is-medium" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">
                                    {{{__ "getin"}}} </a>
                            </div>
                        </div>
                    </div>
                    <div class="column is-5 is-offset-1 intro-image"><br><br><br><br><br>
                        <img alt="SEO Agentur Berlin" class="illustration" data-aos="fade-in" src="/images/homepage-illustration.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="clients-hero boxcolor hero is-medium" data-aos="fade-in" style="overflow-x: hidden">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                {{>clients}}
            </div>
        </div>
    </section>
    <section class="services-hero off-white hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h2 class="is-heavy boost-margin h1HP">{{{__ "servicesHP"}}}</h2><br><br>
                <div class="columns is-centered off-white">
                    <br>
                    <div class="list-block column is-8-mobile is-3-tablet is-2-desktop">
                        <img alt="SEO Audit" class="glyph" src="/images/glyphs/seo-audit-glyph.svg">
                        <h3 class="title is-4 is-black is-heavy">SEO Audit</h3>
                        <p>{{{__ "intro9"}}}</p>
                        <p><a href="/{{{__ "lang"}}}/blog/keyword-research">{{{__ "keywordresearch"}}}</a></p>
                        <p><a href="/{{{__ "lang"}}}/blog/onpage-seo">{{{__ "onpageaudit"}}}</a></p>
                        <p><a href="/{{{__ "lang"}}}/blog/technical-seo">{{{__ "technicalseo"}}}</a></p>
                        <p><a href="/{{{__ "lang"}}}/blog/backlink-analysis">{{{__ "offpageseo"}}}</a></p>
                        <p><a href="/{{{__ "lang"}}}/blog/{{{__ "competitorURL"}}}">{{{__ "competitoranalysis"}}}</a></p>
                    </div>

                    <div class="list-block column is-8-mobile is-3-tablet is-2-desktop">
                        <img alt="content SEO" class="glyph" src="/images/glyphs/hacking-glyph.svg">
                        <h3 class="title is-4 is-black is-heavy"><a href="/{{{__ "lang"}}}/seo-freelancer#contentmarketing">Content Marketing</a></h3>
                        <p>{{{__ "growthhacking"}}}</p>
                        <p><a href="/{{{__ "lang"}}}/blog/keyword-research">{{{__ "keywordresearch"}}}</a></p>
                        <p>Objective based on current performance and priority</p>
                        <p>Content Analysis best practices</p>
                        <p>Localised content creation</p>
                    </div>

                    <div class="list-block column is-8-mobile is-3-tablet is-2-desktop">
                        <img alt="SEO Analytics" class="glyph" src="/images/glyphs/analytics-glyph.svg">
                        <h3 class="title is-4 is-black is-heavy"><a href="/{{{__ "lang"}}}/seo-freelancer#analytics">Analytics</a></h3>
                        <p>{{{__ "analytics1"}}}</p>
                        <p>{{{__ "analytics2"}}}</p>
                        <p>{{{__ "analytics3"}}}</p>
                        <p>{{{__ "analytics4"}}}</p>
                        <p>{{{__ "analytics5"}}}</p>
                    </div>

                    <div class="list-block column is-8-mobile is-3-tablet is-2-desktop notunderlined">
                        <img alt="scrum" class="glyph" src="/images/glyphs/scrumthinA.png">
                        <h3 class="title is-4 is-black is-heavy"><a href="/{{{__ "lang"}}}/agile-coach-berlin">Scrum</a></h3>
                        <p>Audit</p>
                        <p><a href="/en/agile-coach-berlin#events">Implementation</a></p>
                        <p><a href="/en/agile-coach-berlin#team">Scrum Master</a></p>
                    </div>
                </div>
            </div>
            <div class="hero-body remove-padding">
                <div class="container reduced">
                    <h2 class="is-heavy boost-margin h1HP has-text-centered">SEO Audit</h2>
                    <br><br>
                    <div class=" columns is-centered content">
                        <p>{{{__ "auditintro-new"}}}
                        </p>
                    </div>
                    <br><br>
                    <div class=" columns is-centered">
                        <div class="column is-6 vertical-aligner">
                            <p>{{{__ "auditfocus"}}} (in English or in German)</p>
                        </div>
                        <div class="column is-6" style="overflow-x: hidden">
                            <figure class="image is-outlined" data-aos="slide-left">
                                <img alt="SEO Audit" src="/images/PDFAudit.png">
                            </figure>
                        </div>
                    </div>
                    <div class="columns is-centered">
                        <div class="column is-6 vertical-aligner">
                            <p>{{{__ "auditfocusList"}}}</p>
                        </div>
                        <div class="column is-6" style=" overflow-x: hidden">
                            <figure class="image is-fullwidth is-outlined" data-aos="slide-right">
                                <img alt="backlog" src="/images/diagrams/new-backlog.png">
                            </figure>
                        </div>
                    </div>
                    <div class="has-text-centered"> <a href="/{{{__ "lang"}}}/seo-freelancer#audit">{{{__ "moreAbout"}}}</a></div>
                </div>
    </section>
    <section class="hero-body">
        <div class="container reduced">
            <h2 id="contentmarketing" class="is-heavy boost-margin h1HP has-text-centered">{{{__ "success-stories"}}}</h2>
        </div>
    </section>
    <div class="container reduced margin-boost">
        <div class="columns is-centered">
            <div class="column is-10-tablet is-12-desktop">
                {{>results}}
            </div>
        </div>
    </div>
    <div class="testimonials-hero off-white hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h2 class="title is-heavy boost-margin h1HP">{{{__ "testimonialsTitle"}}}</h2>
                <div class="columns is-multiline has-text-left">
                    {{>testimonials}}
                </div>
            </div>
        </div>
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered intro-columns">
                <div class="column is-11-mobile is-11-desktop has-text-centered">
                    <h3 class="is-heavy boost-margin h1HP has-text-centered"> {{{__ "whatisSEOTitle"}}}</h3>
                    <span class="subtitle is-6">{{{__ "whatisSEO"}}} </span>
                    <br>
                </div>
            </div>

        </div>
    </div>
    <!-- Services Block-->
    <section class="container hero-body is-centered has-text-centered"> <br><br>
        <h2 class="title is-heavy boost-margin has-text-centered is-black h1HP"><a class="is-black" href="/en/blog">SEO Blog</a></h2>
        <br><br>
        <div class="columns is-multiline content archive">

            {{>blogback}}{{>blogonpage}}{{>blogtech}}

        </div><br><br>
    </section>
    <br><br>
</section>
<section class="success-hero hero is-medium">
    <div class="columns is-centered">
        <div class="column is-6"><br><br>
            <h4 class="title is-3 is-black is-heavy is-centered">{{{__ "getintouch2"}}}</h4>

            <div class="contact-details">
                <div class="profile-photo"></div>
                <div class="details">
                    {{!-- <h3 class="subtitle is-5 reduced-margin">T - <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a><br> --}}
                    <span class="subtitle is-5 reduced-top-margin">E - <a href="mailto:alex@seoberlino.com">alex@seoberlino.com</a></span>
                </div>
            </div>


            <div class="contact-page-form">
                {{>formcontact}}<br><br><br><br>
            </div>{{>socsharfreelancer}}<br>
            <br><br><br><br>

        </div>


</section>