<div class="mainHP">
    <div class="mob">
        <div class="txthead introHP">
            <h1 class="h1hp">{{{__ "intro1"}}}</h1>
            <br /> <br />
            <div class="h2hp">
                {{{__ "boost1"}}} {{{__ "boost2"}}} <br />
                {{{__ "boost3"}}} <br /> {{{__ "boost31"}}}
            </div><br><br><br>

            <a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">
                <div class="servicesHP center">{{{__ "servicesL"}}}</div>
            </a> <br>
            <a href="/{{{__ "lang"}}}/contact">
                <div class="servicesHP center">{{{__ "about"}}}</div>
            </a>

        </div>

        <div class="othercontentHP">
            <div class="intro2">
                <div class="serviceQuarter">
                    <img alt="SEO audit" class="icon" src="/audit.svg" /><br>
                    <h2 class="black2 big"><a href="/{{{__ "lang"}}}/audit">seo audit</a></h2><br><br>
                    <p class="txt2">{{{__ "intro9"}}}</p>
                    <p class="txt2">{{{__ "hey4"}}}</p>
                    <p class="txt2">{{{__ "hey3"}}}</p>
                    <p class="txt2">{{{__ "hey5"}}}</p>
                    <p class="txt2">{{{__ "hey8"}}}</p>
                    <p class="txt2">{{{__ "hey7"}}}</p>
                </div>

                <div class="serviceQuarter">
                    <img alt="SEO content" class="icon" src="/content.jpeg" /><br>
                    <h2 class="black2"><a href="/{{{__ "lang"}}}/content">content growth hacking</a></h2><br><br>
                    <p class="txt2">{{{__ "growthhacking"}}}</p>
                    <p class="txt2">{{{__ "hey4"}}}</p>
                    <p class="txt2">Objective based on current performance and priority</p>
                    <p class="txt2">Content Analysis best practices</p>
                    <p class="txt2">Localised content creation</p>
                </div>

                <div class="serviceQuarter">
                    <img alt="SEO backlinks" class="icon" src="/backlinks.png" /><br>
                    <h2 class="black2"><a href="/{{{__ "lang"}}}/backlinks">link building</a></h2><br><br>
                    <p class="txt2">{{{__ "hey7"}}}</p>
                    <p class="txt2">Backlink quality analysis</p>
                    <p class="txt2">Campaign Planning</p>
                    <p class="txt2">Brand awareness & featured publication </p>

                </div>
            </div>
            <br><br><br>

            <div class="intro2">
                <div class="serviceQuarter">
                    <img alt="SEO analytics" class="icon" src="/analytics.png" /><br>
                    <h2 class="black2"><a href="/{{{__ "lang"}}}/analytics">analytics</a></h2><br><br>
                    <p class="txt2">{{{__ "analytics1"}}}</p>
                    <p class="txt2">{{{__ "analytics2"}}}</p>
                    <p class="txt2">{{{__ "analytics3"}}}</p>
                    <p class="txt2">{{{__ "analytics4"}}}</p>
                    <p class="txt2">{{{__ "analytics5"}}}</p>
                </div>
                <div class="serviceQuarter">
                    <img alt="SEA Beratung" class="icon" src="/sea.png" /><br>
                    <h2 class="black2"><a href="/{{{__ "lang"}}}/sea">Google Ads & Facebook & Instagram</a></h2><br><br>
                    <p class="txt2">Google Ads Setup & {{{__ "optimization"}}}</p>
                    <p class="txt2">Facebook Ads Setup & {{{__ "optimization"}}}</p>
                    <p class="txt2">Instagram Ads Setup & {{{__ "optimization"}}}</p>


                </div>
                <div class="serviceQuarter">
                    <img alt="SEO Brand building" class="icon" src="/brand.png" /><br>
                    <h2 class="black2"><a href="/{{{__ "lang"}}}/backlinks">brandbuilding</a></h2><br><br>
                    <p class="txt2">{{{__ "brandbuilding1"}}}</p>
                    <p class="txt2">{{{__ "brandbuilding2"}}}</p>
                    <p class="txt2">{{{__ "brandbuilding3"}}}</p>
                </div>
            </div>

            <br><br><br>

        </div>

        <br> <br>

        {{>clients}}<br><br>{{>testimonials}}
        <br>

    </div>
</div>
</div>
</div>