<!-- Intro Block-->
<div class="content landingpage-en">
    <section class="introduction-hero hero is-fullheight wave-bottom-offwhite">
        <div class="hero-body remove-padding">
            <div class="container">
                <div class="columns is-centered intro-columns">
                    <div class="column is-11-mobile is-6-desktop has-text-left vertical-aligner intro-summary">
                        <div class="aligner-container">
                            <h1 class="title is-2">{{{__ "intro1"}}}</h1>
                            <h2 class="subtitle is-4">
                                {{{__ "boost1"}}} <br>{{{__ "boost2"}}}
                                {{{__ "boost3"}}}{{{__ "boost31"}}}
                            </h2>
                            <a class="button is-large is-primed is-outlined is-medium" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">
                                {{{__ "servicesL"}}}
                            </a>
                            <a class="button is-large is-primary is-outlined is-medium" href="/{{{__ "lang"}}}/contact">
                                {{{__ "about"}}}
                            </a>
                        </div>
                    </div>
                    <div class="column is-5 is-offset-1 intro-image">
                        <img alt="SEO Consultant Illustration" class="illustration" src="/images/homepage-illustration.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Block-->
    <section class="services-hero off-white hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h2 class="title is-3 is-heavy boost-margin">{{{__ "servicesHP"}}}</h2>
                <div class="columns is-centered">
                    <div class="list-block column is-8-mobile is-3-tablet is-3-desktop">
                        <img class="glyph" src="/images/glyphs/seo-audit-glyph.svg">
                        <h2 class="title is-4 is-black is-heavy"><a href="/{{{__ "lang"}}}/audit">Seo Audit</a></h2>
                        <p>{{{__ "intro9"}}}</p>
                        <p>{{{__ "hey4"}}}</p>
                        <p>{{{__ "hey3"}}}</p>
                        <p>{{{__ "hey5"}}}</p>
                        <p>{{{__ "hey8"}}}</p>
                        <p>{{{__ "hey7"}}}</p>
                    </div>

                    <div class="list-block column is-8-mobile is-3-tablet is-3-desktop">
                        <img class="glyph" src="/images/glyphs/hacking-glyph.svg">
                        <h2 class="title is-4 is-black is-heavy"><a href="/{{{__ "lang"}}}/content">Content Growth Hacking</a></h2>
                        <p>{{{__ "growthhacking"}}}</p>
                        <p>{{{__ "hey4"}}}</p>
                        <p>Objective based on current performance and priority</p>
                        <p>Content Analysis best practices</p>
                        <p>Localised content creation</p>
                    </div>

                    <div class="list-block column is-8-mobile is-3-tablet is-3-desktop">
                        <img class="glyph" src="/images/glyphs/analytics-glyph.svg">
                        <h2 class="title is-4 is-black is-heavy"><a href="/{{{__ "lang"}}}/analytics">Analytics</a></h2>
                        <p>{{{__ "analytics1"}}}</p>
                        <p>{{{__ "analytics2"}}}</p>
                        <p>{{{__ "analytics3"}}}</p>
                        <p>{{{__ "analytics4"}}}</p>
                        <p>{{{__ "analytics5"}}}</p>
                    </div>

                    <div class="list-block column is-8-mobile is-3-tablet is-3-desktop">
                        <img class="glyph" src="/images/glyphs/scrumthinA.png">
                        <h2 class="title is-4 is-black is-heavy"><a href="/{{{__ "lang"}}}/scrum">Scrum</a></h2>
                        <p>Audit</p>
                        <p>Implementation</p>
                        <p>Scrum Master</p>
                    </div>
                </div>
            </div>
    </section>

    <!-- Recent Clients Block-->
    <section class="clients-hero red-gradient hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h2 class="title is-3 is-white is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>
                {{>clients}}
            </div>
        </div>
    </section>

    <!-- Testimonials Block-->
    <section class="testimonials-hero off-white hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h2 class="title is-3 is-heavy boost-margin">{{{__ "testimonialsTitle"}}}</h2>
                <div class="columns is-multiline has-text-left">
                    {{>testimonials}}
                </div>
            </div>
        </div>
    </section>
</div>