<div class="main">
  <Helmet>
    <meta charSet="utf-8" />
    <title>{{{__ "technicalHP7"}}} | SEO Berlino</title>
    <meta
      name="description"
      content="Technical SEO: HTTPS and security and why its important in SEO "
    />
    <link
      rel="canonical"
      href="/{{{__ "lang"}}}/technical/security"}
    />
  </Helmet>
  <img
    src="/auditmainpic/security.jpg"
    title="security, a photo by Ibrahim Rifath"
    alt="security SEO"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "services"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}/resources"}> SEO </a>
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}/technical"}> {{{__ "technical"}}} </a>
    </div>
    <h1 class="h1services"> {{{__ "technicalHP7"}}}</h1>
    <h2>{{{__ "securityMPT1"}}}</h2>
    <div class="serviceText">
      <p>{{{__ "securityMP1"}}}</p>
    </div>
    <img
      class="imageservices"
      src="/icons/notsecure.png"
      width="100px"
      height="32px"
    />
    <h2>{{{__ "securityMPT2"}}}</h2>
    <div class="serviceText">
      <p>{{{__ "securityMP2"}}}</p>
    </div>
    <div class="serviceText">
      <p>{{{__ "securityMP3"}}}</p>
    </div>
    <h2> {{{__ ""}}}</h2>
    <h2>{{{__ "securityMPT4"}}}</h2>
    <div class="serviceText">{{{__ "securityMP4"}}}</div>
    <div class="black slide-in-left sideLinks">
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/indexation"}
      >
        {{{__ "technicalHP1"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/crawlability"}
      >
        {{{__ "technicalHP2"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/internationalisation"}
      >
        {{{__ "technicalHP3"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/pagespeed"}
      >
        {{{__ "technicalHP4"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/mobilefriendly"}
      >
        {{{__ "technicalHP5"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/dynamicrendering"}
      >
        {{{__ "technicalHP6"}}}
      </a>
      <a class="block bold">{{{__ "technicalHP7"}}}</a>
    </div>
  </div>
</div>
