<div class="content single-post has-sidebar offpage-en">
  <!-- Blog Article Photo header -->
  <div class="blog-imageheader">
    <div class="header-body remove-padding">
      <div class="bg-image" style="background-image: url('/auditmainpic/security.jpg');"></div>
      <div class="gradient white-gradient"></div>
      <div class="title-strip">
        <div class="container reduced">
          <div class="columns is-centered is-multiline">
            <div class="column is-12-mobile is-11-tablet is-10-desktop">
              <h2 class="title is-2 is-heavy is-white">{{{__ "technicalHP7"}}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Blog Article Body -->
  <section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
      <div class="container reduced">
        <div class="columns is-centered is-multiline">
          <div class="column is-12-mobile is-12-tablet is-10-desktop">
            <nav class="breadcrumb" aria-label="breadcrumbs">
              <ul>
                <li><a href="/{{{__ "lang"}}}">{{{__ "services"}}}</a></li>
                <li><a href="/{{{__ "lang"}}}/seo">SEO</a></li>
                <li><a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}">{{{__ "hey5"}}}</a></li>
              </ul>
            </nav>
          </div>
          <div class="column is-12-mobile is-7-tablet is-7-desktop post">

            <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "securityMPT1"}}}</h2>
            <p>{{{__ "securityMP1"}}}</p>

            <img src="/icons/notsecure.png" alt="not secure message" width="100px" height="32px" />

            <h2 class="title is-4 is-heavy">{{{__ "securityMPT2"}}}</h2>
            <p>{{{__ "securityMP2"}}}</p>

            <p>{{{__ "securityMP3"}}}</p>

            <h2 class="title is-4 is-heavy">{{{__ ""}}}</h2>
            <h2 class="title is-4 is-heavy">{{{__ "securityMPT4"}}}</h2>
            <p>{{{__ "securityMP4"}}}</p>

          </div>

          <div class="column is-3-desktop sidebar">
            <ul>
              <li>
                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "indexationURL"}}}">{{{__ "technicalHP1U"}}}</a>
              </li>
              <li>
                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "crawlabilityURL"}}}">
                  {{{__ "technicalHP2U"}}}
                </a>
              </li>

              <li>
                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "internationalisationURL"}}}">
                  {{{__ "technicalHP3U"}}}
                </a>
              </li>

              <li>
                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "pagespeedURL"}}}">
                  {{{__ "technicalHP4U"}}}
                </a>
              </li>

              <li>
                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "mobilefriendlyURL"}}}">
                  {{{__ "technicalHP5U"}}}
                </a>
              </li>

              <li>
                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "dynamicrenderingURL"}}}">
                  {{{__ "technicalHP6U"}}}
                </a>
              </li>

              <li>
                <a class="active" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "securityURL"}}}">
                  {{{__ "technicalHP7U"}}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
