<div class="main">

  <img
    src="/auditmainpic/images.jpg"
    title="images, a photo by Soragrit Wongsa"
    alt="image optimization SEO"
    class="imageAudit"
  />

  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/resources"}> SEO </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/onpage"}> ONPAGE </a>
    </div>
    <h1 class="h1services">{{{__ "onpageHP7"}}} </h1>
    <div class="serviceText">{{{__ "imagesMP1"}}}</div>
    <img src="/picture.svg" height="200px" class="serviceImage" alt="image SEO"/>
    <div class="serviceText">{{{__ "imagesMP2"}}}</div>
    <h2> alt attribute</h2>
    <div class="serviceText">{{{__ "imagesMP3"}}}</div>
    <h2> image title</h2>
    <div class="serviceText">{{{__ "imagesMP4"}}}</div>
    <h2> {{{__ "imagesMPT5"}}}</h2>
    <div class="serviceText">{{{__ "imagesMP4"}}}</div>
    <div class="black slide-in-left sideLinks">
      <a
        class="block"
        href="/{{{__ "lang"}}}/onpage/keywordresearch"}
      >
        {{{__ "onpageHP1U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/onpage/landingpages"}
      >
        {{{__ "onpageHP2U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/onpage/internallinking"}
      >
        {{{__ "onpageHP3U"}}} {{{__ "onpageHP5U"}}}
      </a>
      <a class="block" href="/{{{__ "lang"}}}/onpage/metas"}>
        {{{__ "onpageHP4U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/onpage/content"}
      >
        {{{__ "onpageHP6U"}}}
      </a>
      <span class="block bold">{{{__ "onpageHP7U"}}}</span>
      <a
        class="block"
        href="/{{{__ "lang"}}}/onpage/structureddata"}
      >
        {{{__ "onpageHP8U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/onpage/duplicatecontent"}
      >
        {{{__ "onpageHP9U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/onpage/voicesearch"}
      >
        {{{__ "onpageHP10U"}}}
      </a>
    </div>
  </div>
</div>
