<div class="main">

  <img
    src="/auditmainpic/images.jpg"
    title="images, a photo by Soragrit Wongsa"
    alt="image optimization SEO"
    class="imageAudit"
  />

  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/seo"> SEO </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}"> ONPAGE </a>
    </div>
    <h1 class="h1services">{{{__ "onpageHP7"}}} </h1>
    <div class="serviceText">{{{__ "imagesMP1"}}}</div>
    <img src="/picture.svg" height="200px" class="serviceImage" alt="image SEO"/>
    <div class="serviceText">{{{__ "imagesMP2"}}}</div>
    <h2> alt attribute</h2>
    <div class="serviceText">{{{__ "imagesMP3"}}}</div>
    <h2> image title</h2>
    <div class="serviceText">{{{__ "imagesMP4"}}}</div>
    <h2> {{{__ "imagesMPT5"}}}</h2>
    <div class="serviceText">{{{__ "imagesMP4"}}}</div>
    <div class="black sideLinks">
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "kwrechercheURL"}}}"
      >
        {{{__ "onpageHP1U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "landingpagesURL"}}}"
      >
        {{{__ "onpageHP2U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "internallinkingURL"}}}"
      >
        {{{__ "onpageHP3U"}}} {{{__ "onpageHP5U"}}}
      </a>
      <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "metasURL"}}}">
        {{{__ "onpageHP4U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "contentURL"}}}"
      >
        {{{__ "onpageHP6U"}}}
      </a>
      <span class="block bold">{{{__ "onpageHP7U"}}}</span>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "structuredURL"}}}"
      >
        {{{__ "onpageHP8U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "duplicatecontentURL"}}}"
      >
        {{{__ "onpageHP9U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "voicesearchURL"}}}"
      >
        {{{__ "onpageHP10U"}}}
      </a>
    </div>
  </div>
  <script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "BreadcrumbList",
"itemListElement": [{
"@type": "ListItem",
"position": 1,
"name": "{{{__ "servicesL"}}}",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}"
},{
"@type": "ListItem",
"position": 2,
"name": "SEO",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}/seo"
},{
"@type": "ListItem",
"position": 3,
"name": "Onpage",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}/{{{__ "onpage"}}}"
}]
}
</script>
</div>
