<div class="main">
  <Helmet>
    <meta charSet="utf-8" />
    <title>{{{__ "technicalHP1"}}} | SEO Berlino</title>
    <meta
      name="description"
      content="Technical SEO: indexation and why its important in SEO "
    />
    <link
      rel="canonical"
      href="/{{{__ "lang"}}}/technical/indexation"}
    />
  </Helmet>
  <img
    src="/auditmainpic/indexation.jpg"
    title="indexation, a photo by Scott Rodgerson"
    alt={{{__ "technicalHP1"}}}
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}/resources"}> SEO </a>
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}/technical"}> {{{__ "technical"}}} </a>
    </div>
    <h1 class="h1services">{{{__ "technicalHP1"}}}</h1>
    <h2> {{{__ "indexationMPT1"}}}</h2>
    <div class="serviceText">
      <p> {{{__ "indexationMP1"}}}</p>
      <img
        src="/icons/indexation.png"
        alt="indexation"
        title="indexation"
        class="imageservices"
        width="100px"
        height="100px"
      />
    </div>
    <h2> {{{__ "indexationyMPT2"}}}</h2>
    <div class="serviceText"> {{{__ "indexationMP2"}}}</div>
    <div class="serviceText"> {{{__ "indexationMP22"}}}</div>
    <h2> {{{__ "indexationMPT3"}}}</h2>
    <div class="serviceText"> {{{__ "indexationMP3"}}}</div>
    <h2> Check for metas {{{__ ""}}}</h2>
    <div class="serviceText"> {{{__ "indexationMP4"}}}</div>
    <div class="black slide-in-left sideLinks">
      <a class="block bold">{{{__ "technicalHP1U"}}}</a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/crawlability"}
      >
        {{{__ "technicalHP2U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/internationalisation"}
      >
        {{{__ "technicalHP3U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/pagespeed"}
      >
        {{{__ "technicalHP4U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/mobilefriendly"}
      >
        {{{__ "technicalHP5U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/dynamicrendering"}
      >
        {{{__ "technicalHP6U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/security"}
      >
        {{{__ "technicalHP7U"}}}
      </a>
    </div>
  </div>
</div>
