<div class="content single-post has-sidebar offpage-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/auditmainpic/indexation.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-12-mobile is-11-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">{{{__ "technicalHP1"}}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}">{{{__ "services"}}}</a></li>
                                <li><a href="/{{{__ "lang"}}}/seo">SEO</a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}">{{{__ "hey5"}}}</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column is-12-mobile is-7-tablet is-7-desktop post">

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "indexationMPT1"}}}</h2>

                        <p>{{{__ "indexationMP1"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "indexationyMPT2"}}}</h2>
                        <p>{{{__ "indexationMP2"}}}</p>
                        <p>{{{__ "indexationMP22"}}}</p>

                        <h2 class="title is-4 is-heavy">
                            <a class="blue" href="/{{{__ "lang"}}}/lexical/redirects">{{{__ "indexationMPT3"}}}</a>
                        </h2>
                        <p>{{{__ "indexationMP3"}}}</p>

                        <h2 class="title is-4 is-heavy">
                            Check <a class="blue" href="/{{{__ "lang"}}}/onpage/{{{__ "metasURL"}}}">metas</a> {{{__ ""}}}
                        </h2>
                        <p>{{{__ "indexationMP4"}}}</p>

                        <h2 class="title is-4 is-heavy">Search Console {{{__ ""}}}</h2>
                        <figure class="image is-fullwidth is-outlined">
                            <img src="/indexation.png" class="searchconsole" heigth="400px" width="600px" alt="Search Console Indexation">
                        </figure>

                        <h2 class="title is-4 is-heavy">{{{__ "relevanttools"}}}</h2>
                        <p> <a target="_blank" class="blue" href="https://www.google.com/webmasters/tools/removals">URL Removal Tool</a></p>

                    </div>

                    <div class="column is-3-desktop sidebar">
                        <ul>
                            <li>
                                <a class="active">{{{__ "technicalHP1U"}}}</a>
                            </li>
                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "crawlabilityURL"}}}">
                                    {{{__ "technicalHP2U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "internationalisationURL"}}}">
                                    {{{__ "technicalHP3U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "pagespeedURL"}}}">
                                    {{{__ "technicalHP4U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "mobilefriendlyURL"}}}">
                                    {{{__ "technicalHP5U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "dynamicrenderingURL"}}}">
                                    {{{__ "technicalHP6U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "securityURL"}}}">
                                    {{{__ "technicalHP7U"}}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>