<div class="main">
  <Helmet>
    <meta charSet="utf-8" />
    <title> {{{__ "technicalHP3"}}} | SEO Berlino</title>
    <name="description"
      <meta type="description" content="Internationalisation for companies can be complicated. The main questions: same domain or localised domains?" />
    <link
      rel="canonical"
      href="/{{{__ "lang"}}}/technical/internationalisation"}
    />
  </Helmet>
  <img
    src="/auditmainpic/international.jpg"
    title="internationalisation, a photo by Joshua Fuller"
    alt="internationalisation"
    width="80%"
    height="450px"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/resources"}> SEO </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/technical"}> {{{__ "technical"}}} </a>
    </div>
    <h1 class="h1services">{{{__ "technicalHP3"}}}</h1>
    <div class="serviceText">
      <p>{{{__ "internationalMP1"}}}</p>
      <p>{{{__ "internationalMP4"}}}</p>
    </div>
    <h2> {{{__ "internationalMPT2"}}}</h2>
    <div class="serviceText">
      <p>{{{__ "internationalMP2"}}}</p>
    </div>
    <h2> {{{__ "internationalMPT3"}}}</h2>
    <div class="serviceText">
      <p>{{{__ "internationalMP3"}}}</p>
    </div>
    <div class="black slide-in-left sideLinks">
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/indexation"}
      >
        {{{__ "technicalHP1U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/crawlability"}
      >
        {{{__ "technicalHP2U"}}}
      </a>
      <a class="block bold">{{{__ "technicalHP3U"}}}</a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/pagespeed"}
      >
        {{{__ "technicalHP4U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/mobilefriendly"}
      >
        {{{__ "technicalHP5U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/dynamicrendering"}
      >
        {{{__ "technicalHP6U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/security"}
      >
        {{{__ "technicalHP7U"}}}
      </a>
    </div>
  </div>
</div>
