<div class="main">
  <Helmet>
    <meta charSet="utf-8" />
    <title> {{{__ "technicalHP3"}}} | SEO Berlino</title>
    <meta
      name="description"
      content="Technical SEO: internationalisation and why its important in SEO "
    />
    <link
      rel="canonical"
      href="/{{{__ "lang"}}}/technical/internationalisation"}
    />
  </Helmet>
  <img
    src="/auditmainpic/international.jpg"
    title="internationalisation, a photo by Joshua Fuller"
    alt="internationalisation"
    width="80%"
    height="450px"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}/resources"}> SEO </a>
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}/technical"}> {{{__ "technical"}}} </a>
    </div>
    <h1 class="h1services">{{{__ "technicalHP3"}}}</h1>
    <div class="serviceText">
      <p>{{{__ "internationalMP1"}}}</p>
      <p>{{{__ "internationalMP4"}}}</p>
    </div>
    <h2> {{{__ "internationalMPT2"}}}</h2>
    <div class="serviceText">
      <p>{{{__ "internationalMP2"}}}</p>
    </div>
    <h2> {{{__ "internationalMPT3"}}}</h2>
    <div class="serviceText">
      <p>{{{__ "internationalMP3"}}}</p>
    </div>
    <div class="black slide-in-left sideLinks">
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/indexation"}
      >
        {{{__ "technicalHP1"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/crawlability"}
      >
        {{{__ "technicalHP2"}}}
      </a>
      <a class="block bold">{{{__ "technicalHP3"}}}</a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/pagespeed"}
      >
        {{{__ "technicalHP4"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/mobilefriendly"}
      >
        {{{__ "technicalHP5"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/dynamicrendering"}
      >
        {{{__ "technicalHP6"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/security"}
      >
        {{{__ "technicalHP7"}}}
      </a>
    </div>
  </div>
</div>
