<div class="main">
    <img src="/auditmainpic/international.jpg" title="internationalisation, a photo by Joshua Fuller" alt="internationalisation" width="80%" height="450px" class="imageAudit" />
    <div class="services">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}"> {{{__ "hey5"}}} </a>
        </div>
        <h1 class="h1services">{{{__ "technicalHP3"}}}</h1>
        <div class="serviceText">
            <p>{{{__ "internationalMP1"}}}</p>
            <p>{{{__ "internationalMP4"}}}</p>
            <h2> {{{__ "internationalMPT2"}}}</h2>
            <p>{{{__ "internationalMP2"}}}</p>

            <h2> {{{__ "internationalMPT3"}}}</h2>
            <p>{{{__ "internationalMP3"}}}</p>

            <p>{{{__ "internationalMP3"}}}</p>


            <h2><a class="blue" href="/{{{__ "lang"}}}/lexical/hreflang">hreflang</a></h2>

            <xmp class="xmp">

                <link rel="alternate" href="https://example.com/" hreflang="en" />
                <link rel="alternate" href="https://example.com/en-gb/" hreflang="en-gb" />
                <link rel="alternate" href="https://example.com/en-au/" hreflang="en-au" />

                en-gb= English / Great Britain
                en-au= English / Australia

            </xmp>
            <h2> Search Console</h2>

            <img src="/internat1.png" class="searchconsole" heigth="400px" width="600px" alt="Search Console Internationalisation">
            <img src="/internat2.png" class="searchconsole" heigth="400px" width="600px" alt="Search Console Internationalisation Language Settings">

            <p><a rel="nofollow" class="blue" target="_blank" href="https://flang.dejanseo.com.au/">Hreflang Tester</a></p>

        </div>


        <div class="black sideLinks">
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "indexationURL"}}}">
                {{{__ "technicalHP1U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "crawlabilityURL"}}}">
                {{{__ "technicalHP2U"}}}
            </a>
            <a class="block bold">{{{__ "technicalHP3U"}}}</a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "pagespeedURL"}}}">
                {{{__ "technicalHP4U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "mobilefriendlyURL"}}}">
                {{{__ "technicalHP5U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "dynamicrenderingURL"}}}">
                {{{__ "technicalHP6U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "securityURL"}}}">
                {{{__ "technicalHP7U"}}}
            </a>
        </div>
    </div>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "{{{__ "
                servicesL "}}}",
                "item": "https://www.seoberlino.com/{{{__ "
                lang "}}}"
            }, {
                "@type": "ListItem",
                "position": 2,
                "name": "SEO",
                "item": "https://www.seoberlino.com/{{{__ "
                lang "}}}/seo"
            }, {
                "@type": "ListItem",
                "position": 3,
                "name": "Technical",
                "item": "https://www.seoberlino.com/{{{__ "
                lang "}}}/{{{__ "
                technicalURL "}}}"
            }]
        }
    </script>
</div>