<div class="content single-post has-sidebar offpage-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/auditmainpic/java.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-12-mobile is-11-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">{{{__ "technicalHP6"}}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}">{{{__ "services"}}}</a></li>
                                <li><a href="/{{{__ "lang"}}}/seo">SEO</a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}">{{{__ "hey5"}}}</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column is-12-mobile is-7-tablet is-7-desktop post">

                        <img src="/images/new-react.png" heigth="80px" width="80px" alt="React logo">
                        <img src="/angular.png" heigth="80px" width="80px" alt="Angular logo">
                        <img src="/vue.png" heigth="80px" width="80px" alt="Vue logo">

                        <p>{{{__ "dynamicrenderingMP1"}}}<p>

                                <h2 class="title is-4 is-heavy">{{{__ "dynamicrenderingMPT2"}}}</h2>

                                <figure class="image is-fullwidth is-outlined">
                                    <a href="https://developers.google.com/search/docs/guides/dynamic-rendering?hl=en"><img src="/dynamicrenderingg.png" alt="Dynamic Rendering Google"></a>
                                </figure>


                                <p>{{{__ "dynamicrenderingMP2"}}}</p>

                                <p>{{{__ "dynamicrenderingMP3"}}}</p>

                                <h2 class="title is-4 is-heavy">{{{__ "dynamicrenderingMPT4"}}}</h2>

                                <img src="/prerender.png" heigth="80px" width="80px" alt="Vue logo">

                                <p>{{{__ "dynamicrenderingMP4"}}}</p>

                    </div>

                    <div class="column is-3-desktop sidebar">
                        <ul>
                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "indexationURL"}}}">{{{__ "technicalHP1U"}}}</a>
                            </li>
                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "crawlabilityURL"}}}">
                                    {{{__ "technicalHP2U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "internationalisationURL"}}}">
                                    {{{__ "technicalHP3U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "pagespeedURL"}}}">
                                    {{{__ "technicalHP4U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "mobilefriendlyURL"}}}">
                                    {{{__ "technicalHP5U"}}}
                                </a>
                            </li>

                            <li>
                                <a class="active" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "dynamicrenderingURL"}}}">
                                    {{{__ "technicalHP6U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "securityURL"}}}">
                                    {{{__ "technicalHP7U"}}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><br><br>{{>articlesCTA}}
            </div>
        </div>
    </section>
</div>