<div class="content single-post has-sidebar offpage-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/auditmainpic/linkmain.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-12-mobile is-11-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">{{{__ "onpageHP1"}}} & Keyword tools</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}">{{{__ "services"}}}</a></li>
                                <li><a href="/{{{__ "lang"}}}/seo">SEO</a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}">Onpage</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column is-12-mobile is-7-tablet is-7-desktop post">

                        <p>{{{__ "keywordMP1"}}}</p>
                        <p>{{{__ "keywordMP2"}}}</p>
                        <p>{{{__ "keywordMP3"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "keywordMPT4"}}}</h2>

                        <p>
                            <a class="blue" href="/{{{__ "lang"}}}/lexical/search-volume">Search Volume </a>{{{__ "keywordMP4"}}}</p>
                        {{{__ "keywordMP5"}}}
                        {{{__ "keywordMP6"}}}
                        </p>

                        <h2 class="title is-4 is-heavy">{{{__ "keywordMPT7"}}}</h2>
                        <p>
                            <a class="blue" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "voicesearchURL"}}}">
                                {{{__ "onpageHP10"}}}
                            </a>
                            {{{__ "keywordMP7"}}}
                        </p>


                        <h2 class="title is-4 is-heavy">Keyword Tools</h2>
                        <span class="blue-dot-list">
                            <ul>
                                <li><a target="_blank" href="https://ads.google.com/intl/en_DE/home/">Adwords Keyword Planner
                                    </a></li>
                                <li><a target="_blank" href="https://search.google.com/search-console">Google's Search Console
                                    </a></li>
                                <li><a target="_blank" href="https://semrush.com/">SEMRush
                                    </a></li>
                                <li><a target="_blank" href="https://trends.google.de/trends/?geo=DE">Google Trends
                                    </a></li>
                                <li><a target="_blank" href="https://ahrefs.com/keywords-explorer">ahrefs Keywords Explorer
                                    </a></li>
                                <li><a target="_blank" href="https://soovle.com/">Soovle
                                    </a></li>
                                <li><a target="_blank" href="https://keywordtool.io/">keywordtool.io
                                    </a></li>
                                <li><a target="_blank" href="https://kwfinder.com/">KW Finder
                                    </a></li>
                                <li><a target="_blank" href="https://moz.com/explorer">Moz Keyword Explorer
                                    </a></li>
                                <li><a target="_blank" href="https://www.secockpit.com">SECockpit
                                    </a></li>
                                <li><a target="_blank" href="https://kwfinder.com/">KWFinder
                                    </a></li>
                            </ul>
                        </span>

                    </div>
                    <div class="column is-3-desktop sidebar">
                        <ul>
                            <li>
                                <a class="active">
                                    {{{__ "onpageHP1U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "landingpagesURL"}}}">
                                    {{{__ "onpageHP2U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "internallinkingURL"}}}">
                                    {{{__ "onpageHP3U"}}} {{{__ "onpageHP5U"}}}
                                </a>
                            </li>
                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "metasURL"}}}">
                                    {{{__ "onpageHP4U"}}}
                                </a>
                            </li>
                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "contentURL"}}}">
                                    {{{__ "onpageHP6U"}}}
                                </a>
                            </li>
                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "imagesURL"}}}">
                                    {{{__ "onpageHP7U"}}}
                                </a>
                            </li>
                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "structuredURL"}}}">
                                    {{{__ "onpageHP8U"}}}
                                </a>
                            </li>
                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "duplicatecontentURL"}}}">
                                    {{{__ "onpageHP9U"}}}
                                </a>
                            </li>
                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "voicesearchURL"}}}">
                                    {{{__ "onpageHP10U"}}}
                                </a>
                            </li>


                        </ul>
                    </div>
                </div><br><br>{{>articlesCTA}}
            </div>
        </div>
    </section>
</div>