<div class="main">

  <img
    src="/auditmainpic/landing.jpg"
    title="landing, a photo by chuttersnap"
    alt="landing page optimization"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/seo"}> SEO </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}"}> ONPAGE </a>
    </div>
    <h1 class="h1services">{{{__ "onpageHP2"}}}</h1>
    <div class="serviceText">{{{__ "landingMP1"}}}</div>
    <h2> {{{__ "landingMPT2"}}}</h2>
    <div class="serviceText">{{{__ "landingMP2"}}}</div>
    <h2> {{{__ "landingMPT3"}}}</h2>
    <div class="serviceText">{{{__ "landingMP3"}}} </div>
    <h2>{{{__ "landingMPT4"}}}</h2>
    <div class="serviceText">{{{__ "landingMP4"}}} </div>
    <h2>{{{__ "hey5"}}}</h2>
    <div class="serviceText">{{{__ "landingMP5"}}} </div>

    <div class="black sideLinks">
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/keywordresearch"}
      >
        {{{__ "onpageHP1U"}}}
      </a>
      <a class="block bold">{{{__ "onpageHP2U"}}}</a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/internallinking"}
      >
        {{{__ "onpageHP3U"}}} {{{__ "onpageHP5U"}}}
      </a>
      <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/metas"}>
        {{{__ "onpageHP4U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/content"}
      >
        {{{__ "onpageHP6U"}}}
      </a>
      <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/images"}>
        {{{__ "onpageHP7U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/structureddata"}
      >
        {{{__ "onpageHP8U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/duplicatecontent"}
      >
        {{{__ "onpageHP9U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/voicesearch"}
      >
        {{{__ "onpageHP10U"}}}
      </a>
    </div>
  </div>
</div>
