<div class="main">

    <img src="/auditmainpic/landing.jpg" title="landingpages, Bild von chuttersnap" alt="landingpage Optimierung" class="imageAudit" />
    <div class="services">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}"> ONPAGE </a>
        </div>
        <h1 class="h1services">{{{__ "onpageHP2"}}}</h1>
        <div class="serviceText">{{{__ "landingMP1"}}}</div>
        <h2> {{{__ "landingMPT2"}}}</h2>
        <div class="serviceText">{{{__ "landingMP2"}}}
            <br><br> Hotjar: <br></div>


        <img src="/hotjar.jpeg" alt="hotjar" />


        <h2> {{{__ "landingMPT3"}}}</h2>
        <div class="serviceText">{{{__ "landingMP3"}}} </div>
        <h2>{{{__ "landingMPT4"}}}</h2>
        <div class="serviceText">{{{__ "landingMP4"}}} </div>
        <h2><a class="blue" href="/{{{__ "lang"}}}/technical">{{{__ "hey5"}}}</a></h2>
        <div class="serviceText">{{{__ "landingMP5"}}} </div>

        <div class="black sideLinks">
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "kwrechercheURL"}}}">
                {{{__ "onpageHP1U"}}}
            </a>
            <a class="block bold">{{{__ "onpageHP2U"}}}</a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "internallinkingURL"}}}">
                {{{__ "onpageHP3U"}}} {{{__ "onpageHP5U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "metasURL"}}}">
                {{{__ "onpageHP4U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "contentURL"}}}">
                {{{__ "onpageHP6U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "imagesURL"}}}">
                {{{__ "onpageHP7U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "structuredURL"}}}">
                {{{__ "onpageHP8U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "duplicatecontentURL"}}}">
                {{{__ "onpageHP9U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "voicesearchURL"}}}">
                {{{__ "onpageHP10U"}}}
            </a>
        </div>
    </div>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "{{{__ "
                servicesL "}}}",
                "item": "https://www.seoberlino.com/{{{__ "
                lang "}}}"
            }, {
                "@type": "ListItem",
                "position": 2,
                "name": "SEO",
                "item": "https://www.seoberlino.com/{{{__ "
                lang "}}}/seo"
            }, {
                "@type": "ListItem",
                "position": 3,
                "name": "Research",
                "item": "https://www.seoberlino.com/{{{__ "
                lang "}}}/research"
            }]
        }
    </script>

</div>