<img alt="freelancer image" class="homepage" src="/homepage.jpg" />
<div class="main">
    <div class="services2">
        <div class="breadcrumb">
            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/lexical"> Lexicon </a>
        </div>
        <h1 class="h1services">SEO Lexicon</h1>
        <h2>&bull; On-page & Keywords</h2>
        <a class="block black big" href="/{{{__ "lang"}}}/lexical/alt-attribute">
            Alt Attibutes
        </a>

        <a class="block  black big" href="/{{{__ "lang"}}}/lexical/canonical">
            Canonicals
        </a>

        <a class="block black big" href="/{{{__ "lang"}}}/lexical/rankbrain">
            RankBrain
        </a>


        <a class="block  black big" href="/{{{__ "lang"}}}/lexical/google-keyword-tool">
            Google Keyword Planner
        </a>


        <a class="block  black big" href="/{{{__ "lang"}}}/lexical/search-volume">
            Search Volume
        </a>


        <a class="block  black big" href="/{{{__ "lang"}}}/lexical/long-tail">
            Long-tail
        </a>



        <br>
        ------------------------------------------------

        <h2>&bull; {{{__ "hey5"}}}</h2>
        <a class="block  black big" href="/{{{__ "lang"}}}/lexical/amp-pages">
            AMP
        </a>

        <a class="block black big" href="/{{{__ "lang"}}}/lexical/redirects">
            Redirects
        </a>

        <a class="block  black big" href="/{{{__ "lang"}}}/lexical/hreflang">
            hreflang </a>
        <a class="block black big" href="/{{{__ "lang"}}}/lexical/lighthouse">
            Lighthouse
        </a>


        <a class="block  black big" href="/{{{__ "lang"}}}/lexical/search-console">Google's Search Console</a>


        <a class="block  black big" href="/{{{__ "lang"}}}/lexical/google-pagespeed">Google PageSpeed</a>




        <br>

        ------------------------------------------------
        <h2>&bull; {{{__ "technicalHP1"}}}</h2>

        <a class="block black big" href="/{{{__ "lang"}}}/lexical/noindex">
            noindex
        </a>

        <a class="block  black big" href="/{{{__ "lang"}}}/lexical/sitemaps">
            Sitemaps
        </a>


        <a class="block  black big" href="/{{{__ "lang"}}}/lexical/robots">
            Robots.txt
        </a>




        <br>
        ------------------------------------------------
        <h2>&bull; Backlinks</h2>
        <a class="block black big" href="/{{{__ "lang"}}}/lexical/remove-url-tool">
            Remove URL Tool
        </a>

        <a class="block  black big" href="/{{{__ "lang"}}}/lexical/nofollow">
            nofollow
        </a>


        <a class="block black big" href="/{{{__ "lang"}}}/lexical/disavow-tool">
            Disavow Tool
        </a>
    </div>
    <br><br>
</div>