<div class="content consultancy-en">
<!-- Intro Services Block-->
  <section class="services-hero hero is-large-intro">
    <div class="hero-body remove-padding">
      <div class="container reduced has-text-centered">
          <h2 class="title is-2 is-heavy boost-margin">SEO Lexicon</h2>

          <div class="columns is-centered">

            <div class="list-block column is-8-mobile is-3-tablet is-3-desktop">
              <h2 class="title is-4 is-black is-heavy">On-page & Keywords</h2>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/alt-attribute">
                    Alt Attibutes
                </a>
              </p>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/canonical">
                    Canonicals
                </a>
              </p>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/rankbrain">
                    RankBrain
                </a>
              </p>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/google-keyword-tool">
                    Google Keyword Planner
                </a>
              </p>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/search-volume">
                    Search Volume
                </a>
              </p>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/long-tail">
                    Long-tail
                </a>
              </p>
            </div>

            <div class="list-block column is-8-mobile is-3-tablet is-3-desktop">
              <h2 class="title is-4 is-black is-heavy">{{{__ "hey5"}}}</h2>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/amp-pages">
                    AMP
                </a>
              </p>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/redirects">
                    Redirects
                </a>
              </p>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/hreflang">
                    hreflang
                </a>
              </p>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/lighthouse">
                    Lighthouse
                </a>
              </p>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/search-console">
                  Google's Search Console
                </a>
              </p>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/google-pagespeed">
                  Google PageSpeed
                </a>
              </p>
            </div>

            <div class="list-block column is-8-mobile is-3-tablet is-3-desktop">
              <h2 class="title is-4 is-black is-heavy">{{{__ "technicalHP1"}}}</h2>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/noindex">
                    noindex
                </a>
              </p>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/sitemaps">
                    Sitemaps
                </a>
              </p>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/robots">
                    Robots.txt
                </a>
              </p>
            </div>


            <div class="list-block column is-8-mobile is-3-tablet is-3-desktop">
              <h2 class="title is-4 is-black is-heavy">Backlinks</h2>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/remove-url-tool">
                    Remove URL Tool
                </a>
              </p>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/nofollow">
                    nofollow
                </a>
              </p>
              <p>
                <a href="/{{{__ "lang"}}}/lexical/disavow-tool">
                    Disavow Tool
                </a>
              </p>
            </div>

      </div>
    </div>
  </section>
</div>
