<div class="content consultancy-en">
    <!-- Intro Services Block-->


    <section class="blogpost-hero hero is-medium">

        <div class="hero-body remove-padding">
            <div class="container reduced ">

                <h1 class="title is-2 is-heavy boost-margin has-text-centered">SEO Lexicon</h1>

                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-8-desktop">
                        <h2 class="title is-4 is-black is-heavy">On-page & Keywords</h2>
                        <h2 id="alt" class="title is-2 is-black is-heavy">Alt Attibutes</h2>

                        <h2 class=" title is-4 is-heavy reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>{{{__ "altattributeMP"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "example"}}}</h2>

                        <pre>
&lt;img src="/image.jpg" alt="your-alt-attribute-here"/> </pre>
                        <br><br><br>
                        <h2 id="canonicals" class="title is-2 is-black is-heavy">Canonicals</h2>


                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>{{{__ "canonicalsMP"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "example"}}}</h2>
                        <pre>
&lt;link rel="canonical" href="https:/www.mysite.com/url" />
                        </pre>


                        <br><br><br>



                        <h2 id="rankbrain" class="title is-2 is-black is-heavy">RankBrain</h2>

                        <h2 class="title is-heavy is-4 reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>{{{__ "rankbrainMP"}}}</p>
                        <br><br><br>




                        <h2 id="kwplanner" class="title is-2 is-black is-heavy">Google Keyword Planner</h2>
                        <h2 class="title is-heavy is-4 reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>{{{__ "googleKWToolMP"}}} <a class="underline" href="/{{{__ "lang"}}}/lexical#searchvolume">Search Volume</a></p>
                        <figure class="image is-fullwidth is-outlined">
                            <img alt="google keyword planner" src="/keywordplanner.png" />
                        </figure>

                        <br><br><br>




                        <h2 id="searchvolume" class="title is-2 is-black is-heavy">Search Volume</h2>
                        <h2 class="title is-heavy is-4 reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>{{{__ "searchvolumeMP"}}}</p>


                        <br><br><br>




                        <h2 id="longtail" class="title is-2 is-black is-heavy">Long-tail</h2>

                        <h2 class="title is-heavy is-4 reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>{{{__ "longtailMP"}}}</p>
                        <figure class="image is-fullwidth is-outlined">
                            <img alt="long tail" src="/longtail.gif" />
                        </figure>

                        <p>&copy; Moz</p>
                        <br><br><br>


                        <h2 id="amp" class="title is-4 is-black is-heavy">{{{__ "hey5"}}}</h2>


                        <h2 class="title is-2 is-black is-heavy">AMP</h2>
                        <h2 class="title is-4 is-heavy">{{{__ "definition"}}}</h2>
                        <p>{{{__ "amppagesMP"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "example"}}}</h2>
                        <pre>
<!doctype html>
&lt;html amp lang="en">

&lt;head>
&lt;meta charset="utf-8">
&lt;script async src="https://cdn.ampproject.org/v0.js"></script>
&lt;title>Hello, AMPs&lt;/title>
&lt;link rel="canonical" href="http://example.ampproject.org/article-metadata.html">
&lt;meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
&lt;script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "headline": "Open-source framework for publishing content",
    "datePublished": "2015-10-07T12:02:41Z",
    "image": [
        "logo.jpg"
    ]
}
        &lt;/script>
        &lt;style amp-boilerplate>
            body {
                -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
                -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
                animation: -amp-start 8s steps(1, end) 0s 1 normal both
            }

        @-webkit-keyframes -amp-start {
            from {
                visibility: hidden
                }

                to {
                    visibility: visible
                }
            }

        @-moz-keyframes -amp-start {
            from {
                visibility: hidden
                }

                to {
                    visibility: visible
                }
            }

            @-ms-keyframes -amp-start {
                from {
                    visibility: hidden

                to {
                    visibility: visible
                }

            @-o-keyframes -amp-start {
                from {
                    visibility: hidden

                to {
                    visibility: visible
                }

            @keyframes -amp-start {
                from {
                    visibility: hidden

                to {
                    visibility: visible
                }
            }
        &lt;/style>&lt;noscript>
            &lt;style amp-boilerplate>
                body {
                    -webkit-animation: none;
                    -moz-animation: none;
                    -ms-animation: none;
                    animation: none
                }
            &lt;/style>
        &lt;/noscript>
    &lt;/
    &lt;body>
        &lt;h1>Welcome to the mobile web&lt;/h1>
    &lt;/
    &lt;/html>
                        </pre>

                        <h2 class="title is-4 is-heavy">Images </h2>


                        <pre>
&lt;amp-img src="welcome.jpg" alt="Welcome" height="400" width="800"></amp-img>
                        </pre>

                        <h2 class="title is-4 is-heavy">Linking</h2>


                        <pre>
Add the following to the non-AMP page:

&lt;link rel="amphtml" href="https://www.example.com/url/to/amp/document.html">

And this to the AMP page:

&lt;link rel="canonical" href="https://www.example.com/url/to/full/document.html">
                        </pre>


                        <br><br><br>



                        <h2 id="redirects" class="title is-2 is-black is-heavy">Redirects</h2>

                        <h2 class="title is-heavy is-4 reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>{{{__ "redirectsMP"}}}</p>

                        <h2 class="title is-heavy is-4 reduced-top-margin">{{{__ "example"}}}</h2>
                        <pre>
app.get("/de/folder/page", function(request, response) {
    response.writeHead(301, {
        Location: "https://newtargetpage.com",
    Expires: new Date().toGMTString()
    });
    response.end();
});
                        </pre>

                        <br><br><br>



                        <h2 id="hreflang" class="title is-2 is-black is-heavy">hreflang</h2>
                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>
                            {{{__ "hreflangMP"}}}
                        </p>

                        <h2 class="title is-4 is-heavy">{{{__ "example"}}}</h2>
                        <pre>
&lt;link rel="alternate" hreflang="en" href="https://www.mysite.com/en" />
&lt;link rel="alternate" hreflang="de" href="https://www.mysite.com/de" />
                </pre>


                        <br><br><br>



                        <h2 id="lighthouse" class="title is-2 is-black is-heavy">Lighthouse</h2>

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>
                            {{{__ "lighthouseMP"}}}
                        </p>
                        <span class="blue-dot-list">
                            <ul>
                                <li>Chrome > New Incognito Window</li>
                                <li>Google Chrome Dev Tools > Audits</li>
                            </ul>
                        </span>

                        <figure class="image is-fullwidth is-outlined">
                            <img class="searchconsole" alt="Lighthouse" src="/lighthouse1.png" />
                        </figure>

                        <h2 class="title is-4 is-heavy">Run audits</h2>

                        <figure class="image is-fullwidth is-outlined">
                            <img class="searchconsole" alt="Lighthouse" src="/lighthouse2.png" />
                        </figure>

                        <h2 class="title is-4 is-heavy">Results</h2>

                        <figure class="image is-fullwidth is-outlined">
                            <img class="searchconsole" alt="Lighthouse" src="/lighthouse3.png" />
                        </figure>

                        <br><br><br>



                        <h2 id="googlesearchconsole" class="title is-2 is-black is-heavy">Google's Search Console</h2>
                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>{{{__ "searchconsoleMP"}}}
                        </p>


                        <br><br><br>





                        <h2 id="googlepagespeed" class="title is-2 is-black is-heavy">PageSpeed Insights</h2>

                        <figure class="image is-fullwidth is-outlined">
                            <a target="_blank" href="{{{__ "pagespeedlink"}}}">
                                <img alt="page speed" class="searchconsole" src="/Pagespeed.png" />
                            </a>
                        </figure>

                        <h2 class="title is-4 is-heavy">{{{__ "definition"}}}</h2>
                        <p>{{{__ "googlePageSpeedMP"}}}</p>

                        <h2 class="title is-4 is-heavy">Mobile / Desktop Score</h2>
                        <figure class="image is-fullwidth is-outlined">
                            <img alt="page speed" src="/pagespeedscore.png" />
                        </figure>
                        <p>{{{__ "googlePageSpeedScore"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "LabData"}}}</h2>
                        <figure class="image is-fullwidth is-outlined">
                            <img alt="page speed SEO" src="/pageSpeedLab.png" />
                        </figure>
                        <p>{{{__ "googlePageSpeedLab"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "Opportunities"}}}</h2>
                        <figure class="image is-fullwidth is-outlined">
                            <img alt="SEO page speed" src="/pagespeedOpp.png" />
                        </figure>
                        <p>{{{__ "googlePageSpeedOpp"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "Diagnostics"}}}</h2>
                        <figure class="image is-fullwidth is-outlined">
                            <img alt="page speed Diag" src="/pagespeedDiag.png" />
                        </figure>

                        <p>{{{__ "googlePageSpeedDiag"}}}</p>

                        <br><br><br>


                        <h2 class="title is-4 is-black is-heavy">{{{__ "technicalHP1"}}}</h2>




                        <h2 id="noindex" class="title is-2 is-black is-heavy">noindex</h2>
                        <p>
                            {{{__ "noindexMP"}}}
                        </p>

                        <h2 class="title is-4 is-heavy">{{{__ "example"}}}</h2>
                        <pre>
&lt;!DOCTYPE h
&lt;head>
&lt;meta name="robots" content="noindex" />
(…)
&lt;/h
&lt;body>(…)&lt;/b
&lt;/html>
                        </pre>

                        <br><br><br>




                        <h2 id="sitemaps" class="title is-2 is-black is-heavy">Sitemaps</h2>
                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>
                            {{{__ "sitemapsMP"}}}
                        </p>
                        <h2 class="title is-4 is-heavy">{{{__ "example"}}} </h2>

                        <pre>&lt;?xml version="1.0" encoding="UTF-8"?>
    &lt;urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    &lt;url>
    &lt;loc>https://www.mysite.com/en &lt;/loc>
    &lt;lastmod>2019-03-03&lt;/lastmod>
    &lt;/url>
    &lt;url>
    &lt;loc>https://www.mysite.com/de &lt;/loc>
    &lt;lastmod>2019-03-03&lt;/lastmod>
    &lt;/url>
    ....
    &lt;/urlset>
    </pre>

                        <br><br><br>



                        <h2 id="robotstxt" class="title is-2 is-black is-heavy">Robots.txt</h2>


                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>
                            {{{__ "robotsMP"}}}
                        </p>

                        <h2 class="title is-4 is-heavy">{{{__ "example"}}}</h2>

                        <h2 class="title is-5 is-heavy">Block one folder</h2>
                        <pre>
User-agent: *
Disallow: /folder/
                                                </pre>

                        <h2 class="title is-5 is-heavy">Block one file</h2>
                        <pre>
User-agent: *
Disallow: /file.html
                                                </pre>

                        <h2 class="title is-5 is-heavy">Block all</h2>
                        <pre>
User-agent: *
Disallow: /
                                                </pre>

                        <h2 class="title is-5 is-heavy">Allow all</h2>
                        <pre>
User-agent: *
Disallow:
                                                </pre>


                        <h2 class="title is-5 is-heavy">User agents: google</h2>
                        <pre>
User-agent: Googlebot
                                                </pre>
                        <br><br><br>

                        <h2 class="title is-4 is-black is-heavy">Backlinks</h2>



                        <h2 id="removeurltool" class="title is-2 is-black is-heavy">Remove URL Tool</h2>

                        <h2 class=" title is-4 is-heavy reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>
                            {{{__ "removeurltoolMP"}}}
                        </p>
                        <figure class="image is-fullwidth is-outlined">
                            <a href="https://www.google.com/webmasters/tools/removals" target="_ blank">
                                <img title="{{{__ "removeurltitle"}}}" alt="{{{__ "removeurlalt"}}}" src="/removeurl.png" />
                            </a>
                        </figure>

                        <br><br><br>



                        <h2 id="nofollow" class="title is-2 is-black is-heavy">nofollow</h2>

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>
                            {{{__ "nofollowMP"}}}
                        </p>
                        <h2 class="title is-4 is-heavy">{{{__ "example"}}}</h2>
                        <pre>
&lt;a href="http://www.example.com/" rel="nofollow">example&lt;/a></pre>




                        <br><br><br>

                        <h2 id="disavowtool" class="title is-2 is-black is-heavy">Disavow Tool</h2>

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "definition"}}}</h2>
                        <figure class="image is-outlined is-fullwidth">
                            <a href="https://www.google.com/webmasters/tools/disavow-links-main" target="_ blank">
                                <img alt="Disavow tool" src="{{{__ "disavowsrc"}}}" />
                            </a>
                        </figure>
                        <p>
                            {{{__ "disavowMP"}}}
                        </p>

                        <br><br><br>




                    </div>

                    <div class="column is-3-desktop sidebar">
                        <ul>

                            <li>
                                <a href="#searchvolume">
                                    Search Volume </a>
                            </li>
                            <li>
                                <a href="#kwplanner">
                                    Google Keyword Planner
                                </a>
                            </li>

                            <li>
                                <a href="#googlepagespeed">
                                    PageSpeed Insights </a>
                            </li>

                            <li>
                                <a href="#lighthouse">
                                    Lighthouse </a>
                            </li>


                            <li>
                                <a href="#googlesearchconsole">
                                    Search Console </a>
                            </li>

                            <li>
                                <a href="#removeurltool">
                                    Remove URL Tool
                                </a>
                            </li>


                            <li>
                                <a href="#disavowtool">
                                    Disavow Tool </a>
                            </li>

                            <li>
                                <a href="#rankbrain">
                                    RankBrain </a>
                            </li>

                            <li>
                                <a href="#canonicals">
                                    Canonicals
                                </a>
                            </li>

                            <li>
                                <a href="#alt">
                                    Alt Altributes
                                </a>
                            </li>

                            <li>
                                <a href="#longtail">
                                    Long Tail </a>
                            </li>

                            <li>
                                <a href="#redirects">
                                    Redirects </a>
                            </li>

                            <li>
                                <a href="#hreflang">
                                    hreflang </a>
                            </li>


                            <li>
                                <a href="#noindex">
                                    noindex</a> & <a href="#nofollow">nofollow </a>


                            </li>

                            <li>
                                <a href="#robotstxt">
                                    Robots.txt</a> &



                                <a href="#sitemaps">
                                    Sitemaps</a>
                            </li>
                            <li>
                                <a href="#amp">
                                    AMP </a>
                            </li>


                        </ul>
                    </div>



                </div>
            </div>
    </section>
</div>