<div class="content single-post has-sidebar offpage-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/auditmainpic/linkmain.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-12-mobile is-11-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">Backlinks & Toxic links</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}">{{{__ "seoexpert"}}}</a></li>
                                <li><a href="/{{{__ "lang"}}}/seo">SEO</a></li>
                                <li><a hred="/{{{__ "lang"}}}/{{{__ "offpage"}}}" class="bold">Offpage</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column is-12-mobile is-7-tablet is-7-desktop post">

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "BLanalysisT2"}}}</h2>
                        <p>{{{__ "linkstoavoid1"}}}</p>

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "linkstoavoidT2"}}}</h2>
                        <p>{{{__ "linkstoavoid2"}}}</p>

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "linkstoavoidtitle"}}}</h2>
                        <p>{{{__ "linkstoavoid3"}}}</p>

                        <h2 class="title is-4 is-heavy reduced-top-margin">Disavow Tool</h2>
                        <p>{{{__ "linkstoavoid4"}}} <a class="blue" href="/{{{__ "lang"}}}/lexical/disavow-tool">Disavow Tool</a> {{{__ "linkstoavoid42"}}} </p>




                    </div>
                    <div class="column is-3-desktop sidebar">
                        <ul>
                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "backlinkURL"}}}">
                                    {{{__ "offpageHP1U"}}}, {{{__ ""}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "brandbuildingURL"}}}">
                                    {{{__ "offpageHP3U"}}}, {{{__ "offpageHP4U"}}}
                                </a>
                            </li>

                            <li>
                                <a class="active" href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "linksURL"}}}">
                                    {{{__ "offpageHP5U"}}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments after-post">

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "relevanttools"}}}</h2>
                        <p><a target="_blank" href="https://www.google.com/webmasters/tools/disavow-links-main">Disavow LinkTool</a></p>

                    </div>
                </div><br><br>{{>articlesCTA}}
            </div>
        </div>
    </section>
</div>