<div class="main">
    <img src="/auditmainpic/linkmain.jpg" title="links, a photo by Scott Rodgerson" alt="Links and backlink in SEO" class="imageAudit" />
    <div class="services">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/{{{__ "offpage"}}}"> OFFPAGE </a>
        </div>
        <h1 class="h1services">Backlinks & Toxic links</h1>
        <h2>{{{__ "BLanalysisT2"}}}</h2>
        <div class="serviceText">{{{__ "linkstoavoid1"}}}</div>
        <h2>{{{__ "linkstoavoidT2"}}}</h2>
        <div class="serviceText">{{{__ "linkstoavoid2"}}}</div>
        <h2>{{{__ "linkstoavoidtitle"}}}</h2>
        <div class="serviceText">{{{__ "linkstoavoid3"}}}</div>
        <h2> Disavow Tool</h2>
        <div class="serviceText">{{{__ "linkstoavoid4"}}} <a class="blue" href="/{{{__ "lang"}}}/lexical/disavow-tool">Disavow Tool</a> {{{__ "linkstoavoid42"}}} </div>
        <br><br>
        <h2> {{{__ "relevanttools"}}}</h2>
        <div class="serviceText"> <a target="_blank" href="https://www.google.com/webmasters/tools/disavow-links-main">Disavow LinkTool</a></div>
        <div class="sideLinks black ">
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "backlinkURL"}}}">
                {{{__ "offpageHP1U"}}}, {{{__ ""}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "brandbuildingURL"}}}">
                {{{__ "offpageHP3U"}}}, {{{__ "offpageHP4U"}}}
            </a>
            <span class="block bold">{{{__ "offpageHP5U"}}}</span>
        </div>
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement": [{
                    "@type": "ListItem",
                    "position": 1,
                    "name": "{{{__ "
                    servicesL "}}}",
                    "item": "https://www.seoberlino.com/{{{__ "
                    lang "}}}"
                }, {
                    "@type": "ListItem",
                    "position": 2,
                    "name": "SEO",
                    "item": "https://www.seoberlino.com/{{{__ "
                    lang "}}}/seo"
                }, {
                    "@type": "ListItem",
                    "position": 3,
                    "name": "Offpage",
                    "item": "https://www.seoberlino.com/{{{__ "
                    lang "}}}/{{{__ "
                    offpage "}}}"
                }]
            }
        </script>
    </div>
</div>