<div class="main">

  <img
    src="/auditmainpic/toxic.jpg"
    title="toxic, a photo by Scott Rodgerson"
    alt="backlinking"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/resources"}> SEO </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/offpage"}> OFFPAGE </a>
    </div>

    <h1 class="h1services">Toxic links & {{{__ "linkstoavoidtitle"}}}</h1>
    <h2>{{{__ "BLanalysisT2"}}}</h2>
    <div class="serviceText">{{{__ "linkstoavoid1"}}}</div>
    <h2>{{{__ "linkstoavoidT2"}}}</h2>
    <div class="serviceText">{{{__ "linkstoavoid2"}}}</div>

    <h2>{{{__ "structuredMPT3"}}}</h2>
    <div class="serviceText">{{{__ "linkstoavoid3"}}}</div>

    <h2> Disavow Tool</h2>
    <div class="serviceText">{{{__ "linkstoavoid4"}}}</div>
    <div class="sideLinks black ">
      <a
        class="block"
        href="/{{{__ "lang"}}}/offpage/backlinkanalysis"}
      >
        {{{__ "offpageHP1U"}}}, {{{__ ""}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/offpage/brandbuilding"}
      >
        {{{__ "offpageHP3U"}}}, {{{__ "offpageHP4U"}}}
      </a>
      <span class="block bold">{{{__ "offpageHP5U"}}}</span>
    </div>
  </div>
</div>
