<div class="main">
    <img src="/auditmainpic/local.jpg" title="local, a photo by Brandi Ibrao" alt="local SEO" class="imageAudit" />
    <div class="services">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/research"> RESEARCH </a>
        </div>
        <h1 class="h1services"> Local SEO</h1> <br />
        <h2>{{{__ "localMPT1"}}}</h2>
        <div class="serviceText">{{{__ "localMP1"}}}</div>
        <br />
        <img class="serviceImage" src="/mybusiness.jpg" alt="My Business, Local SEO" />
        <h2>{{{__ "localMPT2"}}}</h2>
        <div class="serviceText">{{{__ "localMP2"}}}</div>
        <br />
        <h2>{{{__ "localMPT3"}}}</h2>
        <div class="serviceText">{{{__ "localMP3"}}}</div> <br />
        <h2>{{{__ "localMPT4"}}}</h2>
        <div class="serviceText">{{{__ "localMP4"}}}</div> <br />
        <h2> {{{__ "relevanttools"}}} </h2>
        <div class="serviceText">
            <footer>
                <a href="https://www.google.com/business/" target="_blank">
                    Google's MyBusiness
                </a>
            </footer>
        </div>
        <div class="black sideLinks">
            <a class="block bold">{{{__ "analyticsHP1U"}}}</a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "analyticsURL"}}}">
                {{{__ "analyticsHP2U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "competitorURL"}}}">
                {{{__ "analyticsHP3U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "seaURL"}}}">
                {{{__ "analyticsHP6U"}}}
            </a>
        </div>
    </div>
</div>