<div class="content single-post has-sidebar offpage-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/auditmainpic/local.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-12-mobile is-11-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">Local SEO</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}">{{{__ "services"}}}</a></li>
                                <li><a href="/{{{__ "lang"}}}/seo">SEO</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column is-12-mobile is-7-tablet is-7-desktop post">

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "localMPT1"}}}</h2>
                        <p>{{{__ "localMP1"}}}</p>

                        <figure class="image is-outlined is-fullwidth">
                            <img class="serviceImage" src="/mybusiness.jpg" alt="My Business, Local SEO" />
                        </figure>

                        <h2 class="title is-4 is-heavy">{{{__ "localMPT2"}}}</h2>

                        <p>{{{__ "localMP2"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "localMPT3"}}}</h2>
                        <p>{{{__ "localMP3"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "localMPT4"}}}</h2>
                        <p>{{{__ "localMP4"}}}</p>

                    </div>


                </div>
            </div>
        </div>
    </section>

    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments after-post">

                        <h2 class="title is-4 is-heavy">{{{__ "relevanttools"}}} </h2>
                        <p><a href="https://www.google.com/business/" target="_blank">Google's MyBusiness</a></p>

                    </div>
                </div><br><br>{{>articlesCTA}}
            </div>
        </div>
    </section>
</div>