<div class="main">

    <img src="/auditmainpic/local.jpg" title="local, Bild von Brandi Ibrao" alt="local SEO" class="imageAudit" />
    <div class="services">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="Pfeil" />


            <a href="/de"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="Pfeil" />


            <a href="/de/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="Pfeil" />


            <a href="/de/research"> Forschung </a>
        </div>
        <h1 class="h1services"> Local SEO</h1> <br />
        <h2>{{{__ "localMPT1"}}}</h2>
        <div class="serviceText">{{{__ "localMP1"}}}</div>
        <br />
        <img class="serviceImage" src="/mybusiness.jpg" alt="MyBusiness, Local SEO Deutschland" />
        <h2>{{{__ "localMPT2"}}}</h2>
        <div class="serviceText">{{{__ "localMP2"}}}</div>
        <br />
        <h2>{{{__ "localMPT3"}}}</h2>
        <div class="serviceText">{{{__ "localMP3"}}}</div> <br />
        <h2>{{{__ "localMPT4"}}}</h2>
        <div class="serviceText">{{{__ "localMP4"}}}</div> <br />
        <h2> {{{__ "relevanttools"}}} </h2>
        <div class="serviceText">
            <footer>
                <a href="https://www.google.com/business/" target="_blank">
                    Google's MyBusiness
                </a>
            </footer>
        </div>
        <div class="black sideLinks">
            <a class="block bold">{{{__ "analyticsHP1U"}}}</a>
            <a class="block" href="/de/forschung/{{{__ "analyticsURL"}}}">
                {{{__ "analyticsHP2U"}}}
            </a>
            <a class="block" href="/de/forschung/{{{__ "competitorURL"}}}">
                {{{__ "analyticsHP3U"}}}
            </a>
            <a class="block" href="/de/forschung/{{{__ "seaURL"}}}">
                {{{__ "analyticsHP6U"}}}
            </a>
        </div>
    </div>


</div>