<div class="main">
  <Helmet>
    <meta charSet="utf-8" />
    <title> Local SEO | SEO Berlino</title>
    <meta
      name="description"
      content="Local SEO : make sure that SEO is well optimized for your area"
    />
    <link
      rel="canonical"
      href="/{{{__ "lang"}}}/research/localseo"}
    />
  </Helmet>
  <img
    src="/auditmainpic/local.jpg"
    title="local, a photo by Brandi Ibrao"
    alt="local SEO"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}/resources"}> SEO </a>
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}/research"}> RESEARCH </a>
    </div>
    <h1 class="h1services"> Local SEO</h1> <br />
    <h2>{{{__ "localMPT1"}}}</h2>
    <div class="serviceText">{{{__ "localMP1"}}}</div>
    <br />
    <img class="serviceImage" src="/mybusiness.jpg" />
    <h2>{{{__ "localMPT2"}}}</h2>
    <div class="serviceText">{{{__ "localMP2"}}}</div>
    <br />
    <h2>{{{__ "localMPT3"}}}</h2>
    <div class="serviceText">{{{__ "localMP3"}}}</div> <br />
    <h2>{{{__ "localMPT4"}}}</h2>
    <div class="serviceText">{{{__ "localMP4"}}}</div> <br />
    <h2> {{{__ "relevanttools"}}} </h2>
    <div class="serviceText">
      <footer>
        <a href="https://www.google.com/business/" target="_blank">
          Google's MyBusiness
        </a>
      </footer>
    </div>
    <div class="black slide-in-left sideLinks">
      <a class="block bold">{{{__ "analyticsHP1"}}}</a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/research/analytics"}
      >
        {{{__ "analyticsHP2"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/research/bestpractices"}
      >
        {{{__ "analyticsHP3"}}}
      </a>
      <a class="block" href="/{{{__ "lang"}}}/research/sea"}>
        {{{__ "analyticsHP6"}}}
      </a>
    </div>
  </div>
</div>
