<div class="content single-post has-sidebar offpage-en">



    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/seo-freelancer">{{{__ "seoexpert"}}}</a></li>
                                <li><a href="/{{{__ "lang"}}}/blog">Blog</a></li>
                            </ul>
                        </nav>
                        <h1 class="title is-1 is-heavy">Local SEO</h1>

                        <span class="subtitle is-6 is-black"><a href="/en/contact">By Alex Bieth</a></span><br>
                        <span class="subtitle is-6 is-black"><img src="/clock.png" /> 25 November 2018</span>
                        <br><br><br>
                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "localMPT1"}}}</h2>
                        <p>{{{__ "localMP1"}}}</p>

                        <figure class="image is-outlined is-fullwidth">
                            <img class="serviceImage" src="/mybusiness.jpg" alt="My Business, Local SEO" />
                        </figure>

                        <h2 class="title is-4 is-heavy">{{{__ "localMPT2"}}}</h2>

                        <p>{{{__ "localMP2"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "localMPT3"}}}</h2>
                        <p>{{{__ "localMP3"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "localMPT4"}}}</h2>
                        <p>{{{__ "localMP4"}}}</p>

                    </div>


                </div>
            </div>
        </div>
    </section>

    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments after-post">

                        <h2 class="title is-4 is-heavy">{{{__ "relevanttools"}}} </h2>
                        <p><a href="https://www.google.com/business/" target="_blank">Google's MyBusiness</a></p>

                    </div>
                </div><br><br>{{>articlesCTA}}
            </div>
        </div>
    </section>
</div>