<div class="main">
    <div class="services2">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/lexical"> Lexicon </a>
        </div>
        <h1 class="h1services"> Long Tail</h1>
        <h2>{{{__ "definition"}}}</h2>
        <div class="serviceText">
            {{{__ "longtailMP"}}}
        </div>
        <br>
        <img class="searchconsole" src="/longtail.gif" />
        <br>
        <span class="bold big"> &copy; Moz</span>
    </div>
</div>
{{>extendedlexical}}