<div class="main">

    <img src="/auditmainpic/tag.jpg" title="tags, a photo by rawpixel" alt="meta tags SEO" class="imageAudit" />
    <div class="services">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}"> ONPAGE </a>
        </div>

        <h1 class="h1services"> {{{__ "onpageHP4"}}} </h1>
        <h2> Title</h2>
        <xmp>
            <title>My Unique Title</title>
        </xmp>



        <div class="serviceText">{{{__ "metasMP1"}}}</div>
        <h2> Description</h2>
        <xmp>
            <meta name="description" content="my unique description" />
        </xmp>

        <div class="serviceText">{{{__ "metasMP2"}}}</div>

        <h2> Headings</h2>
        <xmp>
            <h1>my unique h1</h1>
            <h2>myh2</h2>
            <h3>myh3</h3>
            <h3>myh3</h3>
            <h2>myh2</h2>
            <h3>myh3</h3>
            <h3>myh3</h3>
            <h2>myh2</h2>
            <h3>myh3</h3>
            <h3>myh3</h3>
            <h3>myh3</h3>
        </xmp>
        <div class="serviceText">{{{__ "metasMP3"}}}</div>

        <h2>Social Media: OpenGraph & Twitter Card</h2>
        <xmp>
            <meta property="og:title" content="mytitle" />
            <meta property="og:url" content="myurl" />
            <meta property="og:description" content="mydescription" />
            <meta property="og:locale" content="countrycode" />
            <meta property="og:site_name" content="name" />
            <meta name="twitter:card" content="summary" />
            <meta name="twitter:site" content="@name" />
            <meta name="twitter:title" content="mytitle" />
            <meta name="twitter:description" content="mydescription" />
            <meta name="twitter:image" content="/logo.jpg" />
        </xmp>
        <h2>Viewport</h2>
        <xmp>
            <meta name="viewport" content="width=device-width, initial-scale=1" />
        </xmp>
        <h2> {{{__ "metasMPT4"}}}</h2>
        <div class="serviceText">{{{__ "metasMP4"}}}</div>
        <h2> {{{__ "relevanttools"}}}</h2>
        <div class="serviceText">
            <footer>
                <a href="https://www.screamingfrog.co.uk/seo-spider/" target="_blank">
                    Screaming Frog
                </a>
            </footer>
        </div>
        <div class="black sideLinks">
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "kwrechercheURL"}}}">
                {{{__ "onpageHP1U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "landingpagesURL"}}}">
                {{{__ "onpageHP2U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "internallinkingURL"}}}">
                {{{__ "onpageHP3U"}}} {{{__ "onpageHP5U"}}}
            </a>
            <a class="block bold">{{{__ "onpageHP4U"}}}</a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "contentURL"}}}">
                {{{__ "onpageHP6U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "imagesURL"}}}">
                {{{__ "onpageHP7U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "structuredURL"}}}">
                {{{__ "onpageHP8U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "duplicatecontentURL"}}}">
                {{{__ "onpageHP9U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "voicesearchURL"}}}">
                {{{__ "onpageHP10U"}}}
            </a>
        </div>
    </div>
</div>