<div class="content single-post has-sidebar offpage-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/auditmainpic/tag.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-12-mobile is-11-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">{{{__ "onpageHP4"}}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}">{{{__ "services"}}}</a></li>
                                <li><a href="/{{{__ "lang"}}}/seo">SEO</a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}">Onpage</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column is-12-mobile is-7-tablet is-7-desktop post">

                        <h2 class="title is-4 is-heavy reduced-top-margin">Title</h2>
                        <xmp>
                            <title>My Unique Title</title>
                        </xmp>



                        <p>{{{__ "metasMP1"}}}</p>
                        <h2 class="title is-4 is-heavy">Description</h2>
                        <xmp>
                            <meta name="description" content="my unique description" />
                        </xmp>

                        <p>{{{__ "metasMP2"}}}</p>

                        <h2 class="title is-4 is-heavy">Headings</h2>

                        <xmp>
                            <h1>my unique h1: page main topic</h1>
                            <h2>Title part 1</h2>
                            <h3>Subtitle 1</h3>
                            <h3>Subtitle 2</h3>

                            <h2>Title part 2</h2>


                            <h2>Title part 3</h2>
                            <h3>Subtitle 1</h3>
                            <h3>Subtitle 2</h3>
                            <h3>Subtitle 3</h3>
                        </xmp>

                        <p>{{{__ "metasMP3"}}}</p>

                        <h2 class="title is-4 is-heavy">Social Media: OpenGraph & Twitter Card</h2>
                        <xmp>
                            <meta property="og:title" content="mytitle" />
                            <meta property="og:url" content="myurl" />
                            <meta property="og:description" content="mydescription" />
                            <meta property="og:locale" content="countrycode" />
                            <meta property="og:site_name" content="name" />
                            <meta name="twitter:card" content="summary" />
                            <meta name="twitter:site" content="@name" />
                            <meta name="twitter:title" content="mytitle" />
                            <meta name="twitter:description" content="mydescription" />
                            <meta name="twitter:image" content="/logo.jpg" />
                        </xmp>

                        <h2 class="title is-4 is-heavy">Viewport</h2>
                        <xmp>
                            <meta name="viewport" content="width=device-width, initial-scale=1" />
                        </xmp>

                        <h2 class="title is-4 is-heavy">{{{__ "metasMPT4"}}}</h2>
                        <p>{{{__ "metasMP4"}}}</p>
                    </div>

                    <div class="column is-3-desktop sidebar">
                        <ul>
                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "kwrechercheURL"}}}">
                                    {{{__ "onpageHP1U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "landingpagesURL"}}}">
                                    {{{__ "onpageHP2U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "internallinkingURL"}}}">
                                    {{{__ "onpageHP3U"}}} {{{__ "onpageHP5U"}}}
                                </a>
                            </li>
                            <li>
                                <a class="active" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "metasURL"}}}">
                                    {{{__ "onpageHP4U"}}}
                                </a>
                            </li>
                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "contentURL"}}}">
                                    {{{__ "onpageHP6U"}}}
                                </a>
                            </li>
                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "imagesURL"}}}">
                                    {{{__ "onpageHP7U"}}}
                                </a>
                            </li>
                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "structuredURL"}}}">
                                    {{{__ "onpageHP8U"}}}
                                </a>
                            </li>
                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "duplicatecontentURL"}}}">
                                    {{{__ "onpageHP9U"}}}
                                </a>
                            </li>
                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "voicesearchURL"}}}">
                                    {{{__ "onpageHP10U"}}}
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments after-post">

                        <h2 class="title is-4 is-heavy">{{{__ "relevanttools"}}}</h2>
                        <p><a href="https://www.screamingfrog.co.uk/seo-spider/" target="_blank">Screaming Frog</a></p>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>