<div class="main">
    <img src="/auditmainpic/mobilefriendly.jpg" title="mobile phone, a photo by Rodion Kutsaev" alt="mobile friendly" width="80%" height="450px" class="imageAudit" />
    <div class="services">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}"> {{{__ "hey5"}}} </a>
        </div>
        <h1 class="h1services">{{{__ "mobileMPh1"}}}</h1><br /> <br />
        <a href="https://commons.wikimedia.org/wiki/File:Mobile_v_s_desktop_Internet.xlsx-1.jpg">
            <img src="/mobilevsdesktop.jpg" class="searchconsole" heigth="350px" width="450px" alt="Dynamic Rendering Google">
            <br />
            <h6>Wikimedia Commons</h6>
        </a>
        <h2>{{{__ "mobileMPT1"}}}</h2>
        <div class="serviceText">
            <p>{{{__ "mobileMP1"}}}</p>
            <div class="serviceText">
                <footer>
                    <a class="blue" target="_blank" href="https://search.google.com/test/mobile-friendly">
                        Google's Mobile Friendly Test
                    </a>
                </footer>
            </div>
        </div>
        <h2>{{{__ "mobileMPT2"}}}</h2>
        <div class="serviceText">
            <p>{{{__ "mobileMP2"}}} </p>
        </div>
        <h2>{{{__ "mobileMPT3"}}}</h2>
        <div class="serviceText">
            <p>{{{__ "mobileMP3"}}}</p>
            <img src="/icons/mobilefirst.png" class="imageservices" title="mobile-first" alt="mobile-first" width="100px" height="100px" />
            <p>{{{__ "mobileMP4"}}}</p>
        </div>
        <h2>{{{__ "mobileMPT5"}}}</h2>
        <div class="serviceText">
            <p>{{{__ "mobileMP5"}}}</p>
        </div>
        <div class="black sideLinks">
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "indexationURL"}}}">
                {{{__ "technicalHP1U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "crawlabilityURL"}}}">
                {{{__ "technicalHP2U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "internationalisationURL"}}}">
                {{{__ "technicalHP3U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "pagespeedURL"}}}">
                {{{__ "technicalHP4U"}}}
            </a>
            <a class="block bold">{{{__ "technicalHP5U"}}}</a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "dynamicrenderingURL"}}}">
                {{{__ "technicalHP6U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "securityURL"}}}">
                {{{__ "technicalHP7U"}}}
            </a>
        </div>
    </div>
</div>