<div class="main">
  <Helmet>
    <meta charSet="utf-8" />
    <title>Mobile First - Mobile friendly | SEO Berlino</title>
    <meta
      name="description"
      content="Technical SEO: mobile friendly and why its important in SEO "
    />
    <link
      rel="canonical"
      href="/{{{__ "lang"}}}/technical/mobilefriendly"}
    />
  </Helmet>
  <img
    src="/auditmainpic/mobilefriendly.jpg"
    title="mobile phone, a photo by Rodion Kutsaev"
    alt="mobile friendly"
    width="80%"
    height="450px"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}/resources"}> SEO </a>
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}/technical"}> {{{__ "technical"}}} </a>
    </div>
    <h1 class="h1services">{{{__ "mobileMPh1"}}}</h1>
    <h2>{{{__ "mobileMPT1"}}}</h2>
    <div class="serviceText">
      <p>{{{__ "mobileMP1"}}}</p>
      <div class="serviceText italic">
        <footer>
          <a
            target="_blank"
            href="https://search.google.com/test/mobile-friendly"
          >
            Google's Mobile Friendly Test
          </a>
        </footer>
      </div>
    </div>
    <h2>{{{__ "mobileMPT2"}}}</h2>
    <div class="serviceText">
      <p>{{{__ "mobileMP2"}}} </p>
    </div>
    <h2>{{{__ "mobileMPT3"}}}</h2>
    <div class="serviceText">
      <p>{{{__ "mobileMP3"}}}</p>
      <img
        src="/icons/mobilefirst.png"
        class="imageservices"
        title="mobile-first"
        alt="mobile-first"
        width="100px"
        height="100px"
      />
      <p>{{{__ "mobileMP4"}}}</p>
    </div>
    <h2>{{{__ "mobileMPT5"}}}</h2>
    <div class="serviceText">
      <p>{{{__ "mobileMP5"}}}</p>
    </div>
    <div class="black slide-in-left sideLinks">
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/indexation"}
      >
        {{{__ "technicalHP1"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/crawlability"}
      >
        {{{__ "technicalHP2"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/internationalisation"}
      >
        {{{__ "technicalHP3"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/pagespeed"}
      >
        {{{__ "technicalHP4"}}}
      </a>
      <a class="block bold">{{{__ "technicalHP5"}}}</a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/dynamicrendering"}
      >
        {{{__ "technicalHP6"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/security"}
      >
        {{{__ "technicalHP7"}}}
      </a>
    </div>
  </div>
</div>
