<div class="main">
  <img
    src="/auditmainpic/offpage.jpg"
    title="links, a photo by Fré Sonneveld"
    alt="Offpage SEO"
    height="450px"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />
      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />
      <a href="/{{{__ "lang"}}}/seo"> SEO </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />
      <a class="bold"> OFFPAGE </a>
    </div>
    <div class="infoTitle">
      <h1 class="h1services">Offpage SEO Audit</h1>
    </div>
    <div>
      <div class="sideLinks black ">
        <a
          class="block"
          href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "backlinkURL"}}}"
        >
          {{{__ "offpageHP1U"}}}, {{{__ ""}}}
        </a>
        <a
          class="block"
          href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "brandbuildingURL"}}}"
        >
          {{{__ "offpageHP3U"}}}, {{{__ "offpageHP4U"}}}
        </a>
        <a
          class="block"
          href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "linksURL"}}}"
        >
          {{{__ "offpageHP5U"}}}
        </a>
      </div>
      <div class="marginright">
        <h2> {{{__ "auditMPT1"}}}</h2>
        <p>{{{__ "offpageMP"}}}</p>
        <h2>{{{__ "auditMPT2"}}}</h2>
        <p>{{{__ "offpageMP2"}}}</p>
        <h2>{{{__ "auditMPT3"}}}</h2>
        <p>{{{__ "offpageMP3"}}}</p>
        <h2>Social Media </h2>
        <p>{{{__ "offpageMP4"}}} <a class="blue" href="/{{{__ "lang"}}}/lexical/nofollow">nofollow</a>{{{__ "offpageMP42"}}}</p>
        <h2>Social Bookmarking</h2> <p>{{{__ "offpageMP5"}}}</p>
      </div>
    </div>
  </div>
    <script type="application/ld+json">
  {
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
  "@type": "ListItem",
  "position": 1,
  "name": "{{{__ "servicesL"}}}",
  "item": "https://www.seoberlino.com/{{{__ "lang"}}}"
  },{
  "@type": "ListItem",
  "position": 2,
  "name": "SEO",
  "item": "https://www.seoberlino.com/{{{__ "lang"}}}/seo"
  },{
  "@type": "ListItem",
  "position": 3,
  "name": "Offpage",
  "item": "https://www.seoberlino.com/{{{__ "lang"}}}/{{{__ "offpage"}}}"
  }]
  }
  </script>
    <a class="servicesHP" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">
      <button class="servicesHP">{{{__ "servicesL"}}}</button>
    </a>
    <a class="servicesHP" href="/{{{__ "lang"}}}/seo-for-small-businesses">
      <button class="servicesHP"> {{{__ "smallbusinesses"}}}</button>
    </a>
    <a
      class="servicesHP2"
      href="/{{{__ "lang"}}}/freeaudit"}
    >
      <button class="servicesHP2">{{{__ "preaudit"}}}</button>
    </a>
    <a
      class="servicesHP2"
      href="/{{{__ "lang"}}}/partnership"}
    >
      <button class="servicesHP2">{{{__ "sponsorship"}}}</button>
    </a><br><br>
</div>
