<div class="content single-post has-sidebar offpage-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/auditmainpic/competitor.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-12-mobile is-11-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">Offpage SEO Audit</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}">{{{__ "services"}}}</a></li>
                                <li><a href="/{{{__ "lang"}}}/seo">SEO</a></li>
                                <li class="is-active"><a class="bold">Offpage</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column is-12-mobile is-7-tablet is-7-desktop post">

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "auditMPT1"}}}</h2>

                        <p class="intro">{{{__ "offpageMP"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "auditMPT2"}}}</h2>

                        <p> class="titleageMP2" }}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "auditMPT3"}}}
                        </h2>

                        <p>{{{__ "offpageMP3"}}}</p>

                        <h2 class="title is-4 is-heavy">Social Media</h2>

                        <p>{{{__ "offpageMP4"}}} <a href="/{{{__ "lang"}}}/lexical/nofollow">nofollow</a>{{{__ "offpageMP42"}}}</p>

                        <h2 class="title is-4 is-heavy">Social Bookmarking</h2>

                        <p>{{{__ "offpageMP5"}}}</p>

                    </div>
                    <div class="column is-3-desktop sidebar">
                        <ul>
                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "backlinkURL"}}}">
                                    {{{__ "offpageHP1U"}}}, {{{__ ""}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "brandbuildingURL"}}}">
                                    {{{__ "offpageHP3U"}}}, {{{__ "offpageHP4U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "linksURL"}}}">
                                    {{{__ "offpageHP5U"}}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>