<div class="main">
    <img src="/auditmainpic/onpage.jpg" title="onpage SEO, Bild von Noémi Macavei-Katócz" alt="Onpage SEO Optimierung" class="imageAudit" />
    <div class="services">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a class="bold"> ONPAGE </a>
        </div>
        <div class="infoTitle">
            <h1 class="h1services">Onpage SEO Optimierung</h1>
        </div>
        <div>
            <div class="marginright">
                <div class="black sideLinks">
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "kwrechercheURL"}}}">
                        {{{__ "onpageHP1U"}}}
                    </a>
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "landingpagesURL"}}}">
                        {{{__ "onpageHP2U"}}}
                    </a>
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "internallinkingURL"}}}">
                        {{{__ "onpageHP3U"}}} {{{__ "onpageHP5U"}}}
                    </a>
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "metasURL"}}}">
                        {{{__ "onpageHP4U"}}}
                    </a>
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "contentURL"}}}">
                        {{{__ "onpageHP6U"}}}
                    </a>
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "imagesURL"}}}">
                        {{{__ "onpageHP7U"}}}
                    </a>
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "structuredURL"}}}">
                        {{{__ "onpageHP8U"}}}
                    </a>
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "duplicatecontentURL"}}}">
                        {{{__ "onpageHP9U"}}}
                    </a>
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/{{{__ "voicesearchURL"}}}">
                        {{{__ "onpageHP10U"}}}
                    </a>
                </div>
                <p class="italic">{{{__ "onpageintro"}}}</p>
                <br />
                <h2> {{{__ "hey4"}}}</h2>
                <p>
                    {{{__ "onpageintro2"}}}
                    <a href="/{{{__ "lang"}}}/keywordresearch" class="block">
                        <img title="more" class="iconsmore" src="/more.svg" alt="more" />
                    </a>
                </p>
                <br />
                <h2>{{{__ "onpageintroT3"}}}</h2>
                <p>{{{__ "onpageintro3"}}}</p>
                <br />
                <h2>{{{__ "onpageintroT4"}}}</h2>
                <p>{{{__ "onpageintro4"}}}</p> <br />
            </div>
        </div>
    </div>
</div>