<div class="main">

  <img
    src="/auditmainpic/onpage.jpg"
    title="onpage SEO, a photo by Noémi Macavei-Katócz"
    alt="Onpage SEO"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/resources"}> SEO </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a class="bold"> ONPAGE </a>
    </div>

    <div class="infoTitle">
      <h1 class="h1services">Onpage SEO Audit</h1>
    </div>
    <div>
      <div class="marginright">
        <div class="black sideLinks">
          <a
            class="block"
            href="/{{{__ "lang"}}}/onpage/keywordresearch"}
          >
            {{{__ "onpageHP1U"}}}
          </a>
          <a
            class="block"
            href="/{{{__ "lang"}}}/onpage/landingpages"}
          >
            {{{__ "onpageHP2U"}}}
          </a>
          <a
            class="block"
            href="/{{{__ "lang"}}}/onpage/internallinking"}
          >
            {{{__ "onpageHP3U"}}} {{{__ "onpageHP5U"}}}
          </a>
          <a
            class="block"
            href="/{{{__ "lang"}}}/onpage/metas"}
          >
            {{{__ "onpageHP4U"}}}
          </a>
          <a
            class="block"
            href="/{{{__ "lang"}}}/onpage/content"}
          >
            {{{__ "onpageHP6U"}}}
          </a>
          <a
            class="block"
            href="/{{{__ "lang"}}}/onpage/images"}
          >
            {{{__ "onpageHP7U"}}}
          </a>
          <a
            class="block"
            href="/{{{__ "lang"}}}/onpage/structureddata"}
          >
            {{{__ "onpageHP8U"}}}
          </a>
          <a
            class="block"
            href="/{{{__ "lang"}}}/onpage/duplicatecontent"}
          >
            {{{__ "onpageHP9U"}}}
          </a>
          <a
            class="block"
            href="/{{{__ "lang"}}}/onpage/voicesearch"}
          >
            {{{__ "onpageHP10U"}}}
          </a>
        </div>
        <p class="italic">{{{__ "onpageintro"}}}</p>
        <br />
        <h2> {{{__ "hey4"}}}</h2>
        <p>
          {{{__ "onpageintro2"}}}
          <a
            href="/{{{__ "lang"}}}/keywordresearch"}
            class="block"
          >
            <img title="more" class="iconsmore" src="/more.svg" alt="more" />
          </a>
        </p>
        <br />
        <h2>{{{__ "onpageintroT3"}}}</h2>
        <p>{{{__ "onpageintro3"}}}</p>
        <br />
        <h2>{{{__ "onpageintroT4"}}}</h2>
        <p>{{{__ "onpageintro4"}}}</p> <br />
      </div>
    </div>
  </div>
  {{>extendedfooter}}

</div>
