<div class="content single-post has-sidebar offpage-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-12-mobile is-11-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">Onpage SEO</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/seo-freelancer">{{{__ "seoexpert"}}}</a></li>
                                <li class="is-active"><a class="bold">Onpage</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="column is-12-mobile is-7-tablet is-9-desktop post">
                        <p class="reduced-top-margin">{{{__ "onpageintro"}}}</p>
                        <br>

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "onpageintroT3"}}}</h2>

                        <p>{{{__ "onpageintro3"}}}</p>


                        <p>{{{__ "onpageintro4"}}}</p>






                        <br>

                        <h2 id="keywords" class="title is-2 is-heavy reduced-top-margin">{{{__ "keywordresearch"}}}</h2>
                        <figure class="image is-fullwidth is-outlined">
                            <img alt="{{{__ "keywordresearch"}}}" src="/auditmainpic/content.jpg" />
                        </figure>
                        <p>{{{__ "keywordMP1"}}}</p>
                        <p>{{{__ "keywordMP2"}}}</p>
                        <p>{{{__ "keywordMP3"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "keywordMPT4"}}}</h2>

                        <p>
                            <a class="blue" href="/{{{__ "lang"}}}/blog/seo-glossary#searchvolume">Search Volume </a>{{{__ "keywordMP4"}}}</p>
                        {{{__ "keywordMP5"}}}
                        {{{__ "keywordMP6"}}}
                        </p>

                        <h2 class="title is-4 is-heavy">{{{__ "keywordMPT7"}}}</h2>
                        <p>
                            <a class="blue" href="/{{{__ "lang"}}}/onpage#voice">
                                {{{__ "onpageHP10"}}}
                            </a>
                            {{{__ "keywordMP7"}}}
                        </p>




                        <h2 class="title is-4 is-heavy">Keyword Tools</h2>
                        <span class="blue-dot-list">
                            <ul>
                                <li><a target="_blank" href="https://ads.google.com/intl/en_DE/home/">Adwords Keyword Planner
                                    </a></li>
                                <li><a target="_blank" href="https://search.google.com/search-console">Google's Search Console
                                    </a></li>
                                <li><a target="_blank" href="https://trends.google.de/trends/?geo=DE">Google Trends
                                    </a></li>
                                <li><a target="_blank" href="https://ahrefs.com/keywords-explorer">ahrefs Keywords Explorer
                                    </a></li>
                                <li><a target="_blank" href="https://soovle.com/">Soovle
                                    </a></li>
                                <li><a target="_blank" href="https://keywordtool.io/">keywordtool.io
                                    </a></li>
                                <li><a target="_blank" href="https://kwfinder.com/">KW Finder
                                    </a></li>
                                <li><a target="_blank" href="https://moz.com/explorer">Moz Keyword Explorer
                                    </a></li>
                                <li><a target="_blank" href="https://kwfinder.com/">KWFinder
                                    </a></li>
                            </ul>
                        </span>

                        <br><br><br>

                        <h2 id="landingpages" class="title is-2 is-heavy reduced-top-margin">{{{__ "onpageHP2"}}}</h2>


                        <p>{{{__ "landingMP1"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "landingMPT2"}}}</h2>
                        <p>{{{__ "landingMP2"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "landingMPT3"}}}</h2>
                        <p>{{{__ "landingMP3"}}} </p>
                        <h2 class="title is-4 is-heavy">{{{__ "landingMPT4"}}}</h2>
                        <p>{{{__ "landingMP4"}}} </p>
                        <h2 class="title is-4 is-heavy"><a href="/{{{__ "lang"}}}/technical">{{{__ "technicalseo"}}}</a></h2>
                        <p>{{{__ "landingMP5"}}} </p>
                        <br><br><br>

                        <h2 id="internallinking" class="title is-2 is-heavy reduced-top-margin">{{{__ "onpageHP3"}}}</h2>


                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "internalMPT1"}}}</h2>
                        <p>{{{__ "internalMP1"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "internalMPT2"}}}</h2>
                        <p>{{{__ "internalMP2"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "internalMPT4"}}}</h2>
                        <p>{{{__ "internalMP4"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "internalMPT5"}}}</h2>
                        <p>{{{__ "internalMP5"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "internalMPT3"}}}</h2>
                        <p>{{{__ "internalMP3"}}}</p><br><br><br>





                        <h2 id="metas" class="title is-2 is-heavy reduced-top-margin">Titles & meta descriptions</h2>
                        <figure class="image is-fullwidth is-outlined">
                            <img alt="metas" src="/auditmainpic/tag.jpg" />
                        </figure>
                        <h2 class="title is-4 is-heavy reduced-top-margin">Title</h2>

                        <pre>&lt;title&gt;My Unique Title&lt;/title>
                        </pre>




                        <p>{{{__ "metasMP1"}}}</p>
                        <h2 class="title is-4 is-heavy">Description</h2>
                        <pre>&lt;meta name="description" content="my unique description" />
                        </pre>

                        <p>{{{__ "metasMP2"}}}</p>

                        <h2 class="title is-4 is-heavy">Headings</h2>

                        <pre>&lt;h1&gt;my unique h1: page main topic&lt;/h1&gt;
                            &lt;h2&gt;Title part 1&lt;/h2&gt;
                            &lt;h3&gt;Subtitle 1&lt;/h3&gt;
                            &lt;h3&gt;Subtitle 2&lt;/h3&gt;

                            &lt;h2&gt;Title part 2&lt;/h2&gt;


                            &lt;h2&gt;Title part 3&lt;/h2&gt;
                            &lt;h3&gt;Subtitle 1&lt;/h3&gt;
                            &lt;h3&gt;Subtitle 2&lt;/h3&gt;
                            &lt;h3&gt;Subtitle 3&lt;/h3&gt;
                        </pre>

                        <p>{{{__ "metasMP3"}}}</p>

                        <h2 class="title is-4 is-heavy">Social Media: OpenGraph & Twitter Card</h2>
                        <pre>&lt;meta property="og:title" content="mytitle" />
                            &lt;meta property="og:url" content="myurl" />
                            &lt;meta property="og:description" content="mydescription" />
                            &lt;meta property="og:locale" content="countrycode" />
                            &lt;meta property="og:site_name" content="name" />
                            &lt;meta name="twitter:card" content="summary" />
                            &lt;meta name="twitter:site" content="@name" />
                            &lt;meta name="twitter:title" content="mytitle" />
                            &lt;meta name="twitter:description" content="mydescription" />
                            &lt;meta name="twitter:image" content="/logo.jpg" />
                            </pre>

                        <h2 class="title is-4 is-heavy">Viewport</h2>
                        <pre>&lt;meta name="viewport" content="width=device-width, initial-scale=1" />
                                </pre>

                        <h2 class="title is-4 is-heavy">{{{__ "metasMPT4"}}}</h2>
                        <p>{{{__ "metasMP4"}}}</p> <br>

                        <h2 id="content" class="title is-2 is-heavy reduced-top-margin">Content Marketing</h2>


                        <h2 class="title is-4 is-heavy">{{{__ "contentMPT1"}}}</h2>
                        <p>{{{__ "contentMP1"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "contentMPT2"}}}</h2>
                        <p>{{{__ "contentMP2"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "contentMPT3"}}}</h2>
                        <p>{{{__ "contentMP3"}}}</p>

                        <br><br> <br><br>
                        <h2 id="duplicatecontent" class="title is-2 is-heavy reduced-top-margin">{{{__ "onpageHP9"}}}</h2>


                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "duplicateMPT1"}}}</h2>
                        <p>{{{__ "duplicateMP1"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "duplicateMPT2"}}}</h2>
                        <p>{{{__ "duplicateMP2"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "duplicateMPT3"}}}</h2>
                        <p>{{{__ "duplicateMP3"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "duplicateMPT4"}}}</h2>
                        <p>{{{__ "duplicateMP4"}}}</p>
                        <br><br><br>





                        <h2 id="images" class="title is-2 is-heavy reduced-top-margin">{{{__ "onpageHP7"}}}
                        </h2>

                        <figure class="image is-fullwidth is-outlined">
                            <img alt="{{{__ "onpageHP7"}}}" src="/auditmainpic/images.jpg" />
                        </figure>


                        <p>{{{__ "imagesMP1"}}}</p>
                        <pre>&lt;img src="/image.jpg" alt="yourimagealthere" title="furtherinfohere" /></pre>

                        <p>{{{__ "imagesMP2"}}}</p>
                        <h2 class="title is-4 is-heavy">Alt attribute</h2>
                        <p><a class="blue" href="/{{{__ "lang"}}}/blog/seo-glossary#alt">Alt Attribute</a> {{{__ "imagesMP3"}}}</p>
                        <h2 class="title is-4 is-heavy">Image title</h2>
                        <p>{{{__ "imagesMP4"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "imagesMPT5"}}}</h2>
                        <p>{{{__ "imagesMP5"}}}</p>
                        <figure class="image is-fullwidth is-outlined">
                            <img src="/imagestoobig.png" alt="Lighthouse Image Audit">
                        </figure>
                        <p><a href="https://imageoptim.com/howto.html">Image Compression Tool</a></p>

                        <br><br><br>

                        <h2 id="structureddata" class="title is-2 is-heavy reduced-top-margin">{{{__ "onpageHP8"}}}</h2>


                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "structuredMPT1"}}}</h2>
                        <p>{{{__ "structuredMP1"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "structuredMPT2"}}}</h2>
                        <p>{{{__ "structuredMP2"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "structuredMPT3"}}}</h2>
                        <p>{{{__ "structuredMP3"}}}</p>

                        <pre>&lt;script type="application/ld+json">
                                        {
                                        "@context": "http://schema.org",
                                        "@type": "Organization",
                                        "url": "yoursite.com",
                                        "contactPoint": [{
                                        "@type": "ContactPoint",
                                        "telephone": "youphonenumber",
                                        "contactType": "customer support"
                                        }]
                                        }
                                        &lt;/script>

                                        &lt;script type="application/ld+json">
                                        {
                                        "@context": "https://schema.org",
                                        "@type": "BreadcrumbList",
                                        "itemListElement": [{
                                        "@type": "ListItem",
                                        "position": 1,
                                        "name": "Books",
                                        "item": "https://example.com"
                                        }, {
                                        "@type": "ListItem",
                                        "position": 2,
                                        "name": "Authors",
                                        "item": "https://example.com/2"
                                        }, {
                                        "@type": "ListItem",
                                        "position": 3,
                                        "name": "Ann Leckie",
                                        "item": "https://example.com/3"
                                        }, {
                                        "@type": "ListItem",
                                        "position": 4,
                                        "name": "Ancillary Justice",
                                        "item": "https://example.com/4"
                                        }]
                                        }
                                        &lt;/script></pre>

                        <p><a target="_blank" href="https://schema.org/">Schema.org all references</a></p>
                        <p><a target="_blank" href="https://www.google.com/webmasters/markup-helper/u/0/?hl=en">Markup Helper</a></p>
                        <p><a target="_blank" href="https://search.google.com/structured-data/testing-tool/u/0/?hl=en">Tester</a></p>



                        <br><br><br><br>



                        <h2 id="voicesearch" class="title is-2 is-heavy reduced-top-margin">{{{__ "onpageHP10"}}}</h2>
                        <figure class="image is-fullwidth is-outlined">
                            <img alt="{{{__ "onpageHP10"}}}" src="/auditmainpic/voice.jpg" />
                        </figure>
                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "voiceMPT1"}}}</h2>
                        <p>{{{__ "voiceMP1"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "voiceMPT2"}}}</h2>
                        <p>{{{__ "voiceMP2"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "voiceMPT3"}}}</h2>
                        <p>{{{__ "voiceMP3"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "voiceMPT4"}}}</h2>
                        <p><a class="blue" href="/{{{__ "lang"}}}/blog/seo-glossary#searchvolume">Search Volume</a>{{{__ "voiceMP4"}}}</p>
                        <h2 class="title is-4 is-heavy">Featured Snippets</h2>
                        <p>{{{__ "voiceMP5"}}}</p>

                    </div>


                    <div class="column is-3-desktop sidebar">
                        <ul>
                            <li>
                                <a href="#keywords">
                                    {{{__ "onpageHP1"}}}
                                </a>
                            </li>

                            <li>
                                <a href="#landingpages">
                                    {{{__ "onpageHP2"}}}
                                </a>
                            </li>

                            <li>
                                <a href="#internallinking">
                                    {{{__ "onpageHP3"}}}
                                </a>
                            </li>
                            <li>
                                <a href="#metas">
                                    {{{__ "onpageHP4"}}}
                                </a>
                            </li>
                            <li>
                                <a href="#content">
                                    {{{__ "onpageHP6"}}}
                                </a>
                            </li>
                            <li>
                                <a href="#duplicatecontent">
                                    {{{__ "onpageHP9"}}}
                                </a>
                            </li>
                            <li>
                                <a href="#images">
                                    {{{__ "onpageHP7"}}}
                                </a>
                            </li>
                            <li>
                                <a href="#structureddata">
                                    {{{__ "onpageHP8"}}}
                                </a>
                            </li>

                            <li>
                                <a href="#voicesearch">
                                    {{{__ "onpageHP10"}}}
                                </a>
                            </li>


                        </ul>
                    </div>

                </div><br><br>{{>articlesCTA}}
            </div>
        </div>
    </section>