<div class="content single-post has-sidebar offpage-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/auditmainpic/onpage.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-12-mobile is-11-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">Onpage SEO Audit</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}">{{{__ "seoexpert"}}}</a></li>
                                <li><a href="/{{{__ "lang"}}}/seo">SEO</a></li>
                                <li class="is-active"><a class="bold">Onpage</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="column is-12-mobile is-7-tablet is-7-desktop post">
                        <p class="reduced-top-margin">{{{__ "onpageintro"}}}</p>
                        <br>

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "onpageintroT3"}}}</h2>

                        <p>{{{__ "onpageintro3"}}}</p>


                        <p>{{{__ "onpageintro4"}}}</p>
                        <br>

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "hey4"}}}</h2>

                        <p>{{{__ "onpageintro2"}}} <br><a href="/{{{__ "lang"}}}/onpage/{{{__ "kwrechercheURL"}}}" class="block">{{{__ "moreAbout"}}} </a></p>
                        <br>


                        <h2 class="title is-4 is-heavy reduced-top-margin">Titles & meta descriptions</h2>

                        <p>{{{__ "metasMP1"}}}<br> <a href="/{{{__ "lang"}}}/onpage/{{{__ "metasURL"}}}" class="block">{{{__ "moreAbout"}}} </a></p>
                        <br>


                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "onpageHP7U"}}}</h2>

                        <p>{{{__ "imagesMP1"}}} <br> <a href="/{{{__ "lang"}}}/onpage/{{{__ "imagesURL"}}}" class="block">{{{__ "moreAbout"}}} </a></p>
                        <br>
                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "onpageHP3U"}}}</h2>

                        <p>{{{__ "internalMP1"}}} <br> <a href="/{{{__ "lang"}}}/onpage/{{{__ "internallinkingURL"}}}" class="block">{{{__ "moreAbout"}}} </a></p>
                        <br>
                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "onpageHP8U"}}}</h2>

                        <p>{{{__ "structuredMP1"}}} <br> <a href="/{{{__ "lang"}}}/onpage/{{{__ "structuredURL"}}}" class="block">{{{__ "moreAbout"}}} </a></p>
                        <br>

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "onpageHP9U"}}}</h2>

                        <p>{{{__ "duplicateMP1"}}} <br> <a href="/{{{__ "lang"}}}/onpage/{{{__ "duplicatecontentURL"}}}" class="block">{{{__ "moreAbout"}}} </a></p>
                        <br>

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "onpageHP10U"}}}</h2>

                        <p>{{{__ "voiceMP1"}}} <br> <a href="/{{{__ "lang"}}}/onpage/{{{__ "voicesearchURL"}}}" class="block">{{{__ "moreAbout"}}} </a></p>
                        <br>

                    </div>

                </div><br><br>{{>articlesCTA}}
            </div>
        </div>
    </section>