<div class="main">

  <img
    src="/auditmainpic/pagespeed.jpg"
    title="pagespeed, a photo by Twixes"
    alt={{{__ "technicalHP4"}}}
    width="80%"
    height="450px"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>

      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/resources"}> SEO </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/technical"}> {{{__ "technical"}}} </a>
    </div>
    <h1 class="h1services"> {{{__ "technicalHP4"}}} </h1>
    <h2>{{{__ "speedMPT1"}}}</h2>
    <p class="serviceText">{{{__ "speedMP1"}}}</p>
    <p class="serviceText">{{{__ "speedMP2"}}}</p>
    <p class="serviceText">{{{__ "speedMP3"}}}</p>
    <p class="serviceText">{{{__ "speedMP4"}}}</p>
    <h2> {{{__ "speedMPT5"}}} </h2>
    <div class="serviceText">
      {{{__ "speedMP5"}}}
      <a
        class="serviceText"
        href="https://developers.google.com/speed/pagespeed/insights/?hl=de"
      >
        Google PageSpeed Insights
      </a>
    </div>
    <h2> {{{__ "relevanttools"}}}</h2>
    <div class="serviceText">
      <footer>
        <div class="block"> Lighthouse</div>
        <p class="italic">{{{__ "speedMP6"}}}</p>
      </footer>
    </div>
    <div class="black sideLinks">
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/indexation"}
      >
        {{{__ "technicalHP1U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/crawlability"}
      >
        {{{__ "technicalHP2U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/internationalisation"}
      >
        {{{__ "technicalHP3U"}}}
      </a>
      <a class="block bold">{{{__ "technicalHP4U"}}}</a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/mobilefriendly"}
      >
        {{{__ "technicalHP5U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/dynamicrendering"}
      >
        {{{__ "technicalHP6U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/security"}
      >
        {{{__ "technicalHP7U"}}}
      </a>
    </div>
  </div>
</div>
