<div class="main">

    <img src="/auditmainpic/pagespeed.jpg" title="Bild von Twixes" alt="Seitengeschwindigkeit SEO" width="80%" height="450px" class="imageAudit" />
    <div class="services">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>

            <img class="iconsmore2" src="/arrow.png" alt="icon" />


            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="icon" />


            <a href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}"> {{{__ "hey5"}}} </a>
        </div>
        <h1 class="h1services">Seitengeschwindigkeit | Page Speed</h1>
        <h2>{{{__ "speedMPT1"}}}</h2>
        <p class="serviceText">{{{__ "speedMP1"}}}</p>
        <p class="serviceText">{{{__ "speedMP2"}}}</p>
        <p class="serviceText">{{{__ "speedMP3"}}}</p>
        <p class="serviceText">{{{__ "speedMP4"}}}</p>
        <h2> {{{__ "speedMPT5"}}} </h2>
        <div class="serviceText">
            {{{__ "speedMP5"}}}
            <a class="blue" href="https://developers.google.com/speed/pagespeed/insights/?hl=de">
                Google PageSpeed Insights von Google
            </a>
        </div>
        <h2> {{{__ "relevanttools"}}}</h2>
        <div class="serviceText">
            <footer>
                <div class="block"><a class="blue block" href="https://developers.google.com/web/tools/lighthouse/" target="_ blank">Lighthouse</a></div>
                <p class="italic">{{{__ "speedMP6"}}}</p>

                <img src="/performance.png" class="searchconsole" heigth="400px" width="600px" alt="Lighthouse Google Chrome Developers Tool">


                <a class="blue block" href="https://gtmetrix.com/" target="_ blank">GT Metrix</a>
            </footer>
        </div>
        <div class="black sideLinks">
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "indexationURL"}}}">
                {{{__ "technicalHP1U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "crawlabilityURL"}}}">
                {{{__ "technicalHP2U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "internationalisationURL"}}}">
                {{{__ "technicalHP3U"}}}
            </a>
            <a class="block bold">{{{__ "technicalHP4U"}}}</a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "mobilefriendlyURL"}}}">
                {{{__ "technicalHP5U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "dynamicrenderingURL"}}}">
                {{{__ "technicalHP6U"}}}
            </a>
            <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "securityURL"}}}">
                {{{__ "technicalHP7U"}}}
            </a>
        </div>
    </div>
</div>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "{{{__ "
            servicesL "}}}",
            "item": "https://www.seoberlino.com/{{{__ "
            lang "}}}"
        }, {
            "@type": "ListItem",
            "position": 2,
            "name": "SEO",
            "item": "https://www.seoberlino.com/{{{__ "
            lang "}}}/seo"
        }, {
            "@type": "ListItem",
            "position": 3,
            "name": "Technical",
            "item": "https://www.seoberlino.com/{{{__ "
            lang "}}}/{{{__ "
            technicalURL "}}}"
        }]
    }
</script>