<div class="content single-post has-sidebar offpage-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/auditmainpic/pagespeed.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-12-mobile is-11-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">{{{__ "technicalHP4"}}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/seo-freelancer">{{{__ "seoexpert"}}}</a></li>
                                <li><a href="">SEO</a></li>
                                <li><a href="/{{{__ "lang"}}}/technical">{{{__ "hey5"}}}</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column is-12-mobile is-7-tablet is-7-desktop post">

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "speedMPT1"}}}</h2>
                        <p>{{{__ "speedMP1"}}}</p>
                        <p>{{{__ "speedMP2"}}}</p>
                        <p>{{{__ "speedMP3"}}}</p>
                        <p>{{{__ "speedMP4"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "speedMPT5"}}} </h2>
                        <p>{{{__ "speedMP5"}}}
                            <a href=" https://developers.google.com/speed/pagespeed/insights/?hl=de"> Google PageSpeed Insights </a> </p>


                    </div>

                    <div class="column is-3-desktop sidebar">
                        <ul>
                            <li>
                                <a href="/{{{__ "lang"}}}/technical/{{{__ "indexationURL"}}}">{{{__ "technicalHP1U"}}}</a>
                            </li>
                            <li>
                                <a href="/{{{__ "lang"}}}/technical/{{{__ "crawlabilityURL"}}}">
                                    {{{__ "technicalHP2U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/technical/{{{__ "internationalisationURL"}}}">
                                    {{{__ "technicalHP3U"}}}
                                </a>
                            </li>

                            <li>
                                <a class="active" href="/{{{__ "lang"}}}/technical/{{{__ "pagespeedURL"}}}">
                                    {{{__ "technicalHP4U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/technical/{{{__ "mobilefriendlyURL"}}}">
                                    {{{__ "technicalHP5U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/technical/{{{__ "dynamicrenderingURL"}}}">
                                    {{{__ "technicalHP6U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="/{{{__ "lang"}}}/technical/{{{__ "securityURL"}}}">
                                    {{{__ "technicalHP7U"}}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments after-post">

                        <h2 class="title is-4 is-heavy">{{{__ "relevanttools"}}}</h2>

                        <p><a href="https://developers.google.com/web/tools/lighthouse/" target="_ blank">Lighthouse</a></p>

                        <p class="italic">{{{__ "speedMP6"}}}</p>


                        <figure class="image is-fullwidth is-outlined">
                            <img src="/performance.png" alt="Lighthouse Google Chrome Developers Tool">
                        </figure>

                        <p><a href="https://gtmetrix.com/" target="_ blank">GT Metrix</a></p>
                    </div>
                </div>
            </div><br><br>{{>articlesCTA}}
        </div>
    </section>
</div>