<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-12-desktop">
                    <div class="boxcolor" data-aos="fade-in"><br>
                        <h1 class="h1HP is-heavy is-white has-text-centered">SEO Packages & {{{__ "costs"}}}</h1><br>
                    </div><br>

                </div>
            </div>

            <div class="container reduced">
                <div class="column is-12-mobile is-10-tablet is-12-desktop post content">
                    <section class="services-hero hero is-large-intro has-text-centered">
                        <h2 class="title is-1 has-text-centered">AUDITS</h2><br><br>

                        <div class="columns is-centered">



                            <div class="list-block column is-8-mobile is-3-tablet is-4-desktop greybg">

                                <h3 class="title is-2 is-black is-heavy">One-Time Basic Audit</h3> <br><span class="title is-3">from €500</span>
                                <!-- <p>{{{__ "growthhacking"}}}</p>
                                <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/keyword-research">{{{__ "keywordresearch"}}}</a></p>
                                <p>Objective based on current performance and priority</p>
                                <p>Content Analysis best practices</p>
                                <p>Localised content creation</p> -->
                            </div>

                            <div class="list-block column is-8-mobile is-3-tablet is-4-desktop yellowbg">
                                <h3 class="title is-2 is-black is-heavy">One-Time Full Audit </h3> <br><span class="title is-3">
                                    from €1,500</span>
                                <!-- <p>{{{__ "intro9"}}}</p>
                                <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/keyword-research">{{{__ "keywordresearch"}}}</a></p>
                                <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo">{{{__ "onpageaudit"}}}</a></p>
                                <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/technical-seo">{{{__ "technicalseo"}}}</a></p>
                                <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/backlink-analysis">{{{__ "offpageseo"}}}</a></p>
                                <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/{{{__ "competitorURL"}}}">{{{__ "competitoranalysis"}}}</a></p> -->
                            </div>


                        </div><br><br><br><br>

                        <h2 class="title is-1 has-text-centered">MONTHLY SUPPORT</h2><br><br>

                        <div class="columns is-centered">

                            <div class="list-block column is-8-mobile is-3-tablet is-3-desktop greybg">
                                <h3 class="title is-3 is-black is-heavy">S Package </h3> <br><span class="title is-3"> €300 / mth</span>
                                <!-- <p>{{{__ "intro9"}}}</p>
                                <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/keyword-research">{{{__ "keywordresearch"}}}</a></p>
                                <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo">{{{__ "onpageaudit"}}}</a></p>
                                <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/technical-seo">{{{__ "technicalseo"}}}</a></p>
                                <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/backlink-analysis">{{{__ "offpageseo"}}}</a></p>
                                <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/{{{__ "competitorURL"}}}">{{{__ "competitoranalysis"}}}</a></p> -->
                            </div>

                            <div class="list-block column is-8-mobile is-3-tablet is-3-desktop yellowbg">

                                <h3 class="title is-3 is-black is-heavy">M Package </h3> <br><span class="title is-3"> €500 / mth</span>
                                <!-- <p>{{{__ "growthhacking"}}}</p>
                                <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/keyword-research">{{{__ "keywordresearch"}}}</a></p>
                                <p>Objective based on current performance and priority</p>
                                <p>Content Analysis best practices</p>
                                <p>Localised content creation</p> -->
                            </div>


                            <div class="list-block column is-8-mobile is-3-tablet is-3-desktop greybg">

                                <h3 class="title is-3 is-black is-heavy">L Package </h3> <br><span class="title is-3"> from €800 / mth</span>
                                <!-- <p>{{{__ "growthhacking"}}}</p>
                                <p><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/keyword-research">{{{__ "keywordresearch"}}}</a></p>
                                <p>Objective based on current performance and priority</p>
                                <p>Content Analysis best practices</p>
                                <p>Localised content creation</p> -->
                            </div>


                        </div><br><br>

                        <div class="column is-12-mobile">
                            <a class="button is-large is-link is-outlined title is-3" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">
                                {{{__ "getin"}}} </a>
                        </div><br><br><br>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section><br><br><br><br>

<section class="success-hero hero is-medium">
    <div class="columns is-centered">
        <div class="column is-6"><br><br>
            <span class="title is-3 is-black is-heavy is-centered">{{{__ "getintouch2"}}}</span>

            <div class="contact-details">
                <div class="profile-photo"></div>
                <div class="details">
                    {{!-- <h3 class="subtitle is-5 reduced-margin">T - <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a><br> --}}
                    <span class="subtitle is-5 reduced-top-margin">E - <a href="mailto:alex@seoberlino.com">alex@seoberlino.com</a></span>
                </div>
            </div>

            <div class="contact-page-form">
                {{>formcontact}}<br><br><br><br>
            </div>{{>socsharfreelancer}}
        </div><br>

    </div><br><br><br>

</section>