<div class="main">

    <img src="/auditmainpic/analysis.jpg" title="analysis, a photo by rawpixel" alt="SEO Analysis and Research" class="imageAudit" />

    <div class="services">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a class="bold"> Research </a>
        </div>

        <div class="infoTitle">
            <h1 class="h1services">{{{__ "researchMPh1"}}}</h1>
        </div>
        <div>
            <div class="marginright">
                <div class="black sideLinks">
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "localURL"}}}">
                        {{{__ "analyticsHP1U"}}}
                    </a>
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "analyticsURL"}}}">
                        {{{__ "analyticsHP2U"}}}
                    </a>
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "competitorURL"}}}">
                        {{{__ "analyticsHP3U"}}}
                    </a>
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "seaURL"}}}">
                        {{{__ "analyticsHP6U"}}}
                    </a>
                </div>
                <p>{{{__ "researchHP1"}}}</p>
                <p>{{{__ "researchHP2"}}}</p>
                <p>{{{__ "researchHP3"}}}</p>
            </div>
        </div>
    </div>
    <br><br>
</div>