<div class="main">

  <img
    src="/auditmainpic/analysis.jpg"
    title="analysis, a photo by rawpixel"
    alt="SEO Analysis and Research"
    class="imageAudit"
  />

  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/seo"}> SEO </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a class="bold"> RESEARCH </a>
    </div>

    <div class="infoTitle">
      <h1 class="h1services">{{{__ "researchMPh1"}}}</h1>
    </div>
    <div>
      <div class="marginright">
        <div class="black sideLinks">
          <a
            class="block"
            href="/{{{__ "lang"}}}/{{{__ "research"}}}/localseo"}
          >
            {{{__ "analyticsHP1U"}}}
          </a>
          <a
            class="block"
            href="/{{{__ "lang"}}}/{{{__ "research"}}}/analytics"}
          >
            {{{__ "analyticsHP2U"}}}
          </a>
          <a
            class="block"
            href="/{{{__ "lang"}}}/{{{__ "research"}}}/competitor-analysis"}
          >
            {{{__ "analyticsHP3U"}}}
          </a>
          <a
            class="block"
            href="/{{{__ "lang"}}}/{{{__ "research"}}}/sea"}
          >
            {{{__ "analyticsHP6U"}}}
          </a>
        </div>
        <p>{{{__ "researchHP1"}}}</p>
        <p>{{{__ "researchHP2"}}}</p>
        <p>{{{__ "researchHP3"}}}</p>
      </div>
    </div>  </div>
    <script type="application/ld+json">
  {
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
  "@type": "ListItem",
  "position": 1,
  "name": "{{{__ "services"}}}",
  "item": "https://www.seoberlino.com/{{{__ "lang"}}}"
  },{
  "@type": "ListItem",
  "position": 2,
  "name": "SEO",
  "item": "https://www.seoberlino.com/{{{__ "lang"}}}/seo"
  },{
  "@type": "ListItem",
  "position": 3,
  "name": "RESEARCH",
  "item": "https://www.seoberlino.com/{{{__ "lang"}}}/{{{__ "research"}}}"
  }]
  }
  </script>

    <a class="servicesHP" href="/{{{__ "lang"}}}/seo-freelancer"}>
      <button class="servicesHP">{{{__ "servicesL"}}}</button>
    </a>
    <a class="servicesHP" href="/{{{__ "lang"}}}/seo-for-small-businesses"}>
      <button class="servicesHP"> {{{__ "smallbusinesses"}}}</button>
    </a>
    <a
      class="servicesHP2"
      href="/{{{__ "lang"}}}/freeaudit"}
    >
      <button class="servicesHP2">{{{__ "preaudit"}}}</button>
    </a>
    <a
      class="servicesHP2"
      href="/{{{__ "lang"}}}/partnership"}
    >
      <button class="servicesHP2">{{{__ "sponsorship"}}}</button>
    </a>

    <br><br>

  {{>extendedfooter}}

</div>
