<div class="main">
  <Helmet>
    <meta charSet="utf-8" />
    <title>
      Research SEO & Analytics | SEO Expert Freelancer || SEO Berlino
    </title>
    <meta
      name="description"
      content="Research SEO Jobs: local SEO, Analytics, best practice, SEA"
    />
    <link
      rel="canonical"
      href="https://www.seoberlino.com/"  + "/research"}
    />
  </Helmet>
  <img
    src="/auditmainpic/analysis.jpg"
    title="analysis, a photo by rawpixel"
    alt="SEO Analysis and Research"
    class="imageAudit"
  />

  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}/resources"}> SEO </a>
      <img class="iconsmore2" src="/arrow.png" />

      <a class="bold"> RESEARCH </a>
    </div>

    <div class="infoTitle">
      <h1 class="h1services">{{{__ "researchMPh1"}}}</h1>
    </div>
    <div>
      <div class="marginright">
        <div class="black slide-in-left sideLinks">
          <a
            class="block"
            href="/{{{__ "lang"}}}/research/localseo"}
          >
            {{{__ "analyticsHP1U"}}}
          </a>
          <a
            class="block"
            href="/{{{__ "lang"}}}/research/analytics"}
          >
            {{{__ "analyticsHP2U"}}}
          </a>
          <a
            class="block"
            href="/{{{__ "lang"}}}/research/bestpractices"}
          >
            {{{__ "analyticsHP3U"}}}
          </a>
          <a
            class="block"
            href="/{{{__ "lang"}}}/research/sea"}
          >
            {{{__ "analyticsHP6U"}}}
          </a>
        </div>
        <p>{{{__ "researchHP1"}}}</p>
        <p>{{{__ "researchHP2"}}}</p>
        <p>{{{__ "researchHP3"}}}</p>
      </div>
    </div>
  </div>
</div>
