<div class="main">

  <img
    src="/auditmainpic/structured.jpg"
    title="analysis, a photo by rawpixel"
    alt="SEO Analysis and Research"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />

      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />

      <a class="bold"> SEO </a>
    </div>

    <div class="infoTitle">
      <h1 class="h1services">SEO Marketing Audit</h1>
    </div>

    <div class="marginright black">
      <div class="black sideLinks">
        <a class="block" href="/{{{__ "lang"}}}/onpage"}>
          ONPAGE
        </a>
        <a class="block" href="/{{{__ "lang"}}}/offpage"}>
          OFFPAGE
        </a>
        <a class="block" href="/{{{__ "lang"}}}/technical"}>
          {{{__ "technical"}}}
        </a>
        <a class="block" href="/{{{__ "lang"}}}/research"}>
          RESEARCH & ANALYTICS
        </a>
        <a class="block" href="/{{{__ "lang"}}}/seonews"}>
          SEONEWS
        </a>
      </div>
      <p class="italic">{{{__ "auditintro"}}}</p>

      <h2>
        <a href="/{{{__ "lang"}}}/onpage"}>Onpage SEO</a>
      </h2>


          <p>
            {{{__ "auditintro2"}}}
            <a href="/{{{__ "lang"}}}/onpage"/>
          </p>


      <div class="serviceText block">
        <a
          class="block"
          href="/{{{__ "lang"}}}/onpage/keywordresearch"}
        >
          {{{__ "onpageHP1U"}}}
        </a>
        <a
          class="block"
          href="/{{{__ "lang"}}}/onpage/landingpages"}
        >
          {{{__ "onpageHP2U"}}}
        </a>
        <a
          class="block"
          href="/{{{__ "lang"}}}/onpage/internallinking"}
        >
          {{{__ "onpageHP3U"}}} {{{__ "onpageHP5U"}}}
        </a>
        <a
          class="block"
          href="/{{{__ "lang"}}}/onpage/metas"}
        >
          {{{__ "onpageHP4U"}}}
        </a>
        <a
          class="block"
          href="/{{{__ "lang"}}}/onpage/content"}
        >
          {{{__ "onpageHP6U"}}}
        </a>
        <a
          class="block"
          href="/{{{__ "lang"}}}/onpage/images"}
        >
          {{{__ "onpageHP7U"}}}
        </a>
        <a
          class="block"
          href="/{{{__ "lang"}}}/onpage/structureddata"}
        >
          {{{__ "onpageHP8U"}}}
        </a>
        <a
          class="block"
          href="/{{{__ "lang"}}}/onpage/duplicatecontent"}
        >
          {{{__ "onpageHP9U"}}}
        </a>
        <a
          class="block"
          href="/{{{__ "lang"}}}/onpage/voicesearch"}
        >
          {{{__ "onpageHP10U"}}}
        </a>
      </div>
      <br />



    </div>


      <h2>
        <a href="/{{{__ "lang"}}}/technical"}>{{{__ "hey5"}}}</a>
      </h2>
      <p>
        {{{__ "auditintro3"}}}
        <a href="/{{{__ "lang"}}}/technical" />
      </p>

<div class="serviceText block">
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/indexation"}
      >
        {{{__ "technicalHP1U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/crawlability"}
      >
        {{{__ "technicalHP2U"}}}
      </a>
      <a
        class="block"
        href=
          "/{{{__ "lang"}}}/technical/internationalisation"

      >
        {{{__ "technicalHP3U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/pagespeed"}
      >
        {{{__ "technicalHP4U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/mobilefriendly"}
      >
        {{{__ "technicalHP5U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/dynamicrendering"}
      >
        {{{__ "technicalHP6U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/technical/security"}
      >
        {{{__ "technicalHP7U"}}}
      </a>
    </div>

      <h2>
        <a href="/{{{__ "lang"}}}/offpage">Offpage SEO</a>
      </h2>
      <p>
        {{{__ "auditintro4"}}}
        <a href="/{{{__ "lang"}}}/offpage"/>
      </p>

      <div class="serviceText block">

      <a
        class="block"
        href="/{{{__ "lang"}}}/offpage/backlinkanalysis"}
      >
        {{{__ "offpageHP1U"}}}, {{{__ ""}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/offpage/brandbuilding"}
      >
        {{{__ "offpageHP3U"}}}, {{{__ "offpageHP4U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/offpage/toxic"}
      >
        {{{__ "offpageHP5U"}}}
      </a>
    </div>

      <h2>
        <a href="/{{{__ "lang"}}}/research"}>
          {{{__ "hey7"}}}, Analytics, SEA & {{{__ "analyticsHP1"}}}
        </a>
      </h2>
      <p>
        {{{__ "auditintro5"}}}
        <a href="/{{{__ "lang"}}}/research"} class="block" />
      </p>
      <div class="serviceText block">
        <a
          class="block"
          href="/{{{__ "lang"}}}/research/localseo"}
        >
          {{{__ "analyticsHP1U"}}}
        </a>
        <a
          class="block"
          href="/{{{__ "lang"}}}/research/analytics"}
        >
          {{{__ "analyticsHP2U"}}}
        </a>
        <a
          class="block"
          href="/{{{__ "lang"}}}/research/competitor-analysis"}
        >
          {{{__ "analyticsHP3U"}}}
        </a>
        <a
          class="block"
          href="/{{{__ "lang"}}}/research/sea"}
        >
          {{{__ "analyticsHP6U"}}}
        </a>
      </div>
    </div>
  </div>

</div>
