<div class="main">


    <div class="services2">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />


            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/lexical"> Lexicon </a>



        </div>
        <h1 class="h1services">Robots.txt & SEO</h1>
        <h2>{{{__ "definition"}}}</h2>
        <div class="serviceText">
            {{{__ "robotsMP"}}}
        </div>

        <h2>{{{__ "example"}}}</h2>
        <div class="serviceText">

            <span> Block one folder
                <xmp>
                    User-agent: *
                    Disallow: /folder/

                </xmp>


                <span> Block one file
                    <xmp>
                        User-agent: *
                        Disallow: /file.html

                    </xmp>

                    <span> Block all
                        <xmp>
                            User-agent: *
                            Disallow: /

                        </xmp>

                        <span> Allow all
                            <xmp>
                                User-agent: *
                                Disallow:

                            </xmp>


                            <span> User agents: google
                                <xmp>
                                    User-agent: Googlebot

                                </xmp>
        </div>
        <h2> </h2>
        <div class="serviceText"></div>
        <h2> </h2>
        <div class="serviceText"></div>
    </div>
</div>
{{>extendedlexical}}