<div class="main">
  <img
    src="/auditmainpic/java.jpg"
 n n nnnn     alt="SEA"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />
      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />
      <a href="/{{{__ "lang"}}}/seo"> SEO </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />
      <a href="/{{{__ "lang"}}}/research"> RESEARCH </a>
    </div>
    <h1 class="h1services"> SEA, Search Engine Advertising</h1>
    <h2> {{{__ "seaMPT1"}}} </h2>
    <div class="serviceText">{{{__ "seaMP1"}}}</div>
    <h2> {{{__ "seaMPT2"}}}</h2>
    <div class="serviceText">{{{__ "seaMP2"}}}</div>
    <h2> {{{__ "seaMPT3"}}}</h2>
    <div class="serviceText">{{{__ "seaMP3"}}}</div>
    <h2> {{{__ "seaMPT4"}}}</h2>
    <div class="serviceText">{{{__ "seaMP4"}}}</div>
    <h2> {{{__ "seaMPT5"}}}</h2>
    <div class="serviceText">{{{__ "seaMP5"}}}</div>
    <h2> {{{__ "relevanttools"}}}</h2>
    <div class="serviceText">
      <a href="https://ads.google.com/home/" target="_blank">
        Google Ads
      </a>
    </div>
    <div class="black sideLinks">
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "localURL"}}}"
      >
        {{{__ "analyticsHP1U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "analyticsURL"}}}"
      >
        {{{__ "analyticsHP2U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "competitorURL"}}}"
      >
        {{{__ "analyticsHP3U"}}}
      </a>
      <a class="block bold">{{{__ "analyticsHP6U"}}}</a>
    </div>
  </div>
  <script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "BreadcrumbList",
"itemListElement": [{
"@type": "ListItem",
"position": 1,
"name": "{{{__ "servicesL"}}}",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}"
},{
"@type": "ListItem",
"position": 2,
"name": "SEO",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}/seo"
},{
"@type": "ListItem",
"position": 3,
"name": "Research",
"item": "https://www.seoberlino.com/{{{__ "lang"}}}/research"
}]
}
</script>
</div>
