<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-12-desktop">
                    <div class="boxcolor" data-aos="fade-in"><br>
                        <h1 class="h1HP is-heavy is-white has-text-centered">{{{__ "searchengines"}}} 10 Alternatives to Google</h1><br>
                    </div><br>

                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}">SEO</a></li>
                        </ul>
                    </nav><br>

                </div>
            </div>
            <div class="column is-12-mobile is-10-tablet is-8-desktop post content">

                <p>über Google</p>

                <h2 class="title is-2 is-heavy">5 In Germany</h2>
                <h3 class="title is-3"> Ecosia</h3>

                <h3 class="title is-3"> DuckDuckGo</h3>

                <h3 class="title is-3"> Bing</h3>


                <h3 class="title is-3"> Yahoo</h3>

                <h3 class="title is-3"> Ask</h3>

                <br>
                <h2 class="title is-2 is-heavy">5 Outside Germany</h2>
                <h3 class="title is-3"> Baidu</h3>

                <h3 class="title is-3"> Soso</h3>
                <h3 class="title is-3"> Sogou</h3>
                <h3 class="title is-3"> Youdao</h3>
                <h3 class="title is-3"> Yandex</h3>



</section>
<!-- Testimonials Block-->

<section class="success-hero hero is-medium">
    <div class="columns is-centered">
        <div class="column is-6"><br><br>
            <span class="title is-3 is-black is-heavy is-centered">{{{__ "getintouch2"}}}</span>

            <div class="contact-details">
                <div class="profile-photo"></div>
                <div class="details">
                    {{!-- <h3 class="subtitle is-5 reduced-margin">T - <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a><br> --}}
                    <span class="subtitle is-5 reduced-top-margin">E - <a href="mailto:alex@seoberlino.com">alex@seoberlino.com</a></span>
                </div>
            </div>

            <div class="contact-page-form">
                {{>formcontact}}<br><br><br><br>
            </div>{{>socsharfreelancer}}
        </div><br>

    </div><br><br>
    <br>
    <br><br>

</section>
</div>