<div class="content single-post lexicon lexicon-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/auditmainpic/competitor.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-12-mobile is-10-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">Search Volume & SEO</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Lexicon Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}">{{{__ "seoexpert"}}}</a></li>
                                <li><a href="/{{{__ "lang"}}}/seo">SEO</a></li>
                                <li><a href="/{{{__ "lang"}}}/lexical">Lexicon</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-10-desktop post">
                        <h2 class="title is-heavy is-4 reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>{{{__ "searchvolumeMP"}}}</p>

                    </div>
                </div><br><br>{{>articlesCTA}}
            </div>
    </section>