<div class="content consultancy-en">

    <!-- Intro Audit Block-->
    <section class="consultancy-hero hero is-large-intro wave-bottom-offwhite">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <h1 class="title is-2 is-heavy has-text-centered">{{{__ "SEOResources"}}}</h1>

                <div class="columns is-centered">
                    <div class="column is-12 has-text-centered">
                        <h2 class="title is-4"></h2>
                    </div>
                </div>

            </div>
        </div>
    </section>



    <!-- Full SEO Block -->
    <section class="seo-hero off-white hero is-medium">
        <div class="hero-body remove-padding">

            <!-- Onpage SEO Block -->
            <div class="container reduced margin-boost-large">
                <h2 class="title is-3 is-heavy has-text-centered"><a href="/{{{__ "lang"}}}/onpage">Onpage SEO</a></h2>

                <div class="columns is-centered is-multiline pill-list">
                    <div class="column is-12">
                        <p>
                            {{{__ "auditintro2"}}}
                        </p>
                    </div>

                    <div class=" columns is-centered has-text-centered is-multiline pill-list">


                        <div class="column is-3">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/onpage#keywords">{{{__ "onpageHP1U"}}}</a></h3>
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/onpage#landingpages">{{{__ "onpageHP2U"}}}</a></h3>
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/onpage#internallinking">{{{__ "onpageHP3U"}}} {{{__ "onpageHP5U"}}}</a></p>
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/onpage#metas">{{{__ "onpageHP4U"}}}</a></p>
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/onpage#content">{{{__ "onpageHP6U"}}}</a></h3>
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/onpage#images">{{{__ "onpageHP7U"}}}</a></h3>
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/onpage#structureddata">{{{__ "onpageHP8U"}}}</a></h3>
                            </div>
                        </div>


                        <div class="column is-3">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/onpage#duplicatecontent">{{{__ "onpageHP9U"}}}</a></h3>
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/onpage#voice">{{{__ "onpageHP10U"}}}</a></h3>
                            </div>
                        </div>
                    </div>

                </div><br><br><br>

                <!-- Technical SEO Block -->
                <div class="container reduced margin-boost-large">
                    <h2 class="title is-3 is-heavy has-text-centered"><a href="/{{{__ "lang"}}}/technical">{{{__ "hey5"}}}</a></h2>

                    <div class="columns is-centered is-multiline pill-list">
                        <div class="column is-12">
                            <p>
                                {{{__ "auditintro3"}}}
                            </p>
                        </div>
                    </div>

                    <div class="columns is-centered has-text-centered is-multiline pill-list">
                        <div class="column is-3">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/technical#indexation">{{{__ "technicalHP1U"}}}</a></h3>
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/technical#crawling">{{{__ "technicalHP2U"}}}</a></h3>
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/technical#internationalisation">{{{__ "technicalHP3U"}}}</a></p>
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/technical#pagespeed">{{{__ "technicalHP4U"}}}</a></a></h3>
                            </div>
                        </div>

                        <div class="column is-auto">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/technical/{{{__ "mobilefriendlyURL"}}}">{{{__ "technicalHP5U"}}}</a></h3>
                            </div>
                        </div>

                        <div class="column is-auto">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/technical#javascript">{{{__ "technicalHP6U"}}}</a></h3>
                            </div>
                        </div>

                        <div class="column is-auto">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/technical#https">{{{__ "technicalHP7U"}}}</a></h3>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- Offpage SEO Block -->
                <div class="container reduced margin-boost-large">
                    <h2 class="title is-3 is-heavy has-text-centered"><a href="/{{{__ "lang"}}}/offpage">Offpage SEO</a></h2>

                    <div class="columns is-centered is-multiline pill-list">
                        <div class="column is-12">
                            <p>
                                {{{__ "auditintro4"}}}
                            </p>
                        </div>
                    </div>

                    <div class="columns is-centered has-text-centered is-multiline pill-list">

                        <div class="column is-auto">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/offpage#intro">{{{__ "offpageHP1U"}}}, {{{__ ""}}}</a></h3>
                            </div>
                        </div>

                        <div class="column is-auto">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/offpage#brandbuilding">{{{__ "offpageHP3U"}}}, {{{__ "offpageHP4U"}}}</a></h3>
                            </div>
                        </div>

                        <div class="column is-auto">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/offpage#backlinksanalysis">{{{__ "offpageHP5U"}}}</a></p>
                            </div>
                        </div>

                        <div class="column is-auto">
                            <div class="pill">
                                <h3 class="subtitle is-6 is-heavy"><a href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "localURL"}}}">{{{__ "analyticsHP1U"}}}</a></h3>
                            </div>

                        </div>

                    </div>
                </div>

                {{!-- <!-- Analysis SEO Block -->
                <div class="container reduced margin-boost">





                </div> --}}

            </div>
    </section>

    <!-- Recent Clients Block-->
    <section class="clients-hero red-gradient hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h2 class="title is-3 is-white is-heavy boost-margin"><a href="/en/seo-berlin">{{{__ "maintxtcasestudies"}}}</a></h2>
                {{>casestudies}}
            </div>
        </div>
    </section>

    <section class="clients-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered">
                <h2 class="title is-3 is-black is-heavy boost-margin"><a href="/en/lexical">SEO Lexicon</a></h2>
                <div class="is-centered" {{>extendedlexical}}</div> </div> </div> </section> </div>