<div class="content consultancy-en">

<!-- Intro Audit Block-->
<section class="consultancy-hero hero is-large-intro wave-bottom-offwhite">
  <div class="hero-body remove-padding">
    <div class="container reduced">
      <h2 class="title is-2 is-heavy has-text-centered">SEO Berlin: Optimization & Analysis</h2>

      <div class="columns is-centered">
        <div class="column is-12 has-text-centered">
          <h2 class="title is-4">{{{__ "auditintro"}}}</h2>
          <p>{{{__ "auditintro-extra"}}}</p>
        </div>
      </div>

    </div>
  </div>
</section>



<!-- Full SEO Block -->
<section class="seo-hero off-white hero is-medium">
  <div class="hero-body remove-padding">

    <!-- Onpage SEO Block -->
    <div class="container reduced margin-boost-large">
      <h2 class="title is-3 is-heavy has-text-centered"><a href="/en/{{{__ "onpage"}}}">Onpage SEO</a></h2>

      <div class="columns is-centered is-multiline pill-list">
        <div class="column is-12">
          <p>
            {{{__ "auditintro2"}}}
          </p>
        </div>
      </div>

      <div class="columns is-centered has-text-centered is-multiline pill-list">

        <div class="column is-3">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "onpage"}}}/{{{__ "kwrechercheURL"}}}">{{{__ "onpageHP1U"}}}</a></h4>
          </div>
        </div>

        <div class="column is-3">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "onpage"}}}/{{{__ "landingpagesURL"}}}">{{{__ "onpageHP2U"}}}</a></h4>
          </div>
        </div>

        <div class="column is-3">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "onpage"}}}/{{{__ "internallinkingURL"}}}">{{{__ "onpageHP3U"}}} {{{__ "onpageHP5U"}}}</a></p>
          </div>
        </div>

        <div class="column is-3">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/research"><a href="/en/{{{__ "onpage"}}}/{{{__ "contentURL"}}}">{{{__ "onpageHP6U"}}}</a></a></h4>
          </div>
        </div>

        <div class="column is-3">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "onpage"}}}/{{{__ "imagesURL"}}}">{{{__ "onpageHP7U"}}}</a></h4>
          </div>
        </div>

        <div class="column is-3">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "onpage"}}}/{{{__ "structuredURL"}}}">{{{__ "onpageHP8U"}}}</a></h4>
          </div>
        </div>


        <div class="column is-3">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "onpage"}}}/{{{__ "duplicatecontentURL"}}}">{{{__ "onpageHP9U"}}}</a></h4>
          </div>
        </div>

        <div class="column is-3">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "onpage"}}}/{{{__ "voicesearchURL"}}}">{{{__ "onpageHP10U"}}}</a></h4>
          </div>
        </div>
      </div>

    </div>

    <!-- Technical SEO Block -->
    <div class="container reduced margin-boost-large">
      <h2 class="title is-3 is-heavy has-text-centered"><a href="/en/{{{__ "technicalURL"}}}">{{{__ "hey5"}}}</a></h2>

      <div class="columns is-centered is-multiline pill-list">
        <div class="column is-12">
          <p>
            {{{__ "auditintro3"}}}
          </p>
        </div>
      </div>

      <div class="columns is-centered has-text-centered is-multiline pill-list">
        <div class="column is-3">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "technicalURL"}}}/{{{__ "indexationURL"}}}">{{{__ "technicalHP1U"}}}</a></h4>
          </div>
        </div>

        <div class="column is-3">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "technicalURL"}}}/{{{__ "crawlabilityURL"}}}">{{{__ "technicalHP2U"}}}</a></h4>
          </div>
        </div>

        <div class="column is-3">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "technicalURL"}}}/{{{__ "internationalisationURL"}}}">{{{__ "technicalHP3U"}}}</a></p>
          </div>
        </div>

        <div class="column is-3">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "technicalURL"}}}/{{{__ "pagespeedURL"}}}">{{{__ "technicalHP4U"}}}</a></a></h4>
          </div>
        </div>

        <div class="column is-auto">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "technicalURL"}}}/{{{__ "mobilefriendlyURL"}}}">{{{__ "technicalHP5U"}}}</a></h4>
          </div>
        </div>

        <div class="column is-auto">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "technicalURL"}}}/{{{__ "dynamicrenderingURL"}}}">{{{__ "technicalHP6U"}}}</a></h4>
          </div>
        </div>

        <div class="column is-auto">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "technicalURL"}}}/{{{__ "securityURL"}}}">{{{__ "technicalHP7U"}}}</a></h4>
          </div>
        </div>

      </div>

    </div>

    <!-- Offpage SEO Block -->
    <div class="container reduced margin-boost-large">
      <h2 class="title is-3 is-heavy has-text-centered"><a href="/en/{{{__ "offpage"}}}">Offpage SEO</a></h2>

      <div class="columns is-centered is-multiline pill-list">
        <div class="column is-12">
          <p>
            {{{__ "auditintro4"}}}
          </p>
        </div>
      </div>

      <div class="columns is-centered has-text-centered is-multiline pill-list">

        <div class="column is-auto">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "offpage"}}}/{{{__ "backlinkURL"}}}">{{{__ "offpageHP1U"}}}, {{{__ ""}}}</a></h4>
          </div>
        </div>

        <div class="column is-auto">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "offpage"}}}/{{{__ "brandbuildingURL"}}}">{{{__ "offpageHP3U"}}}, {{{__ "offpageHP4U"}}}</a></h4>
          </div>
        </div>

        <div class="column is-auto">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "offpage"}}}/{{{__ "linksURL"}}}">{{{__ "offpageHP5U"}}}</a></p>
          </div>
        </div>

      </div>
    </div>

    <!-- Analysis SEO Block -->
    <div class="container reduced margin-boost">
      <h2 class="title is-3 is-heavy has-text-centered"><a href="/en/research">{{{__ "hey7"}}}, Analytics, SEA & {{{__ "analyticsHP1"}}}</a></h2>

      <div class="columns is-centered is-multiline pill-list">
        <div class="column is-12">
          <p>
            {{{__ "auditintro5"}}}
          </p>
        </div>
      </div>

      <div class="columns is-centered has-text-centered is-multiline pill-list">
        <div class="column is-3">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "research"}}}/{{{__ "localURL"}}}">{{{__ "analyticsHP1U"}}}</a></h4>
          </div>
        </div>

        <div class="column is-3">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "research"}}}/{{{__ "analyticsURL"}}}">{{{__ "analyticsHP2U"}}}</a></h4>
          </div>
        </div>

        <div class="column is-3">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "research"}}}/{{{__ "competitorURL"}}}">{{{__ "analyticsHP3U"}}}</a></h4>
          </div>
        </div>

        <div class="column is-3">
          <div class="pill">
            <h4 class="subtitle is-6 is-heavy"><a href="/en/{{{__ "research"}}}/{{{__ "seaURL"}}}">{{{__ "analyticsHP6U"}}}</a></p>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>

<!-- Recent Clients Block-->
<section class="clients-hero red-gradient hero is-medium">
  <div class="hero-body remove-padding">
    <div class="container reduced has-text-centered">
        <h2 class="title is-3 is-white is-heavy boost-margin"><a href="/en/casestudy">{{{__ "maintxtcasestudies"}}}</a></h2>
        {{>casestudies}}
    </div>
  </div>
</section>
