<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-12-desktop">
                    <div class="boxcolor" data-aos="fade-in"><br>
                        <h1 class="h1HP is-heavy is-white has-text-centered">Top 30 SEO Tools {{{__ "for"}}} SEO Check</h1><br>
                    </div><br>



                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><a target="_blank" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                            <li><a target="_blank" href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}">SEO</a></li>
                        </ul><br>
                    </nav><br>

                    <img src="/seo-images/indexation.jpg" />


                </div>
            </div>
            <div class="column is-11-mobile is-9-tablet is-12-desktop content post">


                <span class="subtitle is-4 is-italic">List is excluding the obvious <a href="https://search.google.com/search-console/about">Search Console</a> and <a href="https://analytics.google.com/">Google Analytics</a>.</span>

                <br><br><br><br>

                <h3 class="title is-2"> Performance</h3>
                <ul>

                    <li><a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?hl=de">PageSpeed Insights</a></li>

                    <li><a target="_blank" href="https://www.cloudflare.com/">Free CDN</a></li>
                    <li><a target="_blank" href="https://gtmetrix.com/">Loading Time Tester</a></li>
                    <li><a target="_blank" href="https://wordpress.org/plugins/wp-smushit/">WordPress Plug-in</a></li>
                    <li><a target="_blank" href="https://chrome.google.com/webstore/detail/view-rendered-source/ejgngohbdedoabanmclafpkoogegdpob/">Javascript Rendering Issues</a></li>
                </ul><br><br><br>

                <h3 class="title is-2"> Keywords / onpage</h3>
                <ul>
                    <li><a target="_blank" href="https://ads.google.com/intl/en_sg/home/tools/keyword-planner/">Keyword Planner</a></li>
                    <li><a target="_blank" href="https://chrome.google.com/webstore/detail/keyword-surfer/bafijghppfhdpldihckdcadbcobikaca?hl=en">KW Surfers</a></li>
                    <li><a target="_blank" href="https://alsoasked.com/">Questions</a></li>
                    <li><a target="_blank" href="https://www.highervisibility.com/free-seo-tools/keyworddit/">Reddit</a></li>
                    <li><a target="_blank" href="https://trends.google.com/trends/">Google Trends</a></li>
                    <li><a target="_blank" href="https://keyword-hero.com/">"Not provided" solver in Analytics</a></li>
                    <li><a target="_blank" href="https://answerthepublic.com/">Google Suggestions</a></li>
                    <li><a target="_blank" href="https://kwfinder.com/">KW Finder</a></li>
                    <li><a target="_blank" href="https://neilpatel.com/ubersuggest/">Ubersuggest</a></li>
                    <li><a target="_blank" href="https://chrome.google.com/webstore/detail/keywords-everywhere-keywo/hbapdpeemoojbophdfndmlgdhppljgmp?hl=en">Keywords Everywhere</a></li>






                </ul><br><br><br>





                <h3 class="title is-2"> Technical</h3>

                <ul>
                    <li><a target="_blank" href="https://www.screamingfrog.co.uk/">Screaming Frog</a></li>
                    <img src="/images/screamingfrog.png" />

                    <li><a target="_blank" href="https://search.google.com/test/rich-results">Google Rich Results Test</a></li>
                    <li><a target="_blank" href="https://technicalseo.com/tools/schema-markup-generator">Schema Mark up Generator</a></li>
                    <li><a target="_blank" href="https://search.google.com/test/mobile-friendly">Mobile Friendly Test</a></li>
                    <li><a target="_blank" href="https://en.ryte.com/free-tools/robots-txt-generator/">Robots txt Generator</a></li>
                    <li><a target="_blank" href="https://headmasterseo.com/">Status Code Checker</a></li>
                    <li><a target="_blank" href="https://www.aleydasolis.com/english/international-seo-tools/hreflang-tags-generator/">Hreflang Tag Generator</a></li>
                    <li><a target="_blank" href="http://www.siteliner.com/">Duplicate Content and Broken Links Finder</a></li>


                </ul><br><br><br>




                <h3 class="title is-2"> Link Building & Analysis</h3>


                <ul>
                    <li><a target="_blank" href="https://www.aleydasolis.com/english/international-seo-tools/hreflang-tags-generator/">Hreflang Tag Generator</a></li>

                    <li><a target="_blank" href="https://www.google.com/alerts">Google Alerts</a></li>
                    <li><a target="_blank" href="https://chrome.google.com/webstore/detail/scraper/mbigbapnjcgaffohmbkdlecaccepngjd?hl=en">Scraper</a></li>
                    <li><a target="_blank" href="https://majestic.com/reports/site-explorer">Majestic SEO</a></li> <img src="/images/majesticseologo.jpg" />

                    <li><a target="_blank" href="https://moz.com/link-explorer">Moz Link Explorer</a></li>

                </ul><br><br><br>


                <h3 class="title is-2"> SERPs</h3>

                <ul>
                    <li><a target="_blank" href="https://algoroo.com/">Google Algorithm Updates</a>, also on <a href="https://moz.com/google-algorithm-change">Moz</a></li>
                    <li><a target="_blank" href="https://mobilemoxie.com/tools/mobile-serp-test/">Mobile SERPs tester</a></li>
                    <li><a target="_blank" href="https://www.brightlocal.com/local-search-results-checker/">Local Search Tester</a></li>
                    <li><a target="_blank" href="https://serpsim.com/">SERPS Tester</a></li>
                </ul><br><br><br>

                <h3 class="title is-2"> Alrounders</h3>
                <ul>
                    <li><a target="_blank" href="https://www.semrush.com/">SEM Rush</a></li>
                    <img src="/images/semrush.png" />
                    <li><a target="_blank" href="https://ahrefs.com/backlink-checker">Ahrefs</a></li>

                    <li><a target="_blank" href="https://pagerangers.com/">PageRangers</a></li>


                </ul>
            </div>
        </div><br><br><br><br>
        <div class="is-10-mobile hero-body is-6-desktop has-text-left vertical-aligner">
            <a class="button is-large is-link is-outlined is-medium" href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">{{{__ "getin"}}}</a>
        </div>
    </div>
</section>

<section class="success-hero hero is-medium">
    <div class="columns is-centered">
        <div class="column is-6"><br><br>
            <h4 class="title is-3 is-black is-heavy is-centered">{{{__ "getintouch2"}}}</h4>

            <div class="contact-details">
                <div class="profile-photo"></div>
                <div class="details">
                    <span class="subtitle is-5 reduced-top-margin">Alex Bieth, {{{__ "owner"}}}</span><br>
                    {{!-- <h3 class="subtitle is-5 reduced-margin">T - <a itemprop="telephone" href="tel: +49 015787011932">015787011932</a><br> --}}
                    <span class="subtitle is-5 reduced-top-margin">E - <a href="mailto:alex@seoberlino.com">alex@seoberlino.com</a></span>

                </div>
            </div>



            <div class="contact-page-form">
                {{>formcontact}}<br><br><br><br>
            </div>{{>socsharfreelancer}}<br>
            <br><br><br><br>
        </div>
    </div>
</section>