<div class="main">
    <img src="/report.jpg" title="onpage SEO, a photo by Noémi Macavei-Katócz" alt="SEO Services" class="imageAudit" />


    <div class="services4">
        <div class="infoTitle">
            <br />
            <br />
            <h1 class="h1services2">{{{__ "smallbusinesses"}}}</h1>
        </div> <br />
        <br />

        <div class="auditdiv">



            <h2>Audit (10-15 {{{__ "hours"}}})</h2>
            <p class="border"> {{{__ "execsumm"}}}</p>

            <p class="border"> <a href="/{{{__ "lang"}}}/onpage#keywordresearch"> Main {{{__ "onpageHP1"}}}</a></p>

            <p class="border"> <a href="/{{{__ "lang"}}}/onpage">
                    Onpage Website Crawl: {{{__ "listmain"}}}
                </a></p>
            <p class="border"><a href="/{{{__ "lang"}}}/offpage#intro">
                    Backlink Audit
                </a></p>



            <p class="border">
                <a class="bold black" href="/{{{__ "lang"}}}/technical">{{{__ "hey5"}}}</a>: {{{__ "technicalHP4"}}} & {{{__ "technicalHP5"}}} &
                crawling</a>
            </p>

            <p class="border"> <a class="bold black" href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "competitorURL"}}}"> {{{__ "bestpractMPH1"}}} </a></p>

            <p class="border">{{{__ "followup"}}}</p>




            <a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">
                <div class="servicesHP center">{{{__ "servicesL"}}}</div>
            </a> <br>
            <a href="/{{{__ "lang"}}}/contact">
                <div class="servicesHP center">{{{__ "about"}}}</div>
            </a><br>


        </div>


        <br><br>
        <div class="projectsdiv">
            <h2>Projects</h2>


            <p class="border"><a href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "localURL"}}}">Local SEO</a></p>

            <p class="border"><a href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "seaURL"}}}">

                    SEA</a></p>


            <p class="border">Growth Hacking
            </p>

            <p class="border">
                <a href="/{{{__ "lang"}}}/{{{__ "offpage"}}}/{{{__ "brandbuildingURL"}}}">
                    Brand building</p>


            <p class="border">
                <a href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "analyticsURL"}}}">
                    Analytics</a></p>



            <a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}">
                <div class="servicesHP center">{{{__ "servicesL"}}}</div>
            </a> <br>
            <a href="/{{{__ "lang"}}}/contact">
                <div class="servicesHP center">{{{__ "about"}}}</div>
            </a><br>
        </div>
        <br>
        <script type="application/ld+json">
            {

                "@context": "http://schema.org",
                "@type": "LocalBusiness",
                "additionalType": "http://www.productontology.org/id/Search_engine_optimization",
                "name": "SEO Berlin",
                "url": "https://www.seoberlino.com",
                "description": "SEO Consultant & SEO Freelancer in Berlin",
                "image": "https://www.seoberlino.com/logo.jpg",
                "email": "alex@seoberlino.com",
                "telephone": "+49 15787011932",
                "hasMap": "https://www.google.com/maps/place/SEO+%26+Analytics+Consultant+and+Freelancer/@52.4860441,13.4413452,16z/data=!4m5!3m4!1s0x0:0xc0549535ce468e56!8m2!3d52.4884039!4d13.4405561",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://www.seoberlino.com/logo.jpg",
                    "width": 600,
                    "height": 600
                },
                "address": [{
                    "@type": "PostalAddress",
                    "streetAddress": "Kiehlufer",
                    "addressLocality": "Berlin",
                    "addressRegion": "Berlin",
                    "postalCode": "12059",
                    "addressCountry": "DE"
                }],


                "openingHoursSpecification": [{
                    "@type": "OpeningHoursSpecification",
                    "dayOfWeek": [
                        "Monday",
                        "Tuesday",
                        "Wednesday",
                        "Thursday",
                        "Friday"
                    ],
                    "opens": "08:00",
                    "closes": "18:00"
                }]
            }
        </script>

        <br>


    </div>


</div>

{{>clients}}