<div class="main">
    <img
      src="/report.jpg"
      title="onpage SEO, a photo by Noémi Macavei-Katócz"
      alt="SEO Services"
      class="imageAudit"
    />



  <div class="services4">
    <div class="infoTitle">
      <br />
      <br />
      <h1 class="h1services2">{{{__ "smallbusinesses"}}}</h1>
    </div>




    <div class="intro20 marginright">
      <div class="introQuarter">

          <div class="transparent"> </div>
        <h2>Audit (10-15 {{{__ "hours"}}})</h2>
        <br><br>
        <p class="txt2 bold"> {{{__ "execsumm"}}}</p>
        <p class="txt2"> <a class="bold black" href="/{{{__ "lang"}}}/onpage/keywordresearch">{{{__ "onpageHP1"}}}</a>(Main Keywords)</p>
        <p class="txt2 bold">Onpage Website Crawl: {{{__ "listmain"}}}</p>
        <p class="txt2">  <a class="bold black" href="/{{{__ "lang"}}}/offpage/backlinkanalysis">Backlink Audit</a></p>
        <p class="txt2">
           <a class="bold black" href="/{{{__ "lang"}}}/technical"> {{{__ "hey5"}}}</a>: {{{__ "technicalHP4"}}} & {{{__ "technicalHP5"}}} &
          crawling
        </p>
        <p class="txt2">

             <a class="bold black" href="/{{{__ "lang"}}}/research/competitor-analysis">{{{__ "bestpractMPH1"}}}</a> (1 {{{__ "competitor"}}})
        </p>
        <p class="txt2">

           {{{__ "followup"}}}
        </p>

      </div>
  </div>
  <h2 class="floatright">{{{__ "otherservices"}}}</h2>

  <div class="intro20">

    <div class="introQuarter">
      <div class="transparent"> </div>
      <h2>Website Crawl (min 4 {{{__ "hours"}}} )</h2>
      <p class="txt2"> {{{__ "execsumm"}}}</p>
      <p class="txt2">Website Crawl: {{{__ "listmain"}}}</p>
      <h2>      <a class="black" href="/{{{__ "lang"}}}/offpage/backlinkanalysis">

        Backlink Audit (min 4 {{{__ "hours"}}})</a>
      </h2>
      <p class="txt2"> {{{__ "execsumm"}}}</p>
      <p class="txt2"> {{{__ "offpageHP1"}}}</p>
      <p class="txt2">
        {{{__ "hey7"}}} & Backlink Audit
      </p>
      <h2><a href="/{{{__ "lang"}}}/onpage/keywordresearch">
        {{{__ "onpageHP1"}}}</a> (min 4 {{{__ "hours"}}})
      </h2>
      <p class="txt2"> In-depth {{{__ "onpageHP1"}}}</p>
      <p class="txt2">

        {{{__ "onpageHP10"}}} ( {{{__ "voiceMPT2"}}})
      </p>
    </div>

    <div class="introQuarter">
      <div class="transparent"> </div>

      <h2>Growth Hacking</h2>
      <p class="txt2">
       Content for Expansional growth
      </p>

      <a href="/{{{__ "lang"}}}/offpage/brandbuilding">

      <h2>Brand building</h2></a>
      <p class="txt2">
      </p>
<a href="/{{{__ "lang"}}}/research/analytics">
      <h2>Analytics</h2></a>
      <p class="txt2">
      </p>



      <a href="/{{{__ "lang"}}}/research/localseo">

      <h2>Local SEO</h2></a>
      <p class="txt2">
      </p>

      <a href="/{{{__ "lang"}}}/research/sea">

      <h2>SEA</h2></a>
      <p class="txt2">
      </p>

    </div>
  </div>
<br /><br />
  <a class="servicesHP2" href="/{{{__ "lang"}}}/contact"}>
    <button class="servicesHP2">{{{__ "getintouch"}}}</button>
  </a></div>


    <br />

  {{>extendedfooter}}

</div>
<!-- main -->
