<div class="main">
 

  <div class="services2">
    <div class="infoTitle">
      <br />
      <br />
      <h1 class="h1services2">{{{__ "servicesh1"}}}</h1>
    </div>
    <div class="intro20">
      <div class="introQuarter">

        <div class="transparent"> </div>
        <h2>Express-Audit (15-20 {{{__ "hours"}}})</h2>
        <p class="txt2"> {{{__ "execsumm"}}}</p>
        <p class="txt2"> {{{__ "onpageHP1"}}}(Main Keywords)</p>
        <p class="txt2">Express Website Crawl: {{{__ "listmain"}}}</p>
        <p class="txt2">Backlink Audit</p>
        <p class="txt2">
          {{{__ "hey5"}}}: {{{__ "technicalHP4"}}} & {{{__ "technicalHP5"}}} &
          crawlability
        </p>
        <p class="txt2">

          {{{__ "bestpractMPh1"}}} (1 {{{__ "competitor"}}})
        </p>
      </div>
      <div class="introQuarter">
        <div class="transparent"> </div>

        <h2>Full Audit (30-40 {{{__ "hours"}}})</h2>
        <p class="txt2"> {{{__ "execsumm"}}}</p>

        <p class="txt2"> In-depth {{{__ "onpageHP1"}}}</p>

        <p class="txt2">
          WebSite Crawl onpage: {{{__ "listmain"}}} ({{{__ "onpageHP7"}}},
          content, {{{__ "onpageHP3"}}}, metas, {{{__ "onpageHP10"}}})
        </p>
        <p class="txt2">
          In-depth {{{__ "bestpractMPT4"}}} incl. toxic link analysis,
          {{{__ "catlinks"}}}
        </p>

        <p class="txt2">
          {{{__ "hey5"}}}: {{{__ "technicalHP1"}}} & {{{__ "technicalHP4"}}} &
          {{{__ "technicalHP5"}}} & {{{__ "technicalHP2"}}}
        </p>

        <p class="txt2">{{{__ "bestpractMPh1"}}} (min. 2)</p>
      </div>
    </div>
    <div class="intro20">
      <div class="introQuarter">
        <div class="transparent"> </div>
        <h2>Website Crawl (min 4 {{{__ "hours"}}} )</h2>
        <p class="txt2"> {{{__ "execsumm"}}}</p>
        <p class="txt2">Website Crawl: {{{__ "listmain"}}}</p>
        <h2>
          {{{__ "bestpractMPT4"}}}(min 4 {{{__ "hours"}}})
        </h2>
        <p class="txt2"> {{{__ "execsumm"}}}</p>
        <p class="txt2"> {{{__ "offpageHP1"}}}</p>
        <p class="txt2">
          {{{__ "hey7"}}} & {{{__ "bestpractMPT4"}}}
        </p>
        <h2>
          {{{__ "onpageHP1"}}} (min 4 {{{__ "hours"}}})
        </h2>
        <p class="txt2"> In-depth {{{__ "onpageHP1"}}}</p>
        <p class="txt2">

          {{{__ "onpageHP10"}}} ( {{{__ "voiceMPT2"}}})
        </p>
      </div>

      <div class="introQuarter">
        <div class="transparent"> </div>

        <h2>Ad-hoc</h2>
        <p class="txt2">
          {{{__ "onpageHP1"}}} for {{{__ "brandbuildingMPT4"}}}(incl. for
          {{{__ "onpageHP10"}}})
        </p>
        <p class="txt2">{{{__ "technicalHP3"}}} incl. href lang</p>
        <p class="txt2"> {{{__ "technicalHP2"}}}: robots, sitemaps</p>
        <p class="txt2"> Brand building/ Backlinking </p>
        <p class="txt2"> {{{__ "onpageHP8"}}}</p>
        <p class="txt2">Analytics </p>
        <p class="txt2"> {{{__ "analyticsHP1"}}}</p>

        <p class="txt2"> SEA</p>
      </div>
    </div>
    <a class="servicesHP2" href="/{{{__ "lang"}}}/contact"}>
      <button class="servicesHP2">{{{__ "getintouch"}}}</button>
    </a>
    <br /> <br /> <br />
  </div>
</div>
