<div class="main">


  <div class="services2">
    <div class="infoTitle">
      <br />
      <br />
      <h1 class="h1services2">{{{__ "smallbusinesses"}}}</h1>
    </div>




    <div class="intro20 marginright">
      <div class="introQuarter">

                        <div class="transparent"> </div>
        <h2>{{{__ "smallbusinesses"}}} (10-15 {{{__ "hours"}}})</h2>
        <p class="txt2"> {{{__ "execsumm"}}}</p>
        <p class="txt2"> {{{__ "onpageHP1"}}}(Main Keywords)</p>
        <p class="txt2">Express Website Crawl: {{{__ "listmain"}}}</p>
        <p class="txt2">Backlink Audit</p>
        <p class="txt2">
          {{{__ "hey5"}}}: {{{__ "technicalHP4"}}} & {{{__ "technicalHP5"}}} &
          crawling
        </p>
        <p class="txt2">

           {{{__ "bestpractMPH1"}}} (1 {{{__ "competitor"}}})
        </p>
        <p class="txt2">

           {{{__ "followup"}}}
        </p>

      </div>
  </div>

    <div class="intro20 marginright">
      <div class="introQuarter">
        <div class="transparent"> </div>
        <h2>Website Crawl (min 4 {{{__ "hours"}}} )</h2>
        <p class="txt2"> {{{__ "execsumm"}}}</p>
        <p class="txt2">Website Crawl: {{{__ "listmain"}}}</p>
        <h2>
          Backlink Audit(min 4 {{{__ "hours"}}})
        </h2>
        <p class="txt2"> {{{__ "execsumm"}}}</p>
        <p class="txt2"> {{{__ "offpageHP1"}}}</p>
        <p class="txt2">
          {{{__ "hey7"}}} "& Backlink Audit "
        </p>
        <h2>
          {{{__ "onpageHP1"}}} (min 4 {{{__ "hours"}}})
        </h2>
        <p class="txt2"> In-depth {{{__ "onpageHP1"}}}</p>
        <p class="txt2">

          {{{__ "onpageHP10"}}} ( {{{__ "voiceMPT2"}}})
        </p>
      </div>
      </div>

      <div class="intro20 marginright">

      <div class="introQuarter">
        <div class="transparent"> </div>

        <h2>Growth Hacking</h2>
        <p class="txt2">
         Content for Expansional growth
        </p>


        <h2>Brand building</h2>
        <p class="txt2">
        </p>

        <h2>Analytics</h2>
        <p class="txt2">
        </p>




        <h2>Local SEO</h2>
        <p class="txt2">
        </p>


        <h2>SEA</h2>
        <p class="txt2">
        </p>

      </div>
    </div>    </div>

    <a class="servicesHP2" href="/{{{__ "lang"}}}/contact"}>
      <button class="servicesHP2">{{{__ "getintouch"}}}</button>
    </a>
    <br /> <br /> <br />

  {{>extendedfooter}}

</div>
<!-- main -->
