<div class="main">

  <img
    src="/auditmainpic/structured.jpg"
    title="data, a photo by Markus Spiske"
    alt="structured data"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/seo"}> SEO </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />


      <a href="/{{{__ "lang"}}}/{{{__ "onpage"}}}"}> ONPAGE </a>
    </div>

    <h1 class="h1services"> {{{__ "onpageHP8"}}}</h1>
    <h2> {{{__ "structuredMPT1"}}}</h2>

    <div class="serviceText">{{{__ "structuredMP1"}}}</div>
    <h2> {{{__ "structuredMPT2"}}}</h2>
    <div class="serviceText">{{{__ "structuredMP2"}}}</div>
    <h2> {{{__ "structuredMPT3"}}}</h2>
    <div class="serviceText">{{{__ "structuredMP3"}}}</div>


    <xmp>

    <script type="application/ld+json">

    {

    "@context": "http://schema.org",

    "@type": "Organization",

    "url": "yoursite.com",

    "contactPoint": [{

    "@type": "ContactPoint",

    "telephone": "youphonenumber",

    "contactType": "customer support"

    }]

    }

    </script>

</xmp>




<xmp>
    <script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "BreadcrumbList",
"itemListElement": [{
"@type": "ListItem",
"position": 1,
"name": "Books",
"item": "https://example.com/books"
},{
"@type": "ListItem",
"position": 2,
"name": "Authors",
"item": "https://example.com/books/authors"
},{
"@type": "ListItem",
"position": 3,
"name": "Ann Leckie",
"item": "https://example.com/books/authors/annleckie"
},{
"@type": "ListItem",
"position": 4,
"name": "Ancillary Justice",
"item": "https://example.com/books/authors/ancillaryjustice"
}]
}
</script>


</xmp>

<a class="black block big bold" target="_blank" href="https://schema.org/">Schema.org all references</a>

<a class="black block big bold" target="_blank" href="https://www.google.com/webmasters/markup-helper/u/0/?hl=en">Markup Helper</a>

<a class="black block big bold" target="_blank" href="https://search.google.com/structured-data/testing-tool/u/0/?hl=en">Tester</a>



    <div class="black sideLinks">
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/keywordresearch"}
      >
        {{{__ "onpageHP1U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/landingpages"}
      >
        {{{__ "onpageHP2U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/internallinking"}
      >
        {{{__ "onpageHP3U"}}} {{{__ "onpageHP5U"}}}
      </a>
      <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/metas"}>
        {{{__ "onpageHP4U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/content"}
      >
        {{{__ "onpageHP6U"}}}
      </a>
      <a class="block" href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/images"}>
        {{{__ "onpageHP7U"}}}
      </a>
      <a class="block bold">{{{__ "onpageHP8U"}}}</a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/duplicatecontent"}
      >
        {{{__ "onpageHP9U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "onpage"}}}/voicesearch"}
      >
        {{{__ "onpageHP10U"}}}
      </a>
    </div>
  </div>
</div>
