<div class="main">
  <Helmet>
    <meta charSet="utf-8" />
    <title>{{{__ "onpageHP8"}}} | SEO Berlino</title>
    <meta type="description" content="" />
    <link
      rel="canonical"
      href="/{{{__ "lang"}}}/onpage/structureddata"}
    />
  </Helmet>
  <img
    src="/auditmainpic/structured.jpg"
    title="data, a photo by Markus Spiske"
    alt="structured data"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}/resources"}> SEO </a>
      <img class="iconsmore2" src="/arrow.png" />

      <a href="/{{{__ "lang"}}}/onpage"}> ONPAGE </a>
    </div>

    <h1 class="h1services"> {{{__ "onpageHP8"}}}</h1>
    <h2> {{{__ "structuredMPT1"}}}</h2>

    <div class="serviceText">{{{__ "structuredMP1"}}}</div>
    <h2> {{{__ "structuredMPT2"}}}</h2>
    <div class="serviceText">{{{__ "structuredMP2"}}}</div>
    <h2> {{{__ "structuredMPT3"}}}</h2>
    <div class="serviceText">{{{__ "structuredMP3"}}}</div>
    <div class="black slide-in-left sideLinks">
      <a
        class="block"
        href="/{{{__ "lang"}}}/onpage/keywordresearch"}
      >
        {{{__ "onpageHP1"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/onpage/landingpages"}
      >
        {{{__ "onpageHP2"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/onpage/internallinking"}
      >
        {{{__ "onpageHP3"}}} {{{__ "onpageHP5"}}}
      </a>
      <a class="block" href="/{{{__ "lang"}}}/onpage/metas"}>
        {{{__ "onpageHP4"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/onpage/content"}
      >
        {{{__ "onpageHP6"}}}
      </a>
      <a class="block" href="/{{{__ "lang"}}}/onpage/images"}>
        {{{__ "onpageHP7"}}}
      </a>
      <a class="block bold">{{{__ "onpageHP8"}}}</a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/onpage/duplicatecontent"}
      >
        {{{__ "onpageHP9"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/onpage/voicesearch"}
      >
        {{{__ "onpageHP10"}}}
      </a>
    </div>
  </div>
</div>
