<div class="content single-post has-sidebar offpage-en">
    <!-- Blog Article Photo header -->
    <div class="blog-imageheader">
        <div class="header-body remove-padding">
            <div class="bg-image" style="background-image: url('/auditmainpic/technical.jpg');"></div>
            <div class="gradient white-gradient"></div>
            <div class="title-strip">
                <div class="container reduced">
                    <div class="columns is-centered is-multiline">
                        <div class="column is-12-mobile is-11-tablet is-10-desktop">
                            <h1 class="title is-2 is-heavy is-white">{{{__ "hey5"}}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Blog Article Body -->
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-10-desktop">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/seo-freelancer">{{{__ "seoexpert"}}}</a></li>
                                <li><a href="">SEO</a></li>
                                <li class="is-active"><a class="bold">{{{__ "hey5"}}}</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="column is-12-mobile is-7-tablet is-9-desktop post">
                        <p class="italic">{{{__ "technicalintro"}}}</p> <br><br><br>

                        <p>{{{__ "technicalintro2"}}}</p>
                        <p>{{{__ "technicalintro3"}}}</p>
                        <p>{{{__ "technicalintro4"}}}</p>
                        <p>{{{__ "technicalintro5"}}}</p>
                        <p>{{{__ "technicalintro6"}}}</p>
                        <p>{{{__ "technicalintro7"}}}</p>
                        <p>{{{__ "technicalintro8"}}}</p>
                        <p>{{{__ "technicalintro9"}}}</p>

                        <br><br><br>



                        <h2 id="indexation" class="title is-1 is-heavy reduced-top-margin">{{{__ "technicalHP1U"}}}</h2>

                        <p>{{{__ "indexationMP1"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "indexationyMPT2"}}}</h2>
                        <p>{{{__ "indexationMP2"}}}</p>
                        <p>{{{__ "indexationMP22"}}}</p>

                        <h2 class="title is-4 is-heavy">
                            {{{__ "indexationMPT3"}}}
                        </h2>
                        <p>{{{__ "indexationMP3"}}}</p>

                        <h2 class="title is-4 is-heavy">
                            Check <a class="blue" href="/{{{__ "lang"}}}/onpage#metas">metas</a> {{{__ ""}}}
                        </h2>
                        <p>{{{__ "indexationMP4"}}}</p>

                        <h2 class="title is-4 is-heavy">Search Console {{{__ ""}}}</h2>
                        <figure class="image is-fullwidth is-outlined">
                            <img src="/indexation.png" class="searchconsole" heigth="400px" width="600px" alt="Search Console Indexation">
                        </figure> <br><br><br>



                        <h2 id="crawling" class="title is-1 is-heavy reduced-top-margin">{{{__ "technicalHP2U"}}}</h2>


                        <p>{{{__ "crawlabilityMPintro"}}}</p>
                        <h2 class="title is-4 is-heavy">Sitemap(s)</h2>
                        <p>{{{__ "crawlabilityMP1"}}}</p>

                        <figure class="image is-fullwidth is-outlined">
                            <img src="/sitemap.png" alt="Search Console Sitemap">
                        </figure>

                        <h2 class="title is-4 is-heavy">Robots</h2>
                        <p>{{{__ "crawlabilityMP2"}}}</p>
                        <h2 class="title is-4 is-heavy">Metas</h2>
                        <p>{{{__ "crawlabilityMP3"}}}</p>
                        <h2 class="title is-4 is-heavy">Search Console</h2>
                        <p>{{{__ "crawlabilityMP4"}}}</p>

                        <figure class="image is-fullwidth is-outlined">
                            <img src="/crawl1.png" alt="Search Console Crawling">
                        </figure>

                        <figure class="image is-fullwidth is-outlined">
                            <img src="/crawl2.png" alt="Search Console Crawlability">
                        </figure>

                        <h2 class="title is-4 is-heavy">Indexation Google Crawl Credit {{{__ ""}}}</h2>
                        <p> {{{__ "crawlabilityMP5"}}}</p>

                        <br><br><br>

                        <h2 id="internationalisation" class="title is-1 is-heavy reduced-top-margin">{{{__ "technicalHP3U"}}}</h2>


                        <p>{{{__ "internationalMP1"}}}</p>
                        <p>{{{__ "internationalMP4"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "internationalMPT2"}}}</h2>
                        <p>{{{__ "internationalMP2"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "internationalMPT3"}}}</h2>
                        <p>{{{__ "internationalMP3"}}}</p>
                        <p>{{{__ "internationalMP3"}}}</p>

                        <h2 class="title is-4 is-heavy"><a href="/{{{__ "lang"}}}/lexical#hreflang">hreflang</a></h2>

                        <pre>&lt;link rel="alternate" href="https://example.com/" hreflang="en" />
                    &lt;link rel="alternate" href="https://example.com/en-gb/" hreflang="en-gb" />
                    &lt;link rel="alternate" href="https://example.com/en-au/" hreflang="en-au" />

                    en-gb= English / Great Britain
                    en-au= English / Australia</pre>

                        <h2 class="title is-4 is-heavy">Search Console</h2>

                        <figure class="image is-fullwidth is-outlined">
                            <img src="/internat1.png" alt="Search Console Internationalisation">
                        </figure>

                        <figure class="image is-fullwidth is-outlined">
                            <img src="/internat2.png" alt="Search Console Internationalisation Language Settings">
                        </figure>

                        <p><a rel="nofollow" class="blue" target="_blank" href="https://flang.dejanseo.com.au/">Hreflang Tester</a></p>


                        <br><br><br>

                        {{!-- page speed --}}


                        <h2 id="pagespeed" class="title is-1 is-heavy reduced-top-margin">{{{__ "technicalHP4U"}}}</h2>



                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "speedMPT1"}}}</h2>
                        <p>{{{__ "speedMP1"}}}</p>
                        <p>{{{__ "speedMP2"}}}</p>
                        <p>{{{__ "speedMP3"}}}</p>
                        <p>{{{__ "speedMP4"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "speedMPT5"}}} </h2>
                        <p>{{{__ "speedMP5"}}}
                            <a href=" https://developers.google.com/speed/pagespeed/insights/?hl=de"> Google PageSpeed Insights </a> </p>

                        <h2 class="title is-4 is-heavy">{{{__ "relevanttools"}}}</h2>

                        <p><a href="https://developers.google.com/web/tools/lighthouse/" target="_ blank">Lighthouse</a></p>

                        <p class="italic">{{{__ "speedMP6"}}}</p>


                        <figure class="image is-halfwidth is-outlined">
                            <img src="/performance.png" alt="Lighthouse Google Chrome Developers Tool">
                        </figure>

                        <p><a href="https://gtmetrix.com/" target="_ blank">GT Metrix</a></p>

                        <br><br><br>

                        {{!-- page speed --}}


                        {{!-- mobilefriendly start --}}

                        <h2 id="mobilefriendly" class="title is-1 is-heavy reduced-top-margin">{{{__ "technicalHP5U"}}}</h2>


                        <a href="https://commons.wikimedia.org/wiki/File:Mobile_v_s_desktop_Internet.xlsx-1.jpg">
                            <figure class="image is-fullwidth is-outlined">
                                <img src="/mobilevsdesktop.jpg" alt="Dynamic Rendering Google">
                            </figure>
                            <small>Wikimedia Commons</small>
                        </a>

                        <h2 class="title is-4 is-heavy">{{{__ "mobileMPT1"}}}</h2>
                        <p>{{{__ "mobileMP1"}}}</p>
                        <p>
                            <a class="blue" target="_blank" href="https://search.google.com/test/mobile-friendly">
                                Google's Mobile Friendly Test
                            </a>
                        </p>

                        <h2 class="title is-4 is-heavy">{{{__ "mobileMPT2"}}}</h2>
                        <p>{{{__ "mobileMP2"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "mobileMPT3"}}}</h2>
                        <p>{{{__ "mobileMP3"}}}</p>
                        <p>{{{__ "mobileMP4"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "mobileMPT5"}}}</h2>
                        <p>{{{__ "mobileMP5"}}}</p>
                        <br><br><br>



                        {{!-- mobilefriendly start --}}



                        {{!-- java start --}}

                        <h2 id="javascript" class="title is-1 is-heavy reduced-top-margin">{{{__ "technicalHP6U"}}}</h2>

                        <img src="/images/new-react.png" heigth="80px" width="80px" alt="React logo">
                        <img src="/angular.png" heigth="80px" width="80px" alt="Angular logo">
                        <img src="/vue.png" heigth="80px" width="80px" alt="Vue logo">

                        <p>{{{__ "dynamicrenderingMP1"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "dynamicrenderingMPT2"}}}</h2>

                        <figure class="image is-fullwidth is-outlined">
                            <a href="https://developers.google.com/search/docs/guides/dynamic-rendering?hl=en"><img src="/dynamicrenderingg.png" alt="Dynamic Rendering Google"></a>
                        </figure>


                        <p>{{{__ "dynamicrenderingMP2"}}}</p>

                        <p>{{{__ "dynamicrenderingMP3"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "dynamicrenderingMPT4"}}}</h2>

                        <img src="/prerender.png" heigth="80px" width="80px" alt="Vue logo">

                        <p>{{{__ "dynamicrenderingMP4"}}}</p>
                        <br><br><br>

                        {{!-- java end --}}




                        {{!-- https start --}}
                        <h2 id="https" class="title is-1 is-heavy reduced-top-margin">{{{__ "technicalHP7U"}}}</h2>

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "securityMPT1"}}}</h2>
                        <p>{{{__ "securityMP1"}}}</p>

                        <img src="/icons/notsecure.png" alt="not secure message" width="100px" height="32px" />

                        <h2 class="title is-4 is-heavy">{{{__ "securityMPT2"}}}</h2>
                        <p>{{{__ "securityMP2"}}}</p>

                        <p>{{{__ "securityMP3"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ ""}}}</h2>
                        <h2 class="title is-4 is-heavy">{{{__ "securityMPT4"}}}</h2>
                        <p>{{{__ "securityMP4"}}}</p>

                        {{!-- https end --}}

                    </div>



                    {{!-- sidebar start--}}

                    <div class="column is-3-desktop sidebar">
                        <ul>

                            <li>


                                <a href="#indexation">{{{__ "technicalHP1U"}}}</a>
                            </li>

                            <li>
                                <a href="#crawling">
                                    {{{__ "technicalHP2U"}}}
                                </a>
                            </li>



                            <li>
                                <a href="#internationalisation">
                                    {{{__ "technicalHP3U"}}}
                                </a>
                            </li>
                            <li>
                                <a href="#pagespeed">
                                    {{{__ "technicalHP4U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="#mobilefriendly">
                                    {{{__ "technicalHP5U"}}}
                                </a>
                            </li>

                            <li>
                                <a href="#javascript">
                                    {{{__ "technicalHP6U"}}}
                                </a>
                            </li>
                            <li>
                                <a href="#https">
                                    {{{__ "technicalHP7U"}}}
                                </a>
                            </li>

                        </ul>
                        {{!-- sidebar --}}


                        <br><br>

                    </div><br><br>
                </div>
                {{>articlesCTA}}
            </div>

    </section>