<div class="main">
    <img src="/auditmainpic/technical.jpg" title="technical, a photo by Markus Spiske" alt="Technical SEO" class="imageAudit" />
    <div class="services">
        <div class="breadcrumb">
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a href="/{{{__ "lang"}}}/seo"> SEO </a>
            <img class="iconsmore2" src="/arrow.png" alt="arrow" />
            <a class="bold"> TECHNICAL </a>
        </div>
        <div class="infoTitle">
            <h1 class="h1services">Technical SEO</h1>
        </div>
        <div>
            <div class="marginright">
                <div class="black sideLinks">
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "indexationURL"}}}">
                        {{{__ "technicalHP1U"}}}
                    </a>
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "crawlabilityURL"}}}">
                        {{{__ "technicalHP2U"}}}
                    </a>
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "internationalisationURL"}}}">
                        {{{__ "technicalHP3U"}}}
                    </a>
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "pagespeedURL"}}}">
                        {{{__ "technicalHP4U"}}}
                    </a>
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "mobilefriendlyURL"}}}">
                        {{{__ "technicalHP5U"}}}
                    </a>
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "dynamicrenderingURL"}}}">
                        {{{__ "technicalHP6U"}}}
                    </a>
                    <a class="block" href="/{{{__ "lang"}}}/{{{__ "technicalURL"}}}/{{{__ "securityURL"}}}">
                        {{{__ "technicalHP7U"}}}
                    </a>
                </div>
                <p class="italic">{{{__ "technicalintro"}}}</p>
                <br />
                <h2>Technical SEO Checklist </h2>
                <p>{{{__ "technicalintro2"}}}</p>
                <p>{{{__ "technicalintro3"}}}</p>
                <p>{{{__ "technicalintro4"}}}</p>
                <p>{{{__ "technicalintro5"}}}</p>
                <p>{{{__ "technicalintro6"}}}</p>
                <p>{{{__ "technicalintro7"}}}</p>
                <p>{{{__ "technicalintro8"}}}</p>
                <p>{{{__ "technicalintro9"}}}</p>
            </div>
        </div>
    </div><br><br>
    <br><br>
</div>