<div class="main">
  <img
    src="/wpress2.png"
    title="local, a photo by Brandi Ibrao"
    alt="local SEO"
    class="imageAudit"
  />
  <div class="services">
    <div class="breadcrumb">
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />
      <a href="/{{{__ "lang"}}}"> {{{__ "services"}}} </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />
      <a href="/{{{__ "lang"}}}/seo"> SEO </a>
      <img class="iconsmore2" src="/arrow.png" alt="arrow" />
      <a href="/{{{__ "lang"}}}/research"> RESEARCH </a>
    </div>
    <h1 class="h1services">WordPress SEO</h1> <br />
    <h2> {{{__ "relevanttools"}}} </h2>
    <div class="serviceText">
    </div>
    <div class="black sideLinks">
      <a class="block bold">{{{__ "analyticsHP1U"}}}</a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "analyticsURL"}}}"
      >
        {{{__ "analyticsHP2U"}}}
      </a>
      <a
        class="block"
        href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "competitorURL"}}}"
      >
        {{{__ "analyticsHP3U"}}}
      </a>
      <a class="block" href="/{{{__ "lang"}}}/{{{__ "research"}}}/{{{__ "seaURL"}}}">
        {{{__ "analyticsHP6U"}}}
      </a>
    </div>
  </div>
</div>
