<section class="case-study-post casestudy-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-8-desktop">

                    <div class="boxcolor"><br>
                        <h1 class="h1HP is-white has-text-centered">{{{__ "exblog"}}} • Case Studies</h1><br>
                    </div><br>
                    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/technical-seo" class="tag grey" data-aos="fade-in" data-aos-once="true"> technical</a>
                    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo" class="tag grey" data-aos="fade-in" data-aos-once="true">onpage</a>
                    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/seo-case-studies" class="tag blue2">study</a>
                    <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/backlinks" class="tag grey" data-aos="fade-in" data-aos-once="true"> backlinks</a><br> <br>


                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                            <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}">SEO</a></li>
                            <li><a href="">Case Studies</a></li>
                        </ul>
                    </nav>
                    <br>

                    <div class="content archive blog-en columns is-multiline is-large-intro boost-margin has-text-centered" style=" overflow-x: hidden">


                        {{>blogcase}}

                    </div><br><br>
                    {{>socsharblog}}<br>
                    {{>articlesCTA}}
                </div>
            </div>
        </div>
    </section>
</section>