    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">


                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="h1HP is-heavy is-white has-text-centered">Mini case study: Wooga (Berlin)</h1><br>
                        </div>
                        <br> <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/technical-seo" class="tag grey" data-aos="fade-in" data-aos-once="true"> technical</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo" class="tag grey" data-aos="fade-in" data-aos-once="true">onpage</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/seo-case-studies" class="tag blue2" data-aos="fade-in" data-aos-once="true"> study</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/backlinks" class="tag grey" data-aos="fade-in" data-aos-once="true"> backlinks</a><br> <br>

                        <br>

                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}">SEO</a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/seo-case-studies">Case Studies</a></li>
                            </ul>
                        </nav><br>

                        <span class="subtitle is-6 is-black"><a href="/{{{__ "lang"}}}/contact">By Alex Bieth</a></span><br>
                        <span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 26 March 2019</span>
                        <br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">
                        <span class="is-heavy subtitle is-4">Wooga Founded: 2009 is a mobile-first game developer in Berlin, Germany. The company develops free-to-play mobile and social games for mobile devices, such as smartphones and tablets and
                            social networks like Facebook.</span><br><br>

                        <br>
                        <h2 class="title is-4 is-heavy">Executive Summary</h2>
                        <p>In a very competitive industry, Wooga currently relies on brand and game names for organic traffic.<br><br>
                            Its brand name gets more visits in Germany than in the US but its games are bringing way more organic visits in the US.<br><br>
                            Only 10 pages are getting 10 or more visits per month.</p>

                        <div class="card-case">
                            <h2 class="title is-3 reduced-margin reduced-top-margin">24k SEO visits</h3>
                                <h3 class="subtitle is-5 reduced-top-margin">11 pages get 10+ visits</h3>

                                <h2 class="title is-3 reduced-margin reduced-top-margin">Blog as sub-domain bringing 500 SEO monthly visits</h3>
                                    <h3 class="subtitle is-5 reduced-top-margin">Most traffic brand and game name related</h3>
                        </div>

                        <h2 class="title is-4 is-heavy">Google Trends (in Germany)</h2>

                        <figure class="image is-fullwidth is-outlined">
                            <img alt="Google Trends Wooga" src="/seo-images/woogatrends.png">
                        </figure>


                        <h2 class="title is-4 is-heavy">Backlink Profile Overview</h2>
                        <span class="blue-dot-list">
                            <ul>
                                <li>21k backlinks from 1.8K domains.</li>
                                <li>68% of backlinks are from pages with little Page Authority.</li>
                                <li>12% of the backlinks are from German websites.</li>
                            </ul>
                        </span>

                        <h2 class="title is-5 is-heavy">Backlinks with Page Authority of 35 and above (according to ahrefs)</h2>
                        <span class="blue-dot-list">
                            <ul>
                                <li><a rel="nofollow" target="_ blank" href="https://railsgirlssummerofcode.org/">Rails Girls Summer of Code</a></li>
                                <li><a rel="nofollow" target="_ blank" href="https://play.google.com/store/apps/details?id=com.wooga.diamonddash&hl=en_US">Apps on Google Play</a></li>
                                <li><a rel="nofollow" target="_ blank" href="https://www.ludicious.ch/">Ludicious – Zürich Game Festival</a></li>
                                <li><a rel="nofollow" target="_ blank" href="https://cwiki.apache.org/confluence/display/KAFKA/Powered+By">Powered By - Apache Kafka - Apache Software Foundation (no Follow Link)</a></li>
                                <li><a rel="nofollow" target="_ blank" href="https://itunes.apple.com/us/app/diamond-dash/id461402734?mt=8">Diamond Dash on the App Store (no Follow Link)</a></li>
                            </ul>
                        </span>





                        <h2 class="title is-4 is-heavy">Organic Traffic Analysis</h2>
                        <span class="blue-dot-list">
                            <ul>
                                <li>Wooga ranks for over 5k Keywords for 23k monthly organic visits.</li>
                            </ul>
                        </span>



                        <h2 class="title is-4 is-heavy">Keyword targeting and Traffic</h2>
                        <h2 class="title is-5 is-heavy">Main Keywords generating traffic:</h2>
                        <p>Huge majority of keywords are either brand or games</p>
                        <span class="blue-dot-list">
                            <ul>
                                <li>Germany</li>
                                <li>wooga (1.6k)</li>
                                <li>bubble island(200)</li>
                                <li>pearl's peril (50)</li>
                                <li>june's journey (50)</li>
                                <li>US</li>
                                <li>pearl's peril (5k)</li>
                                <li>june's journey (1.5k)</li>
                                <li>wooga (1k)</li>
                                <li>diamond dash (350)</li>
                            </ul>
                        </span>


                        <h2 class="title is-5 is-heavy">Pages with traffic compared to number of pages indexed</h2>
                        <p>From around 500 pages indexed (excluding Blog), 11 pages each get at least 10 visits per month.</p>
                        <br><br>
                        

                    </div><br><br>
                    <br><br>
                    <br><br>
                    <div class="column is-centered is-10-mobile is-4-tablet is-3-desktop sidebar sidebarblog">

                        {{>sidecase}}



                        <br><br>

                    </div><br>

                </div>
                {{>articlesCTA}}
            </div>
    </section>



    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments">
                        <div id="disqus_thread"></div>
                        <script>
                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*

                            */

                            var disqus_config = function() {
                                this.page.url = `https://www.seoberlino.com/{{{__ "lang"}}}/seo-services/case-study-wooga`; // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = "wooga"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };


                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document,
                                    s = d.createElement('script');
                                s.src = 'https://www-seoberlino-com.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>