    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">

                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="h1HP is-heavy is-white has-text-centered">Mini case study: HomeToGo (Berlin)</h1><br>
                        </div><br>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/technical-seo" class="tag grey" data-aos="fade-in" data-aos-once="true"> technical</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo" class="tag grey" data-aos="fade-in" data-aos-once="true">onpage</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/seo-case-studies" class="tag blue2" data-aos="fade-in" data-aos-once="true"> study</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/backlinks" class="tag grey" data-aos="fade-in" data-aos-once="true"> backlinks</a><br> <br>

                        <br><br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}">SEO</a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/seo-case-studies">Case Studies</a></li>
                            </ul>
                        </nav><br>
                        <br>

                        <span class="subtitle is-6 is-black"><a href="/{{{__ "lang"}}}/contact">By Alex Bieth</a></span><br>
                        <span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 11 March 2019</span>
                        <br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">


                        <span class="is-heavy subtitle is-5">HomeToGo (Founded: 2014) is according to its website "the world's largest search engine for vacation rentals."</span><br><br>




                        <h2 class="title is-3 is-heavy">Executive Summary</h2>

                        <p>With half a million monthly organic visits, HomeToGo is dominating the German market as a search engine for holiday accomodation.
                            That is as much as airbnb.de but still behind booking.com. This is achieved despite less backlinks than the two international giants with terrific indexation efficiency: more than half of the pages indexed get at 10 or
                            more monthly organic visits.</p>

                        <div style="background-color:#EAEAEA; padding:10px">
                            <ul>
                                <li>500k SEO monthly visit</li>
                                <li>6% brand traffic</li>
                                <li>50% pages indexed get 10+ visits</li>
                                <li>Star Keyword: "ferienwohnung ostsee"</li>
                            </ul>
                        </div>

                        <br>
                        <h2 class="title is-3 is-heavy">Google Trends</h2>
                        <p>Brand search have been stagnating since 2017.</p>

                        <figure class="image is-fullwidth is-outlined">
                            <img alt="Google Trends for Hometogo" src="/seo-images/hometogotrends.png">
                        </figure>
                        <br>
                        <h2 class="title is-3 is-heavy">Backlink Profile Overview</h2>
                        <span class="blue-dot-list">
                            <ul>
                                <li>124k backlinks from 500 domains.</li>
                                <li>96% of backlinks are from pages with little Page Authority. </li>
                                <li>50% of the backlinks are from German websites.</li>
                            </ul>
                        </span>

                        <h3 class="title is-5 is-heavy">Backlinks with Page Authority of 20 and above (according to ahrefs)</h3>
                        <span class="blue-dot-list">
                            <ul class="marginleft">
                                <li>
                                    <a rel="nofollow" target="_ blank" href="https://skift.com/2018/12/05/hometogo-buys-a-near-death-tripping-in-vacation-rental-rollup/">Skift article about Airbnb Listing.</a>
                                </li>
                                <li>
                                    <a rel="nofollow" target="_ blank" href="https://www.dmexco.com/de/kontakt/">DMEXCO</a>
                                </li>
                                <li>
                                    <a rel="nofollow" target="_ blank" href="https://www.gruenderszene.de/awards/content/gewinner">Gründerszene: Awards Winners Listing 2018 </a>
                                </li>
                                <li>
                                    <a rel="nofollow" target="_ blank" href="https://www.merkur.de/reise/ueberraschend-guenstigste-skiort-europas-teuerste-zr-9367361.html">Merkur</a>
                                </li>
                                <li>
                                    <a rel="nofollow" target="_ blank" href="https://www.sistrix.de/news/seo-aus-2009-vs-seo-aus-2019-wie-hometogo-airbnb-ueberholte/">Sistrix article</a>
                                </li>
                            </ul>
                        </span>
                        <br>
                        <h2 class="title is-3 is-heavy">Organic Traffic Analysis</h2>
                        <p>HomeToGo ranks for over 120k Keywords for 500k monthly organic visits.</p>
                        <h3 class="title is-5 is-heavy">Main Keywords generating traffic:</h3>

                        <span class="blue-dot-list">
                            <ul class="marginleft">
                                <li>Brand / search terms with brand: around 30k (6%)</li>
                            </ul>
                        </span>

                        <h3 class="title is-5 is-heavy">Broad terms such "ferienwohnung(en)"/ Haus:</h3>
                        <span class="blue-dot-list">
                            <ul class="marginleft">
                                <li>ferienwohnung (4k)</li>
                                <li>Places with "ferienwohnung"</li>
                                <li>ferienwohnung ostsee (6k)</li>
                                <li>ferienwohnung nordsee (4k)</li>
                                <li>ferienwohnung norderney (2.5k)</li>
                                <li>ferienwohnung berlin (2.3k)</li>
                                <li>ferienhaus ostsee (2k)</li>
                                <li>hausboot amsterdam (1.5k)</li>
                            </ul>
                        </span>

                        <h3 class="title is-5 is-heavy">Places:</h3>
                        <span class="blue-dot-list">
                            <ul class="marginleft">
                                <li>borkum (4.5k)</li>
                            </ul>
                        </span>
                        <br>
                        <h2 class="title is-3 is-heavy">Content Marketing Landing Pages and Traffic</h2>
                        <p>From around 5.3k pages indexed, over 2300 pages each get at least 10 visits per month.
                            This is achieved mainly by creating landing pages for as many cities as possible and
                            optimizing the page for Ferienwohnung + City / Location</p>
                        <br><br>
                        <br><br><br><br>
                        

                    </div><br><br>
                    <br><br>
                    <div class="column is-centered is-10-mobile is-4-tablet is-3-desktop sidebar sidebarblog">

                        {{>sidecase}}



                        <br><br>

                    </div><br>

                </div>
                {{>articlesCTA}}
            </div>
    </section>

    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments">
                        <div id="disqus_thread"></div>
                        <script>
                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*

                            */

                            var disqus_config = function() {
                                this.page.url = `https://www.seoberlino.com/{{{__ "lang"}}}/seo-services/case-study-hometogo`; // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = "hometogo"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };


                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document,
                                    s = d.createElement('script');
                                s.src = 'https://www-seoberlino-com.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>