<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-12-desktop">

                    <div class="boxcolor" data-aos="fade-in"><br>
                        <h1 class="h1HP is-heavy is-white has-text-centered" data-aos="fade-up-top">{{{__ "keywordresearch"}}}</h1><br>
                    </div><br>

                    <hr>

                    <div class="content">
                        <div class="column is-12"> <span class="subtitle is-5 is-red">
                                <p class="subtitle is-5 is-red"> <span class="is-black">
                                        {{{__ "keywordMP1"}}}
                                        {{{__ "keywordMP2"}}}
                                        <p>{{{__ "keywordMP3"}}}
                                    </span><br></p>
                        </div>
                    </div>
                </div>
            </div>

            <section class="audit-hero off-white hero is-medium">
                <div class="hero-body remove-padding">
                    <div class="container reduced margin-boost">
                        <h3 class="title is-3 is-heavy boost-margin has-text-centered">Keyword Research Process</h3>
                        <div class="columns is-centered has-text-centered is-multiline pill-list">
                            <div class="column is-4">
                                <div class="pill"> <span class="subtitle is-6 is-heavy">Analysis Current Keywords & Competitors'</span> </div>
                            </div>
                            <div class="column is-4">
                                <div class="pill"> <span class="subtitle is-6 is-heavy">Research Related Keywords</span> </div>
                            </div>
                            <div class="column is-4">
                                <div class="pill"> <span class="subtitle is-6 is-heavy">Keyword Filtering</a> </div>
                            </div>
                            <div class="column is-4">
                                <div class="pill"> <span class="subtitle is-6 is-heavy">Keyword Clustering</span>

                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="pill"> <span class="subtitle is-6 is-heavy">Report with Keyword, Cluster, SubCluster, Search Volume, Keyword Difficulty</span> </div>
                            </div>

                        </div>
                    </div><br><br>
            </section>
            {{>contactquote-min}}



            <div class="column is-12-mobile is-10-tablet is-10-desktop post content">

                <h2>{{{__ "aboutprep"}}} {{{__ "keywordresearch"}}} </h2>

                <h2 class="title is-3 is-heavy">{{{__ "keywordMPT4"}}}</h2>

                <p>
                    <a class="blue" href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/searchvolume">Search Volume </a>{{{__ "keywordMP4"}}}</p>
                {{{__ "keywordMP5"}}}
                {{{__ "keywordMP6"}}}
                </p>

                <h2 class="title is-3 is-heavy">{{{__ "keywordMPT7"}}}</h2>
                <p>
                    <a class="blue" href="/{{{__ "lang"}}}/seo-onpage#voicesearch">
                        {{{__ "onpageHP10"}}}
                    </a>
                    {{{__ "keywordMP7"}}}
                </p>


                <h2 class="title is-3 is-heavy">Keyword Tools</h2>
                <span class="blue-dot-list">
                    <ul>
                        <li><a target="_blank" href="https://ads.google.com/intl/en_DE/home/">Adwords Keyword Planner
                            </a></li>
                        <li><a target="_blank" href="https://search.google.com/search-console">Google's Search Console
                            </a></li>
                        <li><a target="_blank" href="https://trends.google.de/trends/?geo=DE">Google Trends
                            </a></li>
                        <li><a target="_blank" href="https://ahrefs.com/keywords-explorer">ahrefs Keywords Explorer
                            </a></li>
                        <li><a target="_blank" href="https://soovle.com/">Soovle
                            </a></li>
                        <li><a target="_blank" href="https://keywordtool.io/">keywordtool.io
                            </a></li>
                        <li><a target="_blank" href="https://kwfinder.com/">KW Finder
                            </a></li>
                        <li><a target="_blank" href="https://moz.com/explorer">Moz Keyword Explorer
                            </a></li>
                        <li><a target="_blank" href="https://kwfinder.com/">KWFinder
                            </a></li>
                    </ul>
                </span><br> <br>

            </div>
        </div>

    </div><br><br>
</section>

{{>results-min}}



<section class="clients-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">
            <h2 id="clients" class="title h1HP is-red is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>


            <hr>{{>clients-min}}
        </div>
    </div>
</section>
<section class="testimonials-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">
            <div class="columns is-multiline has-text-left">{{>testimonials-min}}</div>
        </div>
    </div>
</section>
</div>