<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-12-desktop">

                    <div class="boxcolor" data-aos="fade-in"><br>
                        <h1 class="h1HP is-heavy is-white has-text-centered" data-aos="fade-up-top">SEO {{{__ "for"}}} Site Relaunch</h1><br>
                    </div><br>

                    <hr>

                    <div class="columns is-centered has-text-centered">
                        <div class="column is-10"> <span class="subtitle is-5 is-red"> Whether for a site relaunch with a change of domain or switch to https, if the site structure is changed, some important steps need to be followed.
                            </span> </div>
                    </div>
                </div>
            </div>
            <div class="hero-body remove-padding">
                <div class="container reduced has-text-centered boost-margin">
                    <div class="columns is-centered has-text-centered is-multiline pill-list">
                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Site Crawl</span> </div>
                        </div>
                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Indexation Status</span> </div>
                        </div>


                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">List of Redirects
                            </div>
                        </div>


                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Keyword Mapping
                            </div>
                        </div>

                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Checklist before Relaunch
                            </div>
                        </div>

                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">After relaunch check, monitoring and reporting
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {{>contactquote}}


            <div class="content">

                <p>{{{__ "internationalMP1"}}}</p>
                <p>{{{__ "internationalMP4"}}}</p>
                <h2 class="title is-4 is-heavy">{{{__ "internationalMPT2"}}}</h2>
                <p>{{{__ "internationalMP2"}}}</p>
                <h2 class="title is-4 is-heavy">{{{__ "internationalMPT3"}}}</h2>
                <p>{{{__ "internationalMP3"}}}</p>
                <p>{{{__ "internationalMP3"}}}</p>

                <h2 class="title is-4 is-heavy"><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/international">hreflang</a></h2>

                <pre>
        &lt;link rel="alternate" href="https://example.com/" hreflang="en" />
        &lt;link rel="alternate" href="https://example.com/en-gb/" hreflang="en-gb" />
        &lt;link rel="alternate" href="https://example.com/en-au/" hreflang="en-au" />

        en-gb= English / Great Britain
        en-au= English / Australia</pre>

                <h2 class="title is-4 is-heavy">Search Console</h2>

                <figure class=" is-fullwidth is-outlined">
                    <img src="/images/seo-images/internat1.png" alt="Search Console Internationalisation">
                </figure>

                <figure class=" is-fullwidth is-outlined">
                    <img src="/images/seo-images/internat2.png" alt="Search Console Internationalisation Language Settings">
                </figure>

                <p><a rel="nofollow" class="blue" target="_blank" href="https://flang.dejanseo.com.au/">Hreflang Tester</a></p>

                <br><br><br><br><br>

                <br><br>
            </div>

            <div class="content" <h2>Redirects Preparations</h2>

                <h3>Pages to redirect</h3>

                All pages with value should be redirected: those with existing traffic and/or those with backlinks pointing to them.
                <br>
                The selected pages should redirect to the closest equivalent page: either exact page or the most related category page if this page doesn’t exist anymore.
                <br>
                Only pages with little value (no links and no traffic) should be “Killed” ideally with a 410.
                <br>
                <h3> Clean up errors</h3>
                Current internal 301s should be fixed as well as links to 404

                <br>
                Old urls already redirecting<br>
                Old pages already redirecting especially those with backlinks should redirect to the new page therefore modifying the old redirect to avoid redirect chains.

                <br> <br>


                <h2>New site</h2>

                <h3>Settings</h3>
                <ul>

                    <li>It should be Mobile friendly with Optimal Site structure and main navigation (main pages close to homepage in number of clicks). Simple urls structure (short) & web structure
                    </li>
                    <li>It should use only https, http version redirects to https
                    </li>
                    <li>It should use only www or non-www, redirect non use version to the selected one.
                    </li>
                    <li>Use canonicals on the new site, pointing to the new site urls. Self referencing except for very similar /duplicate content.
                    </li>
                    <li>Identify Duplicate content / very similar content (use canonicals or redirects)
                    </li>
                </ul>

                <h3>To Set-up</h3>

                Set up a custom 404 page

                Create sitemaps for all new urls that have SEO value only. Link it from Search Console when sure that the site is clean and urls submitted in Sitemaps are the right ones.


                Set up Search console and Google Analytics. Use Robots.txt if needed

                <h3>Testing</h3>
                Before the live redirects, test them on test server (non indexable nor crawlable pages or protected by password or blocked by Robots)
                <br><br>

                <h2>After the Redirects are live</h2>

                <ul>
                    <li>Update all online profiles, social media included, email signatures, etc

                    </li>
                    <li>Compare Analytics data (before and after) check for traffic differences and which pages los traffic if any

                    </li>
                    <li>Check Rankings before / after

                    </li>
                    <li>Monitor indexed page count

                    </li>
                    <li>Contact main sites linking to the old site to ask them to change the links.


                    </li>
                    <li>Crawl old site to check for redirects

                    </li>
                    <li>Crawl new site for errors


                    </li>
                    <li>If the site structure of the new site is too different from the old one(s), there is a risk that Google will decide that the new site is a different one and some rankings may drop.
                        Either way, there will be temporary loss of traffic (so around 4 to 6 weeks are necessary to have clear idea how the migration went on)
                    </li>
                </ul><br>
                <br><br>

                <br><br>
            </div>
        </div>
    </div><br><br>
</section>

{{>results}}



<section class="clients-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">
            <h2 id="clients" class="title h1HP is-red is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>


            <hr>{{>clients}}
        </div>
    </div>
</section>
<section class="testimonials-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">
            <div class="columns is-multiline has-text-left">{{>testimonials}}</div>
        </div>
    </div>
</section>
</div>