<div class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-12-desktop">

                    <div class="boxcolor"  ><br>
                        <h1 class="h1HP is-heavy is-white has-text-centered"   >{{{__ "servicesHP"}}}</h1><br>
                    </div><br>
                </div>
            </div>

            <div class="column is-12-mobile is-10-tablet is-12-desktop post content">


                <p>{{{__ "beratungP1"}}}</p>


            </div>


            {{>seoservices-min}}<br><br>
            {{>contactquote-min}}


        </div>

        <div class="column is-12-mobile is-10-tablet is-12-desktop post content">


            <h2>{{{__ "beratungT1"}}}</h2>
            <h3>{{{__ "beratungT11"}}}</h3>
            <p>{{{__ "beratungP11"}}}</p>
            <h3>{{{__ "beratungT12"}}}</h3>
            <p>{{{__ "beratungP12"}}}</p><br><br>

            <h2>{{{__ "beratungT2"}}}</h2>
            <h3>{{{__ "beratungT21"}}}</h3>
            <p>{{{__ "beratungP21"}}}</p>

            <h3>{{{__ "beratungT22"}}}</h3>
            <p>{{{__ "beratungP21"}}}</p>

            <h3>{{{__ "beratungT23"}}}</h3>
            <p>{{{__ "beratungP23"}}}</p>

            <h3>{{{__ "beratungT24"}}}</h3>
            <p>{{{__ "beratungP24"}}}</p>

            <h3>{{{__ "beratungT25"}}}</h3>
            <p>{{{__ "beratungP25"}}}</p>
            <br><br>
            <h2>{{{__ "beratungT3"}}}</h2>
            <p>{{{__ "beratungP2"}}}</p>



        </div>



        <section class="clients-hero hero is-medium">
            <div class="hero-body remove-padding">
                <div class="container reduced has-text-centered">
                    <h2 id="clients" class="title h1HP is-red is-heavy boost-margin">{{{__ "currentformerclients"}}}</h2>


                    <hr>{{>clients-min}}
                </div>
            </div>
        </section>

    </div>
</div>