<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="columns is-centered is-multiline">
                <div class="column is-12-mobile is-10-tablet is-12-desktop">

                    <div class="boxcolor" data-aos="fade-in"><br>
                        <h1 class="h1HP is-heavy is-white has-text-centered" data-aos="fade-up-top">SEO {{{__ "technicalHP1"}}}</h1><br>
                    </div><br>
                    <hr>

                    <h2 class="is-red title h2HP is-heavy boost-margin has-text-centered">{{{__ "technicalHP1"}}} {{{__ "and"}}} Crawlability</h2>


                    <div class="columns is-centered has-text-centered">
                        <div class="column is-10"> <span class="subtitle is-5 is-red"> {{{__ "indexationMP1"}}}
                            </span> </div>
                    </div>
                </div>
            </div>
            <div class="hero-body remove-padding">
                <div class="container reduced has-text-centered boost-margin">
                    <div class="columns is-centered has-text-centered is-multiline pill-list">
                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Site Crawl</span> </div>
                        </div>
                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">{{{__ "technicalHP1"}}} Status</span> </div>
                        </div>


                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Pages Performance
                            </div>
                        </div>

                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Duplicate content analysis
                            </div>
                        </div>

                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Keyword Mapping
                            </div>
                        </div>

                        <div class="column is-4">
                            <div class="pill"> <span class="subtitle is-6 is-heavy">Report summarizing issues & solutions
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {{>contactquote}}


            <div class="hero-body remove-padding">
                <div class="container reduced">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop post content">


                        <h2 class="title is-3 is-heavy">{{{__ "indexationyMPT2"}}}</h2>
                        <p>{{{__ "indexationMP2"}}}</p>
                        <p>{{{__ "indexationMP22"}}}</p>

                        <h2 class="title is-3 is-heavy">
                            {{{__ "indexationMPT3"}}}
                        </h2>
                        <p>{{{__ "indexationMP3"}}}</p>

                        <h2 class="title is-3 is-heavy">
                            Check <a class="blue" href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/metas">metas</a> {{{__ ""}}}
                        </h2>
                        <p>{{{__ "indexationMP4"}}}</p>

                        <h2 class="title is-3 is-heavy">Search Console {{{__ ""}}}</h2>
                        <figure class=" is-fullwidth is-outlined">
                            <img src="/images/seo-images/indexation.png" class="searchconsole" heigth="400px" width="600px" alt="Search Console Indexation">
                        </figure>


                        <p>{{{__ "crawlabilityMPintro"}}}</p>
                        <h2 class="title is-4 is-heavy">Sitemap(s)</h2>
                        <p>{{{__ "crawlabilityMP1"}}}</p>

                        <figure class=" is-fullwidth is-outlined">
                            <img src="/images/seo-images/sitemap.png" alt="Search Console Sitemap">
                        </figure>

                        <h2 class="title is-4 is-heavy">Robots</h2>
                        <p>{{{__ "crawlabilityMP2"}}}</p>
                        <h2 class="title is-4 is-heavy">Metas</h2>
                        <p>{{{__ "crawlabilityMP3"}}}</p>
                        <h2 class="title is-4 is-heavy">Search Console</h2>
                        <p>{{{__ "crawlabilityMP4"}}}</p>

                        <figure class=" is-fullwidth is-outlined">
                            <img src="/images/seo-images/crawl1.png" alt="Search Console Crawling">
                        </figure>

                        <figure class=" is-fullwidth is-outlined">
                            <img src="/images/seo-images/crawl2.png" alt="Search Console Crawlability">
                        </figure>

                        <h2 class="title is-4 is-heavy">Google Crawl Credit {{{__ ""}}}</h2>
                        <p> {{{__ "crawlabilityMP5"}}}</p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="clients-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">


            <hr>{{>clients}}
        </div>
    </div>
</section>
<section class="testimonials-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">
            <div class="columns is-multiline has-text-left">{{>testimonials}}</div>
        </div>
    </div>
</section>