<section class="blogpost-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced">
            <div class="column is-12-mobile is-10-tablet is-12-desktop">

                <div class="boxcolor"  ><br>
                    <h1 class="h1HP is-heavy is-white has-text-centered"   >On-page SEO {{{__ "consultancy"}}}</h1><br>
                </div><br>

                <hr>

                <div class="columns is-centered has-text-centered">
                    <div class="column is-10"> <span class="subtitle is-5 is-red">{{{__ "onpageintro"}}}</span> </div>
                </div>
            </div>
        </div>
        <div class="hero-body remove-padding">
            <div class="container reduced has-text-centered boost-margin">
                <div class="columns is-centered has-text-centered is-multiline pill-list">
                    <div class="column is-4">
                        <div class="pill"> <span class="subtitle is-6 is-heavy">Keyword Research & Clustering</span> </div>
                    </div>
                    <div class="column is-4">
                        <div class="pill"> <span class="subtitle is-6 is-heavy">Keyword Mapping</span> </div>
                    </div>


                    <div class="column is-4">
                        <div class="pill"> <span class="subtitle is-6 is-heavy">Page Titles & description Optimization
                        </div>
                    </div>

                    <div class="column is-4">
                        <div class="pill"> <span class="subtitle is-6 is-heavy">Content, Images and Headings Check
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="pill"> <span class="subtitle is-6 is-heavy">Internal Linking
                        </div>
                    </div>

                </div>
            </div>
        </div>


        {{>contactquote-min}}

        <div class="hero-body content">
            <div class="container reduced">
                <div class="column is-12-mobile is-10-tablet is-12-desktop">


                    <h2 class="title is-2 is-heavy reduced-top-margin">{{{__ "onpageintroT3"}}}</h2>
                    <p>{{{__ "onpageintro3"}}}</p>
                    <p>{{{__ "onpageintro4"}}}</p><br>
                    <p>{{{__ "onpageSEO1"}}}</p><br>
                    <p>{{{__ "onpageSEO2"}}}</p><br>

                </div>




                <h2 class="title is-3 is-heavy reduced-top-margin">Title</h2>

                <pre>&lt;title&gt;My Unique Title&lt;/title>
                                </pre>




                <p>{{{__ "metasMP1"}}}</p>
                <h2 class="title is-4 is-heavy">Description</h2>
                <pre>&lt;meta name="description" content="my unique description" />
                                </pre>

                <p>{{{__ "metasMP2"}}}</p>

                <h2 class="title is-3 is-heavy">Headings</h2>

                <pre>
                    &lt;h1&gt;my unique h1: page main topic&lt;/h1&gt;
                    &lt;h2&gt;Title part 1&lt;/h2&gt;
                    &lt;h3&gt;Subtitle 1&lt;/h3&gt;
                    &lt;h3&gt;Subtitle 2&lt;/h3&gt;

                    &lt;h2&gt;Title part 2&lt;/h2&gt;


                    &lt;h2&gt;Title part 3&lt;/h2&gt;
                    &lt;h3&gt;Subtitle 1&lt;/h3&gt;
                    &lt;h3&gt;Subtitle 2&lt;/h3&gt;
                    &lt;h3&gt;Subtitle 3&lt;/h3&gt;
                                </pre>

                <p>{{{__ "metasMP3"}}}</p><br>

                <h2 class="title is-3 is-heavy">Social Media: OpenGraph & Twitter Card</h2>
                <pre>
                    &lt;meta property="og:title" content="mytitle" />
                    &lt;meta property="og:url" content="myurl" />
                    &lt;meta property="og:description" content="mydescription" />
                    &lt;meta property="og:locale" content="countrycode" />
                    &lt;meta property="og:site_name" content="name" />
                    &lt;meta name="twitter:card" content="summary" />
                    &lt;meta name="twitter:site" content="@name" />
                    &lt;meta name="twitter:title" content="mytitle" />
                    &lt;meta name="twitter:description" content="mydescription" />
                    &lt;meta name="twitter:image" content="/logo.jpg" />
                                    </pre>

                <h2 class="title is-3 is-heavy">Viewport</h2>
                <pre>&lt;meta name="viewport" content="width=device-width, initial-scale=1" />
                                        </pre>
                <br>
                <h2 class="title is-3 is-heavy">{{{__ "metasMPT4"}}}</h2>
                <p>{{{__ "metasMP4"}}}</p> <br><br> <br>



                <h2 class="title is-3 is-black is-heavy">Alt Attibutes</h2>
                <h2 class=" title is-4 is-heavy reduced-top-margin">{{{__ "definition"}}}</h2>
                <p>{{{__ "altattributeMP"}}}</p>
                <p>{{{__ "imagesMP1"}}}</p>
                <pre>&lt;img src="/image.jpg" alt="yourimagealthere" title="furtherinfohere" /></pre>
                <p>{{{__ "imagesMP2"}}}</p>
                <p>Alt Attribute {{{__ "imagesMP3"}}}</p>
                <h2 class="title is-3 is-heavy">Image title</h2>
                <p>{{{__ "imagesMP4"}}}</p>
                <h2 class="title is-3 is-heavy">{{{__ "imagesMPT5"}}}</h2>
                <p>{{{__ "imagesMP5"}}}</p>
                <figure class="  is-outlined">
                    <img src="/images/seo-images/imagestoobig.png" alt="Lighthouse Image Audit">
                </figure>
                <p><a href="https://imageoptim.com/howto.html">Image Compression Tool</a></p>


                <h2 class="title is-2">Internal Linking</h2>

                <h2 class=" title is-3 is-heavy reduced-top-margin">{{{__ "internalMPT1"}}}</h2>
                <p>{{{__ "internalMP1"}}}</p>
                <h2 class="title is-4 is-heavy">{{{__ "internalMPT2"}}}</h2>
                <p>{{{__ "internalMP2"}}}</p>
                <h2 class="title is-4 is-heavy">{{{__ "internalMPT4"}}}</h2>
                <p>{{{__ "internalMP4"}}}</p>
                <h2 class="title is-4 is-heavy">{{{__ "internalMPT5"}}}</h2>
                <p>{{{__ "internalMP5"}}}</p>
                <h2 class="title is-4 is-heavy">{{{__ "internalMPT3"}}}</h2>
                <p>{{{__ "internalMP3"}}}</p>

            </div>
        </div>
    </div>
</section>

<section class="clients-hero hero is-medium container reduced">



    {{>clients-min}}
</section>
<section class="testimonials-hero hero is-medium">
    <div class="hero-body remove-padding">
        <div class="container reduced has-text-centered">
            <div class="columns is-multiline has-text-left">{{>testimonials-min}}</div>
        </div>
    </div>
</section>