    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">
                        <div class="boxcolor"  ><br>
                            <h1 class="h1HP is-heavy is-white has-text-centered"   >{{{__ "onpageHP3"}}}</h1><br>
                        </div><br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">
                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "internalMPT1"}}}</h2>
                        <p>{{{__ "internalMP1"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "internalMPT2"}}}</h2>
                        <p>{{{__ "internalMP2"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "internalMPT4"}}}</h2>
                        <p>{{{__ "internalMP4"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "internalMPT5"}}}</h2>
                        <p>{{{__ "internalMP5"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "internalMPT3"}}}</h2>
                        <p>{{{__ "internalMP3"}}}</p><br><br><br>
                    </div>
                    <div class="column is-centered is-10-mobile is-4-tablet is-3-desktop sidebar sidebarblog">
                        {{>sideonpage}}<br><br>
                    </div><br>
                </div>
                {{>articlesCTA}}
            </div>
    </section>