    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">

                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="h1HP is-heavy is-white has-text-centered" data-aos="fade-up-top">{{{__ "onpageHP8"}}}</h1><br>
                        </div><br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "structuredMPT1"}}}</h2>
                        <p>{{{__ "structuredMP1"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "structuredMPT2"}}}</h2>
                        <p>{{{__ "structuredMP2"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "structuredMPT3"}}}</h2>
                        <p>{{{__ "structuredMP3"}}}</p>

                        <pre>
&lt;script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Organization",
"url": "yoursite.com",
"contactPoint": [{
"@type": "ContactPoint",
"telephone": "youphonenumber",
"contactType": "customer support"
}]
}
&lt;/s
&lt;script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "BreadcrumbList",
"itemListElement": [{
"@type": "ListItem",
"position": 1,
"name": "Books",
"item": "https://example.com"
}, {
"@type": "ListItem",
"position": 2,
"name": "Authors",
"item": "https://example.com/2"
}, {
"@type": "ListItem",
"position": 3,
"name": "Ann Leckie",
"item": "https://example.com/3"
}, {
"@type": "ListItem",
"position": 4,
"name": "Ancillary Justice",
"item": "https://example.com/4"
}]
}
&lt;/script></pre>

                        <p><a target="_blank" href="https://schema.org/">Schema.org all references</a></p>
                        <p><a target="_blank" href="https://www.google.com/webmasters/markup-helper/u/0/?hl=en">Markup Helper</a></p>
                        <p><a target="_blank" href="https://search.google.com/structured-data/testing-tool/u/0/?hl=en">Tester</a></p>



                        <br><br>
                    </div>


                    <div class="column is-centered is-10-mobile is-4-tablet is-3-desktop sidebar sidebarblog">

                        {{>sideonpage}}



                        <br><br>

                    </div><br>

                </div>
                {{>articlesCTA}}
            </div>
    </section>