    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">


                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="h1HP is-heavy is-white has-text-centered" data-aos="fade-up-top">{{{__ "onpageHP1"}}}</h1><br>
                        </div><br>
                        
                    
                        
                     <br>

                        <br><br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seoberatungurl"}}}"> {{{__ "services"}}} </a></li>
                                
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo">Onpage SEO</a></li>
                            </ul>
                        </nav>

                    </div>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">

                        <figure class="image is-outlined">
                            <img alt="{{{__ "keywordresearch"}}}" src="/images/seo-images/content.jpg" />
                        </figure>

                        <span class="is-black">
                            <p>{{{__ "keywordMP1"}}}</p>
                            <p>{{{__ "keywordMP2"}}}</p>
                            <p>{{{__ "keywordMP3"}}}</p>
                        </span><br>
                        <h2 class="title is-3 is-heavy">{{{__ "keywordMPT4"}}}</h2>

                        <p>
                            <a class="blue" href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/canonical#searchvolume">Search Volume </a>{{{__ "keywordMP4"}}}</p>
                        {{{__ "keywordMP5"}}}
                        {{{__ "keywordMP6"}}}
                        </p>

                        <h2 class="title is-3 is-heavy">{{{__ "keywordMPT7"}}}</h2>
                        <p>
                            <a class="blue" href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo#voicesearch">
                                {{{__ "onpageHP10"}}}
                            </a>
                            {{{__ "keywordMP7"}}}
                        </p>


                        <h2 class="title is-3 is-heavy">Keyword Tools</h2>
                        <span class="blue-dot-list">
                            <ul>
                                <li><a target="_blank" href="https://ads.google.com/intl/en_DE/home/">Adwords Keyword Planner
                                    </a></li>
                                <li><a target="_blank" href="https://search.google.com/search-console">Google's Search Console
                                    </a></li>
                                <li><a target="_blank" href="https://trends.google.de/trends/?geo=DE">Google Trends
                                    </a></li>
                                <li><a target="_blank" href="https://ahrefs.com/keywords-explorer">ahrefs Keywords Explorer
                                    </a></li>
                                <li><a target="_blank" href="https://soovle.com/">Soovle
                                    </a></li>
                                <li><a target="_blank" href="https://keywordtool.io/">keywordtool.io
                                    </a></li>
                                <li><a target="_blank" href="https://kwfinder.com/">KW Finder
                                    </a></li>
                                <li><a target="_blank" href="https://moz.com/explorer">Moz Keyword Explorer
                                    </a></li>
                                <li><a target="_blank" href="https://kwfinder.com/">KWFinder
                                    </a></li>
                            </ul>
                        </span><br> <br>

                    </div>


                    <div class="column is-centered is-10-mobile is-4-tablet is-3-desktop sidebar sidebarblog">

                        {{>sideonpage}}



                        <br><br>

                    </div><br>

                </div>
                {{>articlesCTA}}
            </div>
    </section>