    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">
                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="h1HP is-heavy is-white has-text-centered" data-aos="fade-up-top">Content, Duplicate Content & Landing Pages</h1><br>
                        </div><br>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/technical-seo" class="tag grey" data-aos="fade-in" data-aos-once="true"> technical</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo" class="tag blue2" data-aos="fade-in" data-aos-once="true">onpage</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/seo-case-studies" class="tag grey" data-aos="fade-in" data-aos-once="true"> study</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/backlinks" class="tag grey" data-aos="fade-in" data-aos-once="true"> backlinks</a><br> <br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}">SEO</a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo">Onpage SEO</a></li>
                            </ul>
                        </nav><br>

                        <span class=" subtitle is-6 is-black"><a href="/{{{__ "lang"}}}/contact">By Alex Bieth</a></span><br>
                        <span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" /> 18 May 2020</span>
                        <br><br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">


                        <h2 class="title is-4 is-heavy">{{{__ "contentMPT1"}}}</h2>
                        <p>{{{__ "contentMP1"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "contentMPT2"}}}</h2>
                        <p>{{{__ "contentMP2"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "contentMPT3"}}}</h2>
                        <p>{{{__ "contentMP3"}}}</p>

                        <br><br> <br><br>
                        <h2 id="duplicatecontent" class="title is-2 is-heavy reduced-top-margin">{{{__ "onpageHP9"}}}</h2>


                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "duplicateMPT1"}}}</h2>
                        <p>{{{__ "duplicateMP1"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "duplicateMPT2"}}}</h2>
                        <p>{{{__ "duplicateMP2"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "duplicateMPT3"}}}</h2>
                        <p>{{{__ "duplicateMP3"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "duplicateMPT4"}}}</h2>
                        <p>{{{__ "duplicateMP4"}}}</p>
                        <br><br><br>


                        <h2 id="landingpages" class="title is-2 is-heavy reduced-top-margin">{{{__ "onpageHP2"}}}</h2>


                        <p>{{{__ "landingMP1"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "landingMPT2"}}}</h2>
                        <p>{{{__ "landingMP2"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "landingMPT3"}}}</h2>
                        <p>{{{__ "landingMP3"}}} </p>
                        <h2 class="title is-4 is-heavy">{{{__ "landingMPT4"}}}</h2>
                        <p>{{{__ "landingMP4"}}} </p>
                        <h2 class="title is-4 is-heavy"><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/technical-seo">{{{__ "technicalseo"}}}</a></h2>
                        <p>{{{__ "landingMP5"}}} </p>
                        <br><br><br>



                    </div>


                    <div class="column is-centered is-10-mobile is-4-tablet is-3-desktop sidebar sidebarblog">

                        {{>sideonpage}}



                        <br><br>

                    </div><br>

                </div>
                {{>articlesCTA}}
            </div>
    </section>
    </div>


    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments">
                        <div id="disqus_thread"></div>
                        <script>
                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*

                            */

                            var disqus_config = function() {
                                this.page.url = `https://www.seoberlino.com/{{{__ "lang"}}}/{{{__ "blogurl"}}}/content`; // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = "Content"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };


                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document,
                                    s = d.createElement('script');
                                s.src = 'https://www-seoberlino-com.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>