    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">

                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="h1HP is-heavy is-white has-text-centered">Voice Search and how it challenges SEO</h1><br>
                        </div><br>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/technical-seo" class="tag grey" data-aos="fade-in" data-aos-once="true"> technical</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo" class="tag blue2" data-aos="fade-in" data-aos-once="true">onpage</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/seo-case-studies" class="tag grey" data-aos="fade-in" data-aos-once="true"> study</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/backlinks" class="tag grey" data-aos="fade-in" data-aos-once="true"> backlinks</a><br> <br>

                        <br>
                        <br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}">SEO</a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo">Onpage SEO</a></li>

                            </ul>
                        </nav>
                        <br><br>
                        <br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">

                        <figure class="image is-4by3">
                            <img src="/images/seo-images/voice.jpg" alt="seo berlin" />
                        </figure>


                        <span class="is-heavy subtitle is-4">Once you are ready for mobile first, the next step is to prepare your website for Voice Search. </span><br>



                        <h3>Facts:</h3>

                        People are more and more equipped with Voice Search devices and use them, in fact 40% of adults perform a voice search at least once a day.<br>

                        Voice searches are not formulated the same way as when one searches when typing.<br>

                        Google Voice Search accuracy is now 95% accurate versus below 80% 5 years ago.<br>

                        20% of mobile queries are voice searches and this figure is rising expected to reach 50% by 2020.<br><br>

                        </p>

                        <h3>Voice Search devices and technology:</h3>


                        Google Assistant<br>

                        Google Home<br>

                        Amazon Alexa<br>

                        Echo<br>

                        Microsoft Cortana<br>

                        <br><br>

                        <h3>How are voice search queries different to text searches?</h3>


                        They are more conversational therefore they are longer queries with question words (how, why, who, where, what).<br><br>



                        A useful tool to find questions asked for a specific them is Answerthepublic.<br><br>

                        Finally a lot of these queries are Local, another good reason to integrate Local SEO in your SEO strategy.<br><br>



                        <h3>Featured Snippets (or Answer Box) </h3>
                        Google mostly uses Featured Snippets to answer voice queries. These are in most cases Paragraphs. but they can also be Lists and Tables.<br><br>



                        15% of all queries come up Featured Snippets<br><br> To get your site as a featured snippet does not require you to rank #1 in organic search but in most cases you need to be on the first page already..<br><br>



                        Also there is no schema Featured Snippet but a page in your website needs to the target search term in the correct format. There is an interesting article on Moz about how to optimize for Featured Snippets<br><br>


                        <h3>What else to do:</h3>


                        On top of trying to feature in Featured Snippets for the searches which matter aim to optimize for long tail terms, using a conversational tone. <br><br>


                        Adding an FAQ section which includes the important questions will also help.<br><br>



                        Finally, if this is not yet done optimize your google MyBusiness profile for better visibility for Local SEO as many searches are local ("near me")
                        <br><br>
                        <br> <br>

                        <br>
                    </div>
                    <div class="column is-centered is-10-mobile is-4-tablet is-3-desktop sidebar sidebarblog">

                        {{>sideonpage}}



                        <br><br>

                    </div><br>

                </div>
                {{>articlesCTA}}
            </div>
    </section>
    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments">
                        <div id="disqus_thread"></div>
                        <script>
                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*

                            */

                            var disqus_config = function() {
                                this.page.url = `https://www.seoberlino.com/en/seo-services/voicesearch`; // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = "voicesearch"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };


                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document,
                                    s = d.createElement('script');
                                s.src = 'https://www-seoberlino-com.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </div>
