    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">

                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="h1HP is-heavy is-white has-text-centered" data-aos="fade-up-top">Local SEO {{{__ "and"}}} Google MyBusiness</h1><br>
                        </div><br>
                        
                    
                        
                     <br>

                        <br><br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seoberatungurl"}}}"> {{{__ "services"}}} </a></li>
                                
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo">Onpage SEO</a></li>

                            </ul>
                        </nav>

                        <br><br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">

                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "localMPT1"}}}</h2>
                        <p>{{{__ "localMP1"}}}</p>

                        <img width=50% src="/images/seo-images/mybusiness.jpg" alt="My Business, Local SEO" />
                        <br><br>
                        <h2 class="title is-4 is-heavy">{{{__ "localMPT2"}}}</h2>

                        <p>{{{__ "localMP2"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "localMPT3"}}}</h2>
                        <p>{{{__ "localMP3"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "localMPT4"}}}</h2>
                        <p>{{{__ "localMP4"}}}</p>

                        <h2 class="title is-4 is-heavy">{{{__ "relevanttools"}}} </h2>
                        <p><a href="https://www.google.com/business/" target="_blank">Google's MyBusiness</a></p>
                        <br><br>


                    </div><br>
                    <div class="column is-centered is-9-mobile is-5-tablet is-3-desktop sidebar sidebarblog">
                        {{>sideonpage}}
                        <br><br>

                    </div><br>

                </div>
                {{>articlesCTA}}
            </div>
    </section>