    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">
                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="h1HP is-heavy is-white has-text-centered" data-aos="fade-up-top"> {{{__ "productH1"}}}</h1><br>
                        </div><br>
                        
                    
                        
                     <br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seoberatungurl"}}}"> {{{__ "services"}}} </a></li>
                                
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo">Onpage SEO</a></li>
                            </ul>
                        </nav> <br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">

                        <h2 class="title is-3 is-heavy">{{{__ "productMPT1"}}}</h2>

                        <p>{{{__ "productMP1"}}}</p> <br>

                        <h2 class="title is-3 is-heavy">{{{__ "productMPT2"}}}</h2>

                        <p>{{{__ "productMP2"}}}</p> <br>

                        <h2 class="title is-3 is-heavy">{{{__ "productMPT3"}}}</h2>


                        <p>{{{__ "productMP3"}}}</p><br>





                        <br>
                        <h2 class="title is-3 is-heavy">{{{__ "productMPT4"}}}</h2>
                        <p>{{{__ "productMP4"}}}</p> <br><br> <br>

                    </div>


                    <div class="column is-centered is-10-mobile is-4-tablet is-3-desktop sidebar sidebarblog">

                        {{>sideonpage}}



                        <br><br>

                    </div><br>

                </div>
                {{>articlesCTA}}
            </div>
    </section>