    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">

                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="h1HP is-heavy is-white has-text-centered">Live time in Berlin</h1><br>
                        </div><br>


                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}">SEO</a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/berlin"> Berlin</a></li>
                            </ul>
                        </nav>


                        <br><br>

                        <a href="https://time.is/Berlin" id="time_is_link" rel="nofollow" style="font-size:36px">Time in Berlin:</a>
                        <span id="Berlin_z704" style="font-size:36px"></span>
                        <script src="//widget.time.is/t.js"></script>
                        <script>
                            time_is_widget.init({
                                Berlin_z704: {}
                            });
                        </script>



                        <br><br>
                        <p>Daylight saving time 2020 in Berlin begins at 2AM on March 29th
                            and ends at 3:00 AM on October 25th<br><br>
                            CET - Central European Time and CEST in summer (Central European Summer Time)<br><br>
                            Latitude: 52° 31' North • Longitude: 13° 25' East</p>
                    </div>
                </div> {{>articlesCTA}}
            </div>
    </section>
    </div>