<div class="single-post has-sidebar offpage-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced ">
                <div class="column is-12-mobile is-12-tablet is-10-desktop">
                    <div class="boxcolor"  >
                        <br>
                        <h1 class="h1HP is-heavy is-white has-text-centered"   > 404 - Page Not Found</h1><br>
                    </div><br>

                </div>


                <div class="columns is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-8-desktop">


                        <h2 class="title is-3"> {{{__ "definition"}}}</h2>
                        {{{__ "404MP"}}}



                        <br><br>

                        {{{__ "404MP1"}}}



                        <br><br>
                        <img alt="404" src="/images/seo-images/404.png" />
                        <br><br>

                        {{{__ "404MP2"}}}<br><br>
                        <img alt="404 Not Found" src="/images/seo-images/404_1.png" /><br><br><br>



                        {{{__ "404MP3"}}}<br><br>
                        <pre>

app.all("*", function(req, res) {
    res.status(404).render("error");
});
</pre><br>
                        <h2 class="title is-3">{{{__ "404T4"}}}</h2>
                        {{{__ "404MP4"}}}<br><br><br>
                        <h2 class="title is-3">{{{__ "404T5"}}}</h2>


                        {{{__ "404MP5"}}}<br><br>

                    </div>

                    {{>lexical}}<br><br>{{>articlesCTA}}

                </div>

            </div>

    </section>
</div>