    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">


                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="h1HP is-heavy is-white has-text-centered">{{{__ "technicalHP1"}}}</h1><br>
                        </div><br>
                    
                        
                        
                     <br>

                        <br><br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seoberatungurl"}}}"> {{{__ "services"}}} </a></li>
                                
                                
                            </ul>
                        </nav><br>

                        <br>
                    </div>
                    <div class="column is-12-mobile is-10-tablet is-8-desktop post content">

                        <p>{{{__ "indexationMP1"}}}</p>

                        <h2 class="title is-3 is-heavy">{{{__ "indexationyMPT2"}}}</h2>
                        <p>{{{__ "indexationMP2"}}}</p>
                        <p>{{{__ "indexationMP22"}}}</p>

                        <h2 class="title is-3 is-heavy">
                            {{{__ "indexationMPT3"}}}
                        </h2>
                        <p>{{{__ "indexationMP3"}}}</p>

                        <h2 class="title is-3 is-heavy">
                            Check <a class="blue" href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/metas">metas</a> {{{__ ""}}}
                        </h2>
                        <p>{{{__ "indexationMP4"}}}</p>

                        <h2 class="title is-3 is-heavy">Search Console {{{__ ""}}}</h2>
                        <figure class="image is-fullwidth is-outlined">
                            <img src="/images/seo-images/indexation.png" class="searchconsole" heigth="400px" width="600px" alt="Search Console Indexation">
                        </figure> <br><br><br>


                        <br><br>

                    </div>
                    <div class="column is-centered is-10-mobile is-7-tablet is-4-desktop sidebar sidebarblog">

                        {{>sidebartech}}

                        <br><br>


                    </div><br>



                </div>
                {{>articlesCTA}}
            </div>
    </section>