    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">


                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="h1HP is-heavy is-white has-text-centered">Dynamic Rendering</h1><br>
                        </div><br>
                    </div><br><br>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">
                        <figure class="is-centered is-outlined">

                            <img src="/images/new-react.png" heigth="80px" width="80px" alt="React logo">
                            <img src="/images/seo-images/angular.png" heigth="80px" width="80px" alt="Angular logo">
                            <img src="/images/seo-images/vue.png" heigth="80px" width="80px" alt="Vue logo">
                        </figure>
                        <p class="subtitle is-5">{{{__ "dynamicrenderingMP1"}}}</p>
                        <br><br>
                        <h2 class="title is-3 is-heavy">{{{__ "dynamicrenderingMPT2"}}}</h2>
                        <figure class="image is-fullwidth is-centered is-outlined">
                            <a href="https://developers.google.com/search/docs/guides/dynamic-rendering?hl=en"><img src="/images/seo-images/dynamicrenderingg.png" alt="Dynamic Rendering Google"></a>
                        </figure>


                        <p>{{{__ "dynamicrenderingMP2"}}}</p>

                        <p>{{{__ "dynamicrenderingMP3"}}}</p>
                        <br>
                        <h2 class="title is-3 is-heavy">{{{__ "dynamicrenderingMPT4"}}}</h2>

                        <p>{{{__ "dynamicrenderingMP4"}}}</p>
                        <br><br><br>

                        <br><br>
                    </div>

                    {{>lexical}}


                </div>
                {{>articlesCTA}}
            </div>
    </section>