    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered is-multiline">
                    <div class="column is-12-mobile is-10-tablet is-12-desktop">

                        <div class="boxcolor" data-aos="fade-in"><br>
                            <h1 class="h1HP is-heavy is-white has-text-centered">{{{__ "technicalHP3"}}}</h1><br>
                        </div><br>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/technical-seo" class="tag blue2" data-aos="fade-in" data-aos-once="true"> technical</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/onpage-seo" class="tag grey" data-aos="fade-in" data-aos-once="true">onpage</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/seo-case-studies" class="tag grey" data-aos="fade-in" data-aos-once="true"> study</a>
                        <a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/backlinks" class="tag grey" data-aos="fade-in" data-aos-once="true"> backlinks</a><br> <br>

                        <br>
                        <br>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "seo-freelancer"}}}"> {{{__ "services"}}} </a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}">SEO</a></li>
                                <li><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/technical-seo">Technical</a></li>
                            </ul>
                        </nav><br>
                        <br><br>
                        <span class="subtitle is-6 is-black"><a href="/{{{__ "lang"}}}/contact">By Alex Bieth</a></span><br>
                        <span class="subtitle is-6 is-black"><img src="/icons/clock.png" alt="date icon" />12 January 2020 </span>

                        <br><br>

                    </div>
                    <div class="column is-12-mobile is-10-tablet is-9-desktop post content">

                        <figure class="image is-fullwidth is-outlined">
                            <img alt="{{{__ "technicalHP3"}}}" src="/seo-images/international.jpg" />
                        </figure>
                        <p>{{{__ "internationalMP1"}}}</p>
                        <p>{{{__ "internationalMP4"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "internationalMPT2"}}}</h2>
                        <p>{{{__ "internationalMP2"}}}</p>
                        <h2 class="title is-4 is-heavy">{{{__ "internationalMPT3"}}}</h2>
                        <p>{{{__ "internationalMP3"}}}</p>
                        <p>{{{__ "internationalMP3"}}}</p>

                        <h2 class="title is-4 is-heavy"><a href="/{{{__ "lang"}}}/{{{__ "blogurl"}}}/seo-glossary#hreflang">hreflang</a></h2>

                        <pre>
            &lt;link rel="alternate" href="https://example.com/" hreflang="en" />
            &lt;link rel="alternate" href="https://example.com/en-gb/" hreflang="en-gb" />
            &lt;link rel="alternate" href="https://example.com/en-au/" hreflang="en-au" />

            en-gb= English / Great Britain
            en-au= English / Australia</pre>

                        <h2 class="title is-4 is-heavy">Search Console</h2>

                        <figure class="image is-fullwidth is-outlined">
                            <img src="/seo-images/internat1.png" alt="Search Console Internationalisation">
                        </figure>

                        <figure class="image is-fullwidth is-outlined">
                            <img src="/seo-images/internat2.png" alt="Search Console Internationalisation Language Settings">
                        </figure>

                        <p><a rel="nofollow" class="blue" target="_blank" href="https://flang.dejanseo.com.au/">Hreflang Tester</a></p>

                        <br><br><br><br><br>
                        
                        <br><br>
                    </div>
                    <div class="column is-centered is-10-mobile is-4-tablet is-3-desktop sidebar sidebarblog">

                        {{>sidebartech}}



                        <br><br>

                    </div><br>

                </div>
                {{>articlesCTA}}
            </div>
    </section>
    <section class="comments-hero hero is-medium off-white">
        <div class="hero-body remove-padding">
            <div class="container reduced">
                <div class="columns is-centered">
                    <div class="column is-10 comments">
                        <div id="disqus_thread"></div>
                        <script>
                            var disqus_config = function() {
                                this.page.url = `https://www.seoberlino.com/{{{__ "lang"}}}/{{{__ "blogurl"}}}/international`; // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = "international"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };


                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document,
                                    s = d.createElement('script');
                                s.src = 'https://www-seoberlino-com.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>