<div class="single-post has-sidebar offpage-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced ">
                <div class="column is-12-mobile is-12-tablet is-10-desktop">
                    <div class="boxcolor" data-aos="fade-in">
                        <br>
                        <h1 class="h1HP is-heavy is-white has-text-centered" data-aos="fade-up-top">{{{__ "googleupdates"}}}</h1><br>
                    </div><br>
                </div>
                <br>

                <div class="columns is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-8-desktop">


                        <h2 class="subtitle is-4"> {{{__ "soon"}}}: <a href="https://developers.google.com/search/blog/2020/11/timing-for-page-experience">Experience Update</a> - <b>May 2021</b></h2>
                        {{{__ "googleupdate"}}}
                        </p><br><br>


                        <h2 class="subtitle is-4">{{{__ "latest"}}}: <b>Dec 2020</b></h2>
                        <img src="/images/GoogleUpdate1.png" /><br>
                        <img src="/images/GoogleUpdate2.png" /><br><br>

                        <h2 class="subtitle is-4">{{{__ "latest2020"}}}</h2>

                        May 2020 Core Update<br>
                        January 2020 Core Update
                        <br><br><br><br>


                        <h2 class="subtitle is-4">{{{__ "Before"}}} 2020</h2>

                        Bert Oct 2019<br>
                        Medic May 2018<br>
                        RankBrain October 2015<br>
                        Mobile April 2015<br>
                        Hummingbird Aug 2013<br>
                        Penguin Update April 2012<br>
                        Panda Update Feb 2011<br>










                    </div>

                    {{>lexical}}<br><br>{{>articlesCTA}}

                </div>
                <br><br><br>

            </div>

    </section>
</div>