<div class="single-post has-sidebar offpage-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced ">
                <div class="column is-12-mobile is-12-tablet is-10-desktop">
                    <div class="boxcolor"  >
                        <br>
                        <h1 class="h1HP is-heavy is-white has-text-centered"   >Nofollow Link{{{__ " "}}} {{{__ "and"}}} {{{__ " "}}}SEO</h1><br>
                    </div><br>
                </div>
                <br>

                <div class="columns is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-8-desktop">


                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>
                            {{{__ "nofollowMP"}}}
                        </p><br><br>
                        <h2 class="title is-4 is-heavy">{{{__ "example"}}}</h2>
                        <pre>
&lt;a href="https://www.example.com/">{{{__ "example"}}}&lt;/a></pre><br>
                        <div class="has-text-centered">≠</div> <br>
                        <pre>
&lt;a href="https://www.example.com/" rel="nofollow">{{{__ "example"}}}&lt;/a></pre><br><br><br>

                        <pre>
                            ##for entire document

&lt;meta name="robots" content="nofollow" />
</pre>



                        <br>

                        <h2 class="title is-4 is-heavy"> {{{__ "nofollowT2"}}}</h2>
                        <p>
                            {{{__ "nofollowMP2"}}}
                        </p><br><br>

                        <h2 class="title is-4 is-heavy"> {{{__ "nofollowT3"}}}</h2>
                        <p>
                            {{{__ "nofollowMP3"}}}
                        </p><br><br>

                        <h2 class="title is-4 is-heavy"> {{{__ "nofollowT4"}}}</h2>
                        <p>
                        <pre>
    rel="sponsored"  ##for sponsored links
    rel="ugc"  ### for user generated content: comments and posts
    </pre>
                        </p><br><br>

                        <h2 class="title is-4 is-heavy"> {{{__ "nofollowT5"}}}</h2>
                        <p>
                            {{{__ "nofollowMP5"}}}
                        </p><br><br>






                    </div>

                    {{>lexical}}<br><br>{{>articlesCTA}}

                </div>
                <br><br><br>

            </div>

    </section>

</div>