<div class="single-post has-sidebar offpage-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced ">
                <div class="column is-12-mobile is-12-tablet is-10-desktop">
                    <div class="boxcolor" data-aos="fade-in">
                        <br>
                        <h1 class="h1HP is-heavy is-white has-text-centered" data-aos="fade-up-top">301 & 302 {{{__ "redirects"}}}</h1><br>
                    </div><br>
                </div><br>
                <div class="columns is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-8-desktop">
                        <h2 class="title is-heavy is-4 reduced-top-margin">{{{__ "definition"}}}</h2>
                        <p>{{{__ "redirectsMP"}}}</p><br>

                        <h2 class="title is-heavy is-4 reduced-top-margin">{{{__ "example"}}}</h2>
                        <pre>
app.get("/de/folder/page", function(request, response) {
    response.writeHead(301, {
        Location: "https://newtargetpage.com",
    Expires: new Date().toGMTString()
    });
    response.end();
});
</pre><br><br>
                        <pre>
app.get("/de/folder/page", function(request, response) {
    response.writeHead(302, {
        Location: "https://newtargetpage.com",
        Expires: new Date().toGMTString()
    });
    response.end();
});
    </pre><br>

                        <p>{{{__ "redirectsMP2"}}}</p><br>



                        <pre>

Redirect /old-path/new.html /newpath/new.html

####All site to new site:
Redirect 301 / https://newdomain.com/

#####Removing www
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.example.com
RewriteRule (.*) https://example.com/$1 [R=301,L]

</pre><br><br><br>

                        <h2 class="title is-heavy is-4 reduced-top-margin"> {{{__ "redirectsT3"}}}</h2>
                        {{{__ "redirectsMP3"}}}<br><br><br>

                        <h2 class="title is-heavy is-4 reduced-top-margin"> {{{__ "redirectsT4"}}}</h2>
                        {{{__ "redirectsMP4"}}}<br><br><br>

                        <h2 class="title is-heavy is-4 reduced-top-margin"> {{{__ "redirectsT5"}}}</h2>
                        {{{__ "redirectsMP5"}}}<br><br><br>


                    </div>{{>lexical}}<br><br>{{>articlesCTA}}
                </div><br><br><br>
            </div>
    </section>
</div>