<div class="single-post has-sidebar offpage-en">
    <section class="blogpost-hero hero is-medium">
        <div class="hero-body remove-padding">
            <div class="container reduced ">
                <div class="column is-12-mobile is-12-tablet is-10-desktop">
                    <div class="boxcolor"  >
                        <br>
                        <h1 class="h1HP is-heavy is-white has-text-centered"   >SERP</h1><br>
                    </div><br>
                </div>
                <br>

                <div class="columns is-multiline">
                    <div class="column is-12-mobile is-12-tablet is-8-desktop">




                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "definition"}}}</h2>

                        <p>
                            {{{__ "serpintro"}}}


                        </p>

                        <br>

                        <img src="/images/SERP.png" alt="SERP in SEO" />
                        <br><br>
                        <span class="content">
                            {{{__ "serpintro2"}}}


                        </span><br><br><br>


                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "serpT1"}}}</h2>
                        <span class="content">
                            {{{__ "serpMP1"}}}


                        </span><br><br><br>


                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "serpT2"}}}</h2>
                        <span class="content">
                            {{{__ "serpMP2"}}}


                        </span><br><br><br>


                        <h2 class="title is-4 is-heavy reduced-top-margin">{{{__ "serpT3"}}}</h2>
                        <span class="content">
                            {{{__ "serpMP3"}}}


                        </span>
                    </div>

                    {{>lexical}}<br><br>{{>articlesCTA}}

                </div>
                <br><br><br>

            </div>

    </section>

</div>